{% extends "layout.html" %}

{% block pageTitle %}
{% if query.has_error %}Error: {%endif%} Consignee or importer - E-Certification for EHC's - GOV UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}


{% block content %}

<div class="govuk-grid-row" data-v-563d6e59="">
  <div class="govuk-grid-column-two-thirds" data-v-563d6e59="">


    <form method="post" novalidate action="has-assurance">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
          Does the consignement include high risk goods?
      </h1>
    </legend>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      List of high risk goods
    </span>
  </summary>
  <div class="govuk-details__text">
    List goes here
  </div>
</details>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes~./has-assurance">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no~create-reference">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

      <div class="govuk-button-group">

        <!-- to update state  -->

        <button class="govuk-button" data-v-563d6e59="">Save and continue</button>

      </div>


    </form>


  </div>
</div>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {
    $("#search-goods-certified-as").on("input", function() {
      var count = 0
      $("#showing-count").parent().hide()
      let q = $(this).val().toLowerCase()
      if ($(this).val().length > 0) {
        $("#showing-count").parent().show()
        $(".govuk-radios__item").hide()
        $(".govuk-radios__item").filter(function() {

          var r = $(this).attr("data-content").toLowerCase()
          console.log("looking at " + r)
          console.log(r.toString().indexOf(q))
          if (r.toString().indexOf(q) >= 0) {
            console.log("showing this result")
            count += 1
            return $(this);

          }

        }).show();
      } else {
        $(".govuk-radios__item").show()
        count = 22
      }
      if (count != 22) {
        var t = "matches"
        if (count == 1) {
          t = "match"
        }
        $("#showing-count").html("Found " + count + " " + t + " with <strong>&quot" + q + "&quot</strong>")
        $("#clear-all").show()
      } else {
        $("#clear-all").hide()
        $("#showing-count").html("Showing all 22 goods certifications")
      }

    })
  })
</script>
{% endblock%}
