{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for a EHC9999 to Northern Ireland
      </h1>
      <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-8" data-v-60e97bb5="">
        <div class="govuk-summary-list__row" id="manage-commodities" data-v-0a0d5507="">
          <dt class="govuk-summary-list__key" data-v-0a0d5507="">
            Application reference
          <dt class="govuk-summary-list__value" data-v-0a0d5507="">
            {{data.UserReference or "XI2934BUL3"}}
          </dt>
          <dd class="govuk-summary-list__actions" data-v-0a0d5507="">
            <a href="create-reference?change=yes">Change</a>
          </dd>
        </div>
      </dl>
      <p>You have completed 3 of 4 sections.</p>

      <a href="#goods-certified-as" class="govuk-skip-link govuk-!-bottom-4 " data-module="govuk-skip-link">Skip next task to complete</a>
      <ol class="app-task-list">

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Prepare application
        </h2>
        <ul class="app-task-list__items">
          {% set completed = []%}
          <!-- Export details -->
          {% set taskID = "export details" %}
          {% set firstPage = "origin-of-product" %}
          {% block exportDetails %}{% include './components/_task-list-item.html' %}{% endblock %}

          <!-- Import details -->
          {% set taskID = "import details" %}
          {% set firstPage = "border-control" %}
          {% block importDetails %}{% include './components/_task-list-item.html' %}{% endblock %}

          <!-- Import details -->
          {% set taskID = "transport of the goods" %}
          {% set firstPage = "added-transport" %}
          {% block transportDetails %}{% include './components/_task-list-item.html' %}{% endblock %}

        </ul>
      </li>
      <!-- <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Certification
        </h2>
        <p class="app-task-list_help-text">You will need to add a electronic signature to self certify the goods.</p>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {% if completed | length == 3 or (query.isComplete == "yes") %}
            <span class="app-task-list__task-name">
              <a href="./application/certificatation?taskID=certification" aria-describedby="check-your-answers-status">
                Check and sign certification
              </a>
            </span>
            {% if data.certificationStatus == "completed"%}
            {% set completed = completed.push('certificationStatus')%}
            <strong class="govuk-tag app-task-list__tag" id="place-of-origin-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="place-of-origin-status">Not started</strong>
              {% endif  %}

            {% else %}
            <span class="app-task-list__task-name" aria-describedby="ready-to-apply-status">
                Review and submit application
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="ready-to-apply-status">Cannot start yet</strong>
            {% endif %}

          </li>
        </ul>
      </li> -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Apply
          </h2>
          <p class="app-task-list_help-text">Once you've entered all the information you can, you can review your answers and submit the application.</p>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if completed | length == 3  or (query.isComplete == "yes") %}
              <span class="app-task-list__task-name">
                <a href="./check-your-answers" aria-describedby="check-your-answers-status">
                  Review and submit application
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="place-of-origin-status">Not started</strong>
              {% else %}
              <span class="app-task-list__task-name" aria-describedby="ready-to-apply-status">
                  Review and submit application
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="ready-to-apply-status">Cannot start yet</strong>
              {% endif %}

            </li>
          </ul>
        </li>
      </ol>
      <button class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-left-4" data-v-563d6e59="">Save and come back later</button>
    </div>
  </div>
{% endblock %}
