{% extends "layout.html" %}

{% block pageTitle %}
Apply for an export health certificate - eTrade – GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl"> Before you start</h1>

        <p class="govuk-body">To make sure all export data is consistent with the EU’s trade and control expert system (TRACES), we have made some changes to how you enter commodity data.
          <p class="govuk-body">If data is consistent between exporters in Great Britain and importers in Northern Ireland and the EU, exports are more likely to pass through border control posts and reach their destinations.</p>
          <p class="govuk-body">You’ll need to enter data for the export’s commodity group, weight and quantity before submitting the application to the certifier.</p>

        <p class="govuk-body"><strong>If you want to upload commodity data through a spreadsheet</strong></p>

        <p class="govuk-body">You must use the updated spreadsheet template, as it follows EU TRACES data requirements.</p>
        <p class="govuk-body">You can enter up to 100 rows of data for up to 15 different commodities. If you want to enter more commodity data, you can upload multiple spreadsheets.</p>

        <a href="how-to-add-v2" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Confirm and continue
          </a>

      </div>
</div>






{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {

  })
</script>
{% endblock%}
