{% extends "layout.html" %}

{% block pageTitle %}
Apply for an export health certificate - eTrade – GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl"> Apply for an export health certificate <span class="govuk-visually-hidden"> from the United Kingdom to the EU </span></h1>

        <p class="govuk-body"> You can use this service to apply for an export health certificate (EHC) to move live animals and animal products from Great Britain to Northern Ireland or to export to the EU. </p>
        <p class="govuk-body"> Once you have submitted your application, we will send it to the EU's Trade Control and Expert System (TRACES). The data from your application can then be cloned into a Common Health Entry Document (CHED). </p>
        <h2 class="govuk-heading-l">Before you start</h2>
        <p class="govuk-body"> You will need to enter detailed information including: </p>
        <ul class="govuk-body">
            <li>the type of certificate you are applying for</li>
            <li>the commodity group, weight and quantity</li>
            <li>any container and seal numbers</li>
            <li>the addresses for the exporter, importer and certifier</li>
            <li>the name, address or approval numbers for approved establishments</li>
            <li>the planned departure and arrival times and locations</li>
            <li>the method of transport and point of entry or border control post</li>
        </ul>

        <a href="/stories/file-import/application-reference" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
Start now
</a>

      </div>
</div>






{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {

  })
</script>
{% endblock%}
