{% extends "layout.html" %}

{% block pageTitle %}
{% if query.has_error %}Error: {% endif %}Your reference for this application – E-Certification for EHC's - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<!-- Form routing is handled in app/stories/accessiblity/routes.js -->
<section id="intro" data-v-01948390="">
  <div class="govuk-grid-row" data-v-01948390="">
    <div class="govuk-grid-column-two-thirds" data-v-01948390="">

      {% if query.has_error %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if query.error_type == "length"%}
            <li>
              <a href="#reference-error">The application reference must be 20 characters or less</a>
            </li>
            {% else %}
            <li>
              <a href="#reference-error">Enter your application reference</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}
      <form method="post" novalidate>
        <div class="govuk-form-group {% if query.has_error %}govuk-form-group--error{% endif %}">
          <h1 class="govuk-label-wrapper ">
            <label class="govuk-label govuk-label--xl" for="ref" id="ref-label">
              Your reference for this application
            </label>
          </h1>
          <p id="reference-hint" class="govuk-hint">Enter a reference up to 20 characters long, such as an invoice number or consignee. This reference will not appear on the final certificate. </p>
          {% if query.has_error %}
          <p id="reference-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {% if query.error_type == "length"%}
            The application reference must be 20 characters or less
            {% endif %}
            {% if query.error_type == "empty"%}
            Enter your application reference
            {% endif %}
          </p>
          {% endif %}
          <input class="govuk-input govuk-input--width-20 {% if query.has_error %}govuk-input--error{% endif %}" id="ref" aria-describedby="reference-hint {% if query.has_error %}reference-error{% endif %}" name="UserReference" type="text" value="{% if query.change == 'yes'%}{{UserReference}}{% endif %}">
        </div>
        <!--<section class="m-t-15" id="actions" data-v-01948390="">
          <div class="govuk-grid-row" data-v-01948390="">
            <div class="govuk-grid-column-two-thirds" data-v-01948390="">
              <button role="button" type="submit" class="govuk-button" data-v-01948390="">Save and continue</button>
            </div>
          </div>
        </section>-->
        
        <a href="/beta/v4/application/choose-certificate" class="govuk-button" role="button" draggable="false" data-module="govuk-button">Save and continue</a>
      </form>
    </div>
  </div>



  {% endblock %}
