{% extends "layout.html" %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block pageTitle %}
Did this export originate in EU or Northern Ireland - eTrade – GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl"></span>
    <!---->
    <!---->
    <!---->
    <form method="get" action="create-reference">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">Did this export originate in EU or Northern Ireland?
            </h1>
          </legend>
          <p class="govuk-hint">This means the export was originally imported into the UK from the EU and is now returning to the EU. This is known as a re-entry.</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-service" name="isreENTRY" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="which-service">
                Yes, this export is returning to the EU
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-service-2" name="isreENTRY" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="which-service-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" name="button" class="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}