
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">Final consumer {% if field.required == "no" %}&nbsp;(optional for <abbr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</abbr>){% endif %}
    <!---->
    <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-1" name="finalConsumer" type="radio" value="yes" {% if (identification.finalConsumer | lower == "yes") %} checked{% endif %}><label class="govuk-label govuk-radios__label" for="FINAL_CONSUMER-9-11930-151790-1"> Yes </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-2" name="finalConsumer" type="radio" value="no" {% if (identification.finalConsumer | lower == "no") %} checked{% endif %}>
        <label class="govuk-label govuk-radios__label" for="FINAL_CONSUMER-9-11930-151790-2"> No </label>
      </div>
    </div>
  </fieldset>
</div>
