{% set quantityIsRequired = true %}
{% for schema in cert.schema %}
  {% if schema.id == "quantity" and schema.required == "no" %}
    {% set quantityIsRequired = false %}
  {% endif %}
{% endfor %}

<div class="govuk-form-group app-repeadable-holder" id="repeatable-quantity-holder">
  <label class="govuk-label" for="QUANTITY-3-11930-151790">Quantity {% if not quantityIsRequired %}(optional for <attr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</attr>){% endif %}
  </label>
  <p class="govuk-hint" id="quantity-hint">This is number of items inside each package. For example, bags or bottles.</p>
  {% if cert.quantiy == "multiple" %}
  <div class="app-repeatable-section" id="repeatable-quantity">
    <div class="govuk-input__wrapper m-b-15">
      <input class="govuk-input govuk-input--width-10" type="number" data-type="quantity" name="quantity" id="QUANTITY-3-11930-151790" data-v-0dd78fbf="">
    
      <div class="govuk-input__suffix suffix__action no-border" data-v-0dd78fbf="">
        <!-- <select class="govuk-select max-w-155" id="QUANTITY-3-11930-151790-units" name="quantity_unit">
          <option disabled="" value="" selected>Select a unit</option>
          <option value="H87" data-v-0dd78fbf="">PIECE</option>
        </select> -->
        <button type="button" data-count="1" data-target="repeatable-quantity" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
        </button>
       
      </div>

    </div>
  </div>
  {% else%}
   <input class="govuk-input govuk-input--width-5" 
   type="number" 
   data-type="quantity" 
   name="quantity" 
   id="QUANTITY-3-11930-151790"
   aria-describedby="quantity-hint" >

  {% endif %}


</div>
