
<style type="text/css">
  .app-step-nav__title-text{
    font-size: 19px;
  }
@media (min-width: 40.0625em){
  .app-step-nav--large .app-step-nav__header {
    padding: 30px 0 10px;
}
}
.app-step-nav__header {
    padding: 15px 0;
    border-top: solid 1px #b1b4b6;
}


.app-step-nav__step--completed .app-step-nav__circle{
  background-color: #1d70b8;
  color: white !important;
  border-color: #1d70b8;
}
.app-step-nav__step--completed .app-step-nav__circle-background{

  text-shadow: none;
}
.app-step-nav__step--current .app-step-nav__circle{
  color: #1d70b8;
  border-color: #1d70b8;
}

.app-step-nav__header-not-started{
  color:#505a5f !important;
}
</style>
<div data-module="appstepnav" id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
     

      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step app-step-nav__step--completed " id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><span class="app-step-nav__title-text js-step-title-text">
                Created draft application
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Created on 10 February 2023 by Richard Hatton</p>

            
          </div>

        </li>
        <li class="app-step-nav__step js-step app-step-nav__step--current" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><span class="app-step-nav__title-text js-step-title-text">
               Next: Submit applicaiton
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph"><a href="#">Continue to edit and submit your application</a></p>

            
          </div>

        </li>
        <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel app-step-nav__header-not-started" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><span class="app-step-nav__title-text js-step-title-text">
                Certifier to review application
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Once submited your certifier can review the certificate. </p>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel app-step-nav__header-not-started" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><span class="app-step-nav__title-text js-step-title-text">
                Import notice created on TRACES
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">If the application is approved an import notice will be created automatically on TRACES.</p>

          </div>

        </li>
         <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel app-step-nav__header-not-started" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><span class="app-step-nav__title-text js-step-title-text">
                Send approved application to hauler
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">You will recive a QR code that the hauler can use at boarder control. You no londer need print a paper certificate to go with your shipment. </p>

          </div>

        </li>
        

        <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel app-step-nav__header-not-started" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><span class="app-step-nav__title-text js-step-title-text">
                Link CHED with import notice.
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">You, or the person/organisation who is responsible for the load (RFL) – this can typically be your customer, haulier or agent – can now prepare a Common Health Entry Document (CHED) on TRACES. This is a required step before the goods can enter the EU. 

            </p>
            <p>To reduce the amount of manual data entry required, you or your RFL can link the CHED with the import notice, using the Certificate reference or IMSOC reference from above.</p>

          </div>

        </li>

       
    

      </ol>
    </div>