{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = 'Can you provide more detail about ' + data.pcName + '' %}
{% set pageSection = "Production credentials - SandboxName" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form action="security" method="post" class="form">                                

              {{ govukTextarea({
                name: "more-detail",
                id: "more-detail",
                label: {
                  text: pageHeading,
                  classes: "govuk-label--l govuk-visually-hidden",
                  isPageHeading: false
                },
                hint: {
                  text: "Do not include personal or financial information."
                }
              }) }}
                
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
