{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Are you sure you want to use these API’s?" %}
{% set pageSection = "Production credentials - SandboxName" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form action="privacy-policy" method="post" class="form">        
            
                <p>Playback APIs</p> 
                
                {{ govukButton({
                    text: "Confirm and continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
