{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Sign in" %}
{% set pageSection = "Production credentials - SandboxName" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form action="" method="post" class="form">        
            
                 
        
                {{ govukButton({
                    text: "Sign in"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
