{% extends "layout.html" %}

{% set pageHeading = "Who can view production credentials" %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form action="confirm-apis" method="post" class="form">        
            
                 <p>Information relating to who can view. We can bring this back in once we have re jigged the team pages.</p>
        
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
