{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "Does anyone else in your team need to view these production credentials?" %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form action="confirm-apis" method="post" class="form">   
                
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "ukBased",
                    name: "ukBased",
                    fieldset: {
                      legend: {
                        text: pageHeading,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l govuk-visually-hidden"
                      }
                    },
                    items: [
                      { value: "Yes, redirect(people)", text: "Yes" },
                      { value: "No", text: "No"
                      }                      
                    ]
                  }) }}
            
                 
        
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
