{% extends "layout.html" %}

{% block pageTitle %}
Convert HTML select to JSON  – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Tools</span>
  Convert a HTML select to JSON
</h1>
<!-- <p>
        What is E-certs
      </p> -->
<form class="" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label" for="htmlInput">
          HTML
        </label>
        <textarea class="govuk-textarea" id="htmlInput" name="htmlInput" rows="9">{% if data.htmlInput %}{{data.htmlInput}}{% endif %}</textarea>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-label" for="jsonOutput">
          JSON output
        </label>
        <textarea class="govuk-textarea" id="jsonOutput" name="jsonOutput" rows="9" >{% if query.showResult == "yes"%}{{data.jsonResult}}{% endif %}</textarea>
      </div>
    </div>
    <div class="govuk-grid-column-full">
      <button class="govuk-button" data-module="govuk-button">
        Convert to JSON
    </button>
      </div>
</form>

<script type="text/javascript">

</script>

{% endblock %}
