{% extends "layout.html" %}

{% block pageTitle %}
Exporter view of cancel and replace – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Trade: E-certs</span>
      138562: Linking the C&R Certificate - Exporter View</h1>
      <p>
        Ticket: <a href="https://dev.azure.com/defragovuk/DEFRA-EEHC/_workitems/edit/138562">138562</a>
      </p>
      <h2 class="govuk-heading-m">Starting points</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="./dashboard-cancelled-ready-to-replace">Cancel and replace in progress - Dashboard</a></li>
        <li><a href="./dashboard-cancel-and-replace-complete">Cancel and replace complete - Dashboard</a></li>
      </ul>

  </div>

</div>

{% endblock %}
