{% extends "layout.html" %}
{% block pageTitle %}
Add closed containers number – {{serviceName}} – GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style type="text/css">
  .app-add-another__remove-button {
    margin-bottom: 0;
        margin-left: 5px;
}



.app-add-another__item {

    position: relative;
}
</style>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Add container and or seal numbers</h1>
    <p>You must enter continer and or seal numbers if: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the goods will be transported in closed containers</li>
      <li>a seal is affixed to the container, truck or rail wagon during transport.</li>
    </ul>
    <p>You do not need to enter trailer ship or tanker numbers here.</p>

    <form id="form" method="post" action="add-seal-numbers">
      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
     Enter the container or seal number or both.
  </legend>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="sealType-1" name="sealType" type="checkbox" value="container" data-aria-controls="conditional-sealType-1">
          <label class="govuk-label govuk-checkboxes__label" for="sealType-1">
            Container number
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-sealType-1">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-visually-hidden" for="containerNumbers">
            Container number
            </label>
            <p class="govuk-hint" id="containerNumbersHint">This is 4 letters followed by 7 numbers. For example, BICU1234567 </p>
            <input class="govuk-input govuk-input--width-10" type="text" id="containerNumbers" name="containerNumbers" aria-described-by="containerNumbersHint"></textarea>
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="sealType-2" name="sealType" type="checkbox" value="seal" data-aria-controls="conditional-sealType-2">
          <label class="govuk-label govuk-checkboxes__label" for="sealType-2">
            Seal number
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-sealType-2">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-visually-hidden" for="sealNumbers">
                Seal number 
            </label>
            <p class="govuk-hint" id="sealNumbersHint">Enter this if a seal is affixed to the container, truck or rail wagon under the supervision of the competent authority issuing the certificate.</p>
            <input class="govuk-input govuk-input--width-20" type="text" id="sealNumbers" name="sealNumbers" aria-described-by="sealNumbersHint"></input>
          </div>
        </div>
      </div>

      </fieldset>
      <p class="govuk-body"><strong>You will be able to add multiple container and or seal numbers</strong></p>
       </div>
          <button class="govuk-button" data-v-563d6e59="">Save and continue</button>
      
    </form>
  </div>
</div>
{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
    var added=0;
    var addedItems = [];
    var template = $(".app-add-another__item").prop("outerHTML")

    $('.app-add-another__add-button').on("click", function(e){
     e.preventDefault()

        var count = parseInt($(this).attr("data-count"))
        console.log(count)
        var targetID = template
        var section = $(template).clone(true, true)
        var holderID =  $(this).attr('data-target') 

        var blockID = $(section).attr("id") + (count+1)
        console.log(targetID)
        var deleteButton = $(section).find("button")
        $(deleteButton).attr("data-target",blockID)

        // var formID = section.find("input").attr("id")+count
        $(section).attr("id", blockID).addClass("govuk-!-margin-top-2")
        $(section).find('input').val('')
        // incase it is a select
        $(section).find('select').prop("selectedIndex", 0);
        $("#" + holderID).append(section)
        $(section).find(".app-add-another__title-number").text(count + 1)
        displayButtons(count + 1)


        $(this).attr("data-count", count + 1)

      })

    $(document).on('click', '.app-add-another__remove-button', function(e) {
        e.preventDefault();
        var deleteTarget = $(this).attr('data-target')
        $("#" + deleteTarget).remove()
        var c = parseInt($(".app-add-another__add-button").attr("data-count"))-1
        $(".app-add-another__add-button").attr("data-count",c)

        displayButtons(c)
    });

    function displayButtons(c){
      if(c > 1){
        $(".app-add-another__remove-button").show()
        $(".app-add-another__title-number").show()
      }else{
        $(".app-add-another__remove-button").hide()
        $(".app-add-another__title-number").hide()
        $(".app-add-another__item .app-add-another__title-number").text(1)
      }
    }

    // $('.app-add-another__add-button').on("click", function(e){

    //   e.preventDefault();
      
      
    //   newItem = $("div[data-module='app-add-another']").append(template)
    //   let count = $(".app-add-another__item").length+1
    //   alert(count+1)
    //   $(newItem).find(".app-add-another__remove-button").show()
    //   $(newItem).find(".app-add-another__title-number").text(count)
     
    // })
    // function init(){
    //   template = $(".app-add-another__item").html()
    // }
    // function addItems(){
    //   var c=1
    //   $(".app-add-another__item").each(function() {
    //    $(this).attr('data-id',c)
    //    c+=1

    //   })

    // }
    // init()
})
</script>
{% endblock%}