{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = 'The redirect URI has been added to ' + application.name + '' %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">        
        <div class="govuk-grid-column-two-thirds">

                {{ govukPanel({
                    titleText: pageHeading,                    
                    classes: "govuk-!-margin-bottom-7"
                }) }}                

                <ul class="govuk-list">
                    <li><a href="/account/applications/{{ id }}/redirects/">Add another new redirect URI</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/applications/{{ id }}#redirects">Return to your application redirects</a></li>

                </ul>
                
                
            
            </div>
        </div>
    </div>

{% endblock %}
