{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% if application.production == "Yes" %}  
    {% set pageHeading = 'Redirect URI has been added to the ' + application.apisNewWhich + ' environment for ' + application.name + '' %}
{% else %}
    {% set pageHeading = 'Redirect URI has been added to the sandbox environment for ' + application.name + '' %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">        
        <div class="govuk-grid-column-two-thirds">

                {{ govukPanel({
                    titleText: pageHeading,                    
                    classes: "govuk-!-margin-bottom-7"
                }) }}                
                
                
                
                <ul class="govuk-list">
                    <li><a href="/account/applications/{{ id }}/redirects/">Add another redirect URI to {{ application.name }}</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/applications/{{ id }}#credentials">Return to your application</a></li>

                </ul>
                
                
            
            </div>
        </div>
    </div>

{% endblock %}
