{% set accountActive = true %}
{% extends "layout.html" %}

{% set pageHeading = 'Which environments need to use this redirect?' %}
{% set pageSection = 'Application ' + application.name + '' %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                
                {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
                
                <p>Select all that apply.</p>

                <form class="govuk-form" action="confirmation" method="post">                    

                    {{ govukCheckboxes({                        
                        items: [ 
                            { value: "sandbox", text: "Sandbox" },
                            { value: "production", text: "Production" }                            
                        ]
                    } | decorateFormAttributes(['applications', id, 'apisNewWhich']) ) }}                    
                    
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                
                
                </form>
            
            
        </div>
    </div>

{% endblock %}
