{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="hmrc-page-heading">
      <h1 class="govuk-heading-l">You have not specified a return URL</h1>
    </header>
    <p>In the prototype you will need to specify a <strong>login_url</strong><br>For example, ?login_url=nrsflt/v3/company-name</p>

  </div>
</div>
{% endblock %}
