{% set listOfItems = cert.natureOfCommodity%}
<div class="govuk-form-group"><label class="govuk-label" for="natureOfCommodity">Nature of commodity
  </label><select class="govuk-select full-width" id="natureOfCommodity" name="natureOfCommodity">
    <option disabled="" value="" {% if not (data.change or data.copy) %}selected{%endif%}>Select a Nature of commodity</option>
    {% if (listOfItems| length) > 0%}
    {% for item in listOfItems%}
    <option value="{{item}}" {% if (data.change or data.copy) and (item==identification.natureOfCommodity) %}selected{%endif%}>{{item}}</option>
    {% endfor %}]
    {% else %}
    <option value="not set">Nature of commodity selections unavailable</option>
    {% endif %}
  </select>
</div>
