<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Credentials</h2>    
      <!-- <p class="govuk-body">If your application subscribes to an API only available in the sandbox, you cannot request production credentials. <a href="../apis/explore-apis">Review the specific API documentation</a> to check if an API is available in production.</p>
      <p>You will need to test your application before requesting production credentials.</p>
      <p>You do not need production credentials for APIs with only open access endpoints or:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>APIs for testing your service</li>
          <li>Hello world API</li>
      </ul>             -->
      <!-- <p><a href="/account/applications/{{ id }}/production-credentials/">Apply for production credentials</a></p> -->

      <p>We use the OAuth2 Open Standard for access delegation and authorisation to its services and APIs to maintain security and integrity. You can find out more information about our authorisation approach.</p>
      
      <!-- <h2 class="govuk-heading-m">Sandbox</h2> -->
      </div>
    </div>

      {{ govukTable({
        caption: "Sandbox",
        captionClasses: "govuk-table__caption--m",
        
        head: [
          { text: "Client credentia;s", classes: "govuk-!-width-one-quarter" },                                
          { text: "Value" },
          { text: "Expiry date", classes: "govuk-!-width-one-quarter" },
          { text: "" }
        ],
        rows: [
          [
            { text: "ID" },                  
            { text: "57367e47-ae4c-42d9-9df1-58212104d079" },                  
            { text: "" },
            { text: "" }
          ],
          [
            { text: "Secret" },                  
            { text: "57367e47-ae4c-42d9-9df1-58212104d079" },                  
            { text: "24 August 2022" },
            { text: "Remove" }
          ]
          
        ]
      }) }}

      <p class="govuk-!-margin-bottom-7"><a href="#">Add new client secret</a></p>

      <!-- [
      { text: "Secret" },                  
      { text: "" },      
      { text: "" },            
      { text: "" }
    ] -->


      <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-7">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Client ID</dt>
              <dd class="govuk-summary-list__value">06f3c6ce-1bc0-4ddb-99cf-419487318c4f</dd>
              <dd class="govuk-summary-list__actions"></dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Client secret</dt>
              <dd class="govuk-summary-list__value">57367e47-ae4c-42d9-9df1-58212104d079</dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/account/applications/sandbox/select-team">Remove<span class="govuk-visually-hidden"> client secret</span></a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Client secret</dt>
              <dd class="govuk-summary-list__value"></dd></dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/account/applications/sandbox/which-apis">Generate<span class="govuk-visually-hidden"> client secret</span></a>
              </dd>
          </div>                
      </dl> -->
      



      {{ govukTable({
        caption: "Production",
        captionClasses: "govuk-table__caption--m",
        
        head: [
          { text: "Client credentials", classes: "govuk-!-width-one-quarter" },
          { text: "Value" },
          { text: "Expiry date", classes: "govuk-!-width-one-quarter" },
          { text: "" }
        ],
        rows: [
          [
            { text: "ID" },
            { text: "111f2538-abb3-4ddf-bd78-e3fee22689bf" },
            { text: "" },
            { text: "" }
          ],
          [
            { text: "Secret" },
            { text: "Not available" },
            { text: "" },
            { text: "Generate" }
          ]                                
        ]
      }) }}