<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h2 class="govuk-heading-m">Redirect URIs</h2>
        <p class="govuk-body">We use redirect URIs to send the user back to your application after successful (or unsuccessful) authorisation, prior to your application accessing user-restricted endpoints.</p>
        <p class="govuk-body">Read more <a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">information about how we use redirect URIs (opens in new tab)</a>.</p>
    
    </div>
</div>

<table class="govuk-table">                    
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">URI</th>
        <th scope="col" class="govuk-table__header">Environment</th>
        <th scope="col" class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">https://{{ application.redirectURI }}</th>
        <td class="govuk-table__cell">Sandbox</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">            
            <a href="/account/applications/{{ id }}/delete/redirect">Remove <span class="govuk-visually-hidden"> this redirect</span></a>
        </td>
    </tr>

    {% if application.production == "Yes" %}  
    <tr class="govuk-table__row">
    <td class="govuk-table__cell">https://{{ application.redirectURI }}</th>
        <td class="govuk-table__cell">Production</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">        
            <a href="/account/applications/{{ id }}/delete/redirect">Remove <span class="govuk-visually-hidden"> this redirect</span></a>
    </td>
    {% endif %}
</tr>
    </tbody>
</table>


<p class="govuk-body"><a href="/account/applications/{{ id }}/redirects/">Add a new redirect URI</a></p>

                <!-- <form>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="app-name">
                            Add another redirect URI
                        </label>
                        <div id="app-name-hint" class="govuk-hint">
                            Maximum of 5. URI must be HTTPS for example https://example.co.uk
                        </div>
                        <input class="govuk-input govuk-input--width-20" id="add-another-uri" name="add-another-uri" type="text">
                        <button class="govuk-button govuk-button--secondary" for="add-another-uri">Add URI</button>
                    </div>
                </form> -->
