<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">Credentials</h2>
        <p>We use the OAuth2 Open Standard for access delegation and authorisation to its services and APIs to maintain security and integrity. You can find out more information about our authorisation approach.</p>

    </div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Sandbox</h2>
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Production credentials for sandbox environment</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Client credential</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Value</th>
            <th scope="col" class="govuk-table__header">Expiry date</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">ID</td>
            <td class="govuk-table__cell">57367e47-ae4c-42d9-9df1-58212104d079</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>      

        {% if application.clientSecret %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Secret</td>
            <td class="govuk-table__cell">88******-****-****-****-********d079</td>
            <!-- <td class="govuk-table__cell">88591e47-hf4c-42d9-9df1-56478941d079</td> -->
            <td class="govuk-table__cell">24 July</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
        </tr> 
        {% endif %}        

        {% if application.secondClientSecret %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Secret</td>
            <td class="govuk-table__cell">22******-****-****-****-********g245</td>
            <!-- <td class="govuk-table__cell">88591e47-hf4c-42d9-9df1-56478941d079</td> -->
            <td class="govuk-table__cell">1 September</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Remove</a></td>
        </tr> 
        {% endif %}        
    </tbody>
</table>

{% if application.secondClientSecret %}
        
    <div class="govuk-inset-text govuk-!-width-two-thirds">
        <p>If you need to add a new client secret, you will need to remove one of your exisiting client secrets before you can add a new one.</p>
    </div>

{% else %}
    {% if application.clientSecret %}
        <p class="govuk-!-margin-bottom-5"><a href="/account/applications/{{ id }}/client-secret/">Add new client secret to your sandbox</a></p>
    {% else %}
        <p class="govuk-!-margin-bottom-5"><a href="/account/applications/{{ id }}/client-secret/">Add a client secret to your sandbox</a></p>
    {% endif %}
{% endif %}



<!-- Production environment -->
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Production</h2>
{% if application.production == "Yes" %}      
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Credentials for production environment</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Client credential</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Value</th>
                <th scope="col" class="govuk-table__header">Expiry date</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">ID</td>
                <td class="govuk-table__cell">111f2538-abb3-4ddf-bd78-e3fee22689bf</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            </tr>                  
        </tbody>
    </table>
    <p class="govuk-!-margin-bottom-5"><a href="#">Add client secret to production</a></p>
                        
    {% elif application.production == "Applied" %}
        <p>Credentials for production have been applied for.</p>
        <p><a href="#">View your application</a></p>
    {% else %}



    <!-- Need to do logic for this below -->
<!-- <span class="govuk-body-s"> Logic to show this when not available</span>
    <p class="govuk-body">You cannot request production credentials as your application {{ application.name }} subscribes to an API that is only available in the sandbox environment.</p>
    <p><a href="../apis/explore-apis">Review the specific API documentation</a> to check if an API is available in production.</p>

    <span class="govuk-body-s">Otherwise logic to show this when available but not applied for</span> -->
<!-- // end of need -->

    <!-- <p>You will need to test your application before requesting production credentials.</p> -->
    <!-- <p>You do not need production credentials for APIs with:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>only open access endpoints</li>
        <li>APIs for testing your service</li>                
    </ul> -->

    <p><a href="/account/applications/{{ id }}/production-credentials/">Apply for credentials for production environment</a></p>

{% endif %}