<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h2 class="govuk-heading-l">Redirect URIs</h2>
        <p class="govuk-body">We use redirect URIs to send the user back to your application after successful (or unsuccessful) authorisation, prior to your application accessing user-restricted endpoints.</p>
        <p class="govuk-body">Read more <a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">information about how we use redirect URIs (opens in new tab)</a>.</p>
    
    </div>
</div>


<!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Sandbox</h2> -->
<table class="govuk-table">                    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Sandbox URI’s</th>            
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">https://{{ application.redirectURI }}</th>            
            <td class="govuk-table__cell govuk-table__cell--numeric">            
                <a href="/account/applications/{{ id }}/delete/redirect">Remove <span class="govuk-visually-hidden"> this redirect</span></a>
            </td>
        </tr>
        
        {% if application.newRedirectURI %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">https://{{ application.newRedirectURI }}</th>            
            <td class="govuk-table__cell govuk-table__cell--numeric">            
                <a href="/account/applications/{{ id }}/delete/redirect">Remove <span class="govuk-visually-hidden"> this redirect</span></a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>



<div class="govuk-inset-text govuk-!-width-two-thirds">
    <p>You can have a maximum of 5 redirects. You will need to remove a redirect URI before you can add a new one.</p>
</div>



{% if application.production == "Yes" %}  
<!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Production</h2> -->
<table class="govuk-table govuk-!-margin-top-7">                    
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Production URI’s</th>        
        <th scope="col" class="govuk-table__header"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">        
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">https://{{ application.redirectURI }}</th>            
            <td class="govuk-table__cell govuk-table__cell--numeric">        
                <a href="/account/applications/{{ id }}/delete/redirect">Remove <span class="govuk-visually-hidden"> this redirect</span></a>
            </td>    
        </tr>
        {% if application.newRedirectURI %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">https://{{ application.newRedirectURI }}</th>            
            <td class="govuk-table__cell govuk-table__cell--numeric">            
                <a href="/account/applications/{{ id }}/delete/redirect">Remove <span class="govuk-visually-hidden"> this redirect</span></a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endif %}



{% if application.maxRedirectsProd == "Yes" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text">
            <p>You can have a maximum of 5 redirect. You will need to remove a redirect URI before you can add a new one.</p>
        </div>

    </div>
</div>

{% else %}

    {% if application.production == "Yes" %}  
        <p class="govuk-body"><a href="/account/applications/{{ id }}/redirects/uri?apisNewWhich=production">Add a redirect URI to production</a></p>    
    {% endif %}

{% endif %}



                <!-- <form>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="app-name">
                            Add another redirect URI
                        </label>
                        <div id="app-name-hint" class="govuk-hint">
                            Maximum of 5. URI must be HTTPS for example https://example.co.uk
                        </div>
                        <input class="govuk-input govuk-input--width-20" id="add-another-uri" name="add-another-uri" type="text">
                        <button class="govuk-button govuk-button--secondary" for="add-another-uri">Add URI</button>
                    </div>
                </form> -->
