<thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Application name</th>
        <th class="govuk-table__header govuk-!-width-one-half" scope="col">Subscribed APIs</th>        
        <th class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric" scope="col">Production credentials</th>    
        <!-- <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date created</th> -->
    </tr>
</thead>
