<tr class="govuk-table__row">
    <td class="govuk-table__cell"><a href="/account/applications/helloworld?helloworld">{{ application.name }}</a></td>
    <td class="govuk-table__cell">
        {{ application.apis }}
    </td>    
    <td class="govuk-table__cell"> 
        {% if application.production == "Yes" %}
            Yes
        {% else %}
            <a href="/account/applications/production-credentials/">Apply</a></td>
        {% endif %}
        
        
    <!-- <td class="govuk-table__cell govuk-table__cell--numeric">10 July 2022</td> -->
</tr>



