<thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Application name</th>
        <th class="govuk-table__header govuk-!-width-one-third" scope="col">Last API call</th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Production credentials</th>
        <!-- <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Status</th> -->
        <!-- <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Delivery partner</th> -->
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date created</th>
    </tr>
</thead>
