{% extends "layout.html" %}

{% block pageTitle %}
Added commodities – E-Certification for EHC's - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style media="screen">
  .app-accordion .govuk-accordion__controls {
    display: none;
  }

  .govuk-summary-list__row.isIncomplete {
    border-left: 4px solid #d4351c;
    margin-top: 10px;
  }

  .govuk-summary-list__row.isIncomplete dt {
    padding-top: 5px;
    color: #d4351c;
  }

  .govuk-summary-list__row.isIncomplete dd {
    /*color: #d4351c;*/
  }

  .govuk-grid-column-one-half.isIncomplete {
    padding-left: 11px;
  }

  .govuk-tag--small {
    font-size: 0.8rem;
    margin-bottom:4px;
  }

  .govuk-summary-list__key span.optional {
    font-weight: normal;
    color: #000000;
  }

    .navButtonGroup {
    margin-bottom: 1rem;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
    }

    .navButton {
    background: transparent;
    border: none;
    }

    .tab-link.active, .tab-link.focus {
    border-bottom: 4px solid #1e70b8!important;
    color: #1e70b8;
    }
    .tab-link {
    padding-bottom: 2px;
    color: #1e70b8;
    cursor: pointer;
    text-decoration: none;
    }

    .navButton.active {
    font-weight: bold;
    }

    .etrade-warning-banner {
      border: 5px solid #f47738;
      background-color: #f47738;
    }

    .etrade-warning-banner h2 {
      color: #000000;
    }

</style>
{% endblock%}

{% block content %}


{% set certID = query.currentCertID or ((data.addedEHC|length)-1) or 0 %}
{% set cert = data.addedEHC[certID] %}
{% set schema = cert.schema %}

<!-- get number of commodities/rows added -->
{% set count = 0%}
{% for c in cert.addedCommodities %}
{% for i in c.identifications %}
{% set count = count+1 %}
{% endfor%}
{% endfor%}

{% set recordsTitle = "records"%}
{% if count == 1%}
{% set recordsTitle =  "record"%}
{% endif %}

<!-- get title based on length of text -->
{% set commodityTitle = "commodities"%}
{% if cert.addedCommodities | length == 1%}
{% set commodityTitle =  "commodity"%}
{% endif %}

<!-- determine if any of these records have incompletes -->
{% set incompleteRecordCount = 0 %}
{% set incompleteRecordArray = [] %}
{% set incompleteRecordDescriptionArray = [] %}
{% for cert in cert.addedCommodities %}
  {% set certLoop = loop %}
  {% for ident in cert.identifications %}
    {% if ident.isIncomplete == true %}
      {% set incompleteRecordCount = incompleteRecordCount + 1 %}
      {% set incompleteRecordArray = (incompleteRecordArray.push("c" + certLoop.index0 + "-i" + loop.index0), incompleteRecordArray) %}
      {% if ident.productDescription %}
        {% set incompleteRecordDescriptionArray = (incompleteRecordDescriptionArray.push(ident.productDescription), incompleteRecordDescriptionArray) %}
      {% else %}
        {% set incompleteRecordDescriptionArray = (incompleteRecordDescriptionArray.push("Record " + loop.index + " for commodity code " + ident.commodity_code), incompleteRecordDescriptionArray) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-three-quarters">

    {% if query.changed == "yes" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        {% set identification = cert.addedCommodities[data.commodityListID].identifications[data.changeID] %}

        <p class="govuk-body"><strong>{% if query.new %}Added{% else %}Updated{% endif %} record</strong>:  {% if identification.productDescription %}{{ identification.productDescription | truncate(100)}} - {% endif %}{{identification.netWeight or "23"}} {{identification.netWeight_UNIT or "kilogram"}} - {{identification.packageCount or "23"}}. &nbsp;<a class="govuk-notification-banner__link" href="#c{{data.commodityListID}}-i{{data.changeID}}">View in list</a></p>
      </div>
    </div>
    {% endif %}

    <span class="govuk-caption-xl">{{ cert.number or "EHC8331" }}</span>
    <h1 class="govuk-heading-xl">
      Added {{count}} {{recordsTitle}}
      {%if cert.addedCommodities | length > 1%} for {{cert.addedCommodities | length}} {{commodityTitle}}{% endif %}
    </h1>

    {#
    {% if incompleteRecordCount and (incompleteRecordCount < count) %}

      <div class="navButtonGroup" id="navButtonGroup">
        <button id="navButtonAllRecords" type="button" role="button" aria-label="all-records" class="navButton active govuk-link govuk-!-font-size-19 govuk-!-margin-right-7 tab-link"><span class="govuk-visually-hidden">Click to display content for </span>All records</button>
        <button id="navButtonIncompleteOnly" type="button" role="button" aria-label="incomplete-only" data-label="incomplete-only" class="navButton govuk-link govuk-!-font-size-19 govuk-!-margin-right-7 tab-link"><span class="govuk-visually-hidden">Click to display content only for </span>Incomplete records ({{ incompleteRecordCount }})</button>
      </div>

    {% endif %}
    #}


    {% for commodity in cert.addedCommodities %}
      {% set hasIncompleteRecord = false %}
      {% for ids in commodity.identifications %}
        {% if ids.isIncomplete %}
          {% set hasIncompleteRecord = true %}
        {% endif %}
      {% endfor %}
    <!-- set the location of the commodity in the full commodity list. This needs improving -->
    <div class="commodity-accordion app-accordion {% if hasIncompleteRecord %}hasIncompleteRecord{% endif %}" id="accordion-default-{{loop.index}}">

      <h2 class="govuk-heading-s commodity-group-label">{{commodity.code}} - <span class="govuk-!-font-weight-regular" title="{{commodity.title}}">{{commodity.title | truncate(125)}}</span></h2>
      {% set currentCommodityID = loop.index-1 %}

      <dl class="govuk-summary-list app-list-with-actions app-list-with-actions--long app-summary-list--accordion govuk-!-margin-bottom-2">
         {% set speciesCount = 0 %}
        {% set commodityCodeItemCount = 0 %}
        {% for identification in commodity.identifications %}
       
        <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section {% if identification.isIncomplete %}incomplete{% endif %}" id="c{{currentCommodityID}}-i{{loop.index-1}}">
          <div class="govuk-summary-list__row-group govuk-accordion__section-header">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key">

              <!-- count how many sections were skipped for this record -->
              {% set skippedSectionCount = 0 %}
              {% for schemaItem in schema %}
                {% set itemIsIncomplete = false %}
                {% if identification.isIncomplete %}
                  {% for entry in identification.incomplete %}
                    {% if entry == schemaItem.id %}
                      {% set skippedSectionCount = skippedSectionCount + 1 %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}

              <!--{% if identification.isIncomplete %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}-->


              {% if identification.productDescription %}
                {{ identification.productDescription | truncate(100)}} - 

              {% endif %}


              {% if identification.packageCount or identification.netWeight %}
                {% if identification.netWeight %}
                  {{identification.netWeight or "23"}} {{identification.netWeight_UNIT or "kilogram"}} 
                {% endif %}
                {% if identification.packageCount %}
                 {% if identification.netWeight %}-{% endif %} {{identification.packageCount or "23"}} {{identification.packageCount_UNIT or "Bag"}}
                {% endif %}
              {% elseif (not identification.packageCount and not identification.netWeight) and  identification.batchNumber %}
              Batch Number: {{identification.batchNumber}} 
              {% elseif (not identification.packageCount and not identification.netWeight) and  identification.species %}
              {{identification.species}} {% if speciesCount > 0 %}({{speciesCount}})
              {% set speciesCount = speciesCount+1%}
              {% endif %}
              {% else %}
              Commodity: {{commodity.code}} {% if commodityCodeItemCount > 0 %}({{commodityCodeItemCount}}){% endif %}
              {% set commodityCodeItemCount = commodityCodeItemCount + 1%}
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="remove-commodity?removeCommodityID={{currentCommodityID}}&removeID={{loop.index-1}}">
                    Remove<span class="govuk-visually-hidden"> this record</span>
                  </a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state"
                    href="commodity?commodity={{identification.type}}&change=yes&copy=&currentCommodityID={{identification.commodity_id}}&commodityListID={{currentCommodityID}}&changeID={{loop.index-1}}">
                    Change<span class="govuk-visually-hidden"> this record</span>
                  </a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state"
                    href="copy-record?ehcNumber={{ cert.number }}&currentCommodityID={{identification.commodity_id}}&commodityListID={{ currentCommodityID }}&changeID={{ loop.index-1 }}&random={{ 100000 | randomNumberGenerator }}">
                    Copy<span class="govuk-visually-hidden"> this record</span>
                  </a>
                </li>

              </ul>
            </dd>
          </div>
          <dd class="govuk-summary-list__value">
            <div class="govuk-accordion__section-heading">
              <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
                  <span class="govuk-accordion__section-heading-text-focus">
                    <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                    <span class="govuk-accordion__section-toggle" data-nosnippet="">
                      <span class="govuk-accordion__section-toggle-focus">
                        <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                        <span class="govuk-accordion__section-toggle-text">
                          Show details<span class="govuk-visually-hidden"> for this record</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
              </button>
            </div>

            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <dl class="govuk-summary-list  govuk-summary-list--no-border app-summary-list--small app-summary-list--wide">
                <div class="govuk-grid-row">

                  {% for schemaItem in schema %}
                    {% set itemIsIncomplete = false %}
                    {% if identification.isIncomplete %}
                      {% for entry in identification.incomplete %}
                        {% if entry == schemaItem.id %}
                          {% set itemIsIncomplete = true %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}


                    <!-- <div class="govuk-summary-list__row govuk-grid-column-one-half {%if itemIsIncomplete %}isIncomplete{% endif %}"> -->
                      <div class="govuk-summary-list__row govuk-grid-column-one-half "> 
                      <dt class="govuk-summary-list__key">
                        {{ schemaItem.title }} {% if schemaItem.required == "no" %} <span class="optional">(optional)</span>{% endif %}
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if schemaItem.type == "excel_date" %}
                          {% if identification[schemaItem.id] %}
                            {{ (identification[schemaItem.id] | getDateFromExcel) }}
                          {% else %}
                            Not entered
                          {% endif %}
                        {% elseif schemaItem.type == "search" %}
                          <!-- find establishment TradingName from approval number -->
                          {% set establishments = data.establishments %}
                          {% set establishmentName = "" %}
                          {% for establishment in establishments %}
                            {% if establishment.AppNo == identification[schemaItem.id] %}
                              {% set establishmentName = establishment.TradingName %}
                            {% endif %}
                          {% endfor %}

                          {% if establishmentName %}
                            {{ establishmentName }} ({{ identification[schemaItem.id] }})
                          {% elseif identification[schemaItem.id] %}
                            Cannot find establishment for approval number {{ identification[schemaItem.id] }}
                          {% else %}
                            Not entered
                          {% endif %}
                        {% else %}
                          {{ identification[schemaItem.id] or "Not entered" }}
                        {% endif %}
                      </dd>
                    </div>
                  {% endfor %}

                </div>
              </dl>
            </div>
          </dd>
        </div>
        {% endfor %}
      </dl>
      <p class="govuk-!-margin-bottom-8"><a href="add-new-record?currentCommodityID={{commodity.id}}&commodityCode={{ commodity.code }}&ehcNumber={{ cert.number }}&random={{ 100000 | randomNumberGenerator }}" class="govuk-link--no-visited-state"><strong>Add another record for {{commodity.code}}</strong></a></p>
      </div>

      {% endfor %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
           {% if count > 0 %}
          <form method="post" action="select-commodities">
           

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                  Do you want to add another commodity to this certificate?
                </legend>
                <div id="add-another-hint" class="govuk-hint">
                  <!-- You must tell us about all your directors. -->
                </div>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes~select-commodities?change=&copy=">
                    <label class="govuk-label govuk-radios__label" for="add-another">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    {% if data.has_multiple_certificates == 'yes' %}
                    {% set nextPage = "weight" %}
                    {% elseif data.originalCommodityCount < (cert.addedCommodities | length) and data.GROSS_WEIGHT %}
                    {% set nextPage = "update-weight" %}
                    {% else %}
                    {% set nextPage = "../task-list" %}
                    {% endif %}
                    <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No~../task-list">
                    <label class="govuk-label govuk-radios__label" for="add-another-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
               </form>
            {% else %}

            <a href="select-certificates?displayMax=10" class="govuk-button" data-module="govuk-button">
              Add commodities
            </a>
            {% endif %}

            
       
        </div>
      </div>


    </div>
  </div>

  {% endblock %}

  {% block pageScripts %}
  <script type="text/javascript">
    window.addEventListener('load', function() {
      var controls =
        '<div class="govuk-accordion__controls"><button type="button" class="govuk-accordion__show-all" aria-expanded="false"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span class="govuk-accordion__show-all-text">Show all sections</span></button></div>'
      var accordion = $('.app-accordion')
      if ($('.govuk-accordion__section').length > 1) {
        accordion.prepend(controls)
      }
      var showAllBtn = $('.govuk-accordion__show-all')
      var showDetails = $('.govuk-accordion__section-button')

      function showSection(b, t, a = "") {
        var txt = (a) ? "Hide all sections" : "Hide details";
        var label = (a) ? ".govuk-accordion__show-all-text" : ".govuk-accordion__section-toggle-text";
        $(b).attr('aria-expanded', "true")
        $(b).find(".govuk-accordion-nav__chevron").removeClass("govuk-accordion-nav__chevron--down")
        if (!$(t).hasClass("govuk-accordion__section--expanded")) {
          $(t).addClass('govuk-accordion__section--expanded')
        }
        $(t).find(label).text(txt)
        if (a) {
          var eb = $(t).find(".govuk-accordion__section-button")
          console.log(eb)
          showSection(eb, t)
        }

      }

      function hideSection(b, t, a = false) {

        var txt = (a) ? "Show all sections" : "Show details";
        var label = (a) ? ".govuk-accordion__show-all-text" : ".govuk-accordion__section-toggle-text";
        $(b).attr('aria-expanded', "false")
        $(b).find(".govuk-accordion-nav__chevron").addClass("govuk-accordion-nav__chevron--down")
        $(t).removeClass('govuk-accordion__section--expanded')
        $(t).find(label).text(txt)
        if (a) {
          var eb = $(t).find(".govuk-accordion__section-button")
          console.log(eb)
          hideSection(eb, t)
        }
      }
      showDetails.on('click', function(e) {
        e.preventDefault()
        console.log("working")
        var section = $(this).closest('.govuk-accordion__section');
        if ($(this).attr('aria-expanded') == 'false') {

          // $(this).attr('aria-expanded',"true")
          showSection(this, section)

        } else {

          hideSection(this, section)
        }
      })
      showAllBtn.on('click', function(e) {
        e.preventDefault()
        var section = $('.govuk-accordion__section')
        if ($(this).attr('aria-expanded') == 'false') {

          // $(this).attr('aria-expanded',"true")
          showSection(this, section, true)

        } else {

          hideSection(this, section, true)
        }

      })

      $('button.navButton').click(function() {
        if ($(this).attr('aria-label') == 'incomplete-only') {
          showIncompleteRecords();
        } else {
          showAllRecords();
        }
      });

      $('#shortcutToIncompleteRecords').click(function() {
        showIncompleteRecords();
      });

      $('input[type=radio][name="incomplete-filter"]').change(function() {
        if (this.value == 'incomplete-only') {
          showIncompleteRecords();
        } else {
          showAllRecords();
        }
      });

      function showIncompleteRecords() {
        $(".commodity-accordion-row").hide();
        $(".commodity-accordion-row.incomplete").show();

        $(".commodity-accordion").hide();

        $(".hasIncompleteRecord").show();

        $("button.navButton").removeClass("active");
        $("#navButtonIncompleteOnly").addClass("active");
      }

      function showAllRecords() {
        $(".commodity-accordion-row").show();
        $(".app-accordion").show();

        $("button.navButton").removeClass("active");
        $("#navButtonAllRecords").addClass("active");
      }



    })
  </script>
  {% endblock%}
