{% extends "layout.html" %}

{% block pageTitle %}
Place of destination – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<style>
  .find-establishment-link {
    padding: 30px;
    background: #f3f2f1;
  }

  .govuk-summary-list__actions {
    padding-right: 30px;
  }

  .govuk-summary-list__row {
    border: none;
  }
</style>


<form class="" action="../task-list" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl"> Transport </span>
      <h1 class="govuk-heading-xl"> Place of destination </h1>

      <p class="govuk-body">This is where the commodities are sent for final unloading.</p>

      {% if data.person['destination'] %}
        {% set establishmentIndex = data.person['destination'] %}
        {% set org = data.establishments[establishmentIndex] %}

        {% set removeLink = "./remove?who=destination&redirect=place-of-destination" %}
        {% block traderAddress %}{% include "../persons/trader-address.html" %}{% endblock %}
      {% else %}
        <p class="govuk-!-margin-bottom-10 find-establishment-link">
          <a href="./place-of-destination/find">Select a place of destination</a>
        </p>
      {% endif %}

      <button class="govuk-button">Continue</button>
    </div>
  </div>
</form>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {


  })
</script>
{% endblock%}
