// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

$backgroundGrey: #b1b4b6;

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.defra-contents-title {
    margin-bottom: .625rem;
    font-weight: 400;
}
.defra-contents-list--dashed {
    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 7.5px;
        &:before {
            content: "—";
            position: absolute;
            left: 0;
            width: 20px;
            overflow: hidden;
        }   
    }
}

.defra-column-hr {
    border-top: 2px solid $govuk-border-colour;
    padding-top: 20px;
}

.defra-pagination {
    display: block;
    border-top: 2px solid $govuk-border-colour;
    margin-top: 40px;
    .defra-pagination--link {
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        text-decoration: none;
        &:hover {
            background-color: #f3f2f1;
        }
        
        &:focus {
            background-color: $govuk-focus-colour;
        }
    }

        .defra-pagination--link-title {
            display: block;
        
            .defra-pagination--link-text {
                margin-left: 10px;
                font-size: 19px;
            }
            .defra-pagination--divider {
                position: absolute;
                width: 1px !important;
                height: 1px !important;
                overflow: hidden !important;
                white-space: nowrap !important;
            }
        }


        .defra-pagination--label {
            font-size: 16px;
            margin-left: 30px;
            text-decoration: underline;
        }
}

.govuk-width-container.defra-fullWidth--override {
    width: 100%;
    max-width: 100%;
    .govuk-phase-banner {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

.govuk-main-wrapper--spacing-override {
    padding-top: 20px;
}

.defra-banner {
    background-color: $govuk-link-colour;
    color: #ffffff;
    padding-top: 40px;
    .govuk-heading-xl, p {
        color: #ffffff;
    }

    .govuk-heading-xl {
        margin-bottom: 20px;
    }

    .govuk-grid-column-two-thirds {
        padding-left: 0;
        padding-right: 0;
    }
}

.govuk-button.defra-button-inverse {
    background-color: #ffffff;
    color: $govuk-link-colour;
    font-weight: bold;
}

ul.defra-subscription-links {
    padding-left: 0;
    margin-top: 40px;
    li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        a {
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none;
            svg {
                margin-right: 7.5px;
                color: #111111;
            }
            
            &.bottom-border {
                border-bottom: 1px solid #111111;
            }
            &.full-border {
                padding-left: 10px;
                padding-right: 10px;
                border: 1px solid #111111;
            }
        }
    }
}

.defra-qr-image {
    display: block;
}

// step-by-step - top level 
// These styles are for the top level step-by-step guide - it sits on its own page.
ol.defra-step-nav {
    position: relative;
    padding-left: 0;
    // line through step circles
    &:before {
        content: '';
        position: absolute;
        top: 2rem;
        left: 17px;
        height: 87%;
        border-left: 1px solid $backgroundGrey;
    }
    > li.defra-step-nav--step {
        list-style: none;
        position: relative;
        padding-left: 4em;
    }

    // Heading styles
    .defra-step-nav--header {
        display: block;
        border-top: 1px solid $backgroundGrey;
        padding-top: 1em;
    }
    .defra-step-nav--circle-number {
        position: absolute;
        top: 0.8em;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border:1px solid $backgroundGrey;
        border-radius: 50%;
        background-color: #ffffff;
        
        font-size: 19px;
        font-weight: bold;
    }
    .defra-step-nav--expand {
        @extend .defra-step-nav--show-all;
        padding: 0.5rem 0;        
        .defra-step-nav--toggle {
            @extend .defra-step-nav--show-all-label;
        }
    }

    // Body styles
    .defra-step-nav--panel {
        font-size: 19px;
        margin-bottom: 3rem;
        &.panel--is-closed {
            display: none;
        }
    }
}

.defra-step-nav--show-all {
    display: block;
    font: normal normal 16px $govuk-font-family;
    padding: 0.5rem 0;
    color: $govuk-link-colour;
    &:hover {
        cursor: pointer;
        .defra-step-nav--show-all-label {
            text-decoration: underline;
        }
    }
}
.defra-step-nav--show-all-label {
    vertical-align: top;
    margin-right: 0.4rem;
}

.defra-step-nav--chevron.flipped svg {
    transform: rotate3d(0,0,1,180deg);
}

// Topic list
// Can be found on the Explore APIs page.
ul.defra-topic-list {
    padding-left: 0;
}

li.defra-topic-list--topic {
    list-style: none;
    padding: 2rem 0 1rem;
    .topic-header {
        display: block;
        &:after{
            content:'';
            display: block;
            clear: both;
        }
    }
    h2.topic-heading {
        float: left;
    }
    span.topic-list-caption {
        float: right;
        line-height: 175%;
    }
}

dl {
    .dl-wrapper {
        border-bottom: 1px solid $backgroundGrey;
        display: flex;
        font: 16px $govuk-font-family;
        padding: 1rem 0;
    }
    dt {
        width: 30%;
        max-width: 250px;
        font-weight: bold;
    }
    dd {
        width: 65%;
    }
}

// helpers
.m-l-15 {
    margin-left: 15px;
}

.m-r-15 {
    margin-right: 15px;
}