{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = '' + data['teamName'] + ' has been added to the team' %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">        
        <div class="govuk-grid-column-two-thirds">

                {{ govukPanel({
                    titleText: pageHeading,                    
                    classes: "govuk-!-margin-bottom-7"
                }) }}                
    
    
                <p>Information relating to the new team member if needed.</p>            
                <ul class="govuk-list">
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage-team/add/name">Add another team member</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/account/manage-team/">Return to your team</a></li>

                </ul>
                
                
                
                
    
                
            
            </div>
        </div>
    </div>

{% endblock %}
