{% extends "layout.html" %}

{% block pageTitle %}
Find a place of dispatch – {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<form id="search" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

      <div id="general-error-summary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary" style="display:none">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li id="operator-search-country-error-summary" style="display:none"><a href="#operator-search-country-form-group">A country must be selected</a></li>
            <li id="search-field-approval-number-error-summary" style="display:none"><a href="#approval-number-search">Enter the organisation’s approval number</a></li>
            <li id="search-field-organisation-name-error-summary" style="display:none">
              <a href="#organisation-name-search">Enter the organisation’s name</a>
            </li>
            <li id="results-error-summary"  style="display:none">
              <a href="#results">Select an organisation</a>
            </li>
          </ul>
        </div>
      </div>


      <h1 class="govuk-heading-xl">Find a place of dispatch</h1>
      <p class="govuk-body">This is the final location that the consignment will be transported from in Great Britain.</p>

      {% set defaultCountry = "Any" %}
      {% block countryOfOrigin %}{% include "../../find/_country-of-origin-select.html" %}{% endblock %}

      {% set includeApprovalNumberSearch = true %}
      {% set orgSearchLabel = "Search by organisation name" %}
      {% block organisationSearch %}{% include "../../persons/organisationSearchAndResults.html" %}{% endblock %}

    </div>
</form>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
