{% set listOfItems = cert.breed%}
<div class="govuk-form-group app-repeadable-holder">
  <label class="govuk-label" for="natureOfCommodity">Breed/Category
  </label>
  <div class="app-repeatable-section" id="repeatable-breed">
  <select class="govuk-select govuk-!-width-three-quarters" id="breed" name="breed">
    <option disabled="" value="" selected>Select a Breed/Category</option>
    {% if (listOfItems| length) > 0%}
    {% for item in listOfItems%}
    <option value="{{item}}">{{item}}</option>
    {% endfor %}]
    {% else %}
    <option value="not set">Not set any species in JSON</option>
    {% endif %}
  </select>
  <div class="govuk-input__suffix suffix__action" aria-hidden="true">
    <button type="button" class="govuk-button govuk-button--secondary add-repeatable-section" id="repeatable-add-freezing-date" data-target="repeatable-breed" data-count="0"><span class="fas fa-plus"></span></button>
  </div>
  </div>

</div>
