{% set listOfItems = cert.natureOfCommodity%}
{% if "natureOfCommodity" in  cert.multiples%}
<div class="govuk-form-group app-repeadable-holder" id="repeatable-nature-of-holder">
  <label class="govuk-label" for="natureOfCommodity">Nature of commodity
  </label>
  <div class="app-repeatable-section" id="repeatable-nature-of">
    <div class="govuk-input__wrapper m-t-15">
      <select class="govuk-select full-width" id="natureOfCommodity" name="natureOfCommodity">
        <option disabled="" value="" {% if not (data.change or data.copy) %}selected{%endif%}>Select a Nature of commodity</option>
        {% for item in listOfItems%}
        <option value="{{item}}" {% if (data.change or data.copy) and (item==identification.natureOfCommodity) %}selected{%endif%}>{{item}}</option>
        {% endfor %}]
      </select>
      <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">

        <button type="button" data-count="1" data-target="repeatable-nature-of" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
        </button>
      </div>
    </div>
  </div>

</div>
{% else%}
<div class="govuk-form-group">
  <label class="govuk-label" for="natureOfCommodity">Nature of commodity
  </label>
  <select class="govuk-select full-width" id="natureOfCommodity" name="natureOfCommodity">
    <option disabled="" value="" {% if not (data.change or data.copy) %}selected{%endif%}></option>
    {% if (listOfItems| length) > 0%}
    {% for item in listOfItems%}
    <option value="{{item}}" {% if (data.change or data.copy) and (item==identification.natureOfCommodity) %}selected{%endif%}>{{item}}</option>
    {% endfor %}]
    {% else %}
    <option value="not set">Not set any species in JSON</option>
    {% endif %}
  </select>
</div>
{% endif %}

{% if (listOfItems | length) >= 20 %}
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function() {
    element2 = document.querySelector('#natureOfCommodity')
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: element2,
      showAllValues: true,
      dropdownArrow: () => ''
    })
  })
</script>
{% endif %}
