{% extends "layout.html" %}
{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<style media="screen">
  .app-accordion .govuk-accordion__controls {
    display: none;
  }

  .govuk-summary-list__row.isIncomplete {
    border-left: 4px solid #d4351c;
    margin-top: 10px;
  }

  .govuk-summary-list__row.isIncomplete dt {
    padding-top: 5px;
    color: #d4351c;
  }

  .govuk-summary-list__row.isIncomplete dd {
    /*color: #d4351c;*/
  }

  .govuk-grid-column-one-half.isIncomplete {
    padding-left: 11px;
  }

  .govuk-tag--small {
    font-size: 0.8rem;
    margin-bottom: 4px;
  }

  .govuk-summary-list__key span.optional {
    font-weight: normal;
    color: #000000;
  }

  .navButtonGroup {
    margin-bottom: 1rem;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
  }

  .navButton {
    background: transparent;
    border: none;
  }

  .tab-link.active,
  .tab-link.focus {
    border-bottom: 4px solid #1e70b8 !important;
    color: #1e70b8;
  }

  .tab-link {
    padding-bottom: 2px;
    color: #1e70b8;
    cursor: pointer;
    text-decoration: none;
  }

  .navButton.active {
    font-weight: bold;
  }

  .etrade-warning-banner {
    border: 5px solid #f47738;
    background-color: #f47738;
  }

  .etrade-warning-banner h2 {
    color: #000000;
  }

  .action-group {
    margin-left: auto;
    direction: rtl;
    flex-direction: row-reverse;
    display: flex;
    justify-content: flex-end;
  }

  .pushLeft {
    margin-right: auto;
    margin-left: 0;
  }
</style>
{% endblock %}
{% block content %}


<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      Some commodity data is incomplete
    </h2>

    <div class="govuk-error-summary__body">
      <p>Enter commodity data for {{data.recordsCount or 12}} record{% if data.recordsCount != 1 %}s{% endif %}.</p>
    </div>
  </div>
</div>


    <!-- <span class="govuk-caption-xl">EHC8361</span> -->
    <h1 class="govuk-heading-xl">{% if not query.change %}
      Review commodities for EHC{{data.ehc or 8361}}
      {% else %}
      Added {{data.recordsCount or 12}} {{ "record" | plural("records", data.records | length ) }} for {{data.commodityCount or 2}} {{ "commodity" | plural("commodities", data.commodityCount | length ) }}
      {% endif %}
    </h1>



      {% if not query.change %}<p id="recordCount" class="govuk-body">{{data.recordsCount or 12}} {{ "record" | plural("records", data.records | length ) }} for {{data.commodityCount or 2}} {{ "commodity" | plural("commodities", data.commodityCount | length ) }}</p>{% endif %}




    {% if data.accountName == "foyle" %}
    {% block foylelist %}{% include "./components/_foyle-list.html"%}{% endblock%}
    {% elseif data.accountName == "extons" %}
    <div class="govuk-accordion__controls margin-b"><button type="button" class="govuk-accordion__show-all" aria-expanded="false"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
          class="govuk-accordion__show-all-text">Show all sections</span></button></div>
     {% block extonslist %}{% include "./components/_extons-list.html"%}{% endblock%}
     {% elseif data.accountName == "greggs" %}
     <div class="govuk-accordion__controls margin-b"><button type="button" class="govuk-accordion__show-all" aria-expanded="false"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
           class="govuk-accordion__show-all-text">Show all sections</span></button></div>
      {% block greggslist %}{% include "./components/_greggs-list.html"%}{% endblock%}
    {% else %}
    <div class="govuk-accordion__controls margin-b"><button type="button" class="govuk-accordion__show-all" aria-expanded="false"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
          class="govuk-accordion__show-all-text">Show all sections</span></button></div>
    {% block basiclist %}{% include "./components/_basic-list.html"%}{% endblock%}
    {% endif %}



    <!-- set the location of the commodity in the full commodity list. This needs improving -->


    <form method="post" action="select-commodities">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to add another commodity to this certificate?
          </legend>
          <div id="add-another-hint" class="govuk-hint">
            <!-- You must tell us about all your directors. -->
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes~select-commodities?change=&copy=">
              <label class="govuk-label govuk-radios__label" for="add-another">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No~{% if data.showWeight=='yes' %}./application/weight{% elseif data.accountName %}./application/check-your-answers{% else %}./added-certs?originalCommodityCount=7&amp;change=&amp;copy={% endif %}">
              <label class="govuk-label govuk-radios__label" for="add-another-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
</div>
{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {
    $('#edit').on('click', function() {
      $('body').addClass("app-edit-mode")
      $('.govuk-button').attr("type", "button").prepend('<span class="app-edit-stopper" contenteditable="false">&nbsp;</span>')
      $('body').append('<div class="app-editing-mode"><div class="govuk-width-container"><a href="#" class="app-stop-editing">Stop editing</a></div></div>')
      $('#main-content').attr("contenteditable", "true")
    })
    $('body').on('click', '.app-stop-editing', function(e) {
      e.preventDefault()
      $('.app-edit-stopper').remove()
      $('body').removeClass("app-edit-mode")
      $('.govuk-button').attr("type", "submit")
      $('#main-content').attr("contenteditable", "false")
      $('.app-editing-mode').remove()
    })
  })
</script>
<script type="text/javascript">
  window.addEventListener('load', function() {
    var recordsCount = $(".commodity-accordion-row").length
    var commodityCount = $(".commodity-group-label").length

    var controls =
      '<div class="govuk-accordion__controls"><button type="button" class="govuk-accordion__show-all" aria-expanded="false"><span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span class="govuk-accordion__show-all-text">Show all sections</span></button></div>'
    var accordion = $('.app-accordion')
    if ($('.govuk-accordion__section').length > 1) {
      accordion.prepend(controls)
    }
    var showAllBtn = $('.govuk-accordion__show-all')
    var showDetails = $('.govuk-accordion__section-button')

    function showSection(b, t, a = "") {
      var txt = (a) ? "Hide all sections" : "Hide details";
      var label = (a) ? ".govuk-accordion__show-all-text" : ".govuk-accordion__section-toggle-text";
      $(b).attr('aria-expanded', "true")
      $(b).find(".govuk-accordion-nav__chevron").removeClass("govuk-accordion-nav__chevron--down")
      if (!$(t).hasClass("govuk-accordion__section--expanded")) {
        $(t).addClass('govuk-accordion__section--expanded')
      }
      $(t).find(label).text(txt)
      if (a) {
        var eb = $(t).find(".govuk-accordion__section-button")
        console.log(eb)
        showSection(eb, t)
      }
    }

    function hideSection(b, t, a = false) {
      var txt = (a) ? "Show all sections" : "Show details";
      var label = (a) ? ".govuk-accordion__show-all-text" : ".govuk-accordion__section-toggle-text";
      $(b).attr('aria-expanded', "false")
      $(b).find(".govuk-accordion-nav__chevron").addClass("govuk-accordion-nav__chevron--down")
      $(t).removeClass('govuk-accordion__section--expanded')
      $(t).find(label).text(txt)
      if (a) {
        var eb = $(t).find(".govuk-accordion__section-button")
        console.log(eb)
        hideSection(eb, t)
      }
    }
    showDetails.on('click', function(e) {
      e.preventDefault()
      console.log("working")
      var section = $(this).closest('.govuk-accordion__section');
      if ($(this).attr('aria-expanded') == 'false') {
        // $(this).attr('aria-expanded',"true")
        showSection(this, section)
      } else {
        hideSection(this, section)
      }
    })
    showAllBtn.on('click', function(e) {
      e.preventDefault()
      var section = $('.govuk-accordion__section')
      if ($(this).attr('aria-expanded') == 'false') {
        // $(this).attr('aria-expanded',"true")
        showSection(this, section, true)
      } else {
        hideSection(this, section, true)
      }
    })
    $('button.navButton').click(function() {
      if ($(this).attr('aria-label') == 'incomplete-only') {
        showIncompleteRecords();
      } else {
        showAllRecords();
      }
    });
    $('#shortcutToIncompleteRecords').click(function() {
      showIncompleteRecords();
    });
    $('input[type=radio][name="incomplete-filter"]').change(function() {
      if (this.value == 'incomplete-only') {
        showIncompleteRecords();
      } else {
        showAllRecords();
      }
    });

    function showIncompleteRecords() {
      $(".commodity-accordion-row").hide();
      $(".commodity-accordion-row.incomplete").show();
      $(".commodity-accordion").hide();
      $(".hasIncompleteRecord").show();
      $("button.navButton").removeClass("active");
      $("#navButtonIncompleteOnly").addClass("active");
    }

    function showAllRecords() {
      $(".commodity-accordion-row").show();
      $(".app-accordion").show();
      $("button.navButton").removeClass("active");
      $("#navButtonAllRecords").addClass("active");
    }
  })
</script>
{% endblock %}
