{% extends "layout-blank.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Testing 'copy' in eEHC</h1>

      <h2 class="govuk-heading-m">Scenario</h2>
      <p>You need to create an EHC. The details are very similar to the most recent application.</p>

    <p>This is a prototype. You're free to make up some data, although try to use realistic data.
</p>


      <p style="margin-top:400px;">

      <a href="dashboard" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>
  </p>
  </div>
</div>

{% endblock %}
