{% set accountActive = true %}
{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = '' +  sandbox.name + ' sandbox application has been created' %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
            <!-- {% include "includes/defra-section-nav.html" %} -->

                {{ govukPanel({
                    titleText: pageHeading,
                    html: "Reference: 000394394",    
                    classes: "govuk-!-margin-bottom-7"                         
                }) }}                
                                
                
                <p>For {{ sandbox.name }} to interact with our services that give access delegation and authorisation as well as to maintain security and integrity you will need to use the <a href="#">application credentials we have generated</a>.</p>
                
                
                <h2 class="govuk-heading-m">What you can do next</h2>                                            
                <p>When you are ready you should:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>apply for production credentials</li>
                    <li>read our <a href="/documentation/reference-guide">reference guides</a></li>
                    <li>understand <a href="#">our APIs and how to use them</a></li>
                    
                </ul>                                    
                
                <p class="govuk-body govuk-!-margin-top-7"><a class="govuk-link govuk-link--no-visited-state" href="/account/applications/">Return to your applications</a></p>
                
                
                <!-- {{ govukButton({
                    text: "Finish",
                    href: "/account/applications/"
                }) }} -->

                
            
            
        </div>
    </div>

{% endblock %}
