{% extends "layout.html" %}
{% block pageTitle %}
Uploaded documents – {{serviceName}} – GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form id="form" method="METHOD" action="{% if query.change == 'yes' %}../check-your-answers{% else %}./container-seal-numbers{% endif %}">
          <div class="govuk-form-group" data-v-133877c6="">
            <fieldset class="govuk-fieldset" data-v-133877c6="">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" data-v-133877c6="">How will the consignment be stored during transport?</legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" id="purpose" data-v-133877c6="">
                <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Chilled" name="conditions" type="radio" value="Chilled" {% if data.conditions == "Chilled" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"
                    for="conditions-Chilled" data-v-133877c6="">Chilled storage</label></div>
                <!---->
                <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Ambient" name="conditions" type="radio" value="Ambient" {% if data.conditions == "Ambient" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"
                    for="conditions-Ambient" data-v-133877c6="">Ambient storage</label></div>
                <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Frozen" name="conditions" type="radio" value="Frozen" {% if data.conditions == "Frozen" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"  for="conditions-Frozen">Frozen storage</label></div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-button-group">
            {% if query.change != "yes" %}
   <input type="hidden" name="{{data.taskID | removeWhiteSpace}}Status" value="in progress">
   {% endif %}
    <button class="govuk-button" data-v-563d6e59="">Save and continue</button>
     {% if query.change != "yes" %}
        <a href="../task-list" class="govuk-button govuk-button--secondary" data-v-563d6e59="">Save and exit</a>
        {% endif %}
      </div>

    </form>

  </div>
</div>

{% endblock %}
