{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Add team member" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
  
            {% include "includes/defra-section-nav.html" %}

            <div class="govuk-grid-column-three-quarters">
                
                {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
                        
                <form method="post" action="manage-team-members-2">

                    {{ govukInput({
                        label: {
                            text: "Name",
                            isPageHeading: false
                        },
                        id: "name",
                        name: "name"
                    }) }}
                    {{ govukInput({
                        label: {
                            text: "Email address",
                            isPageHeading: true
                        },
                        id: "email-address",
                        name: "email-address"
                    }) }}
          
                    <button class="govuk-button govuk-button--primary">Invite to team</button>

                </form>
        
            </div>
        </div>
    </div>
  
{% endblock %}
