{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "FULL NAME" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <!-- <nav class="app-subnav" aria-label="Sub navigation">
                <ul class="app-subnav__list">
                    <li class="app-subnav__list-item"><a class="app-subnav__link govuk-link--no-visited-state" href="/account/">Overview</a></li>
                    <li class="app-subnav__list-item"><a class="app-subnav__link govuk-link--no-visited-state" href="/account/manage-applications/">Applications</a></li>
                    <li class="app-subnav__list-item app-subnav__list-item--selected"><a class="app-subnav__link govuk-link--no-visited-state" href="/account/manage-team/">Team</a></li>
                </ul>
            </nav>
        
        </div> -->
            <!-- {% include "includes/defra-section-nav.html" %} -->

            <!-- <div class="govuk-grid-column-two-thirds"> -->

                <p><a href="/account/manage-team/" class="govuk-back-link">Return to team members</a></p>
                
                {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
                
                
                <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">James Hendrix</dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="/account/manage-applications/sandbox/name">Change<span class="govuk-visually-hidden"> team member name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email address</dt>
                        <dd class="govuk-summary-list__value">jimi.hendrix@defra.gov.uk</dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="which-apis">Change<span class="govuk-visually-hidden"> email address</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Applications</dt>
                        <dd class="govuk-summary-list__value">
                            Hello World                            
                            <br>Border Checkpoint
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="which-apis">Change<span class="govuk-visually-hidden"> email address</span></a>
                        </dd>
                    </div>
                </dl>
                
                <!-- <h2 class="govuk-heading-m">Applications</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Hello World</dt>
                        <dd class="govuk-summary-list__value">Administrator</dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="/account/manage-applications/sandbox/name">Change<span class="govuk-visually-hidden"> hello world app membership</span></a>
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Acme EHC</dt>
                        <dd class="govuk-summary-list__value">Developer</dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="which-apis">Change<span class="govuk-visually-hidden"> acme EHC application membership</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Border Checkpoint</dt>
                        <dd class="govuk-summary-list__value">Administrator</dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="which-apis">Change<span class="govuk-visually-hidden"> acme EHC application membership</span></a>
                        </dd>
                    </div>
                </dl> -->
                


                
                
                <p><a class="govuk-link govuk-link--no-visited-state" href="#">Remove NAME</a></p>


                <!-- <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <th class="govuk-table__header">App name</th>
                        <th class="govuk-table__header"></th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Hello World</td>
                        <td class="govuk-table__cell"><a href="../team.html">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Acme EHC application</td>
                        <td class="govuk-table__cell"><a href="../team.html">Change</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Border check point app</td>
                        <td class="govuk-table__cell"><a href="../team.html">Change</a></td>
                        </tr>
                    </tbody>
                </table> -->
                
            
        </div>
    </div>

{% endblock %}
