{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Team" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
  
            <!-- {% include "includes/defra-section-nav.html" %} -->

            <nav class="app-subnav" aria-label="Sub navigation">
                <ul class="app-subnav__list">
                    <li class="app-subnav__list-item"><a class="app-subnav__link govuk-link--no-visited-state" href="/account/">Overview</a></li>
                    <li class="app-subnav__list-item"><a class="app-subnav__link govuk-link--no-visited-state" href="/account/applications/">Applications</a></li>
                    <li class="app-subnav__list-item app-subnav__list-item--selected"><a class="app-subnav__link govuk-link--no-visited-state" href="/account/manage-team/">Team</a></li>
                </ul>
            </nav>

        </div>
        <div class="govuk-grid-column-two-thirds">
                
                {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

                <p>Content relating to what this is etc.</p>
        
                <a href="/account/manage-team/add/name" class="govuk-button govuk-button--primary">Add new team member</a>

        </div>
        <div class="govuk-grid-column-full">
                 
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <th class="govuk-table__header ">Name</th>       
                        <th class="govuk-table__header govuk-!-width-one-third">Email</th>
                        <th class="govuk-table__header govuk-!-width-one-third">Applications</th>                        
                        <th class="govuk-table__header govuk-table__header--numeric"></th>                        
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="details">John Doe</a></td>
                            <td class="govuk-table__cell">john.doe@acme-foods.com</td>                        
                            <td class="govuk-table__cell">Helloworld</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Delete</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Sarah Jane</td>
                            <td class="govuk-table__cell">sarah.jane@acme-foods.com</td>                        
                            <td class="govuk-table__cell">Helloworld<br>Border Checkpoint</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Delete</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Fahid Ben</td>
                            <td class="govuk-table__cell">fahid.ben@acme-foods.com</td>                        
                            <td class="govuk-table__cell">Helloworld</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            
            
        </div>
    </div>

{% endblock %}
