{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Members" %}
{% set pageSection = "Team" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
  
            {% include "includes/defra-section-nav.html" %}

            <div class="govuk-grid-column-three-quarters">
                
                {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        
                <a href="add-team-member" class="govuk-button govuk-button--primary">Add team member</a>
                 
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <th class="govuk-table__header">Name</th>
                        <th class="govuk-table__header">Email</th>
                        <th class="govuk-table__header"></th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">John Doe</td>
                        <td class="govuk-table__cell">john.doe@acme-foods.com</td>
                        <td class="govuk-table__cell" style="text-align: right;"><a href="details">Details</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Sarah Jane</td>
                        <td class="govuk-table__cell">sarah.jane@acme-foods.com</td>
                        <td class="govuk-table__cell" style="text-align: right;"><a href="details">Details</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Fahid Ben</td>
                        <td class="govuk-table__cell">fahid.ben@acme-foods.com</td>
                        <td class="govuk-table__cell" style="text-align: right;"><a href="details">Details</a></td>
                        </tr>
                    </tbody>
                </table>
            
            </div>
        </div>
    </div>

{% endblock %}
