{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}
{% if data['remove'] == "cred" %}
    {% set pageHeading = 'The client credential has been removed from the application ' + application.name + '' %}
{% else %}
    {% set pageHeading = '' + application.name + ' has been deleted from your applications' %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">        
        <div class="govuk-grid-column-two-thirds">

                {{ govukPanel({
                    titleText: pageHeading,                    
                    classes: "govuk-!-margin-bottom-7"
                }) }}                

                <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/account/applications/{{ id }}">Return to your application</a></p>
                
                

            </div>
        </div>
    </div>

{% endblock %}
