{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = 'Confirm you want to delete this client secret credential?' %}
{% set pageSection = "Applications" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <div class="govuk-inset-text">
                ********-****-****-****-********d079
            </div>
            <p>This will remove the client secret credential from the sandbox environment of your application {{ application.name }} and you will no longer be able to use it.</p>            

            <form action="/account/applications/{{ id }}/delete/confirmation" method="post" class="form">                                
                
                <div class="govuk-button-group">
                    
                    <div class="govuk-visually-hidden">
                    <!-- Remove the client secret -->
                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                        items: [
                            { value: "", text: "SecondClientSecret" }
                        ]
                    } | decorateFormAttributes(['applications', id, 'secondClientSecret']) ) }}
                    </div>
                    

                    {{ govukButton({
                      text: "Confirm and continue"
                    }) }}
                  
                    <a class="govuk-link" href="/account/applications/">Cancel and return to application</a>
                  </div>
                
            </form>

        </div>
    </div>
  
{% endblock %}
