{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = 'Confirm you want to delete this redirect?' %}
{% set pageSection = "Applications" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <div class="govuk-inset-text">
                https://www.fetch.example.com
            </div>
            <p>This will remove the redirect URI from {{ application.name }} and you will no longer be able to send the user back to your application after successful (or unsuccessful) authorisation.</p>            

            <form action="/account/applications/{{ id }}/delete/confirmation" method="post" class="form">                                
                
                <div class="govuk-button-group">
                
                
                    {{ govukButton({
                      text: "Confirm and continue"
                    }) }}
                  
                    <a class="govuk-link" href="/account/applications/">Cancel and return to applications</a>
                  </div>
                
            </form>

        </div>
    </div>
  
{% endblock %}
