{% extends "layout.html" %}

{% block pageTitle %}
Version 3 Summary – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Trade: E-certs</span>
      Version 3.2
    </h1>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What changed
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Deferred questions</li>
          <li>Check your answers 1 row per question</li>
          <li>Button update to all pages from the task list (no change to commodity page</li>
        </ul>
      </div>
    </details>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Pages</h2>
    <h3 class="govuk-heading-s">New user</h3>
    <ul class="govuk-list govuk-list--bullet">

      <li><a href="../verify/gov-sign-in?loginReturnURL=/beta/v3-1/dashboard-no-applications">From login - new user</a></li>
      <li><a href="dashboard-no-applications">Dashboard new user</a></li>
    </ul>
    <h3 class="govuk-heading-s">Existing user</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../verify/gov-sign-in?loginReturnURL=/beta/v3-1/dashboard">From login - existing user</a></li>
      <li><a href="dashboard">Dashboard existing user</a></li>
    </ul>

    <h3 class="govuk-heading-s">Application</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="application/start">Start new application</a></li>
      <li><a href="application/create-reference">Reference number</a></li>
      <li><a href="application/export/select-certificates?displayMax=10">Select certificate</a></li>
    </ul>

    <h3 class="govuk-heading-s">Task list</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="application/task-list">Task list</a></li>
      <li><a href="application/task-list">Task list - complete</a></li>
    </ul>
     <h3 class="govuk-heading-s">Check your answers</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="application/check-your-answers">Check your answers complete</a></li>
      <li><a href="application/check-your-answers">Check your answers with skipped fields</a></li>
    </ul>

  </div>
  <div class="govuk-grid-column-one-thirds">
    <!--
    <h3 class="govuk-heading-m">Use this data</h3>
    <ul class="govuk-list">
      <li><strong>Estbalishment for commodities:</strong> <br>Dovecote Park Ltd (approval number 2045)</li>

    </ul>
    -->
  </div>
</div>

{% endblock %}
