{% extends "layout.html" %}

{% block pageTitle %}
Version 3.5 – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Privacy policy</span>
      Under construction
    </h1>


    <p>Come back much later</p>
    <p>Kind regards</p>

    <p><img src="/public/images/signature.png" width="200px"></p>
    <p>Declan Kavanagh MBE</p>
  </div>
</div>

{% endblock %}
