{% extends "layout.html" %}
{% block pageTitle %}
Add closed containers number – {{serviceName}} – GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style type="text/css">
  .app-add-another__remove-button {
    margin-bottom: 0;
        margin-left: 5px;
}



.app-add-another__item {

    position: relative;
}
</style>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.hasError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
    }
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="containerNumbers1">The container number must be 3 letters followed by a U,J,Z or R then followed by 6 numbers</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}
    <h1 class="govuk-heading-xl">Add closed containers numbers</h1>
    <p>Enter the closed containers for this shipment. You do not need to enter the transport registration number on this page. </p>
     <p>You will be able to enter more than one continer if needed.</p>
    <form id="form" method="POST">
      <div id="app-add-another" >
        <fieldset class="govuk-fieldset app-add-another__item" id="app-add-another--container"aria-describedby="" data-count="1">

          <div class="govuk-form-group {% if query.hasError %}govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="containerNumbers1">
              Container number <span class="app-add-another__title-number" style="display:none;">1</span>
            </label>
            <div class="govuk-hint">This is 4 letters followed by 7 numbers. For example, BICU123456 7.</div>
            {% if query.hasError %}
            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> The container number must be 3 letters followed by a U,J,Z or R then followed by 7 numbers
            </p>
            {% endif %}
            <input class="govuk-input govuk-input--width-10 {% if query.hasError %}govuk-input--error{% endif %}" type="text" id="containerNumbers1" name="containerNumbers" aria-described-by="containerNumbersHint1" value="{% if query.change %}{{data.containerSealNumbers[query.id].container}}{% endif %}">
             <button type="button" style="display:none;" class="govuk-button govuk-button--secondary app-add-another__remove-button" data-target="app-add-another--container">Remove</button>
          </div><!-- form group-->
         
        </fieldset>
        </div> <!-- data-module="app-add-another" -->
   <!--      <button class="govuk-button govuk-button--secondary app-add-another__add-button govuk-!-margin-bottom-8" data-module="govuk-button" data-count="1" data-target="app-add-another" type="button">
            Add another container number
        </button> -->

        <div class="govuk-button-group">
          <button class="govuk-button" data-v-563d6e59="">Add container number</button>
        </div>
      
    </form>
  </div>
</div>
{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
    var added=0;
    var addedItems = [];
    var template = $(".app-add-another__item").prop("outerHTML")

    $('.app-add-another__add-button').on("click", function(e){
     e.preventDefault()

        var count = parseInt($(this).attr("data-count"))
        console.log(count)
        var targetID = template
        var section = $(template).clone(true, true)
        var holderID =  $(this).attr('data-target') 

        var blockID = $(section).attr("id") + (count+1)
        console.log(targetID)
        var deleteButton = $(section).find("button")
        $(deleteButton).attr("data-target",blockID)

        // var formID = section.find("input").attr("id")+count
        $(section).attr("id", blockID).addClass("govuk-!-margin-top-2")
        $(section).find('input').val('')
        // incase it is a select
        $(section).find('select').prop("selectedIndex", 0);
        $("#" + holderID).append(section)
        $(section).find(".app-add-another__title-number").text(count + 1)
        displayButtons(count + 1)


        $(this).attr("data-count", count + 1)

      })

    $(document).on('click', '.app-add-another__remove-button', function(e) {
        e.preventDefault();
        var deleteTarget = $(this).attr('data-target')
        $("#" + deleteTarget).remove()
        var c = parseInt($(".app-add-another__add-button").attr("data-count"))-1
        $(".app-add-another__add-button").attr("data-count",c)

        displayButtons(c)
    });

    function displayButtons(c){
      if(c > 1){
        $(".app-add-another__remove-button").show()
        $(".app-add-another__title-number").show()
      }else{
        $(".app-add-another__remove-button").hide()
        $(".app-add-another__title-number").hide()
        $(".app-add-another__item .app-add-another__title-number").text(1)
      }
    }

    // $('.app-add-another__add-button').on("click", function(e){

    //   e.preventDefault();
      
      
    //   newItem = $("div[data-module='app-add-another']").append(template)
    //   let count = $(".app-add-another__item").length+1
    //   alert(count+1)
    //   $(newItem).find(".app-add-another__remove-button").show()
    //   $(newItem).find(".app-add-another__title-number").text(count)
     
    // })
    // function init(){
    //   template = $(".app-add-another__item").html()
    // }
    // function addItems(){
    //   var c=1
    //   $(".app-add-another__item").each(function() {
    //    $(this).attr('data-id',c)
    //    c+=1

    //   })

    // }
    // init()
})
</script>
{% endblock%}