{% extends "layout.html" %}

{% block pageTitle %}
Unified dashboard – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Select activity with correct chapter and classification</h1>
      <ul class="govuk-list">
        <li><a href="https://eaflood.atlassian.net/wiki/spaces/TRADE/pages/4349100439/Select+activity">Design spec</a></li>
        <li><a href="https://eaflood.atlassian.net/wiki/spaces/TRADE/pages/4349100439/Select+activity">User Story 170382</a>:Exporter can view and select activity with correct chapter and classification association</li>
      </ul>

      <h2 class="govuk-heading-m">Pages</h2>
      <ul class="govuk-list">
        <li><a href="commodity">Commodity page with selected cold store</a></li>
        <li><a href="select-activity-with-classification">Activity page - with classifications</a></li>
         <li><a href="select-activity-with-classification?hasError=yes">Activity page - with error</a></li>
      </ul>

  </div>
</div>
{% endblock %}
