{% extends "layout.html" %}
{% set showBackLink = false %}

{% block page_title %}
    Page listings - GOV.UK
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Prototype work</span>
                Page listings
            </h1>

            <p class="govuk-body-s">Last updated 25 May 2022</p>
            <p><a href="data">Data been stored as part of current session</a></p>

            <!-- ////////////////////////////////// -->

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Section header</h2>
            <p>Accompanying information.</p>                    
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#" >Link to the page</a></li>
            </ul>
            
    </div>
</div>

{% endblock %}
