{% extends "layout.html" %}
{% set showBackLink = false %}

{% block page_title %}
    Page listings - GOV.UK
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Prototype work</span>
                Page listings
            </h1>

            <p class="govuk-body-s">Last updated 25 May 2022</p>
            <p><a href="data">Data been stored as part of current session</a></p>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Section header</h2>
            <p>Accompanying information.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#" >Link to the page</a></li>
            </ul>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Intro pages</h2>
            <p>This is the service info pages and step by step.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/homepage">Service start page</a></li>
                <li><a href="/homepage-2-buttons">Start page with separate buttons</a></li>
                <li><a href="/api-step-by-step/introduction">Developer portal step-by-step (documentation)</a></li>
                <li><a href="/getting-started">Getting started</a></li>
                <li><a href="/api-step-by-step/sidebar-version/introduction">Alternate version with sidebar step-by-step</a></li>
                <li><a href="/sign-in/">Sign-in</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a href="/forgot-password/">Reset your password</a></li>                    
                    <li><a href="/forgot-password/forgot-password-check-email">Password reset email sent</a></li>

                    
                    <li><a href="/forgot-password/2fa-sign-in">Enter 2 factor authentication code</a></li>                    
                    <li><a href="/forgot-password/sign-in-happy">Sign in with your existing account</a></li>                    
                </ul>
            </ul>
            
                        
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Register an account</h2>
            <p>All pages relating to creating an account</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/register/">Create an account (register)</a></li>
                <li><a href="/register/email-verify">Enter code to confirm your email address</a></li>
                <li><a href="/register/details">Details</a></li>
                <li><a href="/register/2fa">Add 2-step verification</a></li>
                <li><a href="/register/2fa-verify">Set up 2-step verification</a></li>
                <li><a href="/register/2fa-enter-code">Enter your access code</a></li>
                <li><a href="/register/2fa-success">You have successfully set up 2 step verification</a></li>                                
            </ul>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Account</h2>
            <p>All pages relating to creating an account</p>

            <h3 class="govuk-heading-m">Manage applications</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/account/manage-applications/">View all applications</a></li>
                <li><a href="/account/manage-applications/create-sandbox-app">Create sandbox application</a></li>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/account/manage-applications/create-sandbox-app-apis">Which APIs do you want to use?</a></li>
                    <li><a href="/account/manage-applications/create-sandbox-app-uris">What are your redirect URIs?</a></li>
                    <li><a href="/account/manage-applications/create-sandbox-app-add-team-members">Do you want to add another team member to your application?</a></li>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="/account/manage-team/add-team-members">Invite team members</a></li>
                        <li><a href="/account/manage-team/invite-team-members">Invite a team members</a></li>
                        <li><a href="/account/manage-team/invite-another-team-member">Do you want to add another team member?</a></li>
                    </ul>
                    <li><a href="/account/add-team-members">Review team members</a></li>                                        
                    <li><a href="/account/manage-applications/create-sandbox-app-check-your-answers">Check your answers before creating your sandbox application</a></li>
                    <li><a href="/account/manage-applications/create-sandbox-app-application-created">Sandbox application created</a></li>
                </ul>
            </ul>
                
                
                
                <!-- <li><a href="/account/delete/create-sandbox-app-invite-team">Add team members</a></li>
                <li><a href="/account/delete/create-sandbox-app-review-team">Team members</a></li>                 -->
                
            </ul>

            <h3 class="govuk-heading-m">Manage team</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/account/manage-team/">Manage team members</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a href="/account/manage-team/add-team-member">Add team member</a></li>                    
                </ul>
                <li><a href="/account/manage-team/details">Details</a></li>                
            </ul>

            <h3 class="govuk-heading-m">Manage my account</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/account/manage-account/manage-profile">Manage profile</a></li>
                <li><a href="/account/manage-account/notification-preferences">Email and notification preferences</a></li>
                <li><a href="/account/manage-account/change-password">Change password</a></li>
                <li><a href="/account/manage-account/account-security">Account security</a></li>
            </ul>
            

            

            
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">APIs</h2>
            <p>This is...</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/apis/explore-apis">Explore APIs</a></li>
                <li><a href="/apis/api-apply-for-an-ehc">Apply for an Export Health Certificate</a></li>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/apis/template-api-with-masthead">Benefits of using this API</a></li>
                </ul>
                <li><a href="/apis/api-fish-exports-service-masthead">Create a catch certificate API</a></li>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/apis/fes/endpoints">API end points</a></li>
                    <li><a href="/apis/fes/schemas">API schemas</a></li>                    
                    <li><a href="/apis/fes/payload-definition">Payload definitions</a></li>
                    <li><a href="/apis/fes/error-codes">Standard error codes</a></li>                    
                </ul>


                <li><a href="/apis/api-apply-for-an-ehc-masthead">Apply for an Export Health Certificate</a></li>
                <ul class="govuk-list govuk-list--bullet">
                <li><a href="/apis/ehc/api-operations">API</a></li>
                <li><a href="/apis/ehc/api-reference-data">Reference data API</a></li>
                <li><a href="/apis/ehc/available-ehcs">Available EHCs</a></li>
                <li><a href="/apis/ehc/endpoints">API end points</a></li>
                <li><a href="/apis/ehc/error-codes">Standard error codes</a></li>
                <li><a href="/apis/ehc/payload-definition">Payload definitions</a></li>
                <li><a href="/apis/ehc/schemas">API schemas</a></li>
                </ul>

                
                
            </ul>


            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Application access</h2>
            <p>This is ...</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/application-permissions/terms-and-conditions">Application access</a></li>
                <li><a href="/application-permissions/permissions-singleline">Application permissions</a></li>
                <li><a href="/application-permissions/permissions-conditional">Application permissions (conditional)</a></li>
                <li><a href="/application-permissions/review">Review</a></li>
                <li><a href="/account/view-apps">View all applications</a></li>
                <li><a href="/account/helloworld">Hello world example app</a></li>
                <li><a href="/account/create-sandbox-app">Create a sandbox application</a></li>
                <li>Manage team (coming soon)</li>
            </ul>
            
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Documentation</h2>
            <p>This is ...</p>
            <ul class="govuk-list govuk-list--bullet">            
                <li><a href="/documentation/terms-of-use">Terms of use</a></li>
                <li><a href="/documentation/sample-project">Sample project</a></li>
                <li><a href="/documentation/reference-guide">Reference guide</a></li>
                <li><a href="/documentation/introduction">Introduction</a></li>
                <li><a href="/documentation/authorisation">Authorisation</a></li>
                <li><a href="/documentation/application-naming-guidelines">Application naming guidelines</a></li>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/documentation/step-by-step-version/terms-of-use">Introduction</a></li>
                </ul>
            </ul>
      
      
      
      
            
    </div>
</div>

{% endblock %}
