{% extends "layout.html" %}
{% set showBackLink = false %}

{% block page_title %}
    Page listings - GOV.UK
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Prototype work</span>
                Page listings
            </h1>

            <p class="govuk-body-s">Last updated 25 May 2022</p>
            <p><a href="data">Data been stored as part of current session</a></p>

            <!-- ////////////////////////////////// -->

            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Section header</h2>
            <p>Accompanying information.</p>                    
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#" >Link to the page</a></li>
            </ul>



            <h2 class="govuk-heading-l">Items in this prototype</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="homepage">Homepage redesign</a>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="homepage-2-buttons">Alternative (original) version with separate register and login buttons</a></li>
          </ul>
        </li>
        <li><a href="/api-step-by-step/introduction">Developer portal step-by-step (documentation)</a>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/api-step-by-step/sidebar-version/introduction">Alternate version with sidebar step-by-step</a></li>
          </ul>
        </li>
        <li><a href="/register/email">Create an account (register)</a></li>
        <li><a href="sign-in">Sign-in</a></li>
        <li><a href="forgot-password">Forgotten password</a></li>
        <li><a href="/apis/explore-apis">Explore APIs</a>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/apis/api-apply-for-an-ehc">API details</a></li>
            <li><a href="/apis/api-apply-for-an-ehc-masthead">API details - with Masthead</a></li>
          </ul>
        </li>
        <li><a href="/application-permissions/terms-and-conditions">Application permission journey</a>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/application-permissions/permissions-singleline">Permissions on single line</a></li>
            <li><a href="/application-permissions/permissions-conditional">Permissions revealed conditionally</a></li>
            <li><a href="/application-permissions/review">Review choices page</a></li>
          </ul>
        </li>
        <li>Account (logged in) section:
          <ul>
            <li><a href="/account/view-apps">View all apps (homepage)</a></li>
            <li><a href="/account/helloworld">Hello world example app</a></li>
            <li><a href="/account/create-sandbox-app">Create a sandbox app journey</a></li>
            <li>Manage team (coming soon)</li>
          </ul>
          </li>
      </ul>
      
      
      
            
    </div>
</div>

{% endblock %}
