{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Preload type of user data" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}

        <p class="govuk-!-padding-bottom-3">Preload the prototype with user data.</p>

        {{ govukCheckboxes({
            fieldset: {
                legend: { text: "Point of registration", isPageHeading: false, classes: "govuk-visually-hidden" }
            },
            items: [
                { value: "ProdCred", text: "During production credentials request" }                
            ]
          } | decorateFormAttributes('serviceRegistration')) }}

    </div>
</div>
{% endblock %}




