{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Preload type of user data" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}

        <p class="govuk-!-padding-bottom-3">Preload the prototype with user data to illustrate scenarios.</p>

        <form class="form" action="/account/production-credentials/" method="post" class="">

        
        {{ govukCheckboxes({
            fieldset: {
                legend: { text: "Change point of registration", isPageHeading: false, classes: "govuk-fieldset__legend--s" }
            },
            items: [
                { value: "ProdCred", text: "During production credentials request" }                
            ]
          } | decorateFormAttributes('serviceRegistration')) }}


          {{ govukButton({
            text: "Add preloaded information and continue"
        }) }}

        </form>

    </div>
</div>
{% endblock %}




