{% extends "layout.html" %}
{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">EHC8368</span>
    <h1 class="govuk-heading-xl">Add commodity data</h1>
    <form method="post">
      <input type="hidden" name="ehc" value="EHC8368">
      <input type="hidden" name="commodity_id" value="0">
      <input type="hidden" name="commodity_code" value="020230">
      <input type="hidden" name="commodity_description" value=" Boneless">
      <input type="hidden" name="new" value="yes">
      <div class="commodity-pane--body open " style="" id="commodity-details-panel">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="identification-questions">
              <section id="intro">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Commodity</h2>
                <p><span class="govuk-tag">020230</span> Boneless
                </p>
                <p>
                </p>
              </section>
              <section id="questions">
                <!-- check to see if this field is incomplete -->
                <div class="govuk-form-group"><label class="govuk-label" for="productDescription">Product description &nbsp;(optional) </label>
                  <p class="govuk-hint" id="productDescription-hint">If your consignment contains multiple commodities, a description may help you or the certifier to identify this product. It will not appear on your final application.</p>
                  <input class="govuk-input" type="text" id="productDescription" name="productDescription" value="" aria-describedby="productDescription-hint">
                </div>
                <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
                <!-- get the org info for later -->
                <label class="govuk-label" for="coldStore" id="coldStore">
                  <!-- change to the plant / center label. To keep old versions update the label in each version. -->
                  Cold store (optional)
                </label>
                <!-- Incomplete -->
                <div class="govuk-form-group app-find-establishment-card ">
                  <!--<p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="../find/results?searchLabel=Cold store&searchReturnURL=../export/commodity&searchID=coldStore&canSearchApprovalNumber=yes">Select a cold store</a></p>-->
                  <p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&amp;canSearchApprovalNumber=yes&amp;certId=0&amp;addedCommoditiesId=0&amp;identificationsId=0&amp;establishmentType=coldStore&amp;hint=">Select a cold store</a></p>
                </div>
                <!-- check to see if this field is incomplete -->
                <div class="govuk-form-group"><label class="govuk-label" for="IDENTIFICATION_MARK-7-11711-020120">Identification mark
                    <!---->
                  </label>
                  <!---->
                  <!---->
                  <!----><input class="govuk-input" type="text" name="identificationMark" id="IDENTIFICATION_MARK-7-11711-020120" value="">
                </div>
                <!-- check to see if this field is incomplete -->
                <div class="govuk-form-group">
                  <label class="govuk-label" for="packageCount-units">Number of packages
                  </label>
                  <p class="govuk-hint" id="packageCount-units-hint">For example, if your consignment contains 5 boxes, enter 5.</p>
                  <input class="govuk-input js-question govuk-!-width-one-third" type="number" data-type="quantity" name="packageCount" step="1" min="0" max="9999999" id="packageCount-4-10410-31010000" data-v-4e8f37a8="" data-mask="########" data-mask-inited="true" data-mask-raw-value="">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="packageCount-4-10410-31010000">Type of packaging
                  </label>
                  <p class="govuk-hint" id="packageCount-units-hint">This is usually the outer packaging you use to ship the consignment. For example, box.</p>
                  <select class="govuk-select" id="packageCount-4-10410-31010000-units" data-v-4e8f37a8="" name="packageCount_UNIT">
                    <option disabled="" value="" data-v-4e8f37a8="" selected="">Select a unit</option>
                    <option value="Bag">Bag</option>
                    <option value="Bale, compressed">Bale, compressed</option>
                    <option value="Barrel, wooden, bung type">Barrel, wooden, bung type</option>
                    <option value="Barrel, wooden, removable head">Barrel, wooden, removable head</option>
                    <option value="Box">Box</option>
                    <option value="Box, wooden, natural wood, ordinary">Box, wooden, natural wood, ordinary</option>
                    <option value="Box, wooden, natural wood, with sift proof walls">Box, wooden, natural wood,
                      with sift proof walls</option>
                    <option value="Bulk, solid, granular particles ('grains')">Bulk, solid, granular particles ("grains")
                    </option>
                    <option value="Can, rectangular">Can, rectangular</option>
                    <option value="Canister">Canister</option>
                    <option value="Carton">Carton</option>
                    <option value="Case">Case</option>
                    <option value="Case, with pallet base, wooden">Case, with pallet base, wooden</option>
                    <option value="Cask">Cask</option>
                    <option value="Coffer">Coffer</option>
                    <option value="Container, not otherwise specified as transport equipment">Container,
                      not otherwise specified as transport equipment</option>
                    <option value="Crate">Crate</option>
                    <option value="Crate, wooden">Crate, wooden</option>
                    <option value="Drum">Drum</option>
                    <option value="Receptacle, glass">Receptacle, glass</option>
                    <option value="Jar">Jar</option>
                    <option value="Logs, in bundle/bunch/truss">Logs, in bundle/bunch/truss</option>
                    <option value="Lug">Lug</option>
                    <option value="Luggage">Luggage</option>
                    <option value="Package">Package</option>
                    <option value="Package, display, wooden">Package, display, wooden</option>
                    <option value="Pail">Pail</option>
                    <option value="Pallet">Pallet</option>
                    <option value="Bag, plastics film">Bag, plastics film</option>
                    <option value="Box, plastic, expanded">Box, plastic, expanded</option>
                    <option value="Punnet">Punnet</option>
                    <option value="Rednet">Rednet</option>
                    <option value="Tank, rectangula">Tank, rectangular</option>
                    <option value="Bag, tote">Bag, tote</option>
                    <option value="Tray pack">Tray pack</option>
                    <option value="Tube">Tube</option>
                    <option value="Vial">Vial</option>
                  </select>
                </div>
              </section>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="netWeight-3-10410-31010000">Net weight</label>
              <div class="govuk-input__wrapper select-input-wrapper" data-v-4e8f37a8="">
                <input class="js-question govuk-input" type="number" data-type="quantity" name="netWeight" step="0.0001" min="0" max="9999999" id="netWeight-3-10410-31010000" value="">
                <div class="govuk-input__suffix suffix__action" data-v-4e8f37a8="">
                  <select class="govuk-select" id="netWeight-3-10410-31010000-units" name="netWeight_UNIT" data-v-4e8f37a8="">
                    <option disabled="" value="" data-v-4e8f37a8="" selected="">Select a unit</option>
                    <option value="gram">gram</option>
                    <option value="kilogram">kilogram</option>
                    <option value="kilotonne">kilotonne</option>
                    <option value="tonne (metric ton)">tonne (metric ton)</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <!-- get the org info for later -->
            <label class="govuk-label" for="slaughterHouse" id="slaughterHouse">
              <!-- change to the plant / center label. To keep old versions update the label in each version. -->
              Slaughterhouse (optional)
            </label>
            <!-- Incomplete -->
            <div class="govuk-form-group app-find-establishment-card ">
              <!--<p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="../find/results?searchLabel=Slaughterhouse&searchReturnURL=../export/commodity&searchID=slaughterHouse&canSearchApprovalNumber=yes">Select a slaughterhouse</a></p>-->
              <p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&amp;canSearchApprovalNumber=yes&amp;certId=0&amp;addedCommoditiesId=0&amp;identificationsId=0&amp;establishmentType=slaughterHouse&amp;hint=">Select a slaughterhouse</a></p>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="natureOfCommodity">Treatment type</label>
              <select class="govuk-select" id="treatent-type" name="treatmentType">
                <option disabled="" value="" selected="">Select a treatment type</option>
                <option disabled="" value=""></option>
                <option value="Bone in">Bone in</option>
                <option value="Deboned">Deboned</option>
                <option value="Matured">Matured</option>
              </select>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="natureOfCommodity">Nature of commodity
              </label>
              <select class="govuk-select" id="natureOfCommodity" name="natureOfCommodity">
                <option disabled="" value="" selected="">Select a nature of commodity</option>
                <option value="Carcass_side">Carcass_side</option>
                <option value="Carcass_whole">Carcass_whole</option>
                <option value="Carcass_quarters">Carcass_quarters</option>
                <option value="Cuts">Cuts</option>
                ]
              </select>
            </div>
            <!-- check to see if this field is incomplete -->
            <!-- MULTIPLES -->
            <!-- if change set the initial saved value -->
            <!-- This is a string -->
            <!-- This is an array -->
            <div class="govuk-form-group app-repeadable-holder" id="repeatable-batch-holder">
              <label class="govuk-label" for="BATCH_NUMBER-8-11930-151790">Batch number
              </label>
              <div class="app-repeatable-section" id="repeatable-batch">
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-!-width-one-half" type="text" data-type="multi" name="batchNumber" value="">
                  <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">
                    <button type="button" data-count="1" data-target="repeatable-batch" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- if this is change or copy and there are multiple rows -->
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">Final consumer
                  <!---->
                  <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-1" name="finalConsumer" type="radio" value="yes"><label class="govuk-label govuk-radios__label" for="FINAL_CONSUMER-9-11930-151790-1"> Yes </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-2" name="finalConsumer" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="FINAL_CONSUMER-9-11930-151790-2"> No </label>
                    </div>
                  </div>
                </legend>
              </fieldset>
            </div>
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <!-- get the org info for later -->
            <label class="govuk-label" for="manufacturingPlant" id="manufacturingPlant">
              <!-- change to the plant / center label. To keep old versions update the label in each version. -->
              Manufacturing plant
            </label>
            <!-- Incomplete -->
            <div class="govuk-form-group app-find-establishment-card ">
              <!--<p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="../find/results?searchLabel=Manufacturing plant&searchReturnURL=../export/commodity&searchID=manufacturingPlant&canSearchApprovalNumber=yes">Select a manufacturing plant</a></p>-->
              <p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&amp;canSearchApprovalNumber=yes&amp;certId=0&amp;addedCommoditiesId=0&amp;identificationsId=0&amp;establishmentType=manufacturingPlant&amp;hint=">Select a manufacturing plant</a></p>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group app-repeadable-holder" id="repeatable-collection-date-holder">
              <label class="govuk-label" for="COLLECTION_PRODUCTION_DATE-3-11711-020120">Date of collection or production </label>
              <p class="govuk-hint" id="collection-date-hint">If the commodity is a composite product, enter the earliest date that it was collected. Otherwise, enter the date that it was produced.</p>
              <div class="app-repeatable-section govuk-!-width-one-third" id="repeatable-collection-date">
                <div class="govuk-input__wrapper ">
                  <input name="dateOfCollectionProduction" class="govuk-input" type="date" id="COLLECTION_PRODUCTION_DATE-3-11711-020120" value="" aria-described-by="collection-date-hint">
                  <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">
                    <button type="button" data-count="1" data-target="repeatable-collection-date" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <!-- get the org info for later -->
            <label class="govuk-label" for="plantEstablishmentCentreActivity" id="plantEstablishmentCentreActivity">
              <!-- change to the plant / center label. To keep old versions update the label in each version. -->
              Add another establishment
            </label>
            <p class="govuk-hint">
              This is any relevant establishment and activity that you have not already entered for this commodity. For example, a processing plant or meat preparation establishment.
            </p>
            <!-- Incomplete -->
            <div class="govuk-form-group app-find-establishment-card ">
              <!--<p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="../find/results?searchLabel=Add another establishment&searchReturnURL=../export/commodity&searchID=plantEstablishmentCentreActivity&canSearchApprovalNumber=yes">Select a add another establishment</a></p>-->
              <p class="govuk-!-margin-bottom-0"><a class="find-establishment-link" href="./find-another-manufacturing-plant">Select another establishment</a></p>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group app-repeadable-holder " id="repeatable-freezing-date-holder">
              <label class="govuk-label" for="FREEZING_DATE-6-11711-020120">Date of freezing &nbsp;(optional for <abbr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</abbr>)</label>
              <div class="app-repeatable-section govuk-!-width-one-third" id="repeatable-freezing-date">
                <div class="govuk-input__wrapper ">
                  <input name="dateOfFreezing" class="govuk-input" type="date" id="FREEZING_DATE-6-11711-020120">
                  <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">
                    <button type="button" data-count="1" data-target="repeatable-freezing-date" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- check to see if this field is incomplete -->
            <!-- This is dynamicaly generated by the array in /app/data/certs.json -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="TAXON">Species </label>
              <select class="govuk-select govuk-!-width-two-thirds" id="TAXON" name="species">
                <option disabled="" value="" selected="">Select a taxonomy</option>
                <option value="Bos taurus">Bos taurus</option>
                <option value="Bison bison">Bison bison</option>
                <option value="Bubalus bubalis">Bubalus bubalis</option>
                ]
              </select>
              <input type="hidden" value="" name="defaultValue" id="defaultValue">
            </div>
            <!---->
            <div class="govuk-!-margin-bottom-6 govuk-form-group " id="skip-question-container">
              <h3 class="govuk-heading-m">You can skip some sections for this commodity</h3>
              <p class="govuk-body govuk-!-margin-bottom-0">If you're unable to enter some information, you can leave the section blank and submit the application to your certifier to complete.</p>
              <div class="govuk-checkboxes__item govuk-!-margin-top-4" id="skip-question-checkbox">
                <input class="govuk-checkboxes__input" id="skip-question" name="skip-question" type="checkbox" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="skip-question">
                  I've entered as much information as I can
                </label>
              </div>
            </div>
            <!-- reset change values -->
            <input type="hidden" name="change" value="">
            <input type="hidden" name="changeID" value="">
            <input type="hidden" name="commodityListID" value="0">
            <section id="actions">
              <button data-module="govuk-button" type="submit" name="submit-button" class="govuk-button m-r-5" id="addIdentification">Add commodity</button>
            </section>
          </div>
          <!---->
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}