{% extends "layout.html" %}
{% block pageTitle %}
Trasnport v1 redesign – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
{% set commodityTitle = "commodities"%}
{% if (data.addedCommodities | length) == 1%}
{% set commodityTitle = "commodity"%}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-xl">
            Transport v2
          </h1>
          <!-- <p>This is a simplified version with just an error on submiting a gross weight under the total net weight, on both the weight page and the check your answers. <br>
           <a href="https://dev.azure.com/defragovuk/DEFRA-EEHC/_workitems/edit/167963">UX Ticket</a> 
          </p> -->
 
          <h2 class="govuk-heading-m">Pages</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="task-list">From task list</a></li>
            <li><a href="check-your-answers">From Check your answers</a></li>
          </ul>
          <h2 class="govuk-heading-m">Conditions</h2>
          <p>Conditions is now its seprate page</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="transport/conditions">Conditions</a></li>
            <li><a href="transport/conditions?hasError=yes">Conditions with error (exporter)</a></li>
            <li><a href="transport/conditions-certifier?hasError=yes">Conditions with error (Certifier)</a> - Only for error message. This page would appear inside the main UI on the certifier page as a parital<br></li>
            <li><strong>IF conditions page is built first.</strong> The current transport methods page would remain but remove the "conditions" section<br><a href="old-transport-methods-without-conditions">Current transport methods page without the conditions section</a></li>
          </ul>
          <p></p>
               <h2 class="govuk-heading-m">Transport methods</h2>
               <p>New flow. This is now an add to list.</p>
          <ul class="govuk-list govuk-list--bullet">
       
            <li><a href=/clear-data?url=/stories/transport/v1/transport/added-transport?return=task-list>Transport method: Start and when 0 added transport methods</a></li>
             <li><a href=/clear-data?url=/stories/transport/v1/transport/added-transport?hasError=yes&return=task-list>Transport method: 0 added - with not skipped error </a></li>
              <li><a href=/clear-data?url=/stories/transport/v1/transport/select-transport?return=task-list>Select type of transport </a></li>
              <li><a href=/clear-data?url=/stories/transport/v1/transport/select-transport?hasError=yes&return=task-list>Select type of transport - with error </a></li>

            
          </ul>
            <h3 class="govuk-heading-s">Transport details</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="./transport/transport-details?transportType=roadVehicle">Road vehicle</a></li>
              <li><a href="./transport/transport-details?transportType=plane">Plane</a></li>
              <li><a href="./transport/transport-details?transportType=train">Train</a></li>
              <li><a href="./transport/transport-details?transportType=Ship">Ship or boat</a> This has been updated from Vessel</li><br>
           <li><a href="./transport/transport-details?hasError=yes&transportType=Ship">Transport details example with error (EXPORTER)</a></li>
          </ul>
  </div>
</div>
{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
 
});
</script>
{% endblock%}