{% extends "layout.html" %}

{% block pageTitle %}
Place of origin – {{super()}}
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<style>
  .find-establishment-link {
    padding: 30px;
    background: #f3f2f1;
  }

  .govuk-summary-list__actions {
    padding-right: 30px;
  }

  .govuk-summary-list__row {
    border: none;
  }
</style>


<form class="" method="post">
  <div class="modal-backdrop" data-v-4bb354a1="" data-v-0c6ff6a7="" style="display: none;">
    <!---->
  </div>
  <section id="intro">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl"> Transport </span>
        <h1 class="govuk-heading-xl"> Place of load and dispatch </h1>
   
      </div>
    </div>
  </section>
  <section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      

       
    </div>
  </section>
   <section id="place-of-loading">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Place of loading</h2>
        <p class="govuk-body">This is the location where the consignment will be loaded.</p>

        {% if data.transport['loading'] %}
          {% set establishmentIndex = data.transport['loading'] %}
          {% set org = data.establishments[establishmentIndex] %}

          <input type="hidden" name="placeOfLoadingName" value="{{org.TradingName}}" >
        <input type="hidden" name="placeOfLoadingTown" value="{{org.Town}}" >
        <input type="hidden" name="placeOfLoadingPostcode" value="{{org.Postcode}}" >
          {% set removeLink = "./remove?who=loading&redirect=place-of-origin" %}
          {% block traderAddress2 %}{% include "../persons/trader-address.html" %}{% endblock %}

        {% else %}
          <p class="govuk-!-margin-bottom-10 find-establishment-link">
            <a href="./place-of-origin/loading">Select a place of loading</a>
          </p>
        {% endif %}
      </div>
    </div>
  </section>
  <section id="place-of-dispatch">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Place of dispatch</h2>
        <p class="govuk-body">This is the final location that the consignment will be transported from in Great Britain.</p>

        {% if data.transport['dispatch'] %}
          {% set establishmentIndex = data.transport['dispatch'] %}
          {% set org = data.establishments[establishmentIndex] %}

          <input type="hidden" name="placeOfDispatchName" value="{{org.TradingName}}" >
        <input type="hidden" name="placeOfDispatchTown" value="{{org.Town}}" >
        <input type="hidden" name="placeOfDispatchPostcode" value="{{org.Postcode}}" >
          {% set removeLink = "./remove?who=dispatch&redirect=place-of-origin" %}
          {% block traderAddress %}{% include "../persons/trader-address.html" %}{% endblock %}

        {% else %}
          <p class="govuk-!-margin-bottom-10 find-establishment-link">
            <a href="./place-of-origin/dispatch">Select a place of dispatch</a>
          </p>
        {% endif %}
        <div class="govuk-form-group govuk-!-margin-top-6" id="skip-question-container">
      <h3 class="govuk-heading-m">You can skip this section</h3>
      <p class="govuk-body">If you're unable to enter some information, you can leave the section blank and submit the application to your certifier to complete.</p>
      <div class="govuk-checkboxes__item" id="skip-question-checkbox">
        <input class="govuk-checkboxes__input" id="skip-question" name="skip-question" type="checkbox" value="yes" {% if hasIncompleteRecord %}checked{% endif %}>
        <label class="govuk-label govuk-checkboxes__label" for="skip-question">
          I've entered as much information as I can
        </label>
      </div>

  </div>
      </div>
    </div>
  </section>
  
  <section id="actions">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"><button class="govuk-button"> Save and continue </button></div>
    </div>
  </section>
</form>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {


  })
</script>
{% endblock%}
