{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">

      End of prototype
      </h1>
      <p>
        <a href="./index">Return to list</a>
      </p>


      <!-- <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Main changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class='govuk-table'>
            <thead class='govuk-table__head'>
              <tr class='govuk-table__row'>
                <th scope='col' class='govuk-table__header'>What we've done</th>
                <th scope='col' class='govuk-table__header'>Why we did it</th>
              </tr>
            </thead>
            <tbody class='govuk-table__body'>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>Changed sign in process, now emailing a code</td>
                <td class='govuk-table__cell'>Issues were discoved with emailing a link. Senders were using it as a book mark.</td>
              </tr>
              <tr class='govuk-table__row'>
                <td class='govuk-table__cell'>New verion for mailroom with after ur <a href="/v9/mailroom/">look up and forwarding</a></td>
                <td class='govuk-table__cell'>Slimmed down version of the previous journey (v7)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details> -->
      <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Other features</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/stories/file-import/">Improve uploading of commodities V1</a></li>
        <li><a href="/stories/accessiblity/">Accessibility updates</a></li>
        <li><a href="/experimental/add-commodities/">Adding commodities redesign v1(Experimental)</a></li>
        <li><a href="/stories/place-of-origin-remove-dropdown/place-of-origin">Remove single option drowpdowns</a></li>

      </ul> -->
      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->
  </div>
</div>
<script type="text/javascript">

</script>

{% endblock %}
