{% extends "layout.html" %}

{% block pageTitle %}
Download data - eTrade – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

{% set cert = data.addedEHC[0] %}

<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl">Download data as a spreadsheet</h1>
    <!---->
    <!---->
    <!---->
    <p class="govuk-body">Downloading your data in a spreadsheet will allow you to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>review and manipulate the data in Excel</li>
      <li>quickly duplicate rows and adjust values like weights and dates</li>
      <li>use this as a template for future uploads or applications</li>
    </ul>

    <p class="govuk-body">
      <a class="govuk-button" href="/public/data/uploads/{{cert.number}}-data-template.xlsx?random={{ 100000 | randomNumberGenerator }}">Download spreadsheet</a>
    </p>


  </div>
</div>

{% endblock %}
