<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Serial No.
    </dt>
    <dd class="govuk-summary-list__value">
      A60AEE39D250462
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reference
    </dt>
    <dd class="govuk-summary-list__value">
      GBXIBN4522
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Cerificate
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body"><span title="Live fish, crustaceans, certain fishery products (i.e. Cephalopods) and products from these animals intended for human consumption to the European Union and Northern Ireland">EHC8361</span> <br>8 records for 5 commodities.<br> Gross weight of 321 kilograms.</p>
      {% if data.hasMultipleEHC == "yes"%}
      <p class="govuk-body govuk-!-margin-bottom-4"><span title="Live bivalve molluscs, echinoderms, tunicates, marine gastropods and products from these animals intended for human consumption to the European Union and Northern Ireland">EHC8364</span> <br>12 records for 2 commodities.<br> Gross weight of 5 tonnes.</p>
      {% endif %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Consignee or Importer
    </dt>
    <dd class="govuk-summary-list__value">
        Moy Park Dungannon (Dungannon, BT71)
        <br>Northern Irealand
    </dd>
  </div>
</dl>
