{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Apply for new export health certificates </h1>
    <!---->
    <!---->
    <!---->
    <p class="govuk-body"> This service enables you to apply for export health certificates to export or move live animals and animal products from Great Britain to the EU and Nothern Ireland. The service will send the Export application to the EU
      TRACES system enabling your importer to clone it into a Common Health Entry Document. </p>
    <p class="govuk-body"> Use this service to: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Apply for export health certificates for the EU and Northern Ireland.</li>
      <li>Retrieve the TRACES EU Import reference number.</li>
      <li>Get PDFs of export health certificates in EU languages.</li>
    </ul>
    <p class="govuk-body"> It takes around 10 minutes to complete an application.<br></p><a href="create-reference" class="govuk-button govuk-button--start" role="button"> Start now </a>
    <h2 class="govuk-heading-l">Before you start</h2>
    <p class="govuk-body"> You can create drafts if you need to obtain further information to complete.<br> You will need to know what commodity and what certificates you require.<br> You cannot use this service if you are not a UK Exporter. </p>
  </div>
</div>

{% endblock %}
