{% extends "layout.html" %}
{% set accountActive = true %}
{% set showAppBackLink = true %}


{% set pageHeading = '' + application.name + '' %}
{% set pageSection = "Application details" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {% set redirectsHtml %}
                {% include "includes/appDetails_redirects.html" %}
            {% endset -%}

            {% set credentialsHtml %}
                {% include "includes/appDetails_credentials.html" %}
            {% endset -%}

            {% set apisHtml %}
                {% include "includes/appDetails_api.html" %}
            {% endset -%}
            
            {% set activityHtml %}
                {% include "includes/appDetails_activity.html" %}
            {% endset -%}

            {% set teamsHtml %}
                {% include "includes/appDetails_teams.html" %}
            {% endset -%}

            {{ govukTabs({
            items: [
                { label: "Redirect URIs", id: "redirects", panel: { html: redirectsHtml } },
                { label: "Credentials", id: "credentials", panel: { html: credentialsHtml } },
                { label: "APIs", id: "apis", panel: { html: apisHtml } },
                { label: "Activity", id: "activity", panel: { html: activityHtml } },
                { label: "Team", id: "teams", panel: { html: teamsHtml } }
            ]
            }) }}

        </div>
    </div>

{% endblock %}
