{% set accountActive = true %}
{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Hello World" %}
{% set pageSection = "Applications" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}                                           
            
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Getting production credentials
                </span>
                </summary>
                <div class="govuk-details__text">
                <p class="govuk-body">If your appliucation subscribes to an API only available in the sandbox, you cannot request production credentials. <a href="../apis/explore-apis">Review the specific API documentation</a> to check if an API is available in production.</p>
                <p>You will need to test your applicationq before requesting production credentials.</p>
                <p>You do not need production credentials for APIs with only open access endpoints or:</p>
                <ul class="govuk-list govuk-list--bullets">
                    <li>APIs for testing your service</li>
                    <li>Hello world API</li>
                </ul>
                </div>
            </details>
            <a href="/account/applications/production-credentials/" class="govuk-button govuk-button--primary">Apply for production credentials</a>
            <hr />
            
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Redirect URIs</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">URI</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">https://www.fetch.example.com</th>
                    <td class="govuk-table__cell">
                        <a href="#" class="m-r-30">Edit</a>
                        <a href="#">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <form>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="app-name">
                        Add another redirect URI
                    </label>
                    <div id="app-name-hint" class="govuk-hint">
                        Maximum of 5. URI must be HTTPS for example https://example.co.uk
                    </div>
                    <input class="govuk-input govuk-input--width-20" id="add-another-uri" name="add-another-uri" type="text">
                    <button class="govuk-button govuk-button--secondary" for="add-another-uri">Add URI</button>
                </div>
            </form>
            <hr />
            <h2 class="govuk-heading-m">Team members</h2>        
            <a href="manage-application">Manage and add team members</a>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <th class="govuk-table__header">Email</th>
                    <th class="govuk-table__header">Role</th>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">jonno@defra.gov.uk</td>
                    <td class="govuk-table__cell">Admin</td>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">cathy@defra.gov.uk</td>
                    <td class="govuk-table__cell">Admin</td>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">sinead@defra.gov.uk</td>
                    <td class="govuk-table__cell">Admin</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h2 class="govuk-heading-m">Application activity</h2>
            <a href="#">View all activity</a>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        <strong class="govuk-tag">GET</strong>
                        /ehc-application-summary
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class="gov-uk">Retrieve summary and status information of your Export Health Certificate Applications with filtering and pagination.</p>
                  </div>
                </div>
            </div>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                  <th class="govuk-table__header">Request status</th>
                  <th class="govuk-table__header">Date and time</th>
                  <th class="govuk-table__header"></th>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">202</span></td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">23/03/2022 15:03:52</span></td>
                    <td class="govuk-table__cell"><a href="#">View details</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--red">404</span></td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">23/03/2022 14:29:12</span></td>
                    <td class="govuk-table__cell"><a href="#">View details</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">202</span></td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">23/03/2022 14:02:42</span></td>
                    <td class="govuk-table__cell"><a href="#">View details</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">202</span></td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">23/03/2022 14:01:58</span></td>
                    <td class="govuk-table__cell"><a href="#">View details</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}
