{% set exploreAPIsActive = true %}
{% set mainClasses = "govuk-main-wrapper--spacing-override" %}

{% extends "../../layout.html" %}

{% block pageTitle %}
  Explore APIs
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  <div class="govuk-width-container defra-breadcrumbs">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/../"
      },
      {
        text: "Explore APIs",
        href: "explore-apis"
      },
      {
        text: "Apply for an EHC",
        href: "../api-apply-for-an-ehc-masthead"
      },
      {
          text: "Available EHCs"
      }
    ]
  }) }}
  </div>
{% endblock %} 
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <section class="govuk-grid-column-one-quarter defra-page-contents">
          <ul class="defra-contents-list">
            <li><a href="../api-apply-for-an-ehc-masthead">Overview</span></li>
            <li class="contents-list--active-item"><a href="ehc-available-ehcs">Available EHCs</a></li>
            <li><a href="ehc-endpoints">API end points</a></li>
            <li><a href="ehc-schemas">API schemas</a></li>
            <li><a href="ehc-payload-definition">Payload definition</a></li>
            <li><a href="ehc-error-codes">Error codes</a></li>
          </ul>
        </section>
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-l">Available EHCs</h1>
          <p class="govuk-body">Additional Guidance and information is available for all <a href="https://www.gov.uk/export-health-certificates">Export Health Certificates</a>.</p>
          <p class="govuk-body">Currently, this API only supports the following Export Health Certificates. Additional Export Health Certificates will be made available in the future releases of this API.</p>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Currently available EHCs</caption>
            <thead class="govuk-table__head">
              <th class="govuk-table__header">Number</th>
              <th class="govuk-table__header">Name</th>
              <th class="govuk-table__header">Destination</th>
              <th class="govuk-table__header">Commodity group</th>
              <th class="govuk-table__header">Certificate status</th>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8293</td>
                <td class="govuk-table__cell">Eggs for human consumption to the European Union and Northern Ireland: certificate 8293</td>
                <td class="govuk-table__cell">Austria and 32 others</td>
                <td class="govuk-table__cell">Animal products including food</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">TESTING</strong></td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">New EU EHCs</caption>
            <thead class="govuk-table__head">
              <th class="govuk-table__header">Number</th>
              <th class="govuk-table__header">Name</th>
              <th class="govuk-table__header">Destination</th>
              <th class="govuk-table__header">Commodity group</th>
              <th class="govuk-table__header">Certificate status</th>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8350</td>
                <td class="govuk-table__cell">Composite Products (Export)</td>
                <td class="govuk-table__cell">Austria and 32 others</td>
                <td class="govuk-table__cell">Composite Products (Export)</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">PENDING</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8351</td>
                <td class="govuk-table__cell">Composite Products (Transit)</td>
                <td class="govuk-table__cell">Austria and 32 others</td>
                <td class="govuk-table__cell">Composite Products (Transit)</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">PENDING</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8352</td>
                <td class="govuk-table__cell">Composite Products (Shelf-Stable containing no meat)</td>
                <td class="govuk-table__cell">Austria and 32 others</td>
                <td class="govuk-table__cell">Composite Products (Shelf-Stable containing no meat)</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">PENDING</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8366</td>
                <td class="govuk-table__cell">Meat of certain farmed game</td>
                <td class="govuk-table__cell">Austria and 32 others</td>
                <td class="govuk-table__cell">Meat of certain farmed game</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">PENDING</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8367</td>
                <td class="govuk-table__cell">Meat of certain wild game</td>
                <td class="govuk-table__cell">Austria and 32 others</td>
                <td class="govuk-table__cell">Meat of certain wild game</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">PENDING</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8382</td>
                <td class="govuk-table__cell">Porcine mechanically separated meat (MSM)</td> 	
                <td class="govuk-table__cell">Austria and 32 others</td>
                <td class="govuk-table__cell">Porcine mechanically separated meat (MSM)</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">PENDING</strong></td></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}
