{% set exploreAPIsActive = true %}
{% set mainClasses = "govuk-main-wrapper--spacing-override" %}

{% extends "../../layout.html" %}

{% block pageTitle %}
  Explore APIs
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  <div class="govuk-width-container defra-breadcrumbs">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/../"
      },
      {
        text: "Explore APIs",
        href: "explore-apis"
      },
      {
        text: "Apply for an EHC",
        href: "../api-apply-for-an-ehc-masthead"
      },
      {
          text: "API schemas"
      }
    ]
  }) }}
  </div>
{% endblock %} 
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <section class="govuk-grid-column-one-quarter defra-page-contents">
          <ul class="defra-contents-list">
            <li><a href="../api-apply-for-an-ehc-masthead">Overview</span></li>
            <li><a href="ehc-available-ehcs">Available EHCs</a></li>
            <li><a href="ehc-endpoints">API end points</a></li>
            <li class="contents-list--active-item"><a href="ehc-schemas">API schemas</a></li>
            <li><a href="ehc-payload-definition">Payload definition</a></li>
            <li><a href="ehc-error-codes">Error codes</a></li>
          </ul>
        </section>
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-l">API schemas</h1>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    ResourceLink
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <th class="govuk-table__header">Description</th>
                        <th class="govuk-table__header">Hypermedia as the Engine of Application State (HATEOAS) resource link.</th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">href</td>
                            <td class="govuk-table__cell">
                                <small>string</small>
                                <br>
                                <small>example: https://defra.gov.uk/api/v1/example/123</small>
                                <br>
                                <small>Uniform Resource Identifier of the resource being linked to.</small>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">rel</td>
                            <td class="govuk-table__cell">
                                <small>string</small>
                                <br>
                                <small>example: status</small>
                                <br>
                                <small>Relationship of this link to the resource to which it is attached.</small>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">method</td>
                            <td class="govuk-table__cell">
                                <small>string</small>
                                <br>
                                <small>example: GET</small>
                                <br>
                                <small>HTTP method to use when calling the resource, e.g GET, PUT, POST, DELETE, PATCH.</small>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">description</td>
                            <td class="govuk-table__cell">
                                <small>string</small>
                                <br>
                                <small>example: Example resource description.</small>
                                <br>
                                <small>Description of what the link offers in relation to this resource.</small>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">propertyName</td>
                            <td class="govuk-table__cell">
                                <small>string</small>
                                <br>
                                <small>example: propertyName</small>
                                <br>
                                <small>Name of the property on the containing object to which the link relates.</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
