{% extends "layout.html" %}
{% block pageTitle %}
How will the consignment be stored during transport – {{serviceName}} – GOV.UK Prototype 
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<style type="text/css">
  .disabled p{
    color: #505a5f  ;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.hasError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#conditions-Ambient">Select how the consignment will be stored during transport</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

     <form id="form" method="POST">
          <!---->
          <div class="govuk-form-group {% if query.hasError %}govuk-form-group--error{% endif %}" >
            <fieldset class="govuk-fieldset" aria-describedby="trasnportConditions-hint {% if query.hasError %}trasnportConditions-error{% endif %}">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" >How will the consignment be stored during transport?</legend>

              <p class="govuk-hint" id="trasnportConditions-hint">If different parts of the consignment will be stored in different conditions (for example, part in chilled storage and part in frozen storage), a separate application for each part of the consignment must be created.</p>
                  <p id="trasnportConditions-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select the country where you live
    </p>

              <div class="govuk-radios" data-filled="no" data-module="govuk-radios" id="purpose" data-v-133877c6="">
                 <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Ambient" name="trasnportConditions" type="radio" value="Ambient" {% if data.trasnportConditions == "Ambient" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"
                    for="conditions-Ambient" data-v-133877c6="">Ambient storage</label></div>
                <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Chilled" name="trasnportConditions" type="radio" value="Chilled" {% if data.trasnportConditions == "Chilled" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"
                    for="conditions-Chilled" data-v-133877c6="">Chilled storage</label></div>
                <!---->
               
                <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Frozen" name="trasnportConditions" type="radio" value="Frozen" {% if data.trasnportConditions == "Frozen" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"  for="conditions-Frozen">Frozen storage</label></div>
              </div>
            </fieldset>
          </div>
     
          <button class="govuk-button" >Save and continue</button>

    </form>

  </div>
</div>

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
    


});
</script>
{% endblock%}
