{% extends "layout.html" %}
{% block pageTitle %}
How will the consignment be stored during transport – {{serviceName}} – GOV.UK Prototype 
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<style type="text/css">
  .disabled p{
    color: #505a5f  ;
  }
  .disabled .govuk-error-message{
    display:none;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.hasError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#skip-question">Select if you have answered as many questions as you can</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

     <form id="form" method="POST">
          <!---->
          <div class="govuk-form-group " >
            <fieldset class="govuk-fieldset" aria-describedby="trasnportConditions-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" >How will the consignment be stored during transport?</legend>

              <p class="govuk-hint" id="trasnportConditions-hint">If different parts of the consignment will be stored in different conditions (for example, part in chilled storage and part in frozen storage), a separate application for each part of the consignment must be created.</p>
                  

              <div class="govuk-radios" data-filled="no" data-module="govuk-radios" id="purpose" data-v-133877c6="">
                 <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Ambient" name="trasnportConditions" type="radio" value="Ambient" {% if data.trasnportConditions == "Ambient" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"
                    for="conditions-Ambient" >Ambient storage</label></div>
                <div class="govuk-radios__item purpose" >
                  <input class="govuk-radios__input" id="conditions-Chilled" name="trasnportConditions" type="radio" value="Chilled" {% if data.trasnportConditions == "Chilled" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"
                    for="conditions-Chilled" >Chilled storage</label></div>
                <!---->
               
                <div class="govuk-radios__item purpose" data-v-133877c6="">
                  <input class="govuk-radios__input" id="conditions-Frozen" name="trasnportConditions" type="radio" value="Frozen" {% if data.trasnportConditions == "Frozen" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label"  for="conditions-Frozen">Frozen storage</label></div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-!-margin-bottom-6 {% if query.hasError %}govuk-form-group--error{% endif %}" id="skip-question-container">
          <h3 class="govuk-heading-m">You can skip this section</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">If you're unable to enter some information, you can leave the section blank and submit the application to your certifier to complete.</p>
                {% if query.hasError %}
          <p id="transportSkip-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select if you have answered as many questions as you can
    </p>
    {% endif %}
          <div class="govuk-checkboxes__item govuk-!-margin-top-4" id="skip-question-checkbox">
            <input class="govuk-checkboxes__input" id="skip-question" name="skip-question" type="checkbox" value="yes">
            <label class="govuk-label govuk-checkboxes__label" for="skip-question">
              I've entered as much information as I can
            </label>
          </div>
        </div>
          <button class="govuk-button" >Continue</button>

    </form>

  </div>
</div>

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
    
    $(".govuk-radios__input").on("click",function(e){
      $('#skip-question-checkbox').hide()
      $('#skip-question-container').addClass("disabled")
      $('#trasnportskip-error').show()
    })

    if( $('.govuk-radios__input').is(':checked') ){
      $('#skip-question-checkbox').hide()
      $('#skip-question-container').addClass("disabled")
      $('#transportSkip-error').hide()


    }

});
</script>
{% endblock%}
