<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-two-thirds">
    <style media="screen">
      .etrade-warning-banner {
        border: 5px solid #f47738;
        background-color: #f47738;
      }
    </style>
    {% if data.showIncompleteData == "yes"%}
    <div class="govuk-notification-banner etrade-warning-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Incomplete data
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">Some commodity data is missing or incomplete</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="#packageCount">Package count</a></li>
          <!-- exclude Activity records like manufacturingPlantActivity -->
          <li><a class="govuk-link" href="#netWeight">Net weight</a></li>
          <!-- exclude Activity records like manufacturingPlantActivity -->
          <li><a class="govuk-link" href="#batchNumber">Batch number</a></li>
          <li><a class="govuk-link" href="#treatmentType">Treatmemnt type</a></li>
          <!-- exclude Activity records like manufacturingPlantActivity -->
          <li><a class="govuk-link" href="#dateOfCollectionProduction">Date of collection / production</a></li>
          <!-- exclude Activity records like manufacturingPlantActivity -->
        </ul>
      </div>
    </div>
    {% endif %}
    <span class="govuk-caption-xl">EHC{{data.ehc or "8468"}}</span>
    <h1 class="govuk-heading-xl">{% if data.new!="yes"%}Update {% else %}Add {% endif %} commodity data</h1>
    <form method="post" action="commodities?">
      <input type="hidden" name="ehc" value="{{data.ehc or '8468'}}">
      <input type="hidden" name="commodity_code" value="{{data.commodityCode or '0406'}}">
      <input type="hidden" name="commodity_id" value="0">
      <input type="hidden" name="showNotification" value="no">
      <input type="hidden" name="showWeight" value="yes">
      <input type="hidden" name="new" value="no">
      <input type="hidden" name="showIncompleteData" value="no">
      {% if data.new !="yes"%}
      <input type="hidden" name="updatedCommodity_{{query.commodity_id or '0'}}" value="yes">
      {% endif  %}
      <input type="hidden" name="commodity_description" value="Cheese and curd">
      <div class="commodity-pane--body open" style="" id="commodity-details-panel">
        <div class="identification-questions">
          <section id="intro">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Commodity</h2>
            <p><span class="govuk-tag">020110</span> Carcases and half-carcases
            </p>
            <p>
            </p>
          </section>
          <section id="questions">
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group"><label class="govuk-label" for="PRODUCT_DESCRIPTION-0-10410-31010000">Product description (optional) </label>
              <input class="govuk-input" type="text" id="productDescription" name="productDescription" value="">
            </div>
            <!-- check to see if this field is incomplete -->
            <!-- This is dynamicaly generated by the array in /app/data/certs.json -->
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <label class="govuk-label" for="coldStore" id="coldStore">
              Cold store (optional)
            </label>
            <!-- Complete -->
            {% if data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a cold store</a></p>
            </div>
            {% else %}
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="coldStore" name="coldStore" value="MN 100">
              <input type="hidden" id="coldStore-id" name="coldStore-id" value="68">
              <input type="hidden" id="coldStoreActivity" name="coldStoreActivity" value="Establishment - food (FOOD-OTH)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">FOYLE MELTON MOWBRAY</h3>
              <p class="govuk-body">
                Melton Road Six Hills LE14 3PR<br>
                Melton, LE14<br>
                United Kingdom<br>
                <br>
                Traces Number: 2077<br>
                Activity: Processing plant - food (MPP)
              </p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Cold store&searchID=coldStore&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different cold store</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=coldStore">Select a different cold store</a>-->
              </p>
            </div>
            <p class="govuk-body" style="margin-top:-10px"><a href="/Export-health-certificate/a9432823-93de-44b3-b899-a31ca5b1e863/Commodities/Questions/28f3bf80-67e8-42d2-b50b-5abbd9690b88/Establishment" class="govuk-link"> Add another coldstore</a></p>
            {% endif %}
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group"><label class="govuk-label" for="IDENTIFICATION_MARK-7-11711-020120">Identification mark
                <!---->
              </label>
              <div class="govuk-input__wrapper">
                <!----><input class="govuk-input govuk-!-width-three-quarters" type="text" name="identificationMark" id="IDENTIFICATION_MARK-7-11711-020120" value="{% if data.new != 'yes'%}n/a{% endif %}">
                <div class="govuk-input__suffix suffix__action">
                <button class="govuk-button govuk-button--secondary"><span class="fas fa-plus"></span><span class="govuk-visually-hidden"> Add another Batch number</span></button>
                </div>
              </div>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="packageCount-4-10410-31010000" id="packageCount">
                {% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}
                Package count
              </label>
              <div class="govuk-input__wrapper select-input-wrapper" data-v-4e8f37a8=""><input class="govuk-input" type="number" data-type="quantity" name="packageCount" step="1" min="0" max="9999999" id="packageCount-4-10410-31010000"
                  data-v-4e8f37a8="" data-mask="########" data-mask-inited="true" data-mask-raw-value="" value="{% if data.new != 'yes' and data.showIncompleteData != 'yes'%}224{% endif %}">
                <div class="govuk-input__suffix suffix__action" data-v-4e8f37a8="">
                  <select class="govuk-select" id="packageCount-4-10410-31010000-units" data-v-4e8f37a8="" name="packageCount_UNIT">
                    <option disabled="" value="" data-v-4e8f37a8="" {% if data.new == 'yes' or data.showIncompleteData == 'yes'%}selected{% endif %}>Select a unit</option>
                    <option value="Bag">Bag</option>
                    <option value="Bale, compressed">Bale, compressed</option>
                    <option value="Barrel, wooden, bung type">Barrel, wooden, bung type</option>
                    <option value="Barrel, wooden, removable head">Barrel, wooden, removable head</option>
                    <option value="Box">Box</option>
                    <option value="Box, wooden, natural wood, ordinary">Box, wooden, natural wood, ordinary</option>
                    <option value="Box, wooden, natural wood, with sift proof walls">Box, wooden, natural wood,
                      with sift proof walls</option>
                    <option value="Bulk, solid, granular particles ('grains')">Bulk, solid, granular particles ("grains")
                    </option>
                    <option value="Can, rectangular">Can, rectangular</option>
                    <option value="Canister">Canister</option>
                    <option value="Carton">Carton</option>
                    <option value="Case">Case</option>
                    <option {% if data.new != 'yes' and data.showIncompleteData != 'yes'%}selected="" {% endif %} value="Case, with pallet base, wooden">Case, with pallet base, wooden</option>
                    <option value="Cask">Cask</option>
                    <option value="Coffer">Coffer</option>
                    <option value="Container, not otherwise specified as transport equipment">Container,
                      not otherwise specified as transport equipment</option>
                    <option value="Crate">Crate</option>
                    <option value="Crate, wooden">Crate, wooden</option>
                    <option value="Drum">Drum</option>
                    <option value="Receptacle, glass">Receptacle, glass</option>
                    <option value="Jar">Jar</option>
                    <option value="Logs, in bundle/bunch/truss">Logs, in bundle/bunch/truss</option>
                    <option value="Lug">Lug</option>
                    <option value="Luggage">Luggage</option>
                    <option value="Package">Package</option>
                    <option value="Package, display, wooden">Package, display, wooden</option>
                    <option value="Pail">Pail</option>
                    <option value="Pallet">Pallet</option>
                    <option value="Bag, plastics film">Bag, plastics film</option>
                    <option value="Box, plastic, expanded">Box, plastic, expanded</option>
                    <option value="Punnet">Punnet</option>
                    <option value="Rednet">Rednet</option>
                    <option value="Tank, rectangula">Tank, rectangular</option>
                    <option value="Bag, tote">Bag, tote</option>
                    <option value="Tray pack">Tray pack</option>
                    <option value="Tube">Tube</option>
                    <option value="Vial">Vial</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="netWeight-3-10410-31010000" id="netWeight">{% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}Net weight</label>
              <div class="govuk-input__wrapper select-input-wrapper" data-v-4e8f37a8="">
                <input class="govuk-input" type="number" data-type="quantity" name="netWeight" step="0.0001" min="0" max="9999999" id="netWeight-3-10410-31010000" {% if data.new != 'yes' and data.showIncompleteData != 'yes'%}value="10000"
                  {% endif %}>
                <div class="govuk-input__suffix suffix__action" data-v-4e8f37a8="">
                  <select class="govuk-select" id="netWeight-3-10410-31010000-units" name="netWeight_UNIT" data-v-4e8f37a8="">
                    <option disabled="" value="" data-v-4e8f37a8="" {% if data.new == 'yes' or data.showIncompleteData == 'yes' %}selected{% endif %}>Select a unit</option>
                    <option value="gram">gram</option>
                    <option {% if  not data.new != 'yes' and data.showIncompleteData != 'yes'%}selected{% endif %} value="kilogram">kilogram</option>
                    <option value="kilotonne">kilotonne</option>
                    <option value="tonne (metric ton)">tonne (metric ton)</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="natureOfCommodity" id="treatmentType">{% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}Treatment type</label>
              <select class="govuk-select full-width" id="treatent-type" name="treatmentType">
                <option disabled="" value="" {% if data.new == 'yes' or data.showIncompleteData == 'yes' %}selected{% endif %}>Select a treatment type</option>
                <option disabled="" value=""></option>
                <option value="A = 0 T°C">A = 0 T°C</option>
                <option value="Animal by-products of category 1">Animal by-products of category 1</option>
                <option value="Animal by-products of category 2">Animal by-products of category 2</option>
                <option value="B = Fo>=3°">B = Fo&gt;=3°</option>
                <option value="bone in">bone in</option>
                <option value="C = T>=80°">C = T&gt;=80°</option>
                <option value="Chilled">Chilled</option>
                <option value="Combined heat treatment">Combined heat treatment</option>
                <option value="cooked">cooked</option>
                <option value="D = T>=70°C">D = T&gt;=70°C</option>
                <option value="deboned">deboned</option>
                <option value="dried">dried</option>
                <option value="E = Aw<=0.93+Ph<=6">E = Aw&lt;=0.93+Ph&lt;=6</option>
                <option value="eviscerated">eviscerated</option>
                <option value="F = T>=65°C pv=40">F = T&gt;=65°C pv=40</option>
                <option value="Fresh">Fresh</option>
                <option value="frozen">frozen</option>
                <option value="Homogenisation">Homogenisation</option>
                <option value="In shell">In shell</option>
                <option value="Live">Live</option>
                <option value="matured">matured</option>
                <option value="minced">minced</option>
                <option value="No thermal treatment">No thermal treatment</option>
                <option value="Otherwise processed">Otherwise processed</option>
                <option {% if data.new != 'yes' and data.showIncompleteData != 'yes'%}selected{% endif %} value="pasteurisation">pasteurisation</option>
                <option value="Plucked">Plucked</option>
                <option value="prepared">prepared</option>
                <option value="preserved">preserved</option>
                <option value="processed">processed</option>
                <option value="Raw milk">Raw milk</option>
                <option value="Roasted">Roasted</option>
                <option value="salted">salted</option>
                <option value="shelled">shelled</option>
                <option value="sterilisation">sterilisation</option>
                <option value="Single heat treatment">Single heat treatment</option>
                <option value="Skinned">Skinned</option>
                <option value="smoked">smoked</option>
                <option value="Treated">Treated</option>
                <option value="UHT">UHT</option>
                <option value="Ultrafiltration">Ultrafiltration</option>
                <option value="Ultrasonication">Ultrasonication</option>
                <option value="uneviscerated">uneviscerated</option>
                <option value="Unplucked">Unplucked</option>
                <option value="unskinned">unskinned</option>
              </select>
            </div>

              <label class="govuk-label" for="coldStore" id="coldStore">Slaughterhouse</label>
            {% if data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a slaughterhouse</a></p>
            </div>
            {% else %}
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="coldStore" name="coldStore" value="MN 100">
              <input type="hidden" id="coldStore-id" name="coldStore-id" value="68">
              <input type="hidden" id="coldStoreActivity" name="coldStoreActivity" value="Establishment - food (FOOD-OTH)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">FOYLE MELTON MOWBRAY</h3>
              <p class="govuk-body">
                Melton Road Six Hills LE14 3PR<br>
                Melton, LE14<br>
                United Kingdom<br>
                <br>
                Traces Number: 2077<br>
                Activity: Processing plant - food (MPP)
              </p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Cold store&searchID=coldStore&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different cold store</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=coldStore">Select a different cold store</a>-->
              </p>
            </div>
            <p class="govuk-body" style="margin-top:-10px"><a href="/Export-health-certificate/a9432823-93de-44b3-b899-a31ca5b1e863/Commodities/Questions/28f3bf80-67e8-42d2-b50b-5abbd9690b88/Establishment" class="govuk-link"> Add another slaughterhouse</a></p>
            {% endif %}
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="natureOfCommodity">Nature of commodity
              </label>
              <select class="govuk-select full-width" id="natureOfCommodity" name="natureOfCommodity">
                <option disabled="" value="" {% if data.new == 'yes'%}selected{% endif %}>Select a nature of commodity</option>
                <option value="Carcass_quarters" {% if data.new != 'yes' and data.showIncompleteData != 'yes'%}selected{% endif %}>Carcass_quarters</option>
                <option value="Carcass_side">Carcass_side</option>
                <option value="Carcass_whole">Carcass_quarters</option>
                <option value="Cuts">Cuts</option>
              </select>
            </div>
            <!-- check to see if this field is incomplete -->
            <!-- SINGLES -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="BATCH_NUMBER-1-11711-020130" id="batchNumber">{% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}Batch number</label>
              <div class="govuk-input__wrapper">
                <input class="govuk-input" type="text" name="batchNumber" id="BATCH_NUMBER-1-11711-020130" {% if data.new != 'yes' and data.showIncompleteData != 'yes'%} value="31.01.2023" {% endif %}>
                <div class="govuk-input__suffix suffix__action" aria-hidden="true"><button class="govuk-button govuk-button--secondary"><span class="fas fa-plus"></span><span class="govuk-visually-hidden"> Add another Identification
                      mark</span></button>
                  <!---->
                </div>
              </div>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">Final consumer &nbsp;(optional)
                  <!---->
                  <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-1" name="finalConsumer" type="radio" value="yes" {% if data.new != 'yes'%} checked{% endif %}><label class="govuk-label govuk-radios__label"
                        for="FINAL_CONSUMER-9-11930-151790-1"> Yes </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-2" name="finalConsumer" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="FINAL_CONSUMER-9-11930-151790-2"> No </label>
                    </div>
                  </div>
                </legend>
              </fieldset>
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="COLLECTION_PRODUCTION_DATE-3-11711-020120" id=dateOfCollectionProduction>{% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}Date of
                collection/production</label>
              <div class="govuk-input__wrapper">
                <input class="govuk-input" type="datetime-local" name="dateOfCollectionProduction" id="COLLECTION_PRODUCTION_DATE-3-11711-020120" {% if data.new != 'yes' and data.showIncompleteData != 'yes'%} value="2022-11-14T11:28:00" {% endif %}>
                <div class="govuk-input__suffix suffix__action">
                  <button class="govuk-button govuk-button--secondary"><span class="fas fa-plus"></span><span class="govuk-visually-hidden"> Add another Batch number</span></button>
                </div>
              </div>
            </div>
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <label class="govuk-label" for="manufacturingPlant" id="manufacturingPlant">
              Manufacturing plant
            </label>
            {% if  data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a manufacturing plant</a></p>
            </div>
            {% else %}
            <!-- Complete -->
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="manufacturingPlant" name="manufacturingPlant" value="MN 100">
              <input type="hidden" id="manufacturingPlant-id" name="manufacturingPlant-id" value="68">
              <input type="hidden" id="manufacturingPlantActivity" name="manufacturingPlantActivity" value="Processing plant - food (MPP)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">FOYLE MELTON MOWBRAY</h3>
              <p class="govuk-body">
                Melton Road Six Hills LE14 3PR<br>
                Melton, LE14<br>
                United Kingdom<br>
                <br>
                Traces Number: 2077<br>
                Activity: Processing plant - food (MPP)
              </p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Manufacturing plant&searchID=manufacturingPlant&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different manufacturing plant</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=manufacturingPlant">Select a different manufacturing plant</a>-->
              </p>
            </div>
            <p class="govuk-body" style="margin-top:-10px"><a href="/Export-health-certificate/a9432823-93de-44b3-b899-a31ca5b1e863/Commodities/Questions/28f3bf80-67e8-42d2-b50b-5abbd9690b88/Establishment" class="govuk-link"> Add another manufacturing plant</a></p>
            {% endif %}
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <label class="govuk-label" for="plantEstablishmentCentre" id="plantEstablishmentCentre">
              Plant / establishment / centre
            </label>
            {% if  data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a plant / establishment / centre</a></p>
            </div>
            {% else %}
            <!-- Complete -->
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="plantEstablishmentCentre" name="plantEstablishmentCentre" value="MN 100">
              <input type="hidden" id="plantEstablishmentCentre-id" name="plantEstablishmentCentre-id" value="68">
              <input type="hidden" id="plantEstablishmentCentreActivity" name="plantEstablishmentCentreActivity" value="Processing plant - food (MPP)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">FOYLE MELTON MOWBRAY</h3>
              <p class="govuk-body">
                Melton Road Six Hills LE14 3PR<br>
                Melton, LE14<br>
                United Kingdom<br>
                <br>
                Traces Number: 2077<br>
                Activity: Processing plant - food (MPP)
              </p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Plant / establishment / centre&searchID=plantEstablishmentCentre&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different plant / establishment / centre</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=plantEstablishmentCentre">Select a different plant / establishment / centre</a>-->
              </p>
            </div>
            <p class="govuk-body" style="margin-top:-10px"><a href="/Export-health-certificate/a9432823-93de-44b3-b899-a31ca5b1e863/Commodities/Questions/28f3bf80-67e8-42d2-b50b-5abbd9690b88/Establishment" class="govuk-link"> Add another Plant / establishment / centre</a></p>
            {% endif %}
            <div class="govuk-form-group"><label class="govuk-label" for="FREEZING_DATE-13-11869-020110">Date of freezing &nbsp;(Optional) </label>
              <!---->
              <!---->
              <!---->
              <!---->
              <div>
                <div class="govuk-input__wrapper m-t-15"><input class="govuk-input" type="datetime-local" id="FREEZING_DATE-13-11869-020110">
                  <div class="govuk-input__suffix suffix__action" aria-hidden="true"><button class="govuk-button govuk-button--secondary"><span class="fas fa-plus"></span><span class="govuk-visually-hidden"> Add another Date of
                        freezing</span></button>
                    <!---->
                  </div>
                </div>
              </div>
              <!---->
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="TAXON">Species</label>
              <select class="govuk-select govuk-!-width-two-thirds" id="TAXON" name="species">
                <option disabled="" value="" {% if data.new == 'yes'%}selected{% endif %}>Select a taxonomy</option>
                <option value="Bos taurus" {% if data.new != 'yes'%}selected{% endif %}>Bos taurus</option>
                <option value="Camelus dromedarius">Camelus dromedarius</option>
                <option value="Bubalus bubalis">Bubalus bubalis</option>
                <option value="Ovis aries">Ovis aries</option>
                <option value="Capra hircus">Capra hircus</option>
                ]
              </select>
              <input type="hidden" value="" name="defaultValue" id="defaultValue">
            </div>
            <!---->
            <!-- reset change values -->
            <input type="hidden" name="change" value="">
            <input type="hidden" name="changeID" value="">
            <input type="hidden" name="commodityListID" value="0">
            <section id="actions">
              <button data-module="govuk-button" type="submit" name="submit-button" class="govuk-button m-r-5" id="addIdentification">{% if data.new!="yes"%}Update {% else %}Add {% endif %}commodity</button>
            </section>
          </section>
        </div>
        <!---->
      </div>
  </div>
</div>
</form>
</div>
</div>
