<h2 class="govuk-heading-m" data-v-e8e27fc8="">Description of the goods</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8="">Certificate</div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">EHC8468 - Dairy products intended for human consumption that are required to undergo a pasteurisation treatment to the European Union and Northern Ireland</div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8="">Commodities</div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      {% if data.copyall == "no" and ("commodities" not in data.manualSelection and "commodites1" not in data.manualSelection) and data.commoditiesAdded != "yes"  %}
      <strong class="govuk-tag govuk-tag--yellow">
        Required
      </strong>
      {% else %}
      <p class="govuk-body">8 records for 5 commodities</p>
      {% endif%}
    </div>
    {% if data.copyall == "no" and ("commodities" not in data.manualSelection and "commodites1" not in data.manualSelection) and data.commoditiesAdded != "yes"  %}
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="select-certificates" class="govuk-link" data-v-e8e27fc8=""> Add </a></div>
    {% else %}
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="../commodities?change=yes" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
    {% endif %}
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Gross weight</div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8=""><span class="certified-goods" data-v-e8e27fc8="">{{data.GROSS_WEIGHT or data.grossweight or "45"}} {{data.GROSS_WEIGHT_quantifier or "kilograms"}}</span></div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Goods-Certified-As" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Goods certified as </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8=""><span class="certified-goods" data-v-e8e27fc8="">Human Consumption</span></div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Goods-Certified-As" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Container number/seal number </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      {% if data.addedContainer != "yes" %}
      <strong class="govuk-tag govuk-tag--yellow">
        Required
      </strong>
      {% else %}
      Container - {{data.containerNumber or "BICU1234567"}} <br>
      SealNumber - {{data.sealNumber}}
      {% endif %}
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="container-deal-number?showNotification=no" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Purpose of export </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">Internal market <span class="ml-1" data-v-e8e27fc8=""></span></div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Purpose-Of-Export" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
</div>
<h2 class="govuk-heading-m" data-v-e8e27fc8="">Additional documents (optional)</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Accompanying documents </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">No documents uploaded</div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Accompanying-Documents" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
</div>
<h2 class="govuk-heading-m" data-v-e8e27fc8="">Persons involved</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Consignor or Exporter </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">FOYLE MELTON MOWBRAY MELTON, LE14)</div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Consignor-Or-Exporter" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Consignee or Importer </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">FOYLE OMAGH <span class="ml-1" data-v-e8e27fc8="">(Omagh, BT79)</span></div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Consignee-Or-Importer" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Certifier </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">
        <p data-v-e8e27fc8="">Hall Mark Meat Hygniene Ltd, 8 Wheelwrights Corne, GL6 ODD</p>
      </div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Certifier" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Region of certification </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">England</div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Region-of-certification" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Responsible for load </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
    <div data-v-e8e27fc8="">FOYLE OMAGH <span class="ml-1" data-v-e8e27fc8="">(Omagh, BT79)</span></div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Operator" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
</div>
<h2 class="govuk-heading-m" data-v-e8e27fc8="">Transport</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Departure and arrival </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      {% if data.addedArrivalDepartDate != "yes" %}
      <strong class="govuk-tag govuk-tag--yellow">
        Required
      </strong>
      {% else %}
      <div data-v-e8e27fc8="">
            <p data-v-e8e27fc8="">Arrival - 16 Dec 2022 11:38</p>
            <p data-v-e8e27fc8="">Departure - 17 Dec 2022 15:38</p>
          </div>
      {% endif  %}
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="arrival-and-departure?showNotification=no" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Place of origin </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">
        <p data-v-e8e27fc8="">United Kingdom (GB)</p>
        <p data-v-e8e27fc8="">Dispatch - FOYLE MELTON MOWBRAY MELTON, LE14)</p>
        <p data-v-e8e27fc8="">Loading - FOYLE MELTON MOWBRAY MELTON, LE14)</p>
      </div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Origin" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Entry border control post </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">Belsfast Port - DAERA <span class="ml-1" data-v-e8e27fc8="">(UNLO Code: GBBEL)</span></div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Border-Control-Post" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Means of transport </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      {% if data.addedTransport != "yes" and data.accountName != "foyle"%}
      <strong class="govuk-tag govuk-tag--yellow">
        Required
      </strong>
      {% else %}
      <div data-v-e8e27fc8="">
            <p data-v-e8e27fc8="">Condition- Chilled</p>
            <div data-v-e8e27fc8="">
              <p data-v-e8e27fc8="">Road <span class="ml-1" data-v-e8e27fc8="">(Vehicle - UNKNOWN), Trailer - UNKNOWN, Country - GB, ITD - UNKNOWN)</span></p>
              <!---->
              <!---->
              <!---->
            </div>
          </div>

      {% endif %}
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="means-of-transport?showNotification=no" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8="">Place of destination </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8=""><span data-v-e8e27fc8=""><div data-v-e8e27fc8="">FOYLE OMAGH <span class="ml-1" data-v-e8e27fc8="">(Omagh, BT79)</span></div></span></div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Place-Of-Destination" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
</div>
