<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-two-thirds">
    <style media="screen">
      .etrade-warning-banner {
        border: 5px solid #f47738;
        background-color: #f47738;
      }
    </style>
    {% if data.showIncompleteData == "yes"%}
    <div class="govuk-notification-banner etrade-warning-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Incomplete data
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">Some commodity data is missing or incomplete</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="#packageCount">Package count</a></li>
          <!-- exclude Activity records like manufacturingPlantActivity -->
          <li><a class="govuk-link" href="#netWeight">Net weight</a></li>
          <!-- exclude Activity records like manufacturingPlantActivity -->
          <li><a class="govuk-link" href="#StorageLife">Storage
            life </a></li>
          <!-- exclude Activity records like manufacturingPlantActivity -->
        </ul>
      </div>
    </div>
    {% endif %}
    <span class="govuk-caption-xl">EHC{{data.ehc or "8468"}}</span>
    <h1 class="govuk-heading-xl">{% if data.new!="yes"%}Update {% else %}Add {% endif %} commodity data</h1>
    <form method="post" action="commodities?">
      <input type="hidden" name="ehc" value="{{data.ehc or '8468'}}">
      <input type="hidden" name="commodity_code" value="{{data.commodityCode or '0406'}}">
      <input type="hidden" name="commodity_id" value="0">
      <input type="hidden" name="showNotification" value="no">
      <input type="hidden" name="showWeight" value="yes">
      <input type="hidden" name="new" value="no">
      <input type="hidden" name="showIncompleteData" value="no">
      {% if data.new !="yes"%}
      <input type="hidden" name="updatedCommodity_{{query.commodity_id or '0'}}" value="yes">
      {% endif  %}
      <input type="hidden" name="commodity_description" value="Cheese and curd">
      <div class="commodity-pane--body open" style="" id="commodity-details-panel">
        <div class="identification-questions">
          <section id="intro">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Commodity</h2>
            <p><span class="govuk-tag">{{data.commodity or 160100 }}</span> {{data.description}}
            </p>
            <p>
            </p>
          </section>
          <section id="questions">
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group"><label class="govuk-label" for="PRODUCT_DESCRIPTION-0-10410-31010000">Product description (optional) </label>
              <input class="govuk-input" type="text" id="productDescription" name="productDescription" value="{{query.productTitle or 'Breakfast sausage'}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="natureOfCommodity">Nature of commodity
              </label>
              <select class="govuk-select full-width" id="NATURE_OF_COMMODITY-1-11781-160100-select">
                <option disabled="" value="" {% if data.new == 'yes' or data.showIncompleteData == 'yes'%}selected{% endif %}>Select a unit</option>
                <option value="ANIMAL">Animal</option>
                <option value="API">Apiculture by-products</option>
                <option value="APICULTURE_PRODUCTS_FOR_HC">Apiculture products for hc</option>
                <option value="AQUARIUM">Aquarium</option>
                <option value="BILE">Bile</option>
                <option value="BIOD">Biodiesel</option>
                <option value="BIOG">Biogas</option>
                <option value="BLOOD">Blood</option>
                <option value="SERE">Blood and blood products from equidae</option>
                <option value="BLOOD_PRODUCTS_FEEDINGSTUFF">Blood products / feedingstuff</option>
                <option value="BLOOD_PRODUCTS_TECHNICAL">Blood products / technical</option>
                <option value="BLPF">Blood products for feeding purposes</option>
                <option value="BLPT">Blood products for technical purposes</option>
                <option value="BONE">Bone</option>
                <option value="BHHP">Bones, horns, hooves and products thereof</option>
                <option value="BOWELS">Bowels</option>
                <option value="BREEDING_EGGS">Breeding eggs</option>
                <option value="BY_PRODUCTS_FEEDINGSTUFF">By-products / feedingstuff</option>
                <option value="BY_PRODUCTS_TECHNICAL">By-products / technical</option>
                <option value="PETC">Canned petfood</option>
                <option value="CARCASS_QUARTERS">Carcass_quarters</option>
                <option value="CARCASS_SIDE">Carcass_side</option>
                <option value="CARCASS_WHOLE">Carcass_whole</option>
                <option value="CASING">Casing</option>
                <option value="CASING">Casing</option>
                <option value="CATW">Catering waste</option>
                <option value="COL">Collagen</option>
                <option value="COLOSTRUM">Colostrum</option>
                <option value="COMPOSITE_PRODUCTS">Composite products</option>
                <option value="COMR">Compost after composting</option>
                <option value="CONSUMPTION">Consumption</option>
                <option value="COSM">Cosmetic products</option>
                <option value="CUTS">Cuts</option>
                <option value="DAIRY">Dairy</option>
                <option value="DCAP">Dicalcium phosphate</option>
                <option value="BIOR">Digestion residues from biogas production other than biogas</option>
                <option value="DTC">Digestive tract content</option>
                <option value="DOMESTIC">Domestic</option>
                <option value="DRIED_NOODLES">Dried noodles</option>
                <option value="EDIBLE_COLLAGEN">Edible collagen</option>
                <option value="EGG">Egg products</option>
                <option value="EGG_PRODUCTS_FOR_HC">Egg products for hc</option>
                <option value="EMBRYOS">Embryos</option>
                <option value="GIBEL">Farmed game</option>
                <option value="FARMED_STOCK">Farmed stock</option>
                <option value="FATD">Fat derivatives</option>
                <option value="FEATHERS">Feathers</option>
                <option value="FEED_ADDITIVES_AND_PREMIXTURES">Feed additives and premixtures</option>
                <option value="FEED">Feed production (please specify)</option>
                <option value="FERT">Fertilisers other than comr, bior, manu, manp</option>
                <option value="FISHERY_PRODUCTS">Fishery products</option>
                <option value="FISHERY_PRODUCTS_CANNED">Fishery_products_canned</option>
                <option value="FISHERY_PRODUCTS_NOT_CANNED">Fishery_products_not_canned</option>
                <option value="FLAVOURING_INNARDS">Flavouring innards</option>
                <option value="PETFI">Flavouring innards for petfood</option>
                <option value="FRESH_MEAT">Fresh meat</option>
                <option value="GIBIER">Game</option>
                <option value="GAME_TROPHIES">Game trophies</option>
                <option value="GATR">Game trophies</option>
                <option value="GEL">Gelatine</option>
                <option value="GELATINE_COLLAGEN_FOR_HC">Gelatine/collagen for hc</option>
                <option value="HATCHING_EGGS">Hatching eggs</option>
                <option value="HC_PRESERVED_AT_AMBIENT_TEMPERATURE">Hc, preserved at ambient temperature</option>
                <option value="HC_PRESERVED_AT_FROZEN_CHILLED_TEMPERATURE">Hc, preserved at frozen/chilled temperature</option>
                <option value="HIDES">Hides</option>
                <option value="HIGHLY_REFINED_PRODUCTS_FOR_HC">Highly refined products for hc</option>
                <option value="HORNS_HOOVES">Horns/hooves</option>
                <option value="HTST_SIMPLE">Htst simple</option>
                <option value="HTST_UHT">Htst,sterilisation,uht</option>
                <option {% if data.new != 'yes' and data.showIncompleteData != 'yes'%}selected="" {% endif %} value="Human consumption">Human consumption</option>
                <option value="HYDROLISED_PROTEINS">Hydrolised proteins</option>
                <option value="HYDP">Hydrolysed protein</option>
                <option value="INSECTS_FOR_HC">Insects for hc</option>
                <option value="INSE">Insects including maggots and worms</option>
                <option value="GELEEROY">Jelly royal</option>
                <option value="GGIBEL">Large farmed game</option>
                <option value="GGIB">Large wild game</option>
                <option value="GRGIBSAUV">Large wild game</option>
                <option value="WWT">Material collected from waste water treatment</option>
                <option value="MATERIAL_CATEGORY_1">Material of category 1</option>
                <option value="MATERIAL_CATEGORY_2">Material of category 2</option>
                <option value="MATERIAL_CATEGORY_3">Material of category 3</option>
                <option value="MBM">Meat and bone meal (category 1, 2)</option>
                <option value="MEAT_PREPARATIONS">Meat preparations</option>
                <option value="MEAT_PRODUCTS">Meat products</option>
                <option value="MEDD">Medical devices</option>
                <option value="MILK_BASED">Milk based products</option>
                <option value="MIMC">Milk, colostrum and derived products from milk and colostrum</option>
                <option value="MINCED_MEAT">Minced meat</option>
                <option value="NON_EDIBLE_COLLAGEN">Non edible collagen</option>
                <option value="NON_HUMAN_CONSUMPTION">Non human consumption</option>
                <option value="OFFAL">Offal</option>
                <option value="ORGANIC">Organic</option>
                <option value="OTHER">Other</option>
                <option value="RAW">Other unprocessed abp</option>
                <option value="OTHERS">Others</option>
                <option value="OVA_EMBRYO">Ova-embryos</option>
                <option value="OVOPROD">Ovoproducts</option>
                <option value="PASTEURIZED">Pasteurized</option>
                <option value="PETD">Petfood: dogchews</option>
                <option value="PHARM">Pharmaceutical products</option>
                <option value="POWDER">Powder</option>
                <option value="POWDER_BONES">Powder bones</option>
                <option value="PAP">Processed animal protein (category 3; indicate animal species)</option>
                <option value="MANURE_PROCESSED">Processed manure</option>
                <option value="MANP">Processed manure and manure products</option>
                <option value="PETP">Processed petfood other than canned petfood</option>
                <option value="CAPSULES_PRODUCTS">Product in capsules</option>
                <option value="FORMF">Products of animal origin/ no longer for human consumption</option>
                <option value="BEES_PRODUCTS">Products produced by bees</option>
                <option value="HISKR">Raw hides and skins</option>
                <option value="RAW_MATERIAL_FOR_HC_GELATINE_COLLAGEN">Raw material for hc gelatine/collagen</option>
                <option value="RAW_MATERIAL_FOR_GEL_COL">Raw material for processing of gelatine and collagen</option>
                <option value="RAW_MILK">Raw milk</option>
                <option value="RAW_PET_FOOD">Raw petfood</option>
                <option value="PETR">Raw petfood</option>
                <option value="RENDERED_FAT_FOR_HC">Rendered fat for hc</option>
                <option value="FATOL">Rendered fat from abp for oleochemical purposes</option>
                <option value="FATF">Rendered fats and fish oil for feeding</option>
                <option value="FATOT">Rendered fats and fish oil for purposes other than for feeding or for oleochemical purposes</option>
                <option value="SEMEN">Semen</option>
                <option value="PEGIBPLUMEE">Small feathered farmed game</option>
                <option value="PEGIBPLUMES">Small feathered wild game</option>
                <option value="PEGIBSAUV">Small wild game</option>
                <option value="SPF">Spf</option>
                <option value="STERILIZATION">Sterilization</option>
                <option value="HISKT">Treated hides and skins</option>
                <option value="TREATED_RAW_MATERIAL_FOR_PROCESSING_GELATINE_COLLAGEN">Treated raw material for processing of gelatine and collagen</option>
                <option value="TCAP">Tricalcium phosphate</option>
                <option value="uht">Uht</option>
                <option value="MANURE_UNPROCESSED">Unprocessed manure</option>
                <option value="MANU">Unprocessed manure</option>
                <option value="CAD">Whole bodies of dead animals (cadavers)</option>
                <option value="GIBSAUV">Wild game</option>
                <option value="WILD_STOCK">Wild stock</option>
                <option value="WHBF">Wool, hair, pig bristles, feathers</option>
              </select>
            </div>

            <label class="govuk-label" for="coldStore" id="coldStore">Slaughterhouse</label>
            {% if data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a slaughterhouse</a></p>
            </div>
            {% else %}
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="coldStore" name="coldStore" value="MN 100">
              <input type="hidden" id="coldStore-id" name="coldStore-id" value="68">
              <input type="hidden" id="coldStoreActivity" name="coldStoreActivity" value="Establishment - food (FOOD-OTH)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">James T Blakemann (Service) Ltd</h3>
              <p class="govuk-body"> Millennium Way, High Carr Business Park<br>
                Newcastle-under-Lyme<br>
                ST5 7UF<br> United Kingdom</p>
              <p class="govuk-body"><span>TRACES Number: NQ 006<br></span> Activity: Meat preparation plant</p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Cold store&searchID=coldStore&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different cold store</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=coldStore">Select a different cold store</a>-->
              </p>
            </div>
            {% endif %}

            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <label class="govuk-label" for="plantEstablishmentCentre" id="plantEstablishmentCentre">
              Cutting plant
            </label>
            {% if  data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a cutting plant</a></p>
            </div>
            {% else %}
            <!-- Complete -->
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="plantEstablishmentCentre" name="plantEstablishmentCentre" value="MN 100">
              <input type="hidden" id="plantEstablishmentCentre-id" name="plantEstablishmentCentre-id" value="68">
              <input type="hidden" id="plantEstablishmentCentreActivity" name="plantEstablishmentCentreActivity" value="Processing plant - food (MPP)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">James T Blakemann (Service) Ltd</h3>
              <p class="govuk-body"> Millennium Way, High Carr Business Park<br>
                Newcastle-under-Lyme<br>
                ST5 7UF<br> United Kingdom</p>
              <p class="govuk-body"><span>TRACES Number: NQ 006<br></span> Activity: Meat preparation plant</p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Plant / establishment / centre&searchID=plantEstablishmentCentre&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different plant / establishment / centre</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=plantEstablishmentCentre">Select a different plant / establishment / centre</a>-->
              </p>
            </div>
            {% endif %}
            <!-- check to see if this field is incomplete -->
            <!-- This is dynamicaly generated by the array in /app/data/certs.json -->
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->
            <label class="govuk-label" for="coldStore" id="coldStore">
              Cold store (optional)
            </label>
            <!-- Complete -->
            {% if data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a cold store</a></p>
            </div>
            {% else %}
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="coldStore" name="coldStore" value="MN 100">
              <input type="hidden" id="coldStore-id" name="coldStore-id" value="68">
              <input type="hidden" id="coldStoreActivity" name="coldStoreActivity" value="Establishment - food (FOOD-OTH)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">James T Blakemann (Service) Ltd</h3>
              <p class="govuk-body"> Millennium Way, High Carr Business Park<br>
                Newcastle-under-Lyme<br>
                ST5 7UF<br> United Kingdom</p>
              <p class="govuk-body"><span>TRACES Number: NQ 006<br></span> Activity: Meat preparation plant</p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Cold store&searchID=coldStore&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different cold store</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=coldStore">Select a different cold store</a>-->
              </p>
            </div>

            {% endif %}


            <label class="govuk-label" for="manufacturingPlant" id="manufacturingPlant">
              Manufacturing plant
            </label>
            {% if  data.new == 'yes'%}
            <div class="govuk-form-group app-find-establishment-card">
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="#">Select a manufacturing plant</a></p>
            </div>
            {% else %}
            <!-- Complete -->
            <div class="govuk-form-group app-find-establishment-card">
              <input type="hidden" id="manufacturingPlant" name="manufacturingPlant" value="MN 100">
              <input type="hidden" id="manufacturingPlant-id" name="manufacturingPlant-id" value="68">
              <input type="hidden" id="manufacturingPlantActivity" name="manufacturingPlantActivity" value="Processing plant - food (MPP)">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">FOYLE MELTON MOWBRAY</h3>
              <p class="govuk-body"> Millennium Way, High Carr Business Park<br>
                Newcastle-under-Lyme<br>
                ST5 7UF<br> United Kingdom</p>
              <p class="govuk-body"><span>TRACES Number: NQ 006<br></span> Activity: Meat preparation plant</p>
              <p class="govuk-!-margin-bottom-0">
                <a href="#">Remove</a> | <a href="#">Change activity</a>
                <!--<a href="../find/results?id=0&change=yes&searchLabel=Manufacturing plant&searchID=manufacturingPlant&canSearchApprovalNumber=yes&searchReturnURL=../export/commodity">Select a different manufacturing plant</a>-->
                <!--<a class="find-establishment-link" href="../find/results?searchReturnURL=../export/commodity&canSearchApprovalNumber=yes&certId=0&addedCommoditiesId=0&identificationsId=0&establishmentType=manufacturingPlant">Select a different manufacturing plant</a>-->
              </p>
            </div>

            {% endif %}
            <!-- check to see if this field is incomplete -->

            <!-- check to see if this field is incomplete -->
            {% set packageCountID = "packageCount_"+data.commodity_id %}

            <div class="govuk-form-group">
              <label class="govuk-label" for="packageCount-4-10410-31010000" id="packageCount">

                {% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}
                Package count
              </label>
              <div class="govuk-input__wrapper select-input-wrapper" data-v-4e8f37a8="">

                <input class="govuk-input" type="number" data-type="quantity" name="packageCount_{{data.commodity_id}}" step="1" min="0" max="9999999" id="packageCount-4-10410-31010000" value="{% if data.new != 'yes' and data.showIncompleteData != 'yes'%}{{ data[packageCountID] or query.packageCount or 7}}{% endif %}">
                <div class="govuk-input__suffix suffix__action" data-v-4e8f37a8="">
                  <select class="govuk-select" id="packageCount-4-10410-31010000-units" data-v-4e8f37a8="" name="packageCount_UNIT">
                    <option disabled="" value="" {% if data.new == 'yes' or data.showIncompleteData == 'yes'%}selected{% endif %}>Select a unit</option>
                    <option value="Bag">Bag</option>
                    <option value="Bale, compressed">Bale, compressed</option>
                    <option value="Barrel, wooden, bung type">Barrel, wooden, bung type</option>
                    <option value="Barrel, wooden, removable head">Barrel, wooden, removable head</option>
                    <option value="Box">Box</option>
                    <option value="Box, wooden, natural wood, ordinary">Box, wooden, natural wood, ordinary</option>
                    <option value="Box, wooden, natural wood, with sift proof walls">Box, wooden, natural wood,
                      with sift proof walls</option>
                    <option value="Bulk, solid, granular particles ('grains')">Bulk, solid, granular particles ("grains")
                    </option>
                    <option value="Can, rectangular">Can, rectangular</option>
                    <option value="Canister">Canister</option>
                    <option value="Carton">Carton</option>
                    <option value="Case">Case</option>
                    <option value="Case, with pallet base, wooden">Case, with pallet base, wooden</option>
                    <option value="Cask">Cask</option>
                    <option value="Coffer">Coffer</option>
                    <option value="Container, not otherwise specified as transport equipment">Container,
                      not otherwise specified as transport equipment</option>
                    <option value="Crate">Crate</option>
                    <option value="Crate, wooden">Crate, wooden</option>
                    <option value="Drum">Drum</option>
                    <option value="Receptacle, glass">Receptacle, glass</option>
                    <option value="Jar">Jar</option>
                    <option value="Logs, in bundle/bunch/truss">Logs, in bundle/bunch/truss</option>
                    <option value="Lug">Lug</option>
                    <option value="Luggage">Luggage</option>
                    <option {% if data.new != 'yes' and data.showIncompleteData != 'yes'%}selected="" {% endif %} value="Package">Package</option>
                    <option value="Package, display, wooden">Package, display, wooden</option>
                    <option value="Pail">Pail</option>
                    <option value="Pallet">Pallet</option>
                    <option value="Bag, plastics film">Bag, plastics film</option>
                    <option value="Box, plastic, expanded">Box, plastic, expanded</option>
                    <option value="Punnet">Punnet</option>
                    <option value="Rednet">Rednet</option>
                    <option value="Tank, rectangula">Tank, rectangular</option>
                    <option value="Bag, tote">Bag, tote</option>
                    <option value="Tray pack">Tray pack</option>
                    <option value="Tube">Tube</option>
                    <option value="Vial">Vial</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- check to see if this field is incomplete -->
            {% set netWeightID = "netWeight_"+data.commodity_id %}
            <div class="govuk-form-group">
              <label class="govuk-label" for="netWeight-3-10410-31010000" id="netWeight">{% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}Net weight</label>
              <div class="govuk-input__wrapper select-input-wrapper" data-v-4e8f37a8="">
                <input class="govuk-input" type="number" data-type="quantity" name="netWeight_{{data.commodity_id}}" step="0.0001" min="0" max="9999999" id="netWeight-3-10410-31010000" {% if data.new != 'yes' and data.showIncompleteData != 'yes'%}value="{{ data[netWeightID] or query.netWeight or 34}}"
                  {% endif %}>
                <div class="govuk-input__suffix suffix__action" data-v-4e8f37a8="">
                  <select class="govuk-select" id="netWeight-3-10410-31010000-units" name="netWeight_UNIT" data-v-4e8f37a8="">
                    <option disabled="" value="" data-v-4e8f37a8="" {% if data.new == 'yes' or data.showIncompleteData == 'yes' %}selected{% endif %}>Select a unit</option>
                    <option value="gram">gram</option>
                    <option {% if  not data.new != 'yes' and data.showIncompleteData != 'yes'%}selected{% endif %} value="kilogram">kilogram</option>
                    <option value="kilotonne">kilotonne</option>
                    <option value="tonne (metric ton)">tonne (metric ton)</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- check to see if this field is incomplete -->



            <!-- check to see if this field is incomplete -->

            <!-- check to see if this field is incomplete -->
            <!-- SINGLES -->
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">Final consumer &nbsp;(optional)
                  <!---->
                  <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-1" name="finalConsumer" type="radio" value="yes" {% if data.new != 'yes'%} checked{% endif %}><label class="govuk-label govuk-radios__label"
                        for="FINAL_CONSUMER-9-11930-151790-1"> Yes </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="FINAL_CONSUMER-9-11930-151790-2" name="finalConsumer" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="FINAL_CONSUMER-9-11930-151790-2"> No </label>
                    </div>
                  </div>
                </legend>
              </fieldset>
            </div>

            <div class="govuk-form-group"><label class="govuk-label" for="FREEZING_DATE-13-11869-020110">Date of freezing &nbsp;(Optional) </label>


                  <input class="govuk-input" type="datetime-local" id="FREEZING_DATE-13-11869-020110">


              </div>
              <!---->
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="Freezing_date_range-9-11781-160100">Freezing date range &nbsp;(Optional) </label>
              <!---->
              <!---->
              <!---->
              <input class="govuk-input" type="text" data-type="multi" name="Freezing_date_range">
            </div>
            <!-- check to see if this field is incomplete -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="COLLECTION_PRODUCTION_DATE-3-11711-020120" id="StorageLife">{% if data.showIncompleteData == 'yes' %}<strong class="govuk-tag govuk-tag--red">Incomplete data</strong><br>{% endif %}Storage
                life</label>
                <input class="govuk-input" type="datetime-local" name="dateOfCollectionProduction" id="COLLECTION_PRODUCTION_DATE-3-11711-020120" {% if data.new != 'yes' and data.showIncompleteData != 'yes'%} value="2022-11-14T11:28:00" {% endif %}>
            </div>
            <!-- check to see if this record ... or it's activity companion (e.g. coldStoreActivity) is incomplete -->



            <div class="govuk-form-group">
              <label class="govuk-label" for="TAXON">Species</label>
              <select class="govuk-select govuk-!-width-two-thirds" id="TAXON" name="species">
                <option disabled="" value="" {% if data.new == 'yes'%}selected{% endif %}>Select a taxonomy</option>
                <option {% if data.new != 'yes'%}selected{% endif %} value="Aves">Aves</option>
                <option value="Bubalus bubalis">Suidae</option>
                <option value="Ovis aries">Otra mammalia</option>
                <option value="Capra hircus">Lagomorpha</option>
                <option value="Capra hircus">Artiodactyla - Suidae</option>
              </select>
              <input type="hidden" value="" name="defaultValue" id="defaultValue">
            </div>
            <!---->
            <!-- reset change values -->
            <input type="hidden" name="change" value="">
            <input type="hidden" name="changeID" value="">
            <input type="hidden" name="commodityListID" value="0">
            <section id="actions">
              <button data-module="govuk-button" type="submit" name="submit-button" class="govuk-button m-r-5" id="addIdentification">{% if data.new!="yes"%}Update {% else %}Add {% endif %}commodity</button>
            </section>
        </div>
        <!---->
      </div>
  </div>
</div>
</form>
</div>
</div>
