

<div class="govuk-form-group app-repeadable-holder " id="repeatable-freezing-date-holder">
  <label class="govuk-label" for="FREEZING_DATE-6-11711-020120">Date of freezing {% if field.required == "no" %}&nbsp;(optional for <abbr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</abbr>){% endif %}</label>
  <div class="app-repeatable-section govuk-!-width-one-third" id="repeatable-freezing-date">
    <div class="govuk-input__wrapper ">
      <input name="dateOfFreezing" class="govuk-input" type="date" id="FREEZING_DATE-6-11711-020120">
      <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">
        <button type="button" data-count="1" data-target="repeatable-freezing-date" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
        </button>
      </div>
    </div>
  </div>
</div>
