{% set serviceName = "Apply to export animals or animal products

"%}
{% extends "layout.html" %}

{% block pageTitle %}
Changes to the service - Apply for an Export health certificate - GOVUK
{% endblock %}

{% block beforeContent%}
{% block navigation %}{% include './components/_navigation.html' %}{% endblock %}
<a href="recent-certificates" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<!-- get a list of certs -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You can now submit a digital application to send goods to the EU or Northern Ireland</h1>

      <p class="govuk-body" lang="en">
        To make sure all export data is consistent with the EU’s trade and control expert system (TRACES), we’re making some changes to how you apply to move animals and animal products to the EU and Northern Ireland.
      </p>
      <p>You can create a paperless application for any consignment to the EU and Northern Ireland. With a paperless application, your:
</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>certifiers and importers will no longer need to use paper copies of EHCs</li>
        <li>commodity data will be consistent with EU border control post requirements</li>
      </ul>
      <p>To learn more, you can read more about <a href="how-to-paperless-certs?journey=copy">how digital applications work</a>.</p>

      <form method="post" novalidate="">
        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      Do you want to create a new digital application for this EHC?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <!-- <input class="govuk-radios__input" id="where-do-you-live" name="typeOfCertificate" type="radio" value="digital~/beta/v{{data.version or '3-5'}}/application/export/set-certificate?ehc={{data.selectedCertificate or '8350' }}"> -->
          <input class="govuk-radios__input" id="where-do-you-live" name="typeOfCertificate" type="radio" value="digital~./create-reference">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
             Yes
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            You will be able to download a QR code to show at the border control post.

        </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="typeOfCertificate" type="radio" value="paper~https://defra-ehco-prototype.herokuapp.com/beta/v8/core/certificate/check-your-progress?certificate=ehc{{data.selectedCertificate or '8350' }}">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
             No, copy the paper EHC
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            You will need to print a copy to accompany your consignment.
        </div>
        </div>
      </div>
    </fieldset>
  </div>
        <input type="hidden" name="firstTime" value="no">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>


  </div>

{% endblock %}

