{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">EHC Management</h1>
    {% block fileter %}{% include "./_filter-activity.html" %}{% endblock%}

    <div class="govuk-grid-row home-list">

        <div class="p-datatable p-component p-datatable-responsive-stack" data-scrollselectors=".p-datatable-wrapper" pv_id_1="">


          <div class="govuk-grid-column-full">
          <div class="p-datatable-wrapper">
            <table role="table" class="p-datatable-table">
              <thead class="p-datatable-thead" role="rowgroup">
                <tr role="row">
                  <th class="p-sortable-column" tabindex="0" role="cell" aria-sort="none">
                    <!---->
                    <div class="p-column-header-content">
                    <span class="p-column-title">Certificate</span><span class="p-sortable-column-icon pi pi-fw pi-sort-alt"></span>

                    </div>
                  </th>
                  <th class="p-sortable-column" tabindex="0" role="cell" aria-sort="none">
                    <!---->
                    <div class="p-column-header-content">
                    <span class="p-column-title">Certificate description</span><span class="p-sortable-column-icon pi pi-fw pi-sort-alt"></span>

                    </div>
                  </th>
                    <!---->

                  <th class="" role="cell">
                    <!---->
                    <div class="p-column-header-content">
                      <!----><span class="p-column-title">Status</span><span class="p-sortable-column-icon pi pi-fw pi-sort-alt"></span>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </div>
                  </th>
                  <th class="" role="cell">
                    <span class="p-column-title">Actions</span>
                  </th>
                </tr>
                <!---->
              </thead>
              <!---->
              <tbody class="p-datatable-tbody" role="rowgroup">
                <!---->
                <tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr>
                <!---->
                <!---->
                <!---->
                <tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr><tr class="" role="row">

                  <td class="" role="cell"><span class="p-column-title"> Certificate name</span><span title="EHC8328">EHC8328</span> </td>
                  <td role="cell"><span class="p-column-title">Description</span> Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland</td>
                  <td class="" role="cell"><span class="p-column-title">Status</span><span class="govuk-tag AcceptedByTraces">Active</span></td>
                  <td class="govuk-!-width-one-quarter " role="cell" >
                    <ul class="govuk-list">
                      <li><a href="#">Update status</a></li>
                      <li><a href="#">Manage questions</a></li>
                      <li><a href="#">View custom questions</a>
                    </ul>
                  </td>
                </tr>
                <!---->
                <!---->
              </tbody>
              <!---->
            </table>
          </div>
          <!---->
          <!---->
          <div class="p-column-resizer-helper" style="display: none;"></div>
          <!---->
          <!---->
        </div>
      </div>
      <div class="p-paginator p-component" modelvalue="1">
        <!----><span class="p-paginator-current">Showing 1 to 10 of 202</span><button class="p-paginator-first p-paginator-element p-link p-disabled" type="button" disabled=""><span class="p-sr-only">Go to first page</span><span
            class="p-paginator-icon pi pi-angle-double-left"></span></button><button class="p-paginator-prev p-paginator-element p-link p-disabled" type="button" disabled=""><span class="p-sr-only">Go to first page</span><span
            class="p-paginator-icon pi pi-angle-left"></span></button><span class="p-paginator-pages"><button class="p-paginator-page p-paginator-element p-link p-highlight" type="button">1</button><button
            class="p-paginator-page p-paginator-element p-link" type="button">2</button><button class="p-paginator-page p-paginator-element p-link" type="button">3</button><button class="p-paginator-page p-paginator-element p-link"
            type="button">4</button><button class="p-paginator-page p-paginator-element p-link" type="button">5</button></span><button class="p-paginator-next p-paginator-element p-link" type="button"><span class="p-sr-only">Go to next
            page</span><span class="p-paginator-icon pi pi-angle-right"></span></button><button class="p-paginator-last p-paginator-element p-link" type="button"><span class="p-sr-only">Go to last page</span><span
            class="p-paginator-icon pi pi-angle-double-right"></span></button>
        <div class="p-dropdown p-component p-inputwrapper p-inputwrapper-filled p-paginator-rpp-options">
          <div class="p-hidden-accessible"><input type="text" readonly="" aria-haspopup="true" aria-expanded="false"></div>
          <!----><span class="p-dropdown-label p-inputtext">10</span>
          <!---->
          <div class="p-dropdown-trigger" role="button" aria-haspopup="listbox" aria-expanded="false"><span class="p-sr-only">Show dropdown</span><span class="p-dropdown-trigger-icon pi pi-chevron-down"></span></div>
        </div>
        <!---->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>

{% endblock %}
