{% set accountActive = true %}
{% extends "layout.html" %}
{% set showBackLink = false %}


{% if data['env'] == "prod" %}
    {% if application.prodClientSecret %}
        {% set pageHeading = 'A new client secret has been generated for your production application' %}
    {% else %}
        {% set pageHeading = 'A client secret has been generated for your production application' %}    
    {% endif %}
{% else %}
    {% if application.clientSecret %}
        {% set pageHeading = 'A new client secret has been generated for your sandbox application' %}
    {% else %}
        {% set pageHeading = 'A client secret has been generated for your sandbox application' %}    
    {% endif %}
{% endif %}

{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">        
        <div class="govuk-grid-column-two-thirds">

                {{ govukPanel({
                    titleText: pageHeading,           
                    html: "Client secret<br><strong>78916e47-ae4c-42d9-9df1-66871104d079</strong>",         
                    classes: "govuk-!-margin-bottom-7"
                }) }}                
                
                <!-- <p>This client secret has been generated to use with your {{ application.name }} application in the sandbox environment.</p> -->
                
                
                <p>It’s important to copy or make a note of this client secret as it will not be available after you leave this confirmation page.</p>
                <!-- <p>You will need to create a new client secret.</p> -->
                <!-- <div class="govuk-inset-text">                    
                    <p>78916e47-ae4c-42d9-9df1-66871104d079</p>
                </div> -->


                <h2 class="govuk-heading-m">What to do next</h2>                
                <p class="govuk-body">You can read more about <a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">how to use these credentials (opens in new tab)</a> to interact with our services.</p>                            
                <p><a class="govuk-link govuk-link--no-visited-state" href="/account/applications/{{ id }}#credentials">Return to your application</a></p>
                            
            
            </div>
        </div>
    </div>

{% endblock %}
