
.f-gbr[data-v-8720a308], .f-gb[data-v-8720a308] {
    background-position: 0 -3444px;
}

.flag {
  width: 52px;
  height: 39px;
  display: inline-block;
  background-repeat: no-repeat;
  zoom: 0.75;
  vertical-align: middle;
}

.flag[data-v-8720a308] {
    width: 52px;
    height: 39px;
    display: inline-block;
    background-repeat: no-repeat;
}

.normal-flag[data-v-8720a308] {
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
}
.flag[data-v-5f726ce5] {
    vertical-align: middle;
    width: 50px;
    zoom: .75;
}


.flag[data-v-8720a308] {
  width: 52px;
  height: 39px;
  display: inline-block;
  background-repeat: no-repeat;
}
.f-and[data-v-8720a308],
.f-andorra[data-v-8720a308] {
  background-position: 0 -42px;
}
.f-are[data-v-8720a308],
.f-ae[data-v-8720a308] {
  background-position: 0 -82px;
}
.f-afg[data-v-8720a308],
.f-af[data-v-8720a308] {
  background-position: 0 -123px;
}
.f-atg[data-v-8720a308],
.f-ag[data-v-8720a308] {
  background-position: 0 -164px;
}
.f-aia[data-v-8720a308],
.f-ai[data-v-8720a308] {
  background-position: 0 -205px;
}
.f-alb[data-v-8720a308],
.f-al[data-v-8720a308] {
  background-position: 0 -246px;
}
.f-arm[data-v-8720a308],
.f-am[data-v-8720a308] {
  background-position: 0 -287px;
}
.f-ant[data-v-8720a308],
.f-an[data-v-8720a308] {
  background-position: 0 -328px;
}
.f-ago[data-v-8720a308],
.f-ao[data-v-8720a308] {
  background-position: 0 -369px;
}
.f-ata[data-v-8720a308],
.f-aq[data-v-8720a308] {
  background-position: 0 -410px;
}
.f-arg[data-v-8720a308],
.f-ar[data-v-8720a308] {
  background-position: 0 -451px;
}
.f-asm[data-v-8720a308],
.f-as[data-v-8720a308] {
  background-position: 0 -492px;
}
.f-aut[data-v-8720a308],
.f-at[data-v-8720a308] {
  background-position: 0 -533px;
}
.f-aus[data-v-8720a308],
.f-au[data-v-8720a308] {
  background-position: 0 -574px;
}
.f-abw[data-v-8720a308],
.f-aw[data-v-8720a308] {
  background-position: 0 -615px;
}
.f-ala[data-v-8720a308],
.f-ax[data-v-8720a308] {
  background-position: 0 -657px;
}
.f-aze[data-v-8720a308],
.f-az[data-v-8720a308] {
  background-position: 0 -698px;
}
.f-bih[data-v-8720a308],
.f-ba[data-v-8720a308] {
  background-position: 0 -738px;
}
.f-brb[data-v-8720a308],
.f-bb[data-v-8720a308] {
  background-position: 0 -779px;
}
.f-bgd[data-v-8720a308],
.f-bd[data-v-8720a308] {
  background-position: 0 -820px;
}
.f-bel[data-v-8720a308],
.f-be[data-v-8720a308] {
  background-position: 0 -861px;
}
.f-bfa[data-v-8720a308],
.f-bf[data-v-8720a308] {
  background-position: 0 -902px;
}
.f-bgr[data-v-8720a308],
.f-bg[data-v-8720a308] {
  background-position: 0 -943px;
}
.f-bhr[data-v-8720a308],
.f-bh[data-v-8720a308] {
  background-position: 0 -984px;
}
.f-bdi[data-v-8720a308],
.f-bi[data-v-8720a308] {
  background-position: 0 -1025px;
}
.f-ben[data-v-8720a308],
.f-bj[data-v-8720a308] {
  background-position: 0 -1067px;
}
.f-blm[data-v-8720a308],
.f-bl[data-v-8720a308] {
  background-position: 0 -1107px;
}
.f-bmu[data-v-8720a308],
.f-bm[data-v-8720a308] {
  background-position: 0 -1148px;
}
.f-brn[data-v-8720a308],
.f-bn[data-v-8720a308] {
  background-position: 0 -1189px;
}
.f-bol[data-v-8720a308],
.f-bo[data-v-8720a308] {
  background-position: 0 -1230px;
}
.f-bes[data-v-8720a308],
.f-bq[data-v-8720a308] {
  background-position: 0 -1272px;
}
.f-bra[data-v-8720a308],
.f-br[data-v-8720a308] {
  background-position: 0 -1312px;
}
.f-bhs[data-v-8720a308],
.f-bs[data-v-8720a308] {
  background-position: 0 -1353px;
}
.f-btn[data-v-8720a308],
.f-bt[data-v-8720a308] {
  background-position: 0 -1394px;
}
.f-bvt[data-v-8720a308],
.f-bv[data-v-8720a308] {
  background-position: 0 -1435px;
}
.f-bwa[data-v-8720a308],
.f-bw[data-v-8720a308] {
  background-position: 0 -1477px;
}
.f-blr[data-v-8720a308],
.f-by[data-v-8720a308] {
  background-position: 0 -1517px;
}
.f-blz[data-v-8720a308],
.f-bz[data-v-8720a308] {
  background-position: 0 -1558px;
}
.f-can[data-v-8720a308],
.f-ca[data-v-8720a308] {
  background-position: 0 -1599px;
}
.f-cck[data-v-8720a308],
.f-cc[data-v-8720a308] {
  background-position: 0 -1640px;
}
.f-cod[data-v-8720a308],
.f-cd[data-v-8720a308] {
  background-position: 0 -1681px;
}
.f-caf[data-v-8720a308],
.f-cf[data-v-8720a308] {
  background-position: 0 -1722px;
}
.f-cog[data-v-8720a308],
.f-cg[data-v-8720a308] {
  background-position: 0 -1763px;
}
.f-che[data-v-8720a308],
.f-ch[data-v-8720a308] {
  background-position: 0 -1804px;
}
.f-civ[data-v-8720a308],
.f-ci[data-v-8720a308] {
  background-position: 0 -1845px;
}
.f-cok[data-v-8720a308],
.f-ck[data-v-8720a308] {
  background-position: 0 -1886px;
}
.f-chl[data-v-8720a308],
.f-cl[data-v-8720a308] {
  background-position: 0 -1927px;
}
.f-cmr[data-v-8720a308],
.f-cm[data-v-8720a308] {
  background-position: 0 -1968px;
}
.f-chn[data-v-8720a308],
.f-cn[data-v-8720a308] {
  background-position: 0 -2009px;
}
.f-col[data-v-8720a308],
.f-co[data-v-8720a308] {
  background-position: 0 -2050px;
}
.f-cri[data-v-8720a308],
.f-cr[data-v-8720a308] {
  background-position: 0 -2091px;
}
.f-cub[data-v-8720a308],
.f-cu[data-v-8720a308] {
  background-position: 0 -2132px;
}
.f-cpv[data-v-8720a308],
.f-cv[data-v-8720a308] {
  background-position: 0 -2173px;
}
.f-cuw[data-v-8720a308],
.f-cw[data-v-8720a308] {
  background-position: 0 -2214px;
}
.f-cxr[data-v-8720a308],
.f-cx[data-v-8720a308] {
  background-position: 0 -2255px;
}
.f-cyp[data-v-8720a308],
.f-cy[data-v-8720a308] {
  background-position: 0 -2296px;
}
.f-cze[data-v-8720a308],
.f-cz[data-v-8720a308] {
  background-position: 0 -2337px;
}
.f-deu[data-v-8720a308],
.f-de[data-v-8720a308] {
  background-position: 0 -2377px;
}
.f-dji[data-v-8720a308],
.f-dj[data-v-8720a308] {
  background-position: 0 -2419px;
}
.f-dnk[data-v-8720a308],
.f-dk[data-v-8720a308] {
  background-position: 0 -2460px;
}
.f-dma[data-v-8720a308],
.f-dm[data-v-8720a308] {
  background-position: 0 -2501px;
}
.f-dom[data-v-8720a308],
.f-do[data-v-8720a308] {
  background-position: 0 -2542px;
}
.f-dza[data-v-8720a308],
.f-dz[data-v-8720a308] {
  background-position: 0 -2583px;
}
.f-ecu[data-v-8720a308],
.f-ec[data-v-8720a308] {
  background-position: 0 -2624px;
}
.f-est[data-v-8720a308],
.f-ee[data-v-8720a308] {
  background-position: 0 -2665px;
}
.f-egy[data-v-8720a308],
.f-eg[data-v-8720a308] {
  background-position: 0 -2706px;
}
.f-esh[data-v-8720a308],
.f-eh[data-v-8720a308] {
  background-position: 0 -2747px;
}
.f-eri[data-v-8720a308],
.f-er[data-v-8720a308] {
  background-position: 0 -2787px;
}
.f-es-ca[data-v-8720a308] {
  background-position: 0 -2829px;
}
.f-esp[data-v-8720a308],
.f-es[data-v-8720a308] {
  background-position: 0 -2870px;
}
.f-eth[data-v-8720a308],
.f-et[data-v-8720a308] {
  background-position: 0 -2911px;
}
.f-eu[data-v-8720a308] {
  background-position: 0 -2953px;
}
.f-fin[data-v-8720a308],
.f-fi[data-v-8720a308] {
  background-position: 0 -2993px;
}
.f-fji[data-v-8720a308],
.f-fj[data-v-8720a308] {
  background-position: 0 -3034px;
}
.f-flk[data-v-8720a308],
.f-fk[data-v-8720a308] {
  background-position: 0 -3075px;
}
.f-fsm[data-v-8720a308],
.f-fm[data-v-8720a308] {
  background-position: 0 -3116px;
}
.f-fro[data-v-8720a308],
.f-fo[data-v-8720a308] {
  background-position: 0 -3157px;
}
.f-fra[data-v-8720a308],
.f-fr[data-v-8720a308] {
  background-position: 0 -3198px;
}
.f-gab[data-v-8720a308],
.f-ga[data-v-8720a308] {
  background-position: 0 -3239px;
}
.f-gb-eng[data-v-8720a308] {
  background-position: 0 -3280px;
}
.f-gb-nir[data-v-8720a308] {
  background-position: 0 -3321px;
}
.f-gb-sct[data-v-8720a308] {
  background-position: 0 -3362px;
}
.f-gb-wls[data-v-8720a308] {
  background-position: 0 -3403px;
}
.f-gbr[data-v-8720a308],
.f-gb[data-v-8720a308] {
  background-position: 0 -3444px;
}
.f-grd[data-v-8720a308],
.f-gd[data-v-8720a308] {
  background-position: 0 -3485px;
}
.f-geo[data-v-8720a308],
.f-ge[data-v-8720a308] {
  background-position: 0 -3526px;
}
.f-guf[data-v-8720a308],
.f-gf[data-v-8720a308] {
  background-position: 0 -3567px;
}
.f-ggy[data-v-8720a308],
.f-gg[data-v-8720a308] {
  background-position: 0 -3608px;
}
.f-gha[data-v-8720a308],
.f-gh[data-v-8720a308] {
  background-position: 0 -3649px;
}
.f-gib[data-v-8720a308],
.f-gi[data-v-8720a308] {
  background-position: 0 -3690px;
}
.f-grl[data-v-8720a308],
.f-gl[data-v-8720a308] {
  background-position: 0 -3731px;
}
.f-gmb[data-v-8720a308],
.f-gm[data-v-8720a308] {
  background-position: 0 -3771px;
}
.f-gin[data-v-8720a308],
.f-gn[data-v-8720a308] {
  background-position: 0 -3813px;
}
.f-glp[data-v-8720a308],
.f-gp[data-v-8720a308] {
  background-position: 0 -3854px;
}
.f-gnq[data-v-8720a308],
.f-gq[data-v-8720a308] {
  background-position: 0 -3895px;
}
.f-grc[data-v-8720a308],
.f-gr[data-v-8720a308] {
  background-position: 0 -3936px;
}
.f-sgs[data-v-8720a308],
.f-gs[data-v-8720a308] {
  background-position: 0 -3977px;
}
.f-gtm[data-v-8720a308],
.f-gt[data-v-8720a308] {
  background-position: 0 -4018px;
}
.f-gum[data-v-8720a308],
.f-gu[data-v-8720a308] {
  background-position: 0 -4059px;
}
.f-gnb[data-v-8720a308],
.f-gw[data-v-8720a308] {
  background-position: 0 -4100px;
}
.f-guy[data-v-8720a308],
.f-gy[data-v-8720a308] {
  background-position: 0 -4141px;
}
.f-hkg[data-v-8720a308],
.f-hk[data-v-8720a308] {
  background-position: 0 -4182px;
}
.f-hmd[data-v-8720a308],
.f-hm[data-v-8720a308] {
  background-position: 0 -4223px;
}
.f-hnd[data-v-8720a308],
.f-hn[data-v-8720a308] {
  background-position: 0 -4264px;
}
.f-hrv[data-v-8720a308],
.f-hr[data-v-8720a308] {
  background-position: 0 -4305px;
}
.f-hti[data-v-8720a308],
.f-ht[data-v-8720a308] {
  background-position: 0 -4347px;
}
.f-hun[data-v-8720a308],
.f-hu[data-v-8720a308] {
  background-position: 0 -4387px;
}
.f-idn[data-v-8720a308],
.f-id[data-v-8720a308] {
  background-position: 0 -4428px;
}
.f-irl[data-v-8720a308],
.f-ie[data-v-8720a308] {
  background-position: 0 -4468px;
}
.f-isr[data-v-8720a308],
.f-il[data-v-8720a308] {
  background-position: 0 -4510px;
}
.f-imn[data-v-8720a308],
.f-im[data-v-8720a308] {
  background-position: 0 -4551px;
}
.f-ind[data-v-8720a308],
.f-in[data-v-8720a308] {
  background-position: 0 -4593px;
}
.f-iot[data-v-8720a308],
.f-io[data-v-8720a308] {
  background-position: 0 -4633px;
}
.f-irq[data-v-8720a308],
.f-iq[data-v-8720a308] {
  background-position: 0 -4674px;
}
.f-irn[data-v-8720a308],
.f-ir[data-v-8720a308] {
  background-position: 0 -4715px;
}
.f-isl[data-v-8720a308],
.f-is[data-v-8720a308] {
  background-position: 0 -4756px;
}
.f-ita[data-v-8720a308],
.f-it[data-v-8720a308] {
  background-position: 0 -4797px;
}
.f-jey[data-v-8720a308],
.f-je[data-v-8720a308] {
  background-position: 0 -4838px;
}
.f-jam[data-v-8720a308],
.f-jm[data-v-8720a308] {
  background-position: 0 -4879px;
}
.f-jor[data-v-8720a308],
.f-jo[data-v-8720a308] {
  background-position: 0 -4920px;
}
.f-jpn[data-v-8720a308],
.f-jp[data-v-8720a308] {
  background-position: 0 -4961px;
}
.f-ken[data-v-8720a308],
.f-ke[data-v-8720a308] {
  background-position: 0 -5002px;
}
.f-kgz[data-v-8720a308],
.f-kg[data-v-8720a308] {
  background-position: 0 -5043px;
}
.f-khm[data-v-8720a308],
.f-kh[data-v-8720a308] {
  background-position: 0 -5084px;
}
.f-kir[data-v-8720a308],
.f-ki[data-v-8720a308] {
  background-position: 0 -5125px;
}
.f-com[data-v-8720a308],
.f-km[data-v-8720a308] {
  background-position: 0 -5166px;
}
.f-kna[data-v-8720a308],
.f-kn[data-v-8720a308] {
  background-position: 0 -5207px;
}
.f-prk[data-v-8720a308],
.f-kp[data-v-8720a308] {
  background-position: 0 -5248px;
}
.f-kor[data-v-8720a308],
.f-kr[data-v-8720a308] {
  background-position: 0 -5289px;
}
.f-kwt[data-v-8720a308],
.f-kw[data-v-8720a308] {
  background-position: 0 -5330px;
}
.f-cym[data-v-8720a308],
.f-ky[data-v-8720a308] {
  background-position: 0 -5371px;
}
.f-kaz[data-v-8720a308],
.f-kz[data-v-8720a308] {
  background-position: 0 -5412px;
}
.f-lao[data-v-8720a308],
.f-la[data-v-8720a308] {
  background-position: 0 -5453px;
}
.f-lbn[data-v-8720a308],
.f-lb[data-v-8720a308] {
  background-position: 0 -5494px;
}
.f-lca[data-v-8720a308],
.f-lc[data-v-8720a308] {
  background-position: 0 -5535px;
}
.f-lie[data-v-8720a308],
.f-li[data-v-8720a308] {
  background-position: 0 -5576px;
}
.f-lka[data-v-8720a308],
.f-lk[data-v-8720a308] {
  background-position: 0 -5617px;
}
.f-lbr[data-v-8720a308],
.f-lr[data-v-8720a308] {
  background-position: 0 -5658px;
}
.f-lso[data-v-8720a308],
.f-ls[data-v-8720a308] {
  background-position: 0 -5698px;
}
.f-ltu[data-v-8720a308],
.f-lt[data-v-8720a308] {
  background-position: 0 -5740px;
}
.f-lux[data-v-8720a308],
.f-lu[data-v-8720a308] {
  background-position: 0 -5781px;
}
.f-lva[data-v-8720a308],
.f-lv[data-v-8720a308] {
  background-position: 0 -5822px;
}
.f-lby[data-v-8720a308],
.f-ly[data-v-8720a308] {
  background-position: 0 -5862px;
}
.f-mar[data-v-8720a308],
.f-ma[data-v-8720a308] {
  background-position: 0 -5904px;
}
.f-mco[data-v-8720a308],
.f-mc[data-v-8720a308] {
  background-position: 0 -5945px;
}
.f-mda[data-v-8720a308],
.f-md[data-v-8720a308] {
  background-position: 0 -5986px;
}
.f-mne[data-v-8720a308],
.f-me[data-v-8720a308] {
  background-position: 0 -6028px;
}
.f-maf[data-v-8720a308],
.f-mf[data-v-8720a308] {
  background-position: 0 -6068px;
}
.f-mdg[data-v-8720a308],
.f-mg[data-v-8720a308] {
  background-position: 0 -6109px;
}
.f-mhl[data-v-8720a308],
.f-mh[data-v-8720a308] {
  background-position: 0 -6150px;
}
.f-mkd[data-v-8720a308],
.f-mk[data-v-8720a308] {
  background-position: 0 -6191px;
}
.f-mli[data-v-8720a308],
.f-ml[data-v-8720a308] {
  background-position: 0 -6233px;
}
.f-mmr[data-v-8720a308],
.f-mm[data-v-8720a308] {
  background-position: 0 -6273px;
}
.f-mng[data-v-8720a308],
.f-mn[data-v-8720a308] {
  background-position: 0 -6314px;
}
.f-mac[data-v-8720a308],
.f-mo[data-v-8720a308] {
  background-position: 0 -6355px;
}
.f-mnp[data-v-8720a308],
.f-mp[data-v-8720a308] {
  background-position: 0 -6397px;
}
.f-mtq[data-v-8720a308],
.f-mq[data-v-8720a308] {
  background-position: 0 -6437px;
}
.f-mrt[data-v-8720a308],
.f-mr[data-v-8720a308] {
  background-position: 0 -6478px;
}
.f-msr[data-v-8720a308],
.f-ms[data-v-8720a308] {
  background-position: 0 -6519px;
}
.f-mlt[data-v-8720a308],
.f-mt[data-v-8720a308] {
  background-position: 0 -6560px;
}
.f-mus[data-v-8720a308],
.f-mu[data-v-8720a308] {
  background-position: 0 -6601px;
}
.f-mdv[data-v-8720a308],
.f-mv[data-v-8720a308] {
  background-position: 0 -6642px;
}
.f-mwi[data-v-8720a308],
.f-mw[data-v-8720a308] {
  background-position: 0 -6682px;
}
.f-mex[data-v-8720a308],
.f-mx[data-v-8720a308] {
  background-position: 0 -6724px;
}
.f-mys[data-v-8720a308],
.f-my[data-v-8720a308] {
  background-position: 0 -6765px;
}
.f-moz[data-v-8720a308],
.f-mz[data-v-8720a308] {
  background-position: 0 -6806px;
}
.f-nam[data-v-8720a308],
.f-na[data-v-8720a308] {
  background-position: 0 -6847px;
}
.f-ncl[data-v-8720a308],
.f-nc[data-v-8720a308] {
  background-position: 0 -6888px;
}
.f-ner[data-v-8720a308],
.f-ne[data-v-8720a308] {
  background-position: 0 -6929px;
}
.f-nfk[data-v-8720a308],
.f-nf[data-v-8720a308] {
  background-position: 0 -6970px;
}
.f-nga[data-v-8720a308],
.f-ng[data-v-8720a308] {
  background-position: 0 -7011px;
}
.f-nic[data-v-8720a308],
.f-ni[data-v-8720a308] {
  background-position: 0 -7052px;
}
.f-nld[data-v-8720a308],
.f-nl[data-v-8720a308] {
  background-position: 0 -7093px;
}
.f-nor[data-v-8720a308],
.f-no[data-v-8720a308] {
  background-position: 0 -7134px;
}
.f-npl[data-v-8720a308],
.f-np[data-v-8720a308] {
  background-position: 0 -7175px;
}
.f-nru[data-v-8720a308],
.f-nr[data-v-8720a308] {
  background-position: 0 -7217px;
}
.f-niu[data-v-8720a308],
.f-nu[data-v-8720a308] {
  background-position: 0 -7257px;
}
.f-nzl[data-v-8720a308],
.f-nz[data-v-8720a308] {
  background-position: 0 -7298px;
}
.f-omn[data-v-8720a308],
.f-om[data-v-8720a308] {
  background-position: 0 -7339px;
}
.f-pan[data-v-8720a308],
.f-pa[data-v-8720a308] {
  background-position: 0 -7380px;
}
.f-per[data-v-8720a308],
.f-pe[data-v-8720a308] {
  background-position: 0 -7421px;
}
.f-pyf[data-v-8720a308],
.f-pf[data-v-8720a308] {
  background-position: 0 -7463px;
}
.f-png[data-v-8720a308],
.f-pg[data-v-8720a308] {
  background-position: 0 -7503px;
}
.f-phl[data-v-8720a308],
.f-ph[data-v-8720a308] {
  background-position: 0 -7544px;
}
.f-pak[data-v-8720a308],
.f-pk[data-v-8720a308] {
  background-position: 0 -7585px;
}
.f-pol[data-v-8720a308],
.f-pl[data-v-8720a308] {
  background-position: 0 -7626px;
}
.f-spm[data-v-8720a308],
.f-pm[data-v-8720a308] {
  background-position: 0 -7667px;
}
.f-pcn[data-v-8720a308],
.f-pn[data-v-8720a308] {
  background-position: 0 -7708px;
}
.f-pri[data-v-8720a308],
.f-pr[data-v-8720a308] {
  background-position: 0 -7749px;
}
.f-pse[data-v-8720a308],
.f-ps[data-v-8720a308] {
  background-position: 0 -7790px;
}
.f-prt[data-v-8720a308],
.f-pt[data-v-8720a308] {
  background-position: 0 -7831px;
}
.f-plw[data-v-8720a308],
.f-pw[data-v-8720a308] {
  background-position: 0 -7873px;
}
.f-pry[data-v-8720a308],
.f-py[data-v-8720a308] {
  background-position: 0 -7913px;
}
.f-qat[data-v-8720a308],
.f-qa[data-v-8720a308] {
  background-position: 0 -7954px;
}
.f-reu[data-v-8720a308],
.f-re[data-v-8720a308] {
  background-position: 0 -7995px;
}
.f-rou[data-v-8720a308],
.f-ro[data-v-8720a308] {
  background-position: 0 -8036px;
}
.f-srb[data-v-8720a308],
.f-rs[data-v-8720a308] {
  background-position: 0 -8077px;
}
.f-rus[data-v-8720a308],
.f-ru[data-v-8720a308] {
  background-position: 0 -8117px;
}
.f-rwa[data-v-8720a308],
.f-rw[data-v-8720a308] {
  background-position: 0 -8159px;
}
.f-sau[data-v-8720a308],
.f-sa[data-v-8720a308] {
  background-position: 0 -8200px;
}
.f-slb[data-v-8720a308],
.f-sb[data-v-8720a308] {
  background-position: 0 -8241px;
}
.f-syc[data-v-8720a308],
.f-sc[data-v-8720a308] {
  background-position: 0 -8282px;
}
.f-sdn[data-v-8720a308],
.f-sd[data-v-8720a308] {
  background-position: 0 -8323px;
}
.f-swe[data-v-8720a308],
.f-se[data-v-8720a308] {
  background-position: 0 -8364px;
}
.f-sgp[data-v-8720a308],
.f-sg[data-v-8720a308] {
  background-position: 0 -8405px;
}
.f-shn[data-v-8720a308],
.f-sh[data-v-8720a308] {
  background-position: 0 -8446px;
}
.f-svn[data-v-8720a308],
.f-si[data-v-8720a308] {
  background-position: 0 -8487px;
}
.f-sjm[data-v-8720a308],
.f-sj[data-v-8720a308] {
  background-position: 0 -8528px;
}
.f-svk[data-v-8720a308],
.f-sk[data-v-8720a308] {
  background-position: 0 -8569px;
}
.f-sle[data-v-8720a308],
.f-sl[data-v-8720a308] {
  background-position: 0 -8610px;
}
.f-smr[data-v-8720a308],
.f-sm[data-v-8720a308] {
  background-position: 0 -8651px;
}
.f-sen[data-v-8720a308],
.f-sn[data-v-8720a308] {
  background-position: 0 -8693px;
}
.f-som[data-v-8720a308],
.f-so[data-v-8720a308] {
  background-position: 0 -8733px;
}
.f-sur[data-v-8720a308],
.f-sr[data-v-8720a308] {
  background-position: 0 -8774px;
}
.f-ssd[data-v-8720a308],
.f-ss[data-v-8720a308] {
  background-position: 0 -8815px;
}
.f-stp[data-v-8720a308],
.f-st[data-v-8720a308] {
  background-position: 0 -8856px;
}
.f-slv[data-v-8720a308],
.f-sv[data-v-8720a308] {
  background-position: 0 -8897px;
}
.f-sxm[data-v-8720a308],
.f-sx[data-v-8720a308] {
  background-position: 0 -8938px;
}
.f-syr[data-v-8720a308],
.f-sy[data-v-8720a308] {
  background-position: 0 -8979px;
}
.f-swz[data-v-8720a308],
.f-sz[data-v-8720a308] {
  background-position: 0 -9020px;
}
.f-tca[data-v-8720a308],
.f-tc[data-v-8720a308] {
  background-position: 0 -9061px;
}
.f-tcd[data-v-8720a308],
.f-td[data-v-8720a308] {
  background-position: 0 -9102px;
}
.f-atf[data-v-8720a308],
.f-tf[data-v-8720a308] {
  background-position: 0 -9142px;
}
.f-tgo[data-v-8720a308],
.f-tg[data-v-8720a308] {
  background-position: 0 -9184px;
}
.f-tha[data-v-8720a308],
.f-th[data-v-8720a308] {
  background-position: 0 -9225px;
}
.f-tjk[data-v-8720a308],
.f-tj[data-v-8720a308] {
  background-position: 0 -9266px;
}
.f-tkl[data-v-8720a308],
.f-tk[data-v-8720a308] {
  background-position: 0 -9307px;
}
.f-tls[data-v-8720a308],
.f-tl[data-v-8720a308] {
  background-position: 0 -9348px;
}
.f-tkm[data-v-8720a308],
.f-tm[data-v-8720a308] {
  background-position: 0 -9389px;
}
.f-tun[data-v-8720a308],
.f-tn[data-v-8720a308] {
  background-position: 0 -9430px;
}
.f-ton[data-v-8720a308],
.f-to[data-v-8720a308] {
  background-position: 0 -9472px;
}
.f-tur[data-v-8720a308],
.f-tr[data-v-8720a308] {
  background-position: 0 -9512px;
}
.f-tto[data-v-8720a308],
.f-tt[data-v-8720a308] {
  background-position: 0 -9552px;
}
.f-tuv[data-v-8720a308],
.f-tv[data-v-8720a308] {
  background-position: 0 -9594px;
}
.f-twn[data-v-8720a308],
.f-tw[data-v-8720a308] {
  background-position: 0 -9635px;
}
.f-tza[data-v-8720a308],
.f-tz[data-v-8720a308] {
  background-position: 0 -9676px;
}
.f-ukr[data-v-8720a308],
.f-ua[data-v-8720a308] {
  background-position: 0 -9717px;
}
.f-uga[data-v-8720a308],
.f-ug[data-v-8720a308] {
  background-position: 0 -9757px;
}
.f-umi[data-v-8720a308],
.f-um[data-v-8720a308] {
  background-position: 0 -9799px;
}
.f-un[data-v-8720a308] {
  background-position: 0 -9840px;
}
.f-usa[data-v-8720a308],
.f-us[data-v-8720a308] {
  background-position: 0 -9881px;
}
.f-ury[data-v-8720a308],
.f-uy[data-v-8720a308] {
  background-position: 0 -9922px;
}
.f-uzb[data-v-8720a308],
.f-uz[data-v-8720a308] {
  background-position: 0 -9963px;
}
.f-vat[data-v-8720a308],
.f-va[data-v-8720a308] {
  background-position: 0 -10004px;
}
.f-vct[data-v-8720a308],
.f-vc[data-v-8720a308] {
  background-position: 0 -10045px;
}
.f-ven[data-v-8720a308],
.f-ve[data-v-8720a308] {
  background-position: 0 -10086px;
}
.f-vgb[data-v-8720a308],
.f-vg[data-v-8720a308] {
  background-position: 0 -10127px;
}
.f-vir[data-v-8720a308],
.f-vi[data-v-8720a308] {
  background-position: 0 -10168px;
}
.f-vnm[data-v-8720a308],
.f-vn[data-v-8720a308] {
  background-position: 0 -10209px;
}
.f-vut[data-v-8720a308],
.f-vu[data-v-8720a308] {
  background-position: 0 -10250px;
}
.f-wlf[data-v-8720a308],
.f-wf[data-v-8720a308] {
  background-position: 0 -10291px;
}
.f-wsm[data-v-8720a308],
.f-ws[data-v-8720a308] {
  background-position: 0 -10331px;
}
.f-xk[data-v-8720a308] {
  background-position: 0 -10373px;
}
.f-yem[data-v-8720a308],
.f-ye[data-v-8720a308] {
  background-position: 0 -10414px;
}
.f-myt[data-v-8720a308],
.f-yt[data-v-8720a308] {
  background-position: 0 -10455px;
}
.f-zaf[data-v-8720a308],
.f-za[data-v-8720a308] {
  background-position: 0 -10496px;
}
.f-zmb[data-v-8720a308],
.f-zm[data-v-8720a308] {
  background-position: 0 -10538px;
}
.f-zwe[data-v-8720a308],
.f-zw[data-v-8720a308] {
  background-position: 0 -10578px;
}
.f-sun[data-v-8720a308],
.f-su[data-v-8720a308] {
  background-position: 0 -10619px;
  height: 26px;
}
