.radio-pane-selection .radio-pane-selection--item{
    background-color: #f7f7f7;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 15px;
    transition: .2s;
}

.radio-pane-selection .radio-pane-selection--item label{
    width: 100%;
}

.radio-pane-selection .radio-pane-selection--item {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 15px;
    transition: .2s;
}
.radio-pane-selection .selected-goods-certified-as {
    background-color: #1d70b7!important;
}
.radio-pane-selection .selected-goods-certified-as{
    color: #fff !important;
}
