<div class="commodity-accordion app-accordion " id="accordion-default-1">
                        <h2 class="govuk-heading-s commodity-group-label">03022130 - <span class="govuk-!-font-weight-regular" title=" Atlantic halibut (Hippoglossus hippoglossus)"> Atlantic halibut (Hippoglossus hippoglossus)</span></h2>
                        <dl class="govuk-summary-list app-list-with-actions app-list-with-actions--long app-summary-list--accordion govuk-!-margin-bottom-2">
                            <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section " id="c0-i0">
                                <div class="govuk-summary-list__row-group govuk-accordion__section-header">
                                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key">
                                        Description - Line 16 - 11 kilogram - 1
                                        Box
                                    </dt>
                                    <dd class="govuk-summary-list__actions">
                                        <ul class="govuk-summary-list__actions-list">
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="remove-commodity?showNotification=no&amp;removeCommodityID=0&amp;removeID=0">
                                                    Remove<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="copy-record?ehcNumber=EHC8361&amp;currentCommodityID=107&amp;commodityListID=0&amp;changeID=0&amp;random=80963">
                                                    Copy<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="commodity?showNotification=no&amp;commodity=&amp;change=yes&amp;copy=&amp;currentCommodityID=107&amp;commodityListID=0&amp;changeID=0">
                                                    Change<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </dd>
                                </div>
                                <dd class="govuk-summary-list__value">
                                    <div class="govuk-accordion__section-heading">
                                        <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                                            <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
                                                <span class="govuk-accordion__section-heading-text-focus">
                                                    <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                                                    <span class="govuk-accordion__section-toggle" data-nosnippet="">
                                                        <span class="govuk-accordion__section-toggle-focus">
                                                            <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                                                            <span class="govuk-accordion__section-toggle-text">
                                                                Show details<span class="govuk-visually-hidden"> for this record</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <dl class="govuk-summary-list  govuk-summary-list--no-border app-summary-list--small app-summary-list--wide">
                                            <div class="govuk-grid-row">
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Commodity code
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        03022130
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Description <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Description - Line 16
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Species
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Hippoglossus hippoglossus
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Cold store <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <!-- find establishment TradingName from approval number -->
                                                        DFDS Logistics Limited (HA 015)
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Cold store activity <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Cold Stores
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Identification mark
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        2873447
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Package count
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        1
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Package count unit
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Box
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Net weight
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        11
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Net weight unit
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        kilogram
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Treatment type
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Chilled
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Nature of commodity
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Wild stock
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Batch number
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        2873447
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Final consumer <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Date of collection / production
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        12 September 2022
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Manufacturing plant
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <!-- find establishment TradingName from approval number -->
                                                        Lerwick Fish Market (SA 102)
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Manufacturing plant activity
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Processing Plant
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Quantity <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Quantity unit <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                            </div>
                                        </dl>
                                    </div>
                                </dd>
                            </div>
                            <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section " id="c0-i1">
                                <div class="govuk-summary-list__row-group govuk-accordion__section-header">
                                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key">
                                        Description - Line 15 - 8 kilogram - 1
                                        Box
                                    </dt>
                                    <dd class="govuk-summary-list__actions">
                                        <ul class="govuk-summary-list__actions-list">
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="remove-removeCommodityID=0&amp;removeID=1">
                                                    Remove<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="copy-record?ehcNumber=EHC8361&amp;currentCommodityID=107&amp;commodityListID=0&amp;changeID=1&amp;random=62401">
                                                    Copy<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="commodity?showNotification=no&amp;commodity=&amp;change=yes&amp;copy=&amp;currentCommodityID=107&amp;commodityListID=0&amp;changeID=1">
                                                    Change<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </dd>
                                </div>
                                <dd class="govuk-summary-list__value">
                                    <div class="govuk-accordion__section-heading">
                                        <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                                            <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
                                                <span class="govuk-accordion__section-heading-text-focus">
                                                    <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                                                    <span class="govuk-accordion__section-toggle" data-nosnippet="">
                                                        <span class="govuk-accordion__section-toggle-focus">
                                                            <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                                                            <span class="govuk-accordion__section-toggle-text">
                                                                Show details<span class="govuk-visually-hidden"> for this record</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <dl class="govuk-summary-list  govuk-summary-list--no-border app-summary-list--small app-summary-list--wide">
                                            <div class="govuk-grid-row">
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Commodity code
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        03022130
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Description <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Description - Line 15
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Species
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Hippoglossus hippoglossus
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Cold store <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <!-- find establishment TradingName from approval number -->
                                                        DFDS Logistics Limited (HA 015)
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Cold store activity <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Cold Stores
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Identification mark
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        2873447
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Package count
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        1
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Package count unit
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Box
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Net weight
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        8
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Net weight unit
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        kilogram
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Treatment type
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Chilled
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Nature of commodity
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Wild stock
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Batch number
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        2873447
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Final consumer <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Date of collection / production
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        12 September 2022
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Manufacturing plant
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <!-- find establishment TradingName from approval number -->
                                                        Lerwick Fish Market (SA 102)
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Manufacturing plant activity
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Processing Plant
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Quantity <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Quantity unit <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                            </div>
                                        </dl>
                                    </div>
                                </dd>
                            </div>
                            <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section " id="c1-i0">
                                <div class="govuk-summary-list__row-group govuk-accordion__section-header">
                                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key">
                                        Description - Line 9 - 45 kilogram - 1
                                        Box
                                    </dt>
                                    <dd class="govuk-summary-list__actions">
                                        <ul class="govuk-summary-list__actions-list">
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="remove-commodity?showNotification=no&amp;removeCommodityID=1&amp;removeID=0">
                                                    Remove<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="copy-record?ehcNumber=EHC8361&amp;currentCommodityID=109&amp;commodityListID=1&amp;changeID=0&amp;random=44003">
                                                    Copy<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                            <li class="govuk-summary-list__actions-list-item">
                                                <a class="govuk-link govuk-link--no-visited-state" href="commodity?showNotification=no&amp;commodity=&amp;change=yes&amp;copy=&amp;currentCommodityID=109&amp;commodityListID=1&amp;changeID=0">
                                                    Change<span class="govuk-visually-hidden"> this record</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </dd>
                                </div>
                                <dd class="govuk-summary-list__value">
                                    <div class="govuk-accordion__section-heading">
                                        <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                                            <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
                                                <span class="govuk-accordion__section-heading-text-focus">
                                                    <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                                                    <span class="govuk-accordion__section-toggle" data-nosnippet="">
                                                        <span class="govuk-accordion__section-toggle-focus">
                                                            <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                                                            <span class="govuk-accordion__section-toggle-text">
                                                                Show details<span class="govuk-visually-hidden"> for this record</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <dl class="govuk-summary-list  govuk-summary-list--no-border app-summary-list--small app-summary-list--wide">
                                            <div class="govuk-grid-row">
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Commodity code
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        03022200
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Description <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Description - Line 9
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Species
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Pleuronectes platessa
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Cold store <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <!-- find establishment TradingName from approval number -->
                                                        DFDS Logistics Limited (HA 015)
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Cold store activity <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Cold Stores
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Identification mark
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        LW2000
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Package count
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        1
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Package count unit
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Box
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Net weight
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        45
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Net weight unit
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        kilogram
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Treatment type
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Chilled
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Nature of commodity
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Wild stock
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Batch number
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        LW2000
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Final consumer <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Date of collection / production
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        12 September 2022
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Manufacturing plant
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        <!-- find establishment TradingName from approval number -->
                                                        Lerwick Fish Market (SA 102)
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Manufacturing plant activity
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        Processing Plant
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Quantity <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                                <div class="govuk-summary-list__row govuk-grid-column-one-half ">
                                                    <dt class="govuk-summary-list__key">
                                                        Quantity unit <span class="optional">(optional)</span>
                                                    </dt>
                                                    <dd class="govuk-summary-list__value">
                                                        No value
                                                    </dd>
                                                </div>
                                            </div>
                                        </dl>
                                    </div>
                                </dd>
                            </div>
                        </dl>
                        <p class="govuk-!-margin-bottom-8"><a href="add-new-record?currentCommodityID=107&amp;commodityCode=03022130&amp;ehcNumber=EHC8361&amp;random=17594" class="govuk-link--no-visited-state"><strong>Add another record for 03022130</strong></a>
                        </p>
                    </div>