<!-- commodity 1 group start -->
<div class="commodity-accordion app-accordion " id="accordion-default-1">


  <h2 class="govuk-heading-s section-header" data-v-367f2bfa="">160100 - <span class="govuk-!-font-weight-regular" data-v-367f2bfa="">Sausages and similar products, of meat, meat offal or blood; food preparations based on these products</span></h2>

  <dl class="govuk-summary-list app-list-with-actions app-list-with-actions--long app-summary-list--accordion govuk-!-margin-bottom-2">
    <!-- record 0 start -->
    <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section " id="c0-i0">
      <div class="govuk-summary-list__row-group govuk-accordion__section-header">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key" data-v-367f2bfa="">
          {% if data.hasUpdateToEHC == "yes" and data.updatedCommodity_0 != "yes" %}<span class="govuk-tag govuk-tag--red">Incomplete data</span>
          1 - Breakfast sausauge (no weight or package count set)
          {% else %}

          {% if data.updatedCommodity_0 == "yes"%}<span class="govuk-tag govuk-tag--blue">updated</span> {% endif %}
            Breakfast sausauge -
          {% if data.updatedCommodity_0 == "yes"%}{{ data.netWeight_0 or 34}}{% else %}34{% endif %} kilogram -
          {% if data.updatedCommodity_0 == "yes"%}{{ data.packageCount_0 or 33 }}{% else %}33{% endif %} packages
          {% endif %}

        </dt>
        <!-- Actions 0 -->
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="remove-commodity?removeCommodityID=0&amp;removeID=0">
                Remove<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="commodity?commodity=160100&description=Sausages and similar products, of meat, meat offal or blood; food preparations based on these products&change=yes&new=no&amp;copy=&commodity_id=0&packageCount={{data.packageCount_0 or 33}}&netWeight={{data.netWeight_0 or 34}}&productTitle=breakfast sausage{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}&showIncompleteData=yes{% endif %}">
                Change<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="copy-record?commodity=&change=yes&amp;copy=&commodity_id=0">
                Copy<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
          </ul>
        </dd>
        <!-- Actions 0 END -->

      </div>

      <!-- Show details 0 -->
      <dd class="govuk-summary-list__value">


        <div class="govuk-accordion__section-heading">
          <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
            <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
              <span class="govuk-accordion__section-heading-text-focus">
                <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                <span class="govuk-accordion__section-toggle" data-nosnippet="">
                  <span class="govuk-accordion__section-toggle-focus">
                    <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                    <span class="govuk-accordion__section-toggle-text">
                      Show details<span class="govuk-visually-hidden"> for this record</span>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </button>
        </div>

        <!-- DETAILS 0 -->
        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0" data-v-367f2bfa="">
          <dl class="govuk-summary-list govuk-summary-list--no-border app-summary-list--small app-summary-list--wide" data-v-367f2bfa="">
            <div class="govuk-grid-row" data-v-367f2bfa="">
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Product description: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Breakfast sausauge</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Nature of commodity: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Human consumption</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Slaughterhouse: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">James T Blakemann (Service) Ltd</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cutting plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">James T Blakemann (Service) Ltd</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Manufacturing plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">James T Blakemann (Service) Ltd</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cold store: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">James T Blakemann (Service) Ltd</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key ">Package count:
                </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}{{data.packageCount_0 or 33}} Package{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key ">Net weight: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}{{ data.netWeight_0 or 34}} kilogram{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Date of freezing (optional): </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No date entered</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Freezing date range (optional): </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa=""></dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key ">Storage life:
                </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}December 21st 2022, 1:13:00 pm{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Final consumer: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Yes</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Species: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Aves</dd>
              </div>
            </div>
          </dl>
        </div>
        <!-- DETAILS 0 END-->
      </dd>

    </div>
    <!-- record 0 End -->
    <!-- record 1 start -->
    <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section " id="c0-i0">
      <div class="govuk-summary-list__row-group govuk-accordion__section-header">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key" data-v-367f2bfa="">
          {% if data.hasUpdateToEHC == "yes" and data.updatedCommodity_1 != "yes" %}<span class="govuk-tag govuk-tag--red">Incomplete data</span>
          1 - Pepperoni Slices (no weight or package count set)
          {% else %}

          {% if data.updatedCommodity_1 == "yes"%}<span class="govuk-tag govuk-tag--blue">updated</span> {% endif %}
          Pepperoni Slices -
          {% if data.updatedCommodity_1 == "yes"%}{{ data.netWeight_1 or 4 }}{% else %}4{% endif %} kilogram -
          {% if data.updatedCommodity_1 == "yes"%}{{ data.packageCount_1 or 7 }}{% else %}7{% endif %} packages
          {% endif %}

        </dt>

        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="remove-commodity?removeCommodityID=0&amp;removeID=0">
                Remove<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="commodity?commodity=160100&description=Sausages and similar products, of meat, meat offal or blood; food preparations based on these products&change=yes&new=no&amp;copy=&commodity_id=1&packageCount={{data.packageCount_1 or 7}}&netWeight={{data.netWeight_1 or 4}}&productTitle=Pepperoni Slices{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}&showIncompleteData=yes{% endif %}">
                Change<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="copy-record?commodity=&change=yes&amp;copy=&commodity_id=0">
                Copy<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
          </ul>
        </dd>

      </div>

      <dd class="govuk-summary-list__value">

        <div class="govuk-accordion__section-heading">
          <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
            <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
              <span class="govuk-accordion__section-heading-text-focus">
                <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                <span class="govuk-accordion__section-toggle" data-nosnippet="">
                  <span class="govuk-accordion__section-toggle-focus">
                    <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                    <span class="govuk-accordion__section-toggle-text">
                      Show details<span class="govuk-visually-hidden"> for this record</span>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </button>
        </div>

        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" data-v-367f2bfa="">
          <dl class="govuk-summary-list govuk-summary-list--no-border app-summary-list--small app-summary-list--wide" data-v-367f2bfa="">
            <div class="govuk-grid-row" data-v-367f2bfa="">
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Product description: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Pepperoni Slices</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Nature of commodity: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Human consumption</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Slaughterhouse: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Danish Crown Halifax</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cutting plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Danish Crown Halifax</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Manufacturing plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Danish Crown Halifax</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cold store: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Danish Crown Halifax</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key ">Package count:
                </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}{{data.packageCount_1 or 7 }} packages{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key ">Net weight: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}{{data.netWeight_1 or 4 }}  kilogram{% endif%}</dd>
              </div>

              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Date of freezing: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No date entered</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Freezing date range: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa=""></dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key ">Storage life:
                </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}December 30th 2022, 9:15:00 am{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Final consumer: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Yes</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Species: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Suidae</dd>
              </div>
            </div>
          </dl>
        </div>
      </dd>
    </div>
    <!-- record 1 end -->
  </dl>

  <p class="govuk-!-margin-bottom-8"><a href="commodity?new=yes&commodityCode=160100&commodityDescription=Sausages and similar products, of meat, meat offal or blood; food preparations based on these products" class="govuk-link--no-visited-state"><strong>Add another record for 160100</strong></a></p>
</div>
<!-- commodity 1 group End -->

<!-- commodity 1 group Start -->
<div class="commodity-accordion app-accordion " id="accordion-default-1">
  <h2 class="govuk-heading-s section-header" data-v-367f2bfa="">160232 - <span class="govuk-!-font-weight-regular" data-v-367f2bfa="">Of fowls of the species Gallus domesticus</span></h2>
  <dl class="govuk-summary-list app-list-with-actions app-list-with-actions--long app-summary-list--accordion govuk-!-margin-bottom-2">
    <!-- record 2 start -->
    <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section " id="c0-i0">
      <div class="govuk-summary-list__row-group govuk-accordion__section-header">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key" data-v-367f2bfa="">
          {% if data.hasUpdateToEHC == "yes" and data.updatedCommodity_2 != "yes" %}<span class="govuk-tag govuk-tag--red">Incomplete data</span>
          1 - Sliced mexican chicken 500g (no weight or package count set)
          {% else %}
          {% if data.updatedCommodity_2 == "yes"%}<span class="govuk-tag govuk-tag--blue">updated</span> {% endif %}
          Sliced mexican chicken 500g -
          {% if data.updatedCommodity_2 == "yes"%}{{data.netWeight_2}}{% else %}6{% endif %} kilogram -
          {% if data.updatedCommodity_2 == "yes"%}{{data.packageCount_2}}{% else %}11{% endif %} bulk
          {% endif %}

        </dt>

        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="remove-commodity?removeCommodityID=0&amp;removeID=0">
                Remove<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="commodity?description=Of fowls of the species Gallus domesticus&commodity=160232&change=yes&new=no&amp;copy=&commodity_id=2&packageCount={{data.packageCount_2 or 11}}&netWeight={{data.netWeight_2 or 6}}&productTitle=Chargrilled chicken 500g {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_2 != 'yes' %}&showIncompleteData=yes{% endif %}">
                Change<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="copy-record?commodity=&change=yes&amp;copy=&commodity_id=0">
                Copy<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
          </ul>
        </dd>

      </div>
      <dd class="govuk-summary-list__value">

        <div class="govuk-accordion__section-heading">
          <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
            <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
              <span class="govuk-accordion__section-heading-text-focus">
                <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                <span class="govuk-accordion__section-toggle" data-nosnippet="">
                  <span class="govuk-accordion__section-toggle-focus">
                    <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                    <span class="govuk-accordion__section-toggle-text">
                      Show details<span class="govuk-visually-hidden"> for this record</span>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </button>
        </div>

        <div id="accordion-default-content-0" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0" data-v-367f2bfa="">
          <dl class="govuk-summary-list govuk-summary-list--no-border app-summary-list--small app-summary-list--wide" data-v-367f2bfa="">
            <div class="govuk-grid-row" data-v-367f2bfa="">
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Product description: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Sliced mexican chicken 500g</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Nature of commodity: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Human consumption</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Slaughterhouse: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cutting plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Manufacturing plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cold store: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_2 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key " >Package count: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_3 != 'yes' %}<span class="">No value</span>{% else %}{{data.packageCount_2 or 11}} Package{% endif %}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_2 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key " >Net weight: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_3 != 'yes' %}<span class="">No value</span>{% else %}{{data.netWeight_2 or 6 }} kilogram{% endif%}</dd>
              </div>

              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Date of freezing: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No date entered</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Freezing date range: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No date entered</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Final consumer: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_2 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key " >Storage life: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_3 != 'yes' %}<span class="">No value</span>{% else %}09/12/2022, 09:21{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Species: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Aves</dd>
              </div>
            </div>
          </dl>
        </div>
      </dd>
    </div>
    <!-- record 2 End -->

    <!-- record 3 start -->
    <div class="commodity-accordion-row govuk-summary-list__row govuk-accordion__section " id="c0-i0">
      <div class="govuk-summary-list__row-group govuk-accordion__section-header">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key" data-v-367f2bfa="">
          {% if data.hasUpdateToEHC == "yes" and data.updatedCommodity_3 != "yes" %}<span class="govuk-tag govuk-tag--red">Incomplete data</span>
          1 - Chargrilled chicken 500g (no weight or package count set)
          {% else %}
          {% if data.updatedCommodity_3 == "yes"%}<span class="govuk-tag govuk-tag--blue">updated</span> {% endif %}
          Chargrilled chicken 500g -
          {% if data.updatedCommodity_3 == "yes"%}{{ data.netWeight }}{% else %}8{% endif %} kilogram -
          {% if data.updatedCommodity_3 == "yes"%}{{ data.packageCount }}{% else %}16{% endif %} packages
          {% endif %}

        </dt>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="remove-commodity?removeCommodityID=0&amp;removeID=0">
                Remove<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="commodity?description=Of fowls of the species Gallus domesticus&commodity=160232&change=yes&new=no&amp;copy=&commodity_id=3&packageCount={{data.packageCount_3 or 16}}&netWeight={{data.netWeight_3 or 8}}&productTitle=Sliced mexican chicken 500g {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_3 != 'yes' %}&showIncompleteData=yes{% endif %}">
                Change<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="copy-record?commodity=&change=yes&amp;copy=&commodity_id=0">
                Copy<span class="govuk-visually-hidden"> this record</span>
              </a>
            </li>
          </ul>
        </dd>
      </div>
      <dd class="govuk-summary-list__value">
        <div class="govuk-accordion__section-heading">
          <button type="button" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
            <span class="govuk-accordion__section-heading-text" id="accordion-default-heading-1">
              <span class="govuk-accordion__section-heading-text-focus">
                <span class="govuk-visually-hidden govuk-accordion__section-heading-divider">, </span>
                <span class="govuk-accordion__section-toggle" data-nosnippet="">
                  <span class="govuk-accordion__section-toggle-focus">
                    <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
                    <span class="govuk-accordion__section-toggle-text">
                      Show details<span class="govuk-visually-hidden"> for this record</span>
                    </span>
                  </span>
                </span>
              </span>
            </span>
          </button>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" data-v-367f2bfa="">
          <dl class="govuk-summary-list govuk-summary-list--no-border app-summary-list--small app-summary-list--wide" data-v-367f2bfa="">
            <div class="govuk-grid-row" data-v-367f2bfa="">
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Product description: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Chargrilled chicken 500g</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Nature of commodity: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Human consumption</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Slaughterhouse: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cutting plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Manufacturing plant: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Cold store: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Bernard Matthews Foods (Sunderland) Limited</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key " >Package count: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}16 Package{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key " >Net weight: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}8 kilogram{% endif%}</dd>
              </div>

              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Date of freezing: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No date entered</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Freezing date range: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No date entered</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Final consumer: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">No</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half {% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}isIncomplete{% endif %}" data-v-367f2bfa=""><dt class="govuk-summary-list__key " >Storage life: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">{% if data.hasUpdateToEHC == 'yes' and data.updatedCommodity_0 != 'yes' %}<span class="">No value</span>{% else %}09/12/2022, 09:21{% endif%}</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">storage life: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">09/12/2022, 09:21</dd>
              </div>
              <div class="govuk-summary-list__row govuk-grid-column-one-half" data-v-367f2bfa=""><dt class="govuk-summary-list__key" data-v-367f2bfa="">Species: </dt>
                <dd class="govuk-summary-list__value" data-v-367f2bfa="">Aves</dd>
              </div>
            </div>
          </dl>
        </div>
      </dd>
    </div>
    <!-- record 3 End -->
  </dl>

  <p class="govuk-!-margin-bottom-8"><a href="commodity?new=yes&commodityCode=160232&commodityDescription=Of fowls of the species Gallus domesticus" class="govuk-link--no-visited-state"><strong>Add another record for 160232</strong></a></p>
</div>
<!-- commodity 1 group End -->
