{% extends "layout.html" %}
{% block pageTitle %}
Purpose of the export – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="" action="{% if query.change == 'yes'%}../check-your-answers{%else%}../task-list{% endif %}" method="post">
      <h1 class="govuk-heading-xl">What type of consignment are you sending?</h1>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios__item purpose">
            <input class="govuk-radios__input" id="radio-intmark" name="Purpose" type="radio" value="Internal market" aria-decribedby="purpose-internal-hint">
            <label class="govuk-label govuk-radios__label" for="radio-intmark">EU or Northern Ireland market</label>
            <div id="purpose-internal-hint" class="govuk-hint govuk-radios__hint">Your consignment will be delivered to the EU or Northern Ireland and stay there.</div>
          </div>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" id="purpose">
            <div class="govuk-radios__item purpose">
              <input class="govuk-radios__input" id="radio-transit" name="Purpose" type="radio" value="Transit" aria-decribedby="purpose-transit-hint" data-aria-controls="conditional-transit-country">
              <label class="govuk-label govuk-radios__label" for="radio-transit">In transit consignment</label>
              <div id="purpose-transit-hint" class="govuk-hint govuk-radios__hint">Your consignment’s final destination is a non-EU country, but it will pass through an EU country or Northern Ireland.</div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-transit-country">
              <div class="govuk-form-group" data-v-a3b8a65e="">
                <label class="govuk-label" for="purpose-of-export-country" data-v-a3b8a65e="">Final destination of the consignment</label>
                <select class="govuk-select" id="purpose-of-export-country" required="" data-v-a3b8a65e="">
                  <option value="AF" data-v-a3b8a65e="">Afghanistan</option>
                  <option value="AX" data-v-a3b8a65e="">Åland Islands</option>
                  <option value="AL" data-v-a3b8a65e="">Albania</option>
                  <option value="DZ" data-v-a3b8a65e="">Algeria</option>
                  <option value="AS" data-v-a3b8a65e="">American Samoa</option>
                  <option value="AD" data-v-a3b8a65e="">Andorra</option>
                  <option value="AO" data-v-a3b8a65e="">Angola</option>
                  <option value="AI" data-v-a3b8a65e="">Anguilla</option>
                  <option value="AG" data-v-a3b8a65e="">Antigua and Barbuda</option>
                  <option value="AR" data-v-a3b8a65e="">Argentina</option>
                  <option value="AM" data-v-a3b8a65e="">Armenia</option>
                  <option value="AW" data-v-a3b8a65e="">Aruba</option>
                  <option value="AU" data-v-a3b8a65e="">Australia</option>
                  <option value="AT" data-v-a3b8a65e="">Austria</option>
                  <option value="AZ" data-v-a3b8a65e="">Azerbaijan</option>
                  <option value="BS" data-v-a3b8a65e="">Bahamas (the)</option>
                  <option value="BH" data-v-a3b8a65e="">Bahrain</option>
                  <option value="BD" data-v-a3b8a65e="">Bangladesh</option>
                  <option value="BB" data-v-a3b8a65e="">Barbados</option>
                  <option value="BY" data-v-a3b8a65e="">Belarus</option>
                  <option value="BE" data-v-a3b8a65e="">Belgium</option>
                  <option value="BZ" data-v-a3b8a65e="">Belize</option>
                  <option value="BJ" data-v-a3b8a65e="">Benin</option>
                  <option value="BM" data-v-a3b8a65e="">Bermuda</option>
                  <option value="BT" data-v-a3b8a65e="">Bhutan</option>
                  <option value="BO" data-v-a3b8a65e="">Bolivia (Plurinational State of)</option>
                  <option value="BQ" data-v-a3b8a65e="">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA" data-v-a3b8a65e="">Bosnia and Herzegovina</option>
                  <option value="BW" data-v-a3b8a65e="">Botswana</option>
                  <option value="BR" data-v-a3b8a65e="">Brazil</option>
                  <option value="IO" data-v-a3b8a65e="">British Indian Ocean Territory (the)</option>
                  <option value="BN" data-v-a3b8a65e="">Brunei Darussalam</option>
                  <option value="BG" data-v-a3b8a65e="">Bulgaria</option>
                  <option value="BF" data-v-a3b8a65e="">Burkina Faso</option>
                  <option value="BI" data-v-a3b8a65e="">Burundi</option>
                  <option value="CV" data-v-a3b8a65e="">Cabo Verde</option>
                  <option value="KH" data-v-a3b8a65e="">Cambodia</option>
                  <option value="CM" data-v-a3b8a65e="">Cameroon</option>
                  <option value="CA" data-v-a3b8a65e="">Canada</option>
                  <option value="KY" data-v-a3b8a65e="">Cayman Islands (the)</option>
                  <option value="CF" data-v-a3b8a65e="">Central African Republic (the)</option>
                  <option value="TD" data-v-a3b8a65e="">Chad</option>
                  <option value="CL" data-v-a3b8a65e="">Chile</option>
                  <option value="CN" data-v-a3b8a65e="">China</option>
                  <option value="CO" data-v-a3b8a65e="">Colombia</option>
                  <option value="KM" data-v-a3b8a65e="">Comoros (the)</option>
                  <option value="CD" data-v-a3b8a65e="">Congo (the Democratic Republic of the)</option>
                  <option value="CG" data-v-a3b8a65e="">Congo (the)</option>
                  <option value="CK" data-v-a3b8a65e="">Cook Islands (the)</option>
                  <option value="CR" data-v-a3b8a65e="">Costa Rica</option>
                  <option value="CI" data-v-a3b8a65e="">Côte d'Ivoire</option>
                  <option value="HR" data-v-a3b8a65e="">Croatia</option>
                  <option value="CU" data-v-a3b8a65e="">Cuba</option>
                  <option value="CW" data-v-a3b8a65e="">Curaçao</option>
                  <option value="CY" data-v-a3b8a65e="">Cyprus</option>
                  <option value="CZ" data-v-a3b8a65e="">Czechia</option>
                  <option value="DK" data-v-a3b8a65e="">Denmark</option>
                  <option value="DJ" data-v-a3b8a65e="">Djibouti</option>
                  <option value="DM" data-v-a3b8a65e="">Dominica</option>
                  <option value="DO" data-v-a3b8a65e="">Dominican Republic (the)</option>
                  <option value="EC" data-v-a3b8a65e="">Ecuador</option>
                  <option value="EG" data-v-a3b8a65e="">Egypt</option>
                  <option value="SV" data-v-a3b8a65e="">El Salvador</option>
                  <option value="GQ" data-v-a3b8a65e="">Equatorial Guinea</option>
                  <option value="ER" data-v-a3b8a65e="">Eritrea</option>
                  <option value="EE" data-v-a3b8a65e="">Estonia</option>
                  <option value="SZ" data-v-a3b8a65e="">Eswatini</option>
                  <option value="ET" data-v-a3b8a65e="">Ethiopia</option>
                  <option value="FK" data-v-a3b8a65e="">Falkland Islands (the) [Malvinas]</option>
                  <option value="FO" data-v-a3b8a65e="">Faroe Islands (the)</option>
                  <option value="FJ" data-v-a3b8a65e="">Fiji</option>
                  <option value="FI" data-v-a3b8a65e="">Finland</option>
                  <option value="FR" data-v-a3b8a65e="">France</option>
                  <option value="GF" data-v-a3b8a65e="">French Guiana</option>
                  <option value="PF" data-v-a3b8a65e="">French Polynesia</option>
                  <option value="GA" data-v-a3b8a65e="">Gabon</option>
                  <option value="GM" data-v-a3b8a65e="">Gambia (the)</option>
                  <option value="GE" data-v-a3b8a65e="">Georgia</option>
                  <option value="DE" data-v-a3b8a65e="">Germany</option>
                  <option value="GH" data-v-a3b8a65e="">Ghana</option>
                  <option value="GI" data-v-a3b8a65e="">Gibraltar</option>
                  <option value="GR" data-v-a3b8a65e="">Greece</option>
                  <option value="GL" data-v-a3b8a65e="">Greenland</option>
                  <option value="GD" data-v-a3b8a65e="">Grenada</option>
                  <option value="GP" data-v-a3b8a65e="">Guadeloupe</option>
                  <option value="GU" data-v-a3b8a65e="">Guam</option>
                  <option value="GT" data-v-a3b8a65e="">Guatemala</option>
                  <option value="GG" data-v-a3b8a65e="">Guernsey</option>
                  <option value="GN" data-v-a3b8a65e="">Guinea</option>
                  <option value="GW" data-v-a3b8a65e="">Guinea-Bissau</option>
                  <option value="GY" data-v-a3b8a65e="">Guyana</option>
                  <option value="HT" data-v-a3b8a65e="">Haiti</option>
                  <option value="VA" data-v-a3b8a65e="">Holy See (the)</option>
                  <option value="HN" data-v-a3b8a65e="">Honduras</option>
                  <option value="HK" data-v-a3b8a65e="">Hong Kong</option>
                  <option value="HU" data-v-a3b8a65e="">Hungary</option>
                  <option value="IS" data-v-a3b8a65e="">Iceland</option>
                  <option value="IN" data-v-a3b8a65e="">India</option>
                  <option value="ID" data-v-a3b8a65e="">Indonesia</option>
                  <option value="IR" data-v-a3b8a65e="">Iran (Islamic Republic of)</option>
                  <option value="IQ" data-v-a3b8a65e="">Iraq</option>
                  <option value="IE" data-v-a3b8a65e="">Ireland</option>
                  <option value="IM" data-v-a3b8a65e="">Isle of Man</option>
                  <option value="IL" data-v-a3b8a65e="">Israel</option>
                  <option value="IT" data-v-a3b8a65e="">Italy</option>
                  <option value="JM" data-v-a3b8a65e="">Jamaica</option>
                  <option value="JP" data-v-a3b8a65e="">Japan</option>
                  <option value="JE" data-v-a3b8a65e="">Jersey</option>
                  <option value="JO" data-v-a3b8a65e="">Jordan</option>
                  <option value="KZ" data-v-a3b8a65e="">Kazakhstan</option>
                  <option value="KE" data-v-a3b8a65e="">Kenya</option>
                  <option value="KI" data-v-a3b8a65e="">Kiribati</option>
                  <option value="KP" data-v-a3b8a65e="">Korea (the Democratic People's Republic of)</option>
                  <option value="KR" data-v-a3b8a65e="">Korea (the Republic of)</option>
                  <option value="KW" data-v-a3b8a65e="">Kuwait</option>
                  <option value="KG" data-v-a3b8a65e="">Kyrgyzstan</option>
                  <option value="LA" data-v-a3b8a65e="">Lao People's Democratic Republic (the)</option>
                  <option value="LV" data-v-a3b8a65e="">Latvia</option>
                  <option value="LB" data-v-a3b8a65e="">Lebanon</option>
                  <option value="LS" data-v-a3b8a65e="">Lesotho</option>
                  <option value="LR" data-v-a3b8a65e="">Liberia</option>
                  <option value="LY" data-v-a3b8a65e="">Libya</option>
                  <option value="LI" data-v-a3b8a65e="">Liechtenstein</option>
                  <option value="LT" data-v-a3b8a65e="">Lithuania</option>
                  <option value="LU" data-v-a3b8a65e="">Luxembourg</option>
                  <option value="MO" data-v-a3b8a65e="">Macao</option>
                  <option value="MG" data-v-a3b8a65e="">Madagascar</option>
                  <option value="MW" data-v-a3b8a65e="">Malawi</option>
                  <option value="MY" data-v-a3b8a65e="">Malaysia</option>
                  <option value="ML" data-v-a3b8a65e="">Mali</option>
                  <option value="MT" data-v-a3b8a65e="">Malta</option>
                  <option value="MH" data-v-a3b8a65e="">Marshall Islands (the)</option>
                  <option value="MQ" data-v-a3b8a65e="">Martinique</option>
                  <option value="MR" data-v-a3b8a65e="">Mauritania</option>
                  <option value="MU" data-v-a3b8a65e="">Mauritius</option>
                  <option value="YT" data-v-a3b8a65e="">Mayotte</option>
                  <option value="MX" data-v-a3b8a65e="">Mexico</option>
                  <option value="FM" data-v-a3b8a65e="">Micronesia (Federated States of)</option>
                  <option value="MD" data-v-a3b8a65e="">Moldova (the Republic of)</option>
                  <option value="MC" data-v-a3b8a65e="">Monaco</option>
                  <option value="MN" data-v-a3b8a65e="">Mongolia</option>
                  <option value="ME" data-v-a3b8a65e="">Montenegro</option>
                  <option value="MS" data-v-a3b8a65e="">Montserrat</option>
                  <option value="MA" data-v-a3b8a65e="">Morocco</option>
                  <option value="MZ" data-v-a3b8a65e="">Mozambique</option>
                  <option value="MM" data-v-a3b8a65e="">Myanmar</option>
                  <option value="NA" data-v-a3b8a65e="">Namibia</option>
                  <option value="NR" data-v-a3b8a65e="">Nauru</option>
                  <option value="NP" data-v-a3b8a65e="">Nepal</option>
                  <option value="NL" data-v-a3b8a65e="">Netherlands (the)</option>
                  <option value="NC" data-v-a3b8a65e="">New Caledonia</option>
                  <option value="NZ" data-v-a3b8a65e="">New Zealand</option>
                  <option value="NI" data-v-a3b8a65e="">Nicaragua</option>
                  <option value="NE" data-v-a3b8a65e="">Niger (the)</option>
                  <option value="NG" data-v-a3b8a65e="">Nigeria</option>
                  <option value="NU" data-v-a3b8a65e="">Niue</option>
                  <option value="NF" data-v-a3b8a65e="">Norfolk Island</option>
                  <option value="MP" data-v-a3b8a65e="">Northern Mariana Islands (the)</option>
                  <option value="NO" data-v-a3b8a65e="">Norway</option>
                  <option value="OM" data-v-a3b8a65e="">Oman</option>
                  <option value="PK" data-v-a3b8a65e="">Pakistan</option>
                  <option value="PW" data-v-a3b8a65e="">Palau</option>
                  <option value="PS" data-v-a3b8a65e="">Palestine, State of</option>
                  <option value="PA" data-v-a3b8a65e="">Panama</option>
                  <option value="PG" data-v-a3b8a65e="">Papua New Guinea</option>
                  <option value="PY" data-v-a3b8a65e="">Paraguay</option>
                  <option value="PE" data-v-a3b8a65e="">Peru</option>
                  <option value="PH" data-v-a3b8a65e="">Philippines (the)</option>
                  <option value="PN" data-v-a3b8a65e="">Pitcairn</option>
                  <option value="PL" data-v-a3b8a65e="">Poland</option>
                  <option value="PT" data-v-a3b8a65e="">Portugal</option>
                  <option value="PR" data-v-a3b8a65e="">Puerto Rico</option>
                  <option value="QA" data-v-a3b8a65e="">Qatar</option>
                  <option value="MK" data-v-a3b8a65e="">Republic of North Macedonia</option>
                  <option value="RE" data-v-a3b8a65e="">Réunion</option>
                  <option value="RO" data-v-a3b8a65e="">Romania</option>
                  <option value="RU" data-v-a3b8a65e="">Russian Federation (the)</option>
                  <option value="RW" data-v-a3b8a65e="">Rwanda</option>
                  <option value="BL" data-v-a3b8a65e="">Saint Barthélemy</option>
                  <option value="SH" data-v-a3b8a65e="">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN" data-v-a3b8a65e="">Saint Kitts and Nevis</option>
                  <option value="LC" data-v-a3b8a65e="">Saint Lucia</option>
                  <option value="MF" data-v-a3b8a65e="">Saint Martin (French part)</option>
                  <option value="PM" data-v-a3b8a65e="">Saint Pierre and Miquelon</option>
                  <option value="VC" data-v-a3b8a65e="">Saint Vincent and the Grenadines</option>
                  <option value="WS" data-v-a3b8a65e="">Samoa</option>
                  <option value="SM" data-v-a3b8a65e="">San Marino</option>
                  <option value="ST" data-v-a3b8a65e="">Sao Tome and Principe</option>
                  <option value="SA" data-v-a3b8a65e="">Saudi Arabia</option>
                  <option value="SN" data-v-a3b8a65e="">Senegal</option>
                  <option value="RS" data-v-a3b8a65e="">Serbia</option>
                  <option value="SC" data-v-a3b8a65e="">Seychelles</option>
                  <option value="SL" data-v-a3b8a65e="">Sierra Leone</option>
                  <option value="SG" data-v-a3b8a65e="">Singapore</option>
                  <option value="SX" data-v-a3b8a65e="">Sint Maarten (Dutch part)</option>
                  <option value="SK" data-v-a3b8a65e="">Slovakia</option>
                  <option value="SI" data-v-a3b8a65e="">Slovenia</option>
                  <option value="SB" data-v-a3b8a65e="">Solomon Islands</option>
                  <option value="SO" data-v-a3b8a65e="">Somalia</option>
                  <option value="ZA" data-v-a3b8a65e="">South Africa</option>
                  <option value="GS" data-v-a3b8a65e="">South Georgia and the South Sandwich Islands</option>
                  <option value="SS" data-v-a3b8a65e="">South Sudan</option>
                  <option value="ES" data-v-a3b8a65e="">Spain</option>
                  <option value="LK" data-v-a3b8a65e="">Sri Lanka</option>
                  <option value="SD" data-v-a3b8a65e="">Sudan (the)</option>
                  <option value="SR" data-v-a3b8a65e="">Suriname</option>
                  <option value="SE" data-v-a3b8a65e="">Sweden</option>
                  <option value="CH" data-v-a3b8a65e="">Switzerland</option>
                  <option value="SY" data-v-a3b8a65e="">Syrian Arab Republic</option>
                  <option value="TW" data-v-a3b8a65e="">Taiwan (Province of China)</option>
                  <option value="TJ" data-v-a3b8a65e="">Tajikistan</option>
                  <option value="TZ" data-v-a3b8a65e="">Tanzania, United Republic of</option>
                  <option value="TH" data-v-a3b8a65e="">Thailand</option>
                  <option value="TL" data-v-a3b8a65e="">Timor-Leste</option>
                  <option value="TG" data-v-a3b8a65e="">Togo</option>
                  <option value="TK" data-v-a3b8a65e="">Tokelau</option>
                  <option value="TO" data-v-a3b8a65e="">Tonga</option>
                  <option value="TT" data-v-a3b8a65e="">Trinidad and Tobago</option>
                  <option value="TN" data-v-a3b8a65e="">Tunisia</option>
                  <option value="TR" data-v-a3b8a65e="">Turkey</option>
                  <option value="TM" data-v-a3b8a65e="">Turkmenistan</option>
                  <option value="TC" data-v-a3b8a65e="">Turks and Caicos Islands (the)</option>
                  <option value="TV" data-v-a3b8a65e="">Tuvalu</option>
                  <option value="UG" data-v-a3b8a65e="">Uganda</option>
                  <option value="UA" data-v-a3b8a65e="">Ukraine</option>
                  <option value="AE" data-v-a3b8a65e="">United Arab Emirates (the)</option>
                  <option value="GB" data-v-a3b8a65e="">United Kingdom</option>
                  <option value="XI" data-v-a3b8a65e="">United Kingdom - Northern Ireland</option>
                  <option value="UM" data-v-a3b8a65e="">United States Minor Outlying Islands (the)</option>
                  <option value="US" data-v-a3b8a65e="">United States of America (the)</option>
                  <option value="UY" data-v-a3b8a65e="">Uruguay</option>
                  <option value="UZ" data-v-a3b8a65e="">Uzbekistan</option>
                  <option value="VU" data-v-a3b8a65e="">Vanuatu</option>
                  <option value="VE" data-v-a3b8a65e="">Venezuela (Bolivarian Republic of)</option>
                  <option value="VN" data-v-a3b8a65e="">Viet Nam</option>
                  <option value="VG" data-v-a3b8a65e="">Virgin Islands (British)</option>
                  <option value="VI" data-v-a3b8a65e="">Virgin Islands (U.S.)</option>
                  <option value="WF" data-v-a3b8a65e="">Wallis and Futuna</option>
                  <option value="YE" data-v-a3b8a65e="">Yemen</option>
                  <option value="ZM" data-v-a3b8a65e="">Zambia</option>
                  <option value="ZW" data-v-a3b8a65e="">Zimbabwe</option>
                </select></div>
            </div>
            <div class="govuk-radios__item purpose">
              <input class="govuk-radios__input" id="radio-ReEntry" name="Purpose" type="radio" value="Re-entry">
              <label class="govuk-label govuk-radios__label" for="radio-ReEntry">Re-entry consignment</label>
              <div id="purpose-internal-hint" class="govuk-hint govuk-radios__hint">Your consignment is originally from the EU or Northern Ireland, and it will be delivered to its original location after a temporary stay in Great Britain.</div>
            </div>
          </div>
      </div>
      <button class="govuk-button"> Save and continue </button>
      </fieldset>
  </div>
  </form>
</div>
</div>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->
<!-- // -->
{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {


})
</script>
{% endblock%}