{% extends "layout.html" %}

{% block pageTitle %}
Unified dashboard – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Unified dashboard</h1>
      <h2 class="govuk-heading-m"><a href="v2/">Version 2</a> <strong class="govuk-tag govuk-tag--yellow">in design</strong></h2>
      <p>Whats changed</p>

      <h2 class="govuk-heading-m"><a href="v1/">Version 1</a> <strong class="govuk-tag govuk-tag--blue">
Tested</strong></h2>
      <p></p>
      <p>Initial version. This covers sign in copy and creating a new certificate.  Tested from 23 Jan to 27 Jan 2023, with 5 participants. <a href="#">View research notes</a></p>


  </div>
</div>
{% endblock %}
