<div class="moj-timeline">
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title"><span class="govuk-visually-hidden">1 </span>Created draft application</h2>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2023-01-22">22 Jan 2023</time>
    </p>
    <p class="moj-timeline__byline">by Richard Hatton</p>
    <!-- <div class="moj-timeline__description">
      <p><a href="#">Edit and submit application</a></p>
    </div> -->
  </div>
  <div class="moj-timeline__item moj-timeline__item-incomplete">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title "><span class="govuk-visually-hidden">2 </span>Next: Submit applicaiton</h2>
    </div>
    <div class="moj-timeline__description">
      <a href="#">Edit and submit application</a>
    </div>
    <!-- <p class="moj-timeline__date">
      <time datetime="2023-01-22">Not </time>
    </p> -->
    <!-- {# <p class="moj-timeline__byline">by HMP Wandsworth</p> #}
    <div class="moj-timeline__description">
      <p class="govuk-!-margin-bottom-2">Status result: Ready for delivery at HMP Brixton</p>
    </div> -->
  </div>
  <div class="moj-timeline__item moj-timeline__item-incomplete">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title"><span class="govuk-visually-hidden">3 </span>Certifier to review application</h2>
    </div>
    <!-- <p class="moj-timeline__date">
      <time datetime="2023-01-22">22 Jan 2023</time>
    </p> -->

  </div>
  <div class="moj-timeline__item moj-timeline__item-incomplete">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title"><span class="govuk-visually-hidden">4 </span>Import notice created by certifier</h2>
    </div>
    <!-- <p class="moj-timeline__date">
      <time datetime="2023-01-22">22 Jan 2023</time>
    </p> -->

  </div>
  <div class="moj-timeline__item moj-timeline__item-incomplete">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title"><span class="govuk-visually-hidden">5 </span>Send approved application to hauler</h2>
    </div>
    <!-- <p class="moj-timeline__date">
      <time datetime="2023-01-22">22 Jan 2023</time>
    </p> -->

  </div>
  <div class="moj-timeline__item moj-timeline__item-incomplete">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title"><span class="govuk-visually-hidden">5 </span>Link Ched with import notice  </h2>
    </div>
    <!-- <p class="moj-timeline__date">
      <time datetime="2023-01-22">22 Jan 2023</time>
    </p> -->

  </div>
</div>
