
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Application permissions
      </h1>
      <p class="govuk-body">By allowing permission to this application it will be able to edit Catch Certificates within the Fish Export Service in the following ways:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Create</li>
        <li>Read</li>
        <li>Manage</li>
      </ul>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      
      {% set fesHtml %}
      {{ govukRadios({
        idPrefix: "fes",
        name: "fes",
        items: [
          {
            value: "General user",
            text: "General user"
          },
          {
            value: "Admin user",
            text: "Admin user"
          }
        ]
      }) }}
    {% endset -%}
      
    {% set ipaffsHtml %}
      {{ govukRadios({
        idPrefix: "ipaffs",
        name: "ipaffs",
        items: [
          {
            value: "Notifier",
            text: "Notifier"
          }
        ]
      }) }}
    {% endset -%}

      {% set serviceHtml %}
        {{ govukRadios({
          idPrefix: "service",
          name: "service",
          items: [
            {
              value: "Fish Exports Service",
              text: "Fish Exports Service",
              conditional: {
                html: fesHtml
              }
            },
            {
              value: "IPAFFS",
              text: "IPAFFS",
              conditional: {
                html: ipaffsHtml
              }
            }
          ]
        }) }}
      {% endset -%}
      <br>
      <div class="govuk-form-group">
        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Select the account and role that you would like to give this application permission to use when acting on behalf of you:",
              isPageHeading: false,
              classes: "govuk-fieldset__legend"
            }
          },
          items: [
            {
              value: "Steve G Co",
              text: "Steve G Co",
              conditional: {
                html: serviceHtml
              }
            }
          ]
        }) }}
      </div>
      <form class="form" method="post" action="/review">
        {% from "govuk/components/button/macro.njk" import govukButton %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}
