
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Application permissions
      </h1>
      <p class="govuk-body">By allowing permission to this application it will be able to edit Catch Certificates within the Fish Export Service in the following ways:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Create</li>
        <li>Read</li>
        <li>Manage</li>
      </ul>
      <p class="govuk-body">Select the account and role that you would like to give this application permission to use when acting on behalf of you:</p>
      <div class="govuk-form-group">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="stevegco_fes_general" name="stevegco_fes_general" type="radio" value="stevegco_fes_general">
          <label class="govuk-label govuk-radios__label" for="terms-and-conditions">
            Steve G Co - Fish Exports Service - General user
          </label>
        </div>
      </div>
      <form class="form" method="post" action="review">
        {% from "govuk/components/button/macro.njk" import govukButton %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}
