
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <h1 class="govuk-heading-l">
        Review
      </h1>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Terms and conditions"
            },
            value: {
              text: "Agree and accepted"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "agreement to terms and conditions"
                }
              ]
            }
          },
          {
            key: {
              text: "Privacy policy"
            },
            value: {
              text: "Agree and accepted"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "agreement to privacy policy"
                }
              ]
            }
          },
          {
            key: {
              text: "Application permissions"
            },
            value: {
              html: "You have chosen to allow this client application to create, read and mange the catch certificates within the Fish Export Service"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "application permissions"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
     