{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "Is {application name} approved for production?" %}
{% set pageSection = "API administration" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>This means the company has:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li>given us x information</li>
                <li>provided enough things we asked about</li>
                <li>told us everything we need to know</li>
            </ul>

            <form action="confirmation" method="post" class="form">        
            
                {{ govukRadios({
                  
                    idPrefix: "admin-application-status",
                    name: "admin-application-status",
                    fieldset: {
                      legend: {
                        text: pageHeading,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l govuk-visually-hidden"
                      }
                    },
                    items: [
                      { value: "approved", text: "Yes" },
                      { value: "rejected, redirect(reject)", text: "No" },
                      { value: "suspended, redirect(more-information)", text: "Need more information" }                      
                    ]
                  }) }}
                
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
