{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Production applications" %}
{% set pageSection = "Administration" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        </div>    
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Title</h2>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p>Content relating to status potentially.</p>
                </div>
            </div>
            <table class="govuk-table govuk-!-margin-bottom-9">
                {% include "includes/dash_prodApp_head.html" %}
                <tbody class="govuk-table__body">                    
                    {% include "includes/dash_prodApp_row.html" %}                    
                </tbody>
            </table>                

            


        </div>
    </div>
  
{% endblock %}

