{% extends "layout.html" %}
{% set showBackLink = true %}



{% set pageHeading = "What other information is needed to make a decision for {application name}?" %}
{% set pageSection = "Administration" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <p>Select all that apply.</p>


            <form action="confirmation" method="post" class="form">        
            
                {{ govukCheckboxes({
                    idPrefix: "admin-suspend-reason",
                    name: "admin-suspend-reason",
                    fieldset: {
                      legend: {
                        text: pageHeading,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l govuk-visually-hidden"
                      }
                    },
                    items: [
                      { value: "small", text: "Option 1" },
                      { value: "medium", text: "Option 2" },
                      { value: "large", text: "Option 3" },
                      { value: "extralarge", text: "Option 4" }
                    ]
                  }) }}


                  {{ govukTextarea({
                    name: "admin-suspend-details",
                    id: "admin-suspend-details",
                    label: {
                      text: "Additional information",
                      classes: "govuk-label--s ",
                      isPageHeading: false
                    },
                    hint: {
                      text: "Do not include personal or financial information."
                    }
                  }) }}

                  <div class="govuk-visually-hidden">
                  {{ govukRadios({
                    fieldset: {
                        legend: { text: "More information required", isPageHeading: false, classes: "govuk-visually-hidden" }
                    },
                    items: [
                        { value: "moreInfo", text: "hidden field", checked: checked }                
                    ]
                  } | decorateFormAttributes('admin-application-status')) }}
                  </div>
                
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
