{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "Why are you rejecting production credentials for {application name}?" %}
{% set pageSection = "Administration" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <p>Select all that apply.</p>


            <form action="confirmation" method="post" class="form">        
            
                {{ govukCheckboxes({
                    idPrefix: "admin-reject-reason",
                    name: "admin-reject-reason",
                    fieldset: {
                      legend: {
                        text: pageHeading,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l govuk-visually-hidden"
                      }
                    },
                    items: [
                      { value: "small", text: "Option 1" },
                      { value: "medium", text: "Option 2" },
                      { value: "large", text: "Option 3" },
                      { value: "extralarge", text: "Option 4" }
                    ]
                  }) }}


                  {{ govukTextarea({
                    name: "admin-application-status-details",
                    id: "admin-application-status-details",
                    label: {
                      text: "Additional reasons for decision",
                      classes: "govuk-label--s ",
                      isPageHeading: false
                    },
                    hint: {
                      text: "Do not include personal or financial information."
                    }
                  }) }}


                
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
