<style type="text/css">
  
  .govuk-inset-text--blue{
    border-left: 10px solid #1d70b8
  }
</style>
<div class="govuk-inset-text govuk-inset-text--blue">
  <p>This is a draft application, you still need to answer 6 quesions before submiting.<br><a href="#" class="govuk-link govuk-link--no-visited-state">Continue this application</a></p>
</div>

<h2 class="govuk-heading-m" data-v-e8e27fc8="">Description of the goods</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8="">Certificate</div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">EHC8368 - Fresh meat intended for human consumption, excluding mechanically separated meat, of domestic bovine animals to the European Union and Northern Ireland</div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""></div>
  </div>

  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8="">Commodities</div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <p class="govuk-body">3 records</p>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="../commodities?change=yes" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Gross weight</div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8=""><span class="certified-goods" data-v-e8e27fc8="">52 kilograms</span></div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="./weight" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Goods certified as </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8=""><span class="certified-goods" data-v-e8e27fc8="">Human Consumption</span></div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Goods-Certified-As" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Container number/seal number (optional)</div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
        <span class="govuk-hint">Not entered</span>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Purpose of export </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">Internal market <span class="ml-1" data-v-e8e27fc8=""></span></div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Purpose-Of-Export" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
</div>
<h2 class="govuk-heading-m" data-v-e8e27fc8="">Persons involved</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Consignor or Exporter </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">Greggs plc (Glasgow, G72 7NA)</div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Consignor-Or-Exporter" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Consignee or Importer </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">Greggs plc (Belfast, BT1 6JH)</div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Consignee-Or-Importer" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Certifier </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">
        <p data-v-e8e27fc8="">Hall Mark Meat Hygniene Ltd, 8 Wheelwrights Corne, GL6 ODD</p>
      </div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Certifier" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Region of certification </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">England</div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Region-of-certification" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
  <div class="govuk-summary-list__row" data-v-e8e27fc8="">
    <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Responsible for load </div>
    <div class="govuk-summary-list__value" data-v-e8e27fc8="">
      <div data-v-e8e27fc8="">Greggs plc (Glasgow, G72 7NA)</div>
    </div>
    <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Operator" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
  </div>
</div>
<h2 class="govuk-heading-m" data-v-e8e27fc8="">Transport</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"> Departure date</dt>
              <dd class="govuk-summary-list__value">
                
                  <span class="govuk-summary-list__placeholder">Not entered</span>
                
              </dd>
              <dd class="govuk-summary-list__actions"><a href="./transport/arrival-and-departure?change=yes" class="govuk-link"> Change </a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"> Estimated arrival date</dt>
              <dd class="govuk-summary-list__value">
                
                  <span class="govuk-summary-list__placeholder">Not entered</span>
                
              </dd>
              <dd class="govuk-summary-list__actions"><a href="./transport/arrival-and-departure?change=yes" class="govuk-link"> Change </a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"> Country of origin 
              </dt><dd class="govuk-summary-list__value">
                  <p>United Kingdom (GB)</p>
                
              </dd>
              <dd class="govuk-summary-list__actions"><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Origin" class="govuk-link"> Change </a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"> Region of origin (optional) 
              </dt><dd class="govuk-summary-list__value">
                  <span class="govuk-summary-list__placeholder">Not entered</span>
                
              </dd>
              <dd class="govuk-summary-list__actions"><a href="./transport/place-of-origin?change=yes" class="govuk-link"> Change </a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"> Place of departure 
              </dt><dd class="govuk-summary-list__value">

                    
                     <a href="./transport/place-of-origin?change=yes" class="govuk-link"> Enter place of departure </a>
                
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"> Place of loading 
              </dt><dd class="govuk-summary-list__value">
                  
                   <a href="./transport/place-of-origin?change=yes" class="govuk-link"> Enter place of loading </a>
                
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Entry border control post</dt>
              <dd class="govuk-summary-list__value">
                
                <a href="./transport/border-control-post?change=yes" class="govuk-link"> Enter boarder control</a>
                  
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Transport conditions</dt>
              <dd class="govuk-summary-list__value">
                
                <a href="./transport/means-of-transport?change=yes" class="govuk-link"> Enter transport conditions </a>
                
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Means of transport</dt>
              <dd class="govuk-summary-list__value">
                
                <span class="govuk-summary-list__placeholder"><a href="./transport/means-of-transport?change=yes" class="govuk-link"> Enter means of transport </a></span>
                
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"> Place of destination </dt>
              <dd class="govuk-summary-list__value">
                
                     <span class="govuk-summary-list__placeholder"><a href="/transport/place-of-destination?change=yes" class="govuk-link govuk-link--no-visited-state"> Enter place of destination</a></span>
                
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
          </dl>

          <p><a href="#" class="govuk-button govuk-button--secondary">Continue this application</a></p>