{% extends "../layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Explore APIs
        </h1>
        <p class="govuk-body">Here you can take a look at all the APIs currently available in the Defra Developer Portal.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">Filter options:</h2>
        <p class="govuk-body">A-Z</p>
        <p class="govuk-body">Search</p>
        <p class="govuk-body">Dev/UAT</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <ul class="defra-topic-list">
            <li class="defra-topic-list--topic">
                <div class="topic-header">
                    <h2 class="govuk-heading-m topic-heading">
                        Apply for an Export Health Certificate
                    </h2>
                </div>
                <p class="govuk-body">This API enables traders to apply for export health certificates, check the status of applications you’ve made, and check for validation errors on your applications. This is the first step towards enabling digital integration for moving agri-food goods.</p>
                <dl>
                    <!-- <div class="dl-wrapper">
                        <dt>Route</dt>
                        <dd>https://gateway.trade.defra.gov.uk/trade-fish/uat/v1</dd>
                    </div>
                    <div class="dl-wrapper">
                        <dt>Version</dt>
                        <dd>1.0 <span class="m-r-15 govuk-tag govuk-tag--green">Current</span></dd>
                    </div> -->
                    <div class="dl-wrapper">
                        <dt>Documentation</dt>
                        <dd><a href="#">View the <span class="govuk-visually-hidden">Apply for an Export Health Certificate</span> API documentation</a></dd>
                    </div>
                    <div class="dl-wrapper">
                        <dt>Available APIs</dt>
                        <dd><span class="m-r-15 govuk-tag govuk-tag--blue">Development</span><span class="m-r-15 govuk-tag govuk-tag--yellow">UAT</span><span class="m-r-15 govuk-tag govuk-tag--green">Production</span></dd>
                    </div>
                </dl>
            </li>
            <li class="defra-topic-list--topic">
                <div class="topic-header">
                    <h2 class="govuk-heading-m topic-heading">
                        Apply for an Export Health Certificate
                    </h2>
                </div>
                <p class="govuk-body">This API enables traders to apply for export health certificates, check the status of applications you’ve made, and check for validation errors on your applications. This is the first step towards enabling digital integration for moving agri-food goods.</p>
                <dl>
                    <!-- <div class="dl-wrapper">
                        <dt>Route</dt>
                        <dd>https://gateway.trade.defra.gov.uk/trade-fish/uat/v1</dd>
                    </div>
                    <div class="dl-wrapper">
                        <dt>Version</dt>
                        <dd>1.0 <span class="m-r-15 govuk-tag govuk-tag--green">Current</span></dd>
                    </div> -->
                    <div class="dl-wrapper">
                        <dt>Documentation</dt>
                        <dd><a href="#">View the <span class="govuk-visually-hidden">Apply for an Export Health Certificate Data</span> API documentation</a></dd>
                    </div>
                    <div class="dl-wrapper">
                        <dt>Available APIs</dt>
                        <dd><span class="m-r-15 govuk-tag govuk-tag--blue">Development</span><span class="m-r-15 govuk-tag govuk-tag--yellow">UAT</span></dd>
                    </div>
                </dl>
            </li>
            <li class="defra-topic-list--topic">
                <div class="topic-header">
                    <h2 class="govuk-heading-m topic-heading">
                        Export Health Certificate Reference Data
                    </h2>
                </div>
                <p class="govuk-body">This API provides reference data that should be used in your submissions to the Export Health Certificates Reference Data API.</p>
                <dl>
                    <!-- <div class="dl-wrapper">
                        <dt>Route</dt>
                        <dd><a href="#">link to API</a></dd>
                    </div>
                    <div class="dl-wrapper">
                        <dt>Version</dt>
                        <dd>1.0 <span class="m-r-15 govuk-tag govuk-tag--green">Current</span></dd>
                    </div> -->
                    <div class="dl-wrapper">
                        <dt>Documentation</dt>
                        <dd><a href="#">View <span class="govuk-visually-hidden">Apply for an Export Health Certificate</span> API documentation</a></dd>
                    </div>
                    <div class="dl-wrapper">
                        <dt>Available APIs</dt>
                        <dd><span class="m-r-15 govuk-tag govuk-tag--blue">Development</span><span class="m-r-15 govuk-tag govuk-tag--yellow">UAT</span></dd>
                    </div>
                </dl>
            </li>
        </ul>

    </div>
</div>
{% endblock %}
