{% set exploreAPIsActive = true %}
{% extends "../layout.html" %}

{% block pageTitle %}
  Explore APIs
{% endblock %}


{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  <div class="govuk-width-container defra-breadcrumbs">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/homepage"
      },
      {
        text: "Explore APIs"
      }
    ]
  }) }}
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Explore APIs
        </h1>
        <p class="govuk-body">Here you can take a look at all the APIs currently available in the Defra Developer Portal.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <!-- <div class="defra-page-search">
            <label for="api-search" class="govuk-label">Search APIs</label>
            <div class="defra-searchbox">
                <input type="text" id="api-search" class="govuk-input" />
                <button id="api-search-button" class="govuk-button">Search</button>
            </div>
        </div> -->
        <!-- <div class="defra-page-search">
            <h2 class="govuk-heading-s">Search A-Z</h2>
            <ul class="defra-az-search">
                <li><a href="#a" class="defra-az-search-item">A</a></li>
                <li><span class="defra-az-search-item">B</span></li>
                <li><span class="defra-az-search-item">C</span></li>
                <li><span class="defra-az-search-item">D</span></li>
                <li><a href="#e" class="defra-az-search-item">E</a></li>
                <li><a href="#f" class="defra-az-search-item">F</a></li>
                <li><span class="defra-az-search-item">G</span></li>
                <li><span class="defra-az-search-item">H</span></li>
                <li><span class="defra-az-search-item">I</span></li>
                <li><span class="defra-az-search-item">J</span></li>
                <li><span class="defra-az-search-item">K</span></li>
                <li><span class="defra-az-search-item">L</span></li>
                <li><span class="defra-az-search-item">M</span></li>
                <li><span class="defra-az-search-item">N</span></li>
                <li><span class="defra-az-search-item">O</span></li>
                <li><span class="defra-az-search-item">P</span></li>
                <li><span class="defra-az-search-item">Q</span></li>
                <li><span class="defra-az-search-item">R</span></li>
                <li><span class="defra-az-search-item">S</span></li>
                <li><a href="#t" class="defra-az-search-item">T</a></li>
                <li><span class="defra-az-search-item">U</span></li>
                <li><span class="defra-az-search-item">V</span></li>
                <li><span class="defra-az-search-item">W</span></li>
                <li><span class="defra-az-search-item">X</span></li>
                <li><span class="defra-az-search-item">Y</span></li>
                <li><span class="defra-az-search-item">Z</span></li>
            </ul>

        </div> -->
        <div class="defra-page-search" style="margin-top: 3rem;">
            <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
                <h2 class="govuk-fieldset__heading">Available API status</h2>
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter-development" name="filter-development" type="checkbox" value="Development">
                    <label class="govuk-label govuk-checkboxes__label" for="filter-development">
                    Development
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-production" name="filter-production" type="checkbox" value="Production">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-production">
                    Production
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter-uat" name="filter-uat" type="checkbox" value="UAT">
                    <label class="govuk-label govuk-checkboxes__label" for="filter-uat">
                        UAT
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="filter-retired" name="filter-retired" type="checkbox" value="Retired">
                    <label class="govuk-label govuk-checkboxes__label" for="filter-retired">
                        Retired
                    </label>
                </div>
            </div>
            </fieldset>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <ul class="defra-topic-list">
            <li class="defra-topic-list--topic">
                <div class="topic-header">
                    <h2 class="govuk-heading-m topic-heading">
                        Apply for an export health certificate
                    </h2>
                </div>
                <p class="govuk-body">Apply for export health certificates, check the status of applications you've already made, and check for validation errors on your applications.</p>
                <dl>
                    <!-- <div class="defra-definition-wrapper">
                        <dt>Route</dt>
                        <dd>https://gateway.trade.defra.gov.uk/trade-fish/uat/v1</dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Version</dt>
                        <dd>1.0 <span class="m-r-15 govuk-tag govuk-tag--green">Current</span></dd>
                    </div> -->
                    <div class="defra-definition-wrapper">
                        <dt>Documentation</dt>
                        <dd><a href="api-apply-for-an-ehc-masthead">View the <span class="govuk-visually-hidden">Apply for an Export Health Certificate</span> API documentation</a></dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Available APIs</dt>
                        <dd><span class="m-r-15 govuk-tag govuk-tag--blue">Sandbox</span><span class="m-r-15 govuk-tag govuk-tag--yellow">UAT</span><span class="m-r-15 govuk-tag govuk-tag--green">Production</span>
                    </div>
                </dl>
            </li>
            <!-- <li class="defra-topic-list--topic">
                <div class="topic-header">
                    <h2 class="govuk-heading-m topic-heading">
                        Export health certificate reference data
                    </h2>
                </div>
                <p class="govuk-body">This API provides reference data that should be used in your submissions to the export health certificate reference data API.</p>
                <dl>
                    <!-- <div class="defra-definition-wrapper">
                        <dt>Route</dt>
                        <dd><a href="#">link to API</a></dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Version</dt>
                        <dd>1.0 <span class="m-r-15 govuk-tag govuk-tag--green">Current</span></dd>
                    </div> -->
                    <!--<div class="defra-definition-wrapper">
                        <dt>Documentation</dt>
                        <dd><a href="#">View <span class="govuk-visually-hidden">Apply for an Export Health Certificate</span> API documentation</a></dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Available APIs</dt>
                        <dd><span class="m-r-15 govuk-tag govuk-tag--blue">Sandbox</span><span class="m-r-15 govuk-tag govuk-tag--yellow">UAT</span></dd>
                    </div>
                </dl>
            </li> -->
            <li class="defra-topic-list--topic" id="f">
                <div class="topic-header">
                    <h2 class="govuk-heading-m topic-heading">
                        Create a catch certificate API
                    </h2>
                </div>
                <p class="govuk-body">This API lets exporters create catch certificates for fish and shellfish using Defra’s Fish Exports Service.</p>
                <dl>
                    <!-- <div class="defra-definition-wrapper">
                        <dt>Route</dt>
                        <dd>https://gateway.trade.defra.gov.uk/trade-fish/uat/v1</dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Version</dt>
                        <dd>1.0 <span class="m-r-15 govuk-tag govuk-tag--green">Current</span></dd>
                    </div> -->
                    <div class="defra-definition-wrapper">
                        <dt>Documentation</dt>
                        <dd><a href="api-fish-exports-service-masthead">View the <span class="govuk-visually-hidden">Fish Exports Service</span> API documentation</a></dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Available APIs</dt>
                        <dd><span class="m-r-15 govuk-tag govuk-tag--blue">Sandbox</span><span class="m-r-15 govuk-tag govuk-tag--yellow">UAT</span><span class="m-r-15 govuk-tag govuk-tag--green">Production</span></dd>
                    </div>
                </dl>
            </li>
            <li class="defra-topic-list--topic">
                <div class="topic-header">
                    <h2 class="govuk-heading-m topic-heading">
                        Trade approved food establishment API
                    </h2>
                </div>
                <p class="govuk-body">This API relates to trade approved food establishments.</p>
                <dl>
                    <!-- <div class="defra-definition-wrapper">
                        <dt>Route</dt>
                        <dd>https://gateway.trade.defra.gov.uk/trade-fish/uat/v1</dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Version</dt>
                        <dd>1.0 <span class="m-r-15 govuk-tag govuk-tag--green">Current</span></dd>
                    </div> -->
                    <div class="defra-definition-wrapper">
                        <dt>Documentation</dt>
                        <dd><a href="#">View the <span class="govuk-visually-hidden">Trade approved food establishments</span> API documentation</a></dd>
                    </div>
                    <div class="defra-definition-wrapper">
                        <dt>Available APIs</dt>
                        <dd><span class="m-r-15 govuk-tag govuk-tag--blue">Sandbox</span><span class="m-r-15 govuk-tag govuk-tag--yellow">UAT</span></dd>
                    </div>
                </dl>
            </li>
        </ul>

    </div>
</div>
{% endblock %}
