{% extends "layout.html" %}
{% block pageTitle %}
Copy – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}
<a href="dashboard" class="govuk-back-link">Return to your applications</a>
{% endblock%}

{% block content %}

{% set id = query.id or '0' %}
{% set list =  ("default" | findObjectByKey(data.applications)).applications %}
{% set app = list[id] %}
{{data.unifiedTestinigUser}}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Manage digital application <span style="white-space: nowrap;"> {{app.applicationID}} </span>
    </h1>   
    <p><a href="#">Review application</a></p>

    {% block summaryblock %}{% include './components/_tab-overview-no-timeline.html' %}{% endblock %}

        <h2 class=govuk-heading-l>Actions</h2>    <ul class="govuk-list  govuk-!-margin-bottom-6">

      <li><a class="govuk-link govuk-link--no-visited-state" href="certificate/check-your-progress?certificate=ehc2849">Edit and submit this application</a></li>

      <li><a class="govuk-link govuk-link--no-visited-state" href="clone?id=4&amp;is_group=">Copy as new application</a></li>

      <li><a class="govuk-link govuk-link--no-visited-state" href="delete">Delete this application</a></li>

    </ul>


  </div>
</div>
{% endblock %}
