{% set serviceName = "Apply to export animals or animal products

"%}
{% extends "layout.html" %}

{% block pageTitle %}
Changes to the service - Apply for an Export health certificate - GOVUK
{% endblock %}

{% block beforeContent%}

{% endblock %}

{% block content %}
<!-- get a list of certs -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We’re making some changes to the service</h1>

      <p class="govuk-body" lang="en">
        To make sure all export data is consistent with the EU’s trade and control expert system (TRACES), we’re making some changes to how you apply to move animals and animal products to the EU and Northern Ireland.
      </p>
      <p>Later this year, you will be able to create a fully digital application for any consignment to the EU and Northern Ireland. With a fully digital application, your:
</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>certifiers and importers will no longer need to use paper copies of EHCs</li>
        <li>commodity data will be consistent with EU border control post requirements</li>
      </ul>
      <p>To learn more, you can read about the changes to <a href="#">how you apply for an EHC.</a></p>
      <p >
        You will still be able to use paper-based applications for consignments to Northern Ireland or the EU.
</p>
      <form method="post" novalidate="" action="https://defra-ehco-prototype.herokuapp.com/beta/v8/core/dashboard">

        <input type="hidden" name="firstTime" value="no">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>


  </div>

{% endblock %}
