{% extends "layout.html" %}

{% block pageTitle %}
Arrival and departure – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}


<form class="" method="post">
    <div class="govuk-grid-row" data-v-4e598067="">
      <div class="govuk-grid-column-two-thirds" data-v-4e598067=""><span class="govuk-caption-xl"> Transport </span>
        <h1 class="govuk-heading-xl"> Departure and arrival </h1>
        <!---->
        <!---->
        <!---->
        <p class="govuk-body" data-v-4e598067=""> Provide details about the date and time of departure and the date and time of arrival at the border control post, for your export below. </p>

  <!---->
  <section id="departure" data-v-4e598067="">
        <h2 class="govuk-heading-m" data-v-4e598067="">Departure</h2>
        <p class="govuk-body" data-v-4e598067=""> The date and time when the means of transport departs (aeroplane, vessel, railway or road vehicle). </p>
        <div class="govuk-form-group" data-v-4e598067="">
          <fieldset class="govuk-fieldset" aria-describedby="date-hint" data-v-4e598067="">
            <legend class="govuk-fieldset__legend" data-v-4e598067="">
              <h1 class="govuk-fieldset__heading" data-v-4e598067=""> What date and time is this export due for departure? </h1>
            </legend>
            <div id="date-hint" class="govuk-hint" data-v-4e598067=""> For example, 26/09/2022 10:07 </div>
            <!---->
            <!----><span class="p-calendar p-component p-inputwrapper p-inputwrapper-filled" data-v-4e598067=""><input  type="datetime-local" class="js-question govuk-input govuk-input--width-10" name="departure" inputmode="none">
              <!---->
            </span>
          </fieldset>
        </div>
  </section>
  <section id="arrival" data-v-4e598067="">
    <h2 class="govuk-heading-m" data-v-4e598067="">Estimated arrival</h2>
    <p class="govuk-body" data-v-4e598067=""> The estimated date and time when the means of transport arrives at the BCP. </p>
    <div class="govuk-form-group" data-v-4e598067="">
      <fieldset class="govuk-fieldset" aria-describedby="date-hint" data-v-4e598067="">
        <legend class="govuk-fieldset__legend" data-v-4e598067="">
          <h1 class="govuk-fieldset__heading" data-v-4e598067=""> What estimated date and time will this export arrive at the border control post? </h1>
        </legend>
        <div id="departure-date-hint" class="govuk-hint" data-v-4e598067=""> For example, 29/09/2022 10:07 </div>
        <!----><span class="p-calendar p-component p-inputwrapper p-inputwrapper-filled" data-v-4e598067=""><input  type="datetime-local" class="js-question govuk-input govuk-input--width-10" name="arrival" inputmode="none">
          <!---->
        </span>
      </fieldset>
    </div>
  </section>
  <!-- <p class="govuk-body" data-v-4e598067=""> Based on the dates selected above, this export application must be submitted to the EU before <strong data-v-4e598067="">04 June 2022</strong>. </p> -->

  <div class="govuk-form-group" id="skip-question-container">
    <h3 class="govuk-heading-m">You can skip this section</h3>
    <p class="govuk-body">If you're unable to enter some information, you can leave the section blank and submit the application to your certifier to complete.</p>
    <div class="govuk-checkboxes__item" id="skip-question-checkbox">
      <input class="govuk-checkboxes__input" id="skip-question" name="skip-question" type="checkbox" value="yes" {% if hasIncompleteRecord %}checked{% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="skip-question">
        I've entered as much information as I can
      </label>
    </div>
  </div>

  <section id="actions" data-v-4e598067=""><button class="govuk-button" data-v-4e598067="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Save and continue</font>
      </font>
    </button></section>
          </div>
    </div>
</form>

<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
    $('.js-question').each(function() {
        console.log("looking to see if complete")
        var elem = $(this);

        // Save current value of element
        elem.data('oldVal', elem.val());
        if (elem.val()!=""){
            elem.attr('data-filled', 'yes')
        }
        // Look for changes in the value
        elem.bind("propertychange change click keyup input paste", function(event) {
            // If value has changed...
            console.log("checking content")
            if (elem.data('oldVal') != elem.val()) {
                console.log("value has changed")
                // Updated stored value

                // Do action
                if (elem.val() == "//default") {
                    elem.val(elem.attr('data-default'));

                }
                console.log("val length = " + elem.val().length)
                if (elem.val().length === 0) {
                    elem.attr('data-filled', 'no')
                } else {
                    elem.attr('data-filled', 'yes')
                }

                console.log("data-filled = " + elem.attr('data-filled'))
                // elem.attr('data-filled','yes')

                elem.data('oldVal', elem.val());
            }


            checkFilled()
        });
    });

    function checkFilled() {
        var completed = 0;
        var max = $('.js-question').length
        console.log("---checkFilled---- " + max)
        $('.js-question').each(function() {
            console.log("Chekcing if its complete: " + ($(this).attr('data-filled') == "yes"))
            if ($(this).attr('data-filled') === "yes") {
                completed += 1
            }

        })
        console.log("Completed = " + completed)
        if (completed >= max) {
            // $('.defra-callout h3').text(max +" questions answered")
            // $('.defra-callout .defra-callout--content').hide()
            $('#skip-question-checkbox').hide()
        } else {
            $('#skip-question-checkbox').show()
        }
        console.log("---end----")
    }

    checkFilled()
});
</script>
{% endblock%}
