{% extends "layout.html" %}

{% block pageTitle %}
Dispatch and loading locations – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<style>
  .find-establishment-link {
    padding: 30px;
    background: #f3f2f1;
  }

  .govuk-summary-list__actions {
    padding-right: 30px;
  }

  .govuk-summary-list__row {
    border: none;
  }
</style>


<form class="" method="post">
  <div class="modal-backdrop" data-v-4bb354a1="" data-v-0c6ff6a7="" style="display: none;">
    <!---->
  </div>
  <section id="intro">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"> Dispatch and loading locations </h1>
   
      </div>
    </div>
  </section>
    <section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      

       
    </div>
  </section>
   <section id="place-of-loading">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      


          <input type="hidden" name="placeOfLoadingName" value="Testing Company Name" >
        <input type="hidden" name="placeOfLoadingTown" value="London" >
        <input type="hidden" name="placeOfLoadingPostcode" value="SW6 5HM" >
          
      </div>
    </div>
  </section>
  <section id="place-of-dispatch">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       


          <input type="hidden" name="placeOfDispatchName" value="Testing Company Name" >
        <input type="hidden" name="placeOfDispatchTown" value="London" >
        <input type="hidden" name="placeOfDispatchPostcode" value="SW6 5HM" >

      </div>
    </div>
  </section>
  <p>This is a prototype. Please click continue as if you had filled in the details.</p>
  
  <section id="actions">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"><button class="govuk-button"> Save and continue </button></div>
    </div>
  </section>
</form>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {
    $( 'a' ) .click(function() { return false; });

  })
</script>
{% endblock%}
