{% extends "layout.html" %}

{% block pageTitle %}
Place of destination – {{super()}}
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<style>
  .find-establishment-link {
    padding: 30px;
    background: #f3f2f1;
  }

  .govuk-summary-list__actions {
    padding-right: 30px;
  }

  .govuk-summary-list__row {
    border: none;
  }
</style>


<form class="" action="{% if qurey.change == 'yes'%}../check-your-answers{%else%}../task-list{% endif %}" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--<span class="govuk-caption-xl"> Transport </span>-->
      <h1 class="govuk-heading-xl"> Find a place of destination </h1>

      <p class="govuk-body">This is where the commodities are sent for final unloading.</p>

      {% if data.transport['destination'] %}
        {% set establishmentIndex = data.transport['destination'] %}
        {% set org = data.establishments[establishmentIndex] %}

        {% set removeLink = "./remove?who=destination&redirect=place-of-destination" %}

        <input type="hidden" name="placeOfDestinationName" value="{{org.TradingName}}" >
        <input type="hidden" name="placeOfDestinationTown" value="{{org.Town}}" >
        <input type="hidden" name="placeOfDestinationPostcode" value="{{org.Postcode}}" >
        {% block traderAddress %}{% include "../persons/trader-address.html" %}{% endblock %}
      {% else %}
        <p class="govuk-!-margin-bottom-10 find-establishment-link">
          <a href="./place-of-destination/find">Select a place of destination</a>
        </p>
      {% endif %}
      <input type="hidden" name="change" value="yes">
      <button class="govuk-button">Continue</button>
    </div>
  </div>
</form>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {


  })
</script>
{% endblock%}
