{% extends "layout.html" %}
{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="ehc-summary">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
        <div class="govuk-summary-list__row govuk-summary-list__row--print">
          <dt class="govuk-summary-list__key"> Application ID </dt>
          <dd class="govuk-summary-list__value">
            3083845984093853498
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
    <!--     <div class="govuk-summary-list__row govuk-summary-list__row--print">
          <dt class="govuk-summary-list__key"> Created by </dt>
          <dd class="govuk-summary-list__value">
            Bill Shoggins
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Certificate </dt>
          <dd class="govuk-summary-list__value">
            EHC8305 - Processed pet food other than canned pet food to, or transit through, the European Union and Northern Ireland
          </dd>
        </div>
        <div class="govuk-summary-list__row " data-v-e8e27fc8="">
          <dt class="govuk-summary-list__key" data-v-e8e27fc8="">Application Reference</dt>
          <dd class="govuk-summary-list__value" data-v-e8e27fc8=""> XI2934BUL3
          </dd>
          <dd class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="create-reference?showNotification=no&amp;change=yes" class="govuk-link" data-v-e8e27fc8=""> Change </a></dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">1. What’s in your consignment</h2>
      <table class="govuk-table govuk-!-margin-bottom-4" id="commodityTable">
         <caption class="govuk-table__caption govuk-table__caption--s">Added 7 records for 2 commodities</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Commodity</th>
            <th class="govuk-table__header" scope="col">Description</th>
            <th class="govuk-table__header" scope="col">Net weight</th><th class="govuk-table__header" scope="col">Number of packages</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <!-- BULK UPLOAD (plants and fresh produce) -->
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">41022900</th>
            <td class="govuk-table__cell">Lamb chops</td>
            <td class="govuk-table__cell">100kg</td>
            <td class="govuk-table__cell">47 Boxes</td>
            <td class="govuk-table__cell" style="text-align: right;">
              <a href="how-to-identify?return_url=check-your-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
              <br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">41022900</th>
            <td class="govuk-table__cell">Lamb chops</td>
            <td class="govuk-table__cell">100kg</td>
            <td class="govuk-table__cell">47 Boxes</td>
            <td class="govuk-table__cell" style="text-align: right;">
              <a href="how-to-identify?return_url=check-your-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
              <br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">41022900</th>
            <td class="govuk-table__cell">Species: Bovidae</td>
            <td class="govuk-table__cell">54g</td>
            <td class="govuk-table__cell">12 Boxes</td>
            <td class="govuk-table__cell" style="text-align: right;">
              <a href="how-to-identify?return_url=check-your-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
              <br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">41022900</th>
            <td class="govuk-table__cell">Batch: 37897278423 </td>
            <td class="govuk-table__cell">100kg</td>
            <td class="govuk-table__cell">47 Boxes</td>
            <td class="govuk-table__cell" style="text-align: right;">
              <a href="how-to-identify?return_url=check-your-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
              <br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">41033000</th>
            <td class="govuk-table__cell"><span class="govuk-hint">Not entered</span></td>
            <td class="govuk-table__cell"><span class="govuk-hint">Not entered</span></td>
            <td class="govuk-table__cell"><span class="govuk-hint">Not entered</span></td>
            <td class="govuk-table__cell" style="text-align: right;">
              <a href="how-to-identify?return_url=check-your-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
              <br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header  govuk-!-font-weight-regular">41033000</th>
            <td class="govuk-table__cell">Lamb chops</td>
            <td class="govuk-table__cell">100kg</td>
            <td class="govuk-table__cell">47 Boxes</td>
            <td class="govuk-table__cell" style="text-align: right;">
              <a href="how-to-identify?return_url=check-your-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
              <br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">Delete<span class="govuk-visually-hidden"> this commodity</span></a>
            </td>
          </tr>
          
        </tbody>
        <tfoot>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" colspan="2">Total net weight (calculated)</th>
            <td class="govuk-table__cell" colspan="2">204kg</td>
             <td class="govuk-table__cell" style="text-align: right;">
                
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" colspan="2">Total gross weight</th>
            <td class="govuk-table__cell" colspan="2">300kg</td>
             <td class="govuk-table__cell" style="text-align: right;">
                  <a href="how-to-identify?return_url=check-your-answers" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> this commodity</span></a>
            </td>
          </tr>
        </tfoot>
      </table>
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-9"><a href="#">Add or manage commodities</a></p>
<!--       <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Gross weight </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./export/weight?change=yes" class="govuk-link"> Change </a> <span class="govuk-visually-hidden">gross weight</span></dd>
        </div>
      </dl> -->
      <h2 class="govuk-heading-m">2. Certification of the consignment</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Certifier </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./persons/certifier?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Region of certification </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./persons/region-of-certification?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Goods certified as </dt>
          <dd class="govuk-summary-list__value">
            Human consumption
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="./goods/goods-certified-as?change=yes" class="govuk-link"> Change </a> <span class="govuk-visually-hidden">goods certified as</span></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Type of consignment</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./goods/purpose-of-export?change=yes" class="govuk-link"> Change </a><span class="govuk-visually-hidden">Purpose of the export</span></dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">3. Sending the consignment</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Consignor or Exporter </dt>
          <dd class="govuk-summary-list__value">
            Denis Brinicombe Group (Crediton, EX17 3BZ)<br>
            Activity: Exporter
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./persons/consignor-or-exporter?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Dispatch location
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./transport/arrival-and-departure?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Loading location
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./transport/arrival-and-departure?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Departure date</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./transport/arrival-and-departure?change=yes" class="govuk-link"> Change </a></dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">4. Transport</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Goods transported in closed containers</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="./goods/containter-seal-numbers/goods-in-closed-containers?change=yes" class="govuk-link"> Change <span class="govuk-visually-hidden">Goods transported in closed containers</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Official seals are affixed to the goods during transport</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="./goods/containter-seal-numbers/want-to-add-seal-numbers?change=yes" class="govuk-link"> Change <span class="govuk-visually-hidden">Official seals are affixed to the goods during transport</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Transport method</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./transport/means-of-transport?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Transport storage </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./transport/conditions?change=yes" class="govuk-link"> Change </a></dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">5. When the consignment arrives</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Entry border control post</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./transport/border-control-post?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Estimated arrival date</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./transport/arrival?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Importer or Consignee</dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./persons/consignee-or-importer?change=yes" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Responsible for load </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Operator" class="govuk-link"> Change </a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Destination </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">Not entered</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="/transport/place-of-destination?change=yes" class="govuk-link"> Change </a></dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">6. Additional documents (optional)</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"> Accompanying documents </dt>
          <dd class="govuk-summary-list__value">
            <span class="govuk-summary-list__placeholder">No documents uploaded</span>
          </dd>
          <dd class="govuk-summary-list__actions"><a href="./attachments/added-documents?change=yes" class="govuk-link"> Change </a></dd>
        </div>
      </dl>
      <div class="app-main-footer">
        <!--           <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link" data-track-category="printButton" data-track-action="clicked" data-track-label="Print this page" data-ga4-event="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;print page&quot;,&quot;index&quot;:{&quot;index_link&quot;:1},&quot;index_total&quot;:2,&quot;section&quot;:&quot;Content&quot;}" data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print your answers</button>
</div> -->
        <!--  <p class="download-a-document">
            <span class="download-a-document-image"><img class="" src="/public/images/icon-file-download.png" alt="your answers in a specimen certificate"><span class="govuk-visually-hidden">File download</span></span>
            <strong><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank" data-qa-id="Link-PreviewCertificate" class="govuk-link">Download your application as a PDF</a>
            </strong>
          </p> -->
        <p class="download-a-document">
          <strong><a href="/public/images/check-your-answer.pdf" download="" class="govuk-link">Download your application as a PDF</a>
          </strong>
        </p>
        <h2 class="govuk-heading-m"> Submit to certifier </h2>
        <p class="govuk-body"> Once you've entered all the information you can, you can review your answers and submit the application to your certifier.
        </p>
        <div>
          <a href="review" class="govuk-button" id="submit">
            Continue
          </a>
          <!---->
          <p id="eleapsed-time" aria-live="polite" class="govuk-body" style="display:none"></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}