<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="ship-name-2" data-v-6d4fc99b="">Ship name</label>
  <input class="govuk-input js-question" maxlength="30" id="ship-name-2" name="identifier" value="{% if transportDetails %}{{transportDetails.identifier}}{% endif %}">
</div>
<div class="govuk-form-group">
  <label for="flag-state-2" class="govuk-label" data-v-6d4fc99b="">Flag state</label>
  <select class="govuk-select js-question" id="flag-state-2" name="flagState" >
    <option value="empty" data-v-6d4fc99b="" selected disabled></option>
    <option value="AF" data-v-6d4fc99b="">Afghanistan (AF)</option>
    <option value="AX" data-v-6d4fc99b="">Åland Islands (AX)</option>
    <option value="AL" data-v-6d4fc99b="">Albania (AL)</option>
    <option value="DZ" data-v-6d4fc99b="">Algeria (DZ)</option>
    <option value="AS" data-v-6d4fc99b="">American Samoa (AS)</option>
    <option value="AD" data-v-6d4fc99b="">Andorra (AD)</option>
    <option value="AO" data-v-6d4fc99b="">Angola (AO)</option>
    <option value="AI" data-v-6d4fc99b="">Anguilla (AI)</option>
    <option value="AG" data-v-6d4fc99b="">Antigua and Barbuda (AG)</option>
    <option value="AR" data-v-6d4fc99b="">Argentina (AR)</option>
    <option value="AM" data-v-6d4fc99b="">Armenia (AM)</option>
    <option value="AW" data-v-6d4fc99b="">Aruba (AW)</option>
    <option value="AU" data-v-6d4fc99b="">Australia (AU)</option>
    <option value="AT" data-v-6d4fc99b="">Austria (AT)</option>
    <option value="AZ" data-v-6d4fc99b="">Azerbaijan (AZ)</option>
    <option value="BS" data-v-6d4fc99b="">Bahamas (the) (BS)</option>
    <option value="BH" data-v-6d4fc99b="">Bahrain (BH)</option>
    <option value="BD" data-v-6d4fc99b="">Bangladesh (BD)</option>
    <option value="BB" data-v-6d4fc99b="">Barbados (BB)</option>
    <option value="BY" data-v-6d4fc99b="">Belarus (BY)</option>
    <option value="BE" data-v-6d4fc99b="">Belgium (BE)</option>
    <option value="BZ" data-v-6d4fc99b="">Belize (BZ)</option>
    <option value="BJ" data-v-6d4fc99b="">Benin (BJ)</option>
    <option value="BM" data-v-6d4fc99b="">Bermuda (BM)</option>
    <option value="BT" data-v-6d4fc99b="">Bhutan (BT)</option>
    <option value="BO" data-v-6d4fc99b="">Bolivia (Plurinational State of) (BO)</option>
    <option value="BQ" data-v-6d4fc99b="">Bonaire, Sint Eustatius and Saba (BQ)</option>
    <option value="BA" data-v-6d4fc99b="">Bosnia and Herzegovina (BA)</option>
    <option value="BW" data-v-6d4fc99b="">Botswana (BW)</option>
    <option value="BR" data-v-6d4fc99b="">Brazil (BR)</option>
    <option value="IO" data-v-6d4fc99b="">British Indian Ocean Territory (the) (IO)</option>
    <option value="BN" data-v-6d4fc99b="">Brunei Darussalam (BN)</option>
    <option value="BG" data-v-6d4fc99b="">Bulgaria (BG)</option>
    <option value="BF" data-v-6d4fc99b="">Burkina Faso (BF)</option>
    <option value="BI" data-v-6d4fc99b="">Burundi (BI)</option>
    <option value="CV" data-v-6d4fc99b="">Cabo Verde (CV)</option>
    <option value="KH" data-v-6d4fc99b="">Cambodia (KH)</option>
    <option value="CM" data-v-6d4fc99b="">Cameroon (CM)</option>
    <option value="CA" data-v-6d4fc99b="">Canada (CA)</option>
    <option value="KY" data-v-6d4fc99b="">Cayman Islands (the) (KY)</option>
    <option value="CF" data-v-6d4fc99b="">Central African Republic (the) (CF)</option>
    <option value="TD" data-v-6d4fc99b="">Chad (TD)</option>
    <option value="CL" data-v-6d4fc99b="">Chile (CL)</option>
    <option value="CN" data-v-6d4fc99b="">China (CN)</option>
    <option value="CO" data-v-6d4fc99b="">Colombia (CO)</option>
    <option value="KM" data-v-6d4fc99b="">Comoros (the) (KM)</option>
    <option value="CD" data-v-6d4fc99b="">Congo (the Democratic Republic of the) (CD)</option>
    <option value="CG" data-v-6d4fc99b="">Congo (the) (CG)</option>
    <option value="CK" data-v-6d4fc99b="">Cook Islands (the) (CK)</option>
    <option value="CR" data-v-6d4fc99b="">Costa Rica (CR)</option>
    <option value="CI" data-v-6d4fc99b="">Côte d'Ivoire (CI)</option>
    <option value="HR" data-v-6d4fc99b="">Croatia (HR)</option>
    <option value="CU" data-v-6d4fc99b="">Cuba (CU)</option>
    <option value="CW" data-v-6d4fc99b="">Curaçao (CW)</option>
    <option value="CY" data-v-6d4fc99b="">Cyprus (CY)</option>
    <option value="CZ" data-v-6d4fc99b="">Czechia (CZ)</option>
    <option value="DK" data-v-6d4fc99b="">Denmark (DK)</option>
    <option value="DJ" data-v-6d4fc99b="">Djibouti (DJ)</option>
    <option value="DM" data-v-6d4fc99b="">Dominica (DM)</option>
    <option value="DO" data-v-6d4fc99b="">Dominican Republic (the) (DO)</option>
    <option value="EC" data-v-6d4fc99b="">Ecuador (EC)</option>
    <option value="EG" data-v-6d4fc99b="">Egypt (EG)</option>
    <option value="SV" data-v-6d4fc99b="">El Salvador (SV)</option>
    <option value="GQ" data-v-6d4fc99b="">Equatorial Guinea (GQ)</option>
    <option value="ER" data-v-6d4fc99b="">Eritrea (ER)</option>
    <option value="EE" data-v-6d4fc99b="">Estonia (EE)</option>
    <option value="SZ" data-v-6d4fc99b="">Eswatini (SZ)</option>
    <option value="ET" data-v-6d4fc99b="">Ethiopia (ET)</option>
    <option value="FK" data-v-6d4fc99b="">Falkland Islands (the) [Malvinas] (FK)</option>
    <option value="FO" data-v-6d4fc99b="">Faroe Islands (the) (FO)</option>
    <option value="FJ" data-v-6d4fc99b="">Fiji (FJ)</option>
    <option value="FI" data-v-6d4fc99b="">Finland (FI)</option>
    <option value="FR" data-v-6d4fc99b="">France (FR)</option>
    <option value="GF" data-v-6d4fc99b="">French Guiana (GF)</option>
    <option value="PF" data-v-6d4fc99b="">French Polynesia (PF)</option>
    <option value="GA" data-v-6d4fc99b="">Gabon (GA)</option>
    <option value="GM" data-v-6d4fc99b="">Gambia (the) (GM)</option>
    <option value="GE" data-v-6d4fc99b="">Georgia (GE)</option>
    <option value="DE" data-v-6d4fc99b="">Germany (DE)</option>
    <option value="GH" data-v-6d4fc99b="">Ghana (GH)</option>
    <option value="GI" data-v-6d4fc99b="">Gibraltar (GI)</option>
    <option value="GR" data-v-6d4fc99b="">Greece (GR)</option>
    <option value="GL" data-v-6d4fc99b="">Greenland (GL)</option>
    <option value="GD" data-v-6d4fc99b="">Grenada (GD)</option>
    <option value="GP" data-v-6d4fc99b="">Guadeloupe (GP)</option>
    <option value="GU" data-v-6d4fc99b="">Guam (GU)</option>
    <option value="GT" data-v-6d4fc99b="">Guatemala (GT)</option>
    <option value="GG" data-v-6d4fc99b="">Guernsey (GG)</option>
    <option value="GN" data-v-6d4fc99b="">Guinea (GN)</option>
    <option value="GW" data-v-6d4fc99b="">Guinea-Bissau (GW)</option>
    <option value="GY" data-v-6d4fc99b="">Guyana (GY)</option>
    <option value="HT" data-v-6d4fc99b="">Haiti (HT)</option>
    <option value="VA" data-v-6d4fc99b="">Holy See (the) (VA)</option>
    <option value="HN" data-v-6d4fc99b="">Honduras (HN)</option>
    <option value="HK" data-v-6d4fc99b="">Hong Kong (HK)</option>
    <option value="HU" data-v-6d4fc99b="">Hungary (HU)</option>
    <option value="IS" data-v-6d4fc99b="">Iceland (IS)</option>
    <option value="IN" data-v-6d4fc99b="">India (IN)</option>
    <option value="ID" data-v-6d4fc99b="">Indonesia (ID)</option>
    <option value="IR" data-v-6d4fc99b="">Iran (Islamic Republic of) (IR)</option>
    <option value="IQ" data-v-6d4fc99b="">Iraq (IQ)</option>
    <option value="IE" data-v-6d4fc99b="">Ireland (IE)</option>
    <option value="IM" data-v-6d4fc99b="">Isle of Man (IM)</option>
    <option value="IL" data-v-6d4fc99b="">Israel (IL)</option>
    <option value="IT" data-v-6d4fc99b="">Italy (IT)</option>
    <option value="JM" data-v-6d4fc99b="">Jamaica (JM)</option>
    <option value="JP" data-v-6d4fc99b="">Japan (JP)</option>
    <option value="JE" data-v-6d4fc99b="">Jersey (JE)</option>
    <option value="JO" data-v-6d4fc99b="">Jordan (JO)</option>
    <option value="KZ" data-v-6d4fc99b="">Kazakhstan (KZ)</option>
    <option value="KE" data-v-6d4fc99b="">Kenya (KE)</option>
    <option value="KI" data-v-6d4fc99b="">Kiribati (KI)</option>
    <option value="KP" data-v-6d4fc99b="">Korea (the Democratic People's Republic of) (KP)</option>
    <option value="KR" data-v-6d4fc99b="">Korea (the Republic of) (KR)</option>
    <option value="KW" data-v-6d4fc99b="">Kuwait (KW)</option>
    <option value="KG" data-v-6d4fc99b="">Kyrgyzstan (KG)</option>
    <option value="LA" data-v-6d4fc99b="">Lao People's Democratic Republic (the) (LA)</option>
    <option value="LV" data-v-6d4fc99b="">Latvia (LV)</option>
    <option value="LB" data-v-6d4fc99b="">Lebanon (LB)</option>
    <option value="LS" data-v-6d4fc99b="">Lesotho (LS)</option>
    <option value="LR" data-v-6d4fc99b="">Liberia (LR)</option>
    <option value="LY" data-v-6d4fc99b="">Libya (LY)</option>
    <option value="LI" data-v-6d4fc99b="">Liechtenstein (LI)</option>
    <option value="LT" data-v-6d4fc99b="">Lithuania (LT)</option>
    <option value="LU" data-v-6d4fc99b="">Luxembourg (LU)</option>
    <option value="MO" data-v-6d4fc99b="">Macao (MO)</option>
    <option value="MG" data-v-6d4fc99b="">Madagascar (MG)</option>
    <option value="MW" data-v-6d4fc99b="">Malawi (MW)</option>
    <option value="MY" data-v-6d4fc99b="">Malaysia (MY)</option>
    <option value="ML" data-v-6d4fc99b="">Mali (ML)</option>
    <option value="MT" data-v-6d4fc99b="">Malta (MT)</option>
    <option value="MH" data-v-6d4fc99b="">Marshall Islands (the) (MH)</option>
    <option value="MQ" data-v-6d4fc99b="">Martinique (MQ)</option>
    <option value="MR" data-v-6d4fc99b="">Mauritania (MR)</option>
    <option value="MU" data-v-6d4fc99b="">Mauritius (MU)</option>
    <option value="YT" data-v-6d4fc99b="">Mayotte (YT)</option>
    <option value="MX" data-v-6d4fc99b="">Mexico (MX)</option>
    <option value="FM" data-v-6d4fc99b="">Micronesia (Federated States of) (FM)</option>
    <option value="MD" data-v-6d4fc99b="">Moldova (the Republic of) (MD)</option>
    <option value="MC" data-v-6d4fc99b="">Monaco (MC)</option>
    <option value="MN" data-v-6d4fc99b="">Mongolia (MN)</option>
    <option value="ME" data-v-6d4fc99b="">Montenegro (ME)</option>
    <option value="MS" data-v-6d4fc99b="">Montserrat (MS)</option>
    <option value="MA" data-v-6d4fc99b="">Morocco (MA)</option>
    <option value="MZ" data-v-6d4fc99b="">Mozambique (MZ)</option>
    <option value="MM" data-v-6d4fc99b="">Myanmar (MM)</option>
    <option value="NA" data-v-6d4fc99b="">Namibia (NA)</option>
    <option value="NR" data-v-6d4fc99b="">Nauru (NR)</option>
    <option value="NP" data-v-6d4fc99b="">Nepal (NP)</option>
    <option value="NL" data-v-6d4fc99b="">Netherlands (the) (NL)</option>
    <option value="NC" data-v-6d4fc99b="">New Caledonia (NC)</option>
    <option value="NZ" data-v-6d4fc99b="">New Zealand (NZ)</option>
    <option value="NI" data-v-6d4fc99b="">Nicaragua (NI)</option>
    <option value="NE" data-v-6d4fc99b="">Niger (the) (NE)</option>
    <option value="NG" data-v-6d4fc99b="">Nigeria (NG)</option>
    <option value="NU" data-v-6d4fc99b="">Niue (NU)</option>
    <option value="NF" data-v-6d4fc99b="">Norfolk Island (NF)</option>
    <option value="MP" data-v-6d4fc99b="">Northern Mariana Islands (the) (MP)</option>
    <option value="NO" data-v-6d4fc99b="">Norway (NO)</option>
    <option value="OM" data-v-6d4fc99b="">Oman (OM)</option>
    <option value="PK" data-v-6d4fc99b="">Pakistan (PK)</option>
    <option value="PW" data-v-6d4fc99b="">Palau (PW)</option>
    <option value="PS" data-v-6d4fc99b="">Palestine, State of (PS)</option>
    <option value="PA" data-v-6d4fc99b="">Panama (PA)</option>
    <option value="PG" data-v-6d4fc99b="">Papua New Guinea (PG)</option>
    <option value="PY" data-v-6d4fc99b="">Paraguay (PY)</option>
    <option value="PE" data-v-6d4fc99b="">Peru (PE)</option>
    <option value="PH" data-v-6d4fc99b="">Philippines (the) (PH)</option>
    <option value="PN" data-v-6d4fc99b="">Pitcairn (PN)</option>
    <option value="PL" data-v-6d4fc99b="">Poland (PL)</option>
    <option value="PT" data-v-6d4fc99b="">Portugal (PT)</option>
    <option value="PR" data-v-6d4fc99b="">Puerto Rico (PR)</option>
    <option value="QA" data-v-6d4fc99b="">Qatar (QA)</option>
    <option value="MK" data-v-6d4fc99b="">Republic of North Macedonia (MK)</option>
    <option value="RE" data-v-6d4fc99b="">Réunion (RE)</option>
    <option value="RO" data-v-6d4fc99b="">Romania (RO)</option>
    <option value="RU" data-v-6d4fc99b="">Russian Federation (the) (RU)</option>
    <option value="RW" data-v-6d4fc99b="">Rwanda (RW)</option>
    <option value="BL" data-v-6d4fc99b="">Saint Barthélemy (BL)</option>
    <option value="SH" data-v-6d4fc99b="">Saint Helena, Ascension and Tristan da Cunha (SH)</option>
    <option value="KN" data-v-6d4fc99b="">Saint Kitts and Nevis (KN)</option>
    <option value="LC" data-v-6d4fc99b="">Saint Lucia (LC)</option>
    <option value="MF" data-v-6d4fc99b="">Saint Martin (French part) (MF)</option>
    <option value="PM" data-v-6d4fc99b="">Saint Pierre and Miquelon (PM)</option>
    <option value="VC" data-v-6d4fc99b="">Saint Vincent and the Grenadines (VC)</option>
    <option value="WS" data-v-6d4fc99b="">Samoa (WS)</option>
    <option value="SM" data-v-6d4fc99b="">San Marino (SM)</option>
    <option value="ST" data-v-6d4fc99b="">Sao Tome and Principe (ST)</option>
    <option value="SA" data-v-6d4fc99b="">Saudi Arabia (SA)</option>
    <option value="SN" data-v-6d4fc99b="">Senegal (SN)</option>
    <option value="RS" data-v-6d4fc99b="">Serbia (RS)</option>
    <option value="SC" data-v-6d4fc99b="">Seychelles (SC)</option>
    <option value="SL" data-v-6d4fc99b="">Sierra Leone (SL)</option>
    <option value="SG" data-v-6d4fc99b="">Singapore (SG)</option>
    <option value="SX" data-v-6d4fc99b="">Sint Maarten (Dutch part) (SX)</option>
    <option value="SK" data-v-6d4fc99b="">Slovakia (SK)</option>
    <option value="SI" data-v-6d4fc99b="">Slovenia (SI)</option>
    <option value="SB" data-v-6d4fc99b="">Solomon Islands (SB)</option>
    <option value="SO" data-v-6d4fc99b="">Somalia (SO)</option>
    <option value="ZA" data-v-6d4fc99b="">South Africa (ZA)</option>
    <option value="GS" data-v-6d4fc99b="">South Georgia and the South Sandwich Islands (GS)</option>
    <option value="SS" data-v-6d4fc99b="">South Sudan (SS)</option>
    <option value="ES" data-v-6d4fc99b="">Spain (ES)</option>
    <option value="LK" data-v-6d4fc99b="">Sri Lanka (LK)</option>
    <option value="SD" data-v-6d4fc99b="">Sudan (the) (SD)</option>
    <option value="SR" data-v-6d4fc99b="">Suriname (SR)</option>
    <option value="SE" data-v-6d4fc99b="">Sweden (SE)</option>
    <option value="CH" data-v-6d4fc99b="">Switzerland (CH)</option>
    <option value="SY" data-v-6d4fc99b="">Syrian Arab Republic (SY)</option>
    <option value="TW" data-v-6d4fc99b="">Taiwan (Province of China) (TW)</option>
    <option value="TJ" data-v-6d4fc99b="">Tajikistan (TJ)</option>
    <option value="TZ" data-v-6d4fc99b="">Tanzania, United Republic of (TZ)</option>
    <option value="TH" data-v-6d4fc99b="">Thailand (TH)</option>
    <option value="TL" data-v-6d4fc99b="">Timor-Leste (TL)</option>
    <option value="TG" data-v-6d4fc99b="">Togo (TG)</option>
    <option value="TK" data-v-6d4fc99b="">Tokelau (TK)</option>
    <option value="TO" data-v-6d4fc99b="">Tonga (TO)</option>
    <option value="TT" data-v-6d4fc99b="">Trinidad and Tobago (TT)</option>
    <option value="TN" data-v-6d4fc99b="">Tunisia (TN)</option>
    <option value="TR" data-v-6d4fc99b="">Turkey (TR)</option>
    <option value="TM" data-v-6d4fc99b="">Turkmenistan (TM)</option>
    <option value="TC" data-v-6d4fc99b="">Turks and Caicos Islands (the) (TC)</option>
    <option value="TV" data-v-6d4fc99b="">Tuvalu (TV)</option>
    <option value="UG" data-v-6d4fc99b="">Uganda (UG)</option>
    <option value="UA" data-v-6d4fc99b="">Ukraine (UA)</option>
    <option value="AE" data-v-6d4fc99b="">United Arab Emirates (the) (AE)</option>
    <option value="GB" data-v-6d4fc99b="">United Kingdom (GB)</option>
    <option value="XI" data-v-6d4fc99b="">United Kingdom - Northern Ireland (XI)</option>
    <option value="UM" data-v-6d4fc99b="">United States Minor Outlying Islands (the) (UM)</option>
    <option value="US" data-v-6d4fc99b="">United States of America (the) (US)</option>
    <option value="UY" data-v-6d4fc99b="">Uruguay (UY)</option>
    <option value="UZ" data-v-6d4fc99b="">Uzbekistan (UZ)</option>
    <option value="VU" data-v-6d4fc99b="">Vanuatu (VU)</option>
    <option value="VE" data-v-6d4fc99b="">Venezuela (Bolivarian Republic of) (VE)</option>
    <option value="VN" data-v-6d4fc99b="">Viet Nam (VN)</option>
    <option value="VG" data-v-6d4fc99b="">Virgin Islands (British) (VG)</option>
    <option value="VI" data-v-6d4fc99b="">Virgin Islands (U.S.) (VI)</option>
    <option value="WF" data-v-6d4fc99b="">Wallis and Futuna (WF)</option>
    <option value="YE" data-v-6d4fc99b="">Yemen (YE)</option>
    <option value="ZM" data-v-6d4fc99b="">Zambia (ZM)</option>
    <option value="ZW" data-v-6d4fc99b="">Zimbabwe (ZW)</option>
  </select>
</div>
<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="imo-number-2" > IMO Number </label>
  <input class="govuk-input js-question" maxlength="30" type="text" id="imo-number-2" name="imo" value="{% if transportDetails.imo %}{{transportDetails.imo}}{% endif %}">
</div>

<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="voyage-number-2" data-v-6d4fc99b="">Voyage number (Optional) </label>
    <input class="govuk-input" maxlength="30" id="voyage-number-2" data-v-6d4fc99b="">
  </div>
<!---->
<!---->
<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="international-transport-document-2" data-v-6d4fc99b="">International transport document (Optional) </label>
  <input class="govuk-input" maxlength="30" id="international-transport-document-2" data-v-6d4fc99b="">
</div>
