<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="ship-name-2" data-v-6d4fc99b="">Ship name</label>
  <input class="govuk-input js-question" maxlength="30" id="ship-name-2" name="identifier" value="{% if transportDetails %}{{transportDetails.identifier}}{% endif %}">
</div>
<div class="govuk-form-group">
  {% block country %}{% include "./_country-select.html" %}{% endblock %}

</div>
<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="imo-number-2" > IMO Number </label>
  <input class="govuk-input js-question" maxlength="30" type="text" id="imo-number-2" name="imo" value="{% if transportDetails.imo %}{{transportDetails.imo}}{% endif %}">
</div>

<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="voyage-number-2" data-v-6d4fc99b="">Voyage number (Optional) </label>
    <input class="govuk-input" maxlength="30" id="voyage-number-2" data-v-6d4fc99b="">
  </div>
<!---->
<!---->
<div class="govuk-form-group" data-v-6d4fc99b="">
  <label class="govuk-label" for="international-transport-document-2" data-v-6d4fc99b="">International transport document (Optional) </label>
  <input class="govuk-input" maxlength="30" id="international-transport-document-2" data-v-6d4fc99b="">
</div>
