<div class="govuk-form-group" data-v-1e0d18a4="">
  <label class="govuk-label" for="vehicle-registration-0" data-v-1e0d18a4=""> Vehicle registration </label>
  <input class="govuk-input govuk-!-width-two-thirds js-question" maxlength="30" id="vehicle-registration-0" name="identifier" value="{% if query.change and  transportDetails.identifier %}{{transportDetails.identifier}}{% endif %}"></div>
<div class="govuk-form-group" data-v-1e0d18a4="">
  <label class="govuk-label" for="vehicle-trailer-number-0" data-v-1e0d18a4=""> Trailer number </label>
  <input class="govuk-input govuk-!-width-two-thirds js-question" maxlength="30" id="vehicle-trailer-number-0" name="trailer" value="{% if transportDetails %}{{transportDetails.trailer}}{% endif %}"></div>
<div class="govuk-form-group" data-v-1e0d18a4="">
  <input type="hidden" name="defualtvalue" id="defualtvalue" value="{% if transportDetails %}{{transportDetails.country}}{% endif %}">
  {% set isSkippable = "yes" %}
  {% block country %}{% include "./_country-select.html" %}{% endblock %}
</div>
<!---->
<div class="govuk-form-group" data-v-1e0d18a4="">
  <label class="govuk-label" for="international-transport-document-0" data-v-1e0d18a4=""> International transport document (Optional) </label>
  <input class="govuk-input" maxlength="30" id="international-transport-document-0" data-v-1e0d18a4="">
</div>
<script type="text/javascript">
window.addEventListener('load', function() {
  if ($('#defualtvalue')) {
    $('#country-0').val($('#defualtvalue').val()).change()
  }
})
</script>