<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix app-navigation--active app-navigation--small app-navigation--no-background" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li class="app-navigation__list-item ">
      <span class="govuk-visually-hidden">Organisation: </span>{{data.account or "Anavir Ltd"}} &nbsp;
      {% if data.typeAccount != "single"%}
        <!-- <span class="govuk-hint">({{role or "exporter"}})</span> -->
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link"
        href="account?currentAccount=0">Change organisation</a>
      {% endif %}
    </li>
    <li class="app-navigation__list-item " style="float:right;">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="#">
        Sign out
      </a>
    </li>
    <li class="app-navigation__list-item " style="float:right;">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="settings">
        Settings
      </a>
    </li>
    <li class="app-navigation__list-item app-navigation__list-item--current" style="float:right;">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/get-started/">
        <span class="fas fa-home" data-v-e6635a78=""></span> Home
      </a>
    </li>
  </ul>
</nav>
