{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Trade: E-certs</span>
      Navigation</h1>


      <!-- <h2 class="govuk-heading-m">What changed</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Initial build</li>
        <li>Adding manage commodites, not dynamic</li>
      </ul> -->

      <p>This version has not been tested yet</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-m">Exporter</h3>

      <ul class="govuk-list govuk-list--bullet">

        <li><a href="dashboard-exporter?navType=navigation&accountType=multiple">Navigation design 1</a></li>
        <li><a href="dashboard-exporter?navType=navigation-1&accountType=multiple">Navigation design 2</a></li>
        <li><a href="dashboard-exporter?navType=navigation-2&accountType=multiple">Navigation design 3</a></li>
        <li><a href="dashboard-exporter?navType=navigation-3&accountType=multiple">Navigation design 4 (settings dropdown)</a></li>
        <br>
        <li><a href="dashboard-exporter?navType=navigation-3&accountType=single">Navigation design 4 (only 1 account)</a></li>
      </ul>

  </div>

</div>

{% endblock %}
