{% extends "layout.html" %}

{% block pageTitle %}
{% if query.has_error %}Error: {% endif %}Create a reference – E-Certification for EHC's - GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<form  method="post" novalidate action="{% if query.newVersion %}task-list-no-certificate{% else %}task-list{% endif %}"><!-- Form routing is handled in app/stories/accessiblity/routes.js -->
  <section id="intro" data-v-01948390="">
    <div class="govuk-grid-row" data-v-01948390="">
      <div class="govuk-grid-column-two-thirds" data-v-01948390="">
        {% if query.has_error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% if query.error_type == "length"%}
              <li>
                <a href="#reference-error">Your reference must be 20 characters or less</a>
              </li>
              {% else %}
              <li>
                <a href="#reference-error">Enter your reference</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <section id="questions" data-v-01948390="">
    <div class="govuk-grid-row" data-v-01948390="">
      <div class="govuk-grid-column-two-thirds" data-v-01948390="">
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <!-- <span class="govuk-caption-l">Copy application {{query.reference or 'FDD3314A 5C8944C'}}</span> -->
      <h1 class="govuk-fieldset__heading">
        Do you want to use the same application reference?
      </h1>
    </legend>
    <p>
    Reference: {{query.reference or "GBXIBN4522"}}
    </p>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes, use {{query.reference or "GBXIBN4522"}}
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No, create a new reference
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">

          <div class="govuk-form-group {% if query.has_error %}govuk-form-group--error{% endif %}" data-v-01948390="">

              <label class="govuk-label" for="ref">Your reference</label>
              <p id="reference-hint" class="govuk-hint">This reference is for your own use and will not appear on any final certificate(s). References can be up to 20 letters or numbers in length.</p>
              {% if query.has_error %}
              <p id="reference-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>
                  {% if query.error_type == "length"%}
                  Your reference must be 20 characters or less
                  {% endif %}
                  {% if query.error_type == "empty"%}
                  Enter your reference
                  {% endif %}
              </p>
              {% endif %}
          <input class="govuk-input govuk-input--width-20" id="ref"  aria-describedby="reference-hint" name="UserReference" type="text" max="20" required="" data-v-01948390="">
          </div>
        </div>

      </div>
    </div>

  </fieldset>
</div>



    <button role="button" type="submit" class="govuk-button" data-v-01948390="" >Save and continue</button>

      </div>
    </div>
  </section>



</form>
{% endblock %}
