

{% if field.multiple =="yes" %}
<!-- MULTIPLES -->
  <!-- if change set the initial saved value -->
  {% if data.change or data.copy  %}
    <!-- This is a string -->
    {% if identification.batchNumber is string %}
      {% set initialSavedValue = identification.batchNumber %}
    {% else %}
      <!-- This is an array -->
      {% set initialSavedValue = identification.batchNumber[0] %}
    {% endif  %}
  {% endif  %}

<div class="govuk-form-group app-repeadable-holder" id="repeatable-batch-holder">
  <label class="govuk-label" for="BATCH_NUMBER-8-11930-151790">Batch number
  {% if field.required == "no" %}&nbsp;(optional for <abbr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</abbr>){% endif %}</label>
  <div class="app-repeatable-section" id="repeatable-batch">
    <div class="govuk-input__wrapper">
      <input class="govuk-input govuk-!-width-one-half" type="text" data-type="multi" name="batchNumber" value="{{initialSavedValue}}">
      <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">
        <button type="button" data-count="1" data-target="repeatable-batch" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
        </button>
      </div>
    </div>
  </div>
  <!-- if this is change or copy and there are multiple rows -->
  {% if not identification.batchNumber is string and (data.change or data.copy) %}
    {% for row in identification.batchNumber%}
    <!-- Dont need to show the 1st one which is the main control above -->
      {% if loop.index > 1%}
      <div class="app-repeatable-section govuk-!-margin-top-2" id="repeatable-batch{{loop.index}}">
        <div class="govuk-input__wrapper">
          <input class="govuk-input govuk-!-width-one-half" type="text" data-type="multi" name="batchNumber" value="{{row}}">
          <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">
            <button data-target="repeatable-batch{{loop.index}}" class="govuk-button delete-button govuk-button--secondary"><span class="fas fa-trash-alt"></span></button>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
{% else %}

<!-- SINGLES -->

<div class="govuk-form-group"><label class="govuk-label" for="BATCH_NUMBER-1-11711-020130">Batch number {% if field.required == "no" %}&nbsp;(optional for <abbr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</abbr>){% endif %}</label>
  <input class="govuk-input" type="text" name="batchNumber" {% if data.change or data.copy %}value="{{identification.batchNumber}}" {% endif %} id="BATCH_NUMBER-1-11711-020130">
</div>
{% endif %}
