{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Change password" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
  
            {% include "includes/defra-section-nav.html" %}

            <div class="govuk-grid-column-three-quarters">
            
                {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
          
                <form>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="name">
                            Current password
                        </label>
                        <div id="account-number-hint" class="govuk-hint">
                            Enter your current password to change to the new password
                        </div>
                        <input class="govuk-input" id="name" name="name" type="text" >
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="password">
                            New password
                        </label>
                        <input class="govuk-input" id="password" name="password" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="password">
                            Confirm new password
                        </label>
                        <input class="govuk-input" id="password" name="password" type="text">
                        </div>
                        <div class="govuk-button-group">
                        <button class="govuk-button govuk-button--primary">Save changes</button>
                        <a class="govuk-link" href="manage-profile">Cancel</a>
                        </div>
                </form>
        
            </div>
        </div>
    </div>
{% endblock %}
