{% extends "layout.html" %}

{% block pageTitle %}
Consignor or-exporter – {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
{% set id = query.id or "1" %}
{% set consignor = data.establishments[id]%}
<form class="" action="../task-list" method="post">
  <div class="govuk-grid-row" data-v-0c6ff6a7="">
    <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl">Persons involved</span>
      <h1 class="govuk-heading-xl">Consignee or importer</h1>
      <p class="govuk-body">Search by company or importer name and select the name and address of the natural or legal person to whom the consignment is intended in Northern Ireland or EU Member State.</p>

      <section>
          <div class="govuk-form-group app-find-establishment-card">
            <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Selected consignee or importer</h4>
            <p class='govuk-!-margin-bottom-0'>{{consignor.TradingName}} ({{consignor.AppNo}})</p>
            <p>

              {{consignor.Address1}}<br>
              {% if consignor.Address2%}{{consignor.Address2}}<br>{% endif %}
              {% if consignor.Address3%}{{consignor.Address3}}<br>{% endif %}
              {{consignor.Town}}<br>
              {{consignor.Postcode}}

            </p>
            {% set listOfItems = consignor.All_Activities%}
            <div class="govuk-form-group {% if query.hasError %}govuk-form-group--error{% endif %}">
              <label class="govuk-label govuk-label--s" for="natureOfCommodity">Approved activity of this address
              </label>
              <div class="govuk-hint" id="activity-hint">The activity will appear on the certificate with this address.</div>
              {% if (consignor.All_Activities | length) == 1%}
              <p><strong>{{consignor.All_Activities[0]}}</strong></p>
              {% else %}
              <!-- <div class="govuk-hint" id="activity-hint">There are multiple activities assocciated with this address. The activity will appear on the certificate with this address.</div> -->
              {% if query.hasError %}<div class="govuk-error-message">Select an activity for TRACES</div>{% endif %}
              <select class="govuk-select {% if query.hasError %}govuk-select--error{% endif%}" id="activity" name="activity">
                <option disabled="" value="" selected>Select activity</option>
                {% if (listOfItems| length) > 0%}
                {% for item in listOfItems%}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}]
                {% else %}
                <option value="not set">Not set any species in JSON</option>
                {% endif %}
              </select>
              {% endif %}

            </div>


            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4"><a role="button" class="govuk-link " href="{{query.back or 'select-activity'}}?id={{query.id or '2'}}">Select a different consignee or importer</a></p>
              </div>

      </section><button class="govuk-button">Save and return</button>
    </div>
  </div>
</form>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {



  })
</script>
{% endblock%}
