{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds" id="skip-target">
      <h1 class="govuk-heading-xl">Create a password</h1>
      <form action="confirmation" method="POST">
       <input type="hidden" name="tes" value="csrfToken,newPassword,confirmPassword:8834373677111459519::nshl96BKVGDJ3uRMoTuCpXJTTrDAnV3rszns+eyPdpdZ6swI0MpV6r6K+bzhQYZRgbnSXLgdL4EfnljgWAc5HQ==">
       <input type="hidden" name="csrfToken" value="fd4bcd97eccddcd0cbf1fed86018e7e67c268dd3-1611863812274-eff17b21c2fa81be4932c46a">
       <p class="govuk-body" id="info">Your password must be 10 or more characters. You can use a mix of letters, numbers or symbols.</p>
       <div class="govuk-form-group"> <label for="newPassword" class="govuk-label">Password</label>
        <input type="password" name="newPassword" id="newPassword" class="govuk-input govuk-!-width-three-quarters" autocomplete="new-password">
       </div>
       <div class="govuk-form-group"> <label for="confirmPassword" class="govuk-label">Confirm your password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="govuk-input govuk-!-width-three-quarters" autocomplete="new-password">
       </div> <button type="submit" class="govuk-button" data-module="govuk-button" id="continue" formnovalidate="">Continue</button>
       <script nonce="">sendEventOnClick('continue', 'Continue', 'Reg-Create-Password', 'HMRC');</script>
      </form>
     </div>
    </div>

{% endblock %}
