{% extends "layout.html" %}

{% block pageTitle %}
Copy – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}
<a href="recent-certificates" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}
<!-- get a list of certs -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate="">
        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          What country are you exporting to?
      </h1>

      </legend>

      {% block countrySelect %}{% include './_country-of-origin.html'%}{% endblock%}
    </fieldset>
  </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>


  </div>
</div>
{% endblock %}
