{% extends "layout.html" %}

{% block pageTitle %}
Before your start - eTrade – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl"></span>
    <!--<h1 class="govuk-heading-xl">Apply for an export health certificate</h1>-->
    <!---->
    <!---->
    <!---->
    <!--
    <p class="govuk-body">You can use this service to apply for an export health certificate (EHC) to export live animals and animal products from Great Britain to the EU or Northern Ireland.</p>
    <p class="govuk-body">Once you have submitted your application, we will send it to the EU’s trade control and export system (TRACES). This will enable your importer to create a common health entry document (CHED).</p>
    <p class="govuk-body">You can use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>apply for export health certificates for the EU and Northern Ireland</li>
      <li>find certificate reference numbers for the EU TRACES system</li>
      <li>view and download previous export health certificates in different languages</li>
    </ul>
    -->
    <h2 class="govuk-heading-xl">Before you start</h2>
    <p class="govuk-body">
      This is a digital certificate, you will not need to print out the certificate. You can download a QR code to scan at the border post.</p><p>Make sure you have details of your export. You will need to enter detailed information including:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the commodity group, weight and quantity of the goods you want to export</li>
      <li>the addresses and approval numbers for the exporter, importer and certifier</li>
      <li>the planned departure and arrival times and locations</li>
      <li>the method of transport and border control post</li>
    </ul>
    <p><a href="./create-reference" class="govuk-button">Continue</a></p>
  </div>
</div>

{% endblock %}
