{% set serviceName = "Apply to export animals or animal products

"%}
{% extends "layout.html" %}

{% block pageTitle %}
Changes to the service - Apply for an Export health certificate - GOVUK
{% endblock %}

{% block beforeContent%}
{% block navigation %}{% include './_navigation.html' %}{% endblock %}
<a href="recent-certificates" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<!-- get a list of certs -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We’ve made some changes to the service</h1>

      <p class="govuk-body" lang="en">
        To make sure all export data is consistent with the EU's trade and control expert system (TRACES), we've made some changes to how you apply for an export health certificate (EHC).
      </p>
      <p>Certificates for the EU and Northern Ireland are now digital. If you apply for a digital EHC, your:
</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>certifiers and importers will no longer need to use paper copies of EHCs</li>
        <li>commodity data will be consistent with border control post requirements</li>
      </ul>
      <p>To learn more, you can read about the changes to <a href="#">how you apply for an EHC.</a></p>
      <div class="govuk-inset-text">
You can use either service to apply for an EHC to Northern Ireland or the EU.
</div>
      <form method="post" novalidate="">
        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      What EHC format do you want to apply for?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <!-- <input class="govuk-radios__input" id="where-do-you-live" name="typeOfCertificate" type="radio" value="digital~/beta/v3-1/application/export/set-certificate?ehc={{data.selectedCertificate or '8350' }}"> -->
          <input class="govuk-radios__input" id="where-do-you-live" name="typeOfCertificate" type="radio" value="digital~./create-reference">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            Digital EHC (new)
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            You can download a QR code to scan at the border post.
        </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="typeOfCertificate" type="radio" value="paper~https://defra-ehco-prototype.herokuapp.com/beta/v8/core/certificate/check-your-progress?certificate=ehc{{data.selectedCertificate or '8350' }}">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
             Paper EHC
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            You will need to print out a copy to accompnay your shipment.
        </div>
        </div>
      </div>
    </fieldset>
  </div>
        <input type="hidden" name="firstTime" value="no">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>


  </div>

{% endblock %}
