{% extends "layout.html" %}
{% block pageTitle %}
Uploaded documents – {{serviceName}} – GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<style media="screen">
  .attachment .attachment-thumb {
    display: block;
    width: 99px;
    height: 140px;
    background: #fff;
    outline: 5px solid rgba(11, 12, 12, 0.1);
    box-shadow: 0 2px 2px rgb(11 12 12 / 40%);
    text-align: center;
    margin-bottom: 20px;
  }

  .attachment .attachment-thumb span {
    padding-top: 50px;
  }

  .spreadsheet td,
  .spreadsheet th {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #bfc1c3;
  }

  .spreadsheet thead th {
    border-bottom-width: 0px;
  }

  .spreadsheet .table-field-index,
  .spreadsheet th {
    background: #f8f8f8;
    font-weight: 700;
    text-align: center;
  }
</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    {% if query.showNotification == "yes" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          File uploaded
        </h3>
        <p class="govuk-body">{{file.file or "my_schedule.xlsx"}}</p>
      </div>
    </div>
    {% endif %}
    <span class="govuk-caption-l">Transportaion of goods</span>

    {% if (data.transportList | length) == 0  %}

    <h1 class="govuk-heading-xl">Add transport methods</h1>
    <p>List all the means of transport for this export. You must enter them in order of travel.</p>
    {% else %}
    <h1 class="govuk-heading-xl">Added {{data.transportList | length }} transport {{"method"|plural("methods",data.transportList | length)}}</h1>
      <p>List all the means of transport for this export. You must enter them in order of travel.</p>
    {% endif %}

    {% set upload_to_traces = 0 %}
    <dl class="govuk-summary-list app-list-with-actions hmrc-list-with-actions--short">
      {% for t in data.transportList%}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
          <ul class="govuk-list govuk-!-margin-bottom-0">
            <li><strong>{{loop.index}}. {{(t.typeOfTransport | capitalize) or "Plane"}} </strong> - {{t.identifier | upper or '92394234'}}</li>
            <li></li>

          </ul>

        </dt>
        <dd class="govuk-summary-list__actions app-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="select-transport?id={{loop.index -1}}&change=yes"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="remove?id={{loop.index -1}}"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a>
            </li>
          </ul>
        </dd>
      </div>
      {% endfor %}
    </dl>
    <!-- <dl class="govuk-summary-list  govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transport conditions
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.conditions or "Chilled"}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl> -->

    <form method="post" action="{% if data.conditions %}select-transport{% else %}conditions{% endif %}">
      {% if (data.transportList | length) == 0  and query.removed != "yes" %}
      <a class="govuk-button" data-module="govuk-button" href="select-transport">
        Add a means of transport
      </a>
      <p class="govuk-body"></p>
      {% else %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to add another means of transport?
          </legend>
          <div id="add-another-hint" class="govuk-hint">
           List all the means of transport for this export. You must enter them in order of travel.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes~select-transport">
              <label class="govuk-label govuk-radios__label" for="add-another">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No~{% if query.change == 'yes' %}../check-your-answers{% else %}./conditions{% endif %}">
              <label class="govuk-label govuk-radios__label" for="add-another-2">
                No
              </label>
            </div>
          </div>
          <input type="hidden" name="{{data.taskID | removeWhiteSpace}}Status" value="in-progress">
        </fieldset>
      </div>

      <div class="govuk-button-group">
   <input type="hidden" name="{{data.taskID | removeWhiteSpace}}Status" value="in progress">
    <button class="govuk-button" data-v-563d6e59="">Save and continue</button>
    {% if query.change == "yes" %}
        <a href="../task-list" class="govuk-button govuk-button--secondary" data-v-563d6e59="">Save and exit</a>
      </div>
       {% endif %}
      {% endif %}
    </form>

  </div>
</div>

{% endblock %}
