{% extends "layout.html" %}
{% block pageTitle %}
Uploaded documents – {{serviceName}} – GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form id="form" method="METHOD" action="{% if query.change == 'yes' %}../check-your-answers{% else %}../task-list{% endif %}">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Provide the container or seal numbers for this consignment
      </h1>
    </legend>
    <div id="contact-hint" class="govuk-hint">
     You can provide either a container number or seal number, or both.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="sealType-1" name="sealType" type="checkbox" value="container" data-aria-controls="conditional-sealType-1">
        <label class="govuk-label govuk-checkboxes__label" for="sealType-1">
          Container numbers
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-sealType-1">
        <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" for="containerNumbers">
          Container numbers
        </label>
        <p class="govuk-hint" id="containerNumbersHint">List all your continer numbers for this snsignment. This is 4 letters followed by 7 numbers. For example, BICU1234567 </p>
        <textarea class="govuk-textarea" id="containerNumbers" name="containerNumbers" rows="5" aria-described-by="containerNumbersHint"></textarea>
      </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="sealType-2" name="sealType" type="checkbox" value="seal" data-aria-controls="conditional-sealType-2">
        <label class="govuk-label govuk-checkboxes__label" for="sealType-2">
          Seal numbers
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-sealType-2">
        <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" for="sealNumbers">
            Seal numbers
        </label>
        <p class="govuk-hint" id="sealNumbersHint">List all your seal numbers for this consnsignment.</p>
        <textarea class="govuk-textarea" id="sealNumbers" name="sealNumbers" rows="5" aria-described-by="sealNumbersHint"></textarea>
      </div>
      </div>
    </div>
  </fieldset>
</div>
<div class="govuk-button-group">
   <input type="hidden" name="{{data.taskID | removeWhiteSpace}}Status" value="completed">
    <button class="govuk-button" data-v-563d6e59="">Save and continue</button>
        <a href="../task-list" class="govuk-button govuk-button--secondary" data-v-563d6e59="">Save and exit</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
