{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-body"><strong>Copied application GBXIBN4522. </strong> </p>

      </div>
    </div>
    <h1 class="govuk-heading-xl">
      Add new commodity data</h1>
      <p>The application has been copied. You will need to add your new commodity data before you can edit the rest of the application.</p>
      <p><a href="select-certificate">Continue</a></p>

  </div>
</div>

{% endblock %}
