{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = 'Production credentials for ' + data.pcName + ' submitted' %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">        
        <div class="govuk-grid-column-two-thirds">

                {{ govukPanel({
                    titleText: pageHeading,
                    html: "Your reference number<br><strong>HDJ2123F</strong>",
                    classes: "govuk-!-margin-bottom-7"
                }) }}                
    
    
                <p>Information relating to the submission.</p>            

                <h2 class="govuk-heading-m">What happens next</h2>
                <p>We’ve sent your application to the Defra Trade Platform onboarding team.</p>
                <p>They will contact you either to confirm your registration, or to ask for more information, which may include a request for you to perform a demonstration of your applicaiton.</p>


                <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/account/applications/">View your applications</a></p>
                
                
    
                
            
            </div>
        </div>
    </div>

{% endblock %}
