{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "Confirm you want to use these redirect’s?" %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            <p>These are the redirects that you added as part of your sandbox.</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li>http://www.sneaker23.com</li>
                <li>http://www.sneakers23.com</li>
                <li>http://www.sneaker_23.com</li>
            </ul>



            <form action="monthly-submissions" method="post" class="form">        
                
                <div class="govuk-button-group">
                
                
                    {{ govukButton({
                        text: "Confirm and continue"
                    }) }}
                  
                    <a class="govuk-link" href="/account/applications/production-credentials/which-redirects">Not the correct redirects</a>
                  </div>
                
                
                

                
            </form>

        </div>
    </div>
  
{% endblock %}
