{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "What’s your estimated monthly submissions?" %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <p>Content relating to monthly submission and what they mean.</p>


            <form action="third-party" method="post" class="form">        

                  {{ govukRadios({                        
                    items: [ 
                    { value: "100 to 1000", text: "100 to 1000" },
                    { value: "1001 to 10000", text: "1001 to 10000" },
                    { value: "10001 to 50000", text: "10001 to 50000" },
                    { value: "Above 50000", text: "Above 50000" }
                    ]
                } | decorateFormAttributes(['applications', id, 'prodSubmissions']) ) }}                    
               


                
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
