{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = 'What name do you want to give your application?' %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}     
            
            {% if data['serviceRegistration'] == "ProdCred" %}
                <form action="/account/applications/production-credentials/business-registration/business-type" method="post" class="form">                                              
            {% else %}
                <form action="who-can-view" method="post" class="form">                                              
            {% endif %}
                                
                {{ govukInput({
                    label: {
                      text: pageHeading,
                      classes: "govuk-visually-hidden"
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "pcName",
                    name: "pcName"
                }) }}

                


                    {{ govukButton({
                        text: "Continue"
                    }) }}

                    

                

                
            </form>

        </div>
    </div>
  
{% endblock %}
