{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "Defra privacy policy" %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form action="data-protection" method="post" class="form">        
            
                <p>Need to add in the privacy policy content once we have it.</p> 
                
                {{ govukButton({
                    text: "Confirm and continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
