{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "Which redirect URIs do you want to use?" %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}            

            <form action="monthly-submissions" method="post" class="form">                                                            
                
                {{ govukInput({                        
                    label: { text: "Redirect URIs?", classes: "govuk-visually-hidden" },
                    hint: {
                        text: "URI must be HTTPS for example https://example.co.uk"
                    },
                    prefix: {
                        text: "https://"
                      },
                    id: "app-redirects",
                    name: "app-redirects",
                    classes: "govuk-label--l govuk-!-width-two-thirds govuk-!-margin-bottom-1"
                }) }}


                


                
                    {{ govukButton({
                      text: "Continue"
                    }) }}
                  
                  
                
            </form>

        </div>
    </div>
  
{% endblock %}
