{% set accountActive = true %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layout.html" %}

{% block pageTitle %}
  EHC API Available EHCs
{% endblock %}


{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-width-container defra-breadcrumbs">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../homepage"
      },
      {
        text: "Create sandbox application"
      }
    ]
  }) }}
  </div>
{% endblock %} 
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <section class="govuk-grid-column-one-quarter defra-section-nav">
          <h2 class="govuk-heading-s">Manage applications</h2>
          <ul class="defra-section-nav-list">
            <li><a href="view-apps">View all applications</a></li>
            <li class="defra-section-nav-list--active-item"><a href="create-sandbox-app" >Create sandbox application</a></li>
          </ul>
          <h2 class="govuk-heading-s">Manage team members</h2>
          <ul class="defra-section-nav-list">
            <li><a href="manage-team-members">Manage team members</a></li>
          </ul>
          <h2 class="govuk-heading-s">Manage my account</h2>
          <ul class="defra-section-nav-list">
            <li><a href="manage-profile">Manage profile</a></li>
            <li><a href="notification-preferences">Email and notification preferences</a></li>
            <li><a href="change-password">Change password</a></li>
            <li><a href="account-security">Account security</a></li>
          </ul>
        </section>
        <div class="govuk-grid-column-three-quarters">
          {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

          {{ govukBackLink({
            text: "Back",
            href: "create-sandbox-app"
          }) }}
          <form class="govuk-form" action="create-sandbox-app-uris" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Which APIs do you want to use?
                  </h1>
                </legend>
                <div id="waste-hint" class="govuk-hint">
                  Learn more about our APIs in the <a href="../apis/explore-apis">API documentation (opens in a new tab)</a>
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="use-apis" name="use-apis" type="checkbox" value="import-products" data-aria-controls="conditional-imports">
                    <label class="govuk-label govuk-checkboxes__label" for="use-apis">
                      Import of products, animals, food and feed system
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-imports">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="import-products-beta" name="import-products-beta" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label" for="import-products-beta">
                        Beta
                      </label>
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="use-apis-2" name="use-apis" type="checkbox" value="export-application" data-aria-controls="conditional-export">
                    <label class="govuk-label govuk-checkboxes__label" for="use-apis-2">
                      Export application
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-export">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="export-products-beta" name="export-products-beta" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label" for="export-products-beta">Beta</label>
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="use-apis-3" name="use-apis" type="checkbox" value="fes" data-aria-controls="conditional-fes">
                    <label class="govuk-label govuk-checkboxes__label" for="use-apis-3">
                      Fish Export Service (FES)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-fes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="fes-beta" name="fes-beta" value="fes" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label" for="fes-beta">
                        Beta
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button govuk-button--primary">Continue</button>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}
