{% set exploreAPIsActive = true %}
{% set mainClasses = "govuk-main-wrapper--spacing-override" %}
{% set containerClasses = "defra-fullWidth--override" %} 

{% extends "../../layout.html" %}

{% block pageTitle %}
  EHC API payload definition
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  <div class="govuk-width-container defra-breadcrumbs">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/../"
      },
      {
        text: "Explore APIs",
        href: "explore-apis"
      },
      {
        text: "Apply for an EHC",
        href: "../api-apply-for-an-ehc-masthead"
      },
      {
          text: "Payload definitions"
      }
    ]
  }) }}
  </div>
{% endblock %} 
{% block content %}
<div class="defra-banner govuk-clearfix">
  <div class="govuk-width-container govuk-clearfix">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">Apply for an Export Health Certificate</h1>
      <p class="govuk-body-l">
        Intro paragraph briefly outlining this API
      </p>
      <br>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <section class="govuk-grid-column-one-quarter defra-page-contents">
          <ul class="defra-contents-list">
            <li><a href="../api-apply-for-an-ehc-masthead">Overview</a></li>
            <li><a href="ehc-endpoints">API end points</a></li>
            <li><a href="ehc-schemas">API schemas</a></li>
            <li class="contents-list--active-item"><a href="ehc-payload-definition">Payload definition</a>
                <ul class="defra-contents-list--dashed">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#generic-structures">Generic structures</a></li>
                    <li><a href="#reference-data-lookup-structure">Reference data lookup structure</a></li>
                    <li><a href="#transport-movement">Transport movement</a></li>
                    <li><a href="#ehc-certificate-application">Export Health Certificate Application </a></li>
                    <li><a href="#exchange-document">Exchange document</a></li>
                    <li><a href="#consignment">Consignment</a></li>
                    <li><a href="#consignment-line">Consignment line</a></li>
                </ul>
            </li>
            <li><a href="error-codes">Error codes</a></li>
          </ul>
        </section>
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-l" id="introduction">Payload definitions</h1>
          {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
            {{ govukWarningText({
            text: "As the new European Union EHCs are digitised and their data requirements finalised the inbound payload will be updated.",
            iconFallbackText: "Warning"
            }) }}
            {{ govukWarningText({
                text: "The current payload structure is designed to allow integrators to begin familiarising themselves with the types of data, the reference data constructs this api will use and the information flow required to obtain EHCs. ",
                iconFallbackText: "Warning"
                }) }}
            <p class="govuk-body">For detailed specification of the endpoint payload please see the Try Export Health Certificates API.</p>
            <p class="govuk-body">The current version of this API focuses on capturing information from the exporter or their agent to support a specific Export Health Certificate (EHC).</p>

            <p class="govuk-body">Future versions of the API will change the approach to requesting an Export Health Certificate. Moving away from requesting a specific EHC to the exporter providing a list of commodities and from the submitted list, we will determine the selection of the appropriate EHC(s) to support the export of the consignment.</p>

            <p class="govuk-body">The current example to be utilised and tested is: 8293 - Eggs for human consumption to the European Union and Northern Ireland. To simplify the acquisition of the required information, the API requests atomic level constructs specific to elements of the EHC instead of generic constructs.</p>

            <p class="govuk-body">The data exchange for the Export Health Certificate (EHC) Application process is supported by JavaScript Object Notation (JSON) message structures consisting of 4 primary objects:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Export Health Certificate Application – object name: ehcApplication</li>
                <li>Exchange Document – object name: exchangeDocument</li>
                <li>Consignment – object name: consignment</li>
                <li>Consignment Line - object name: consignmentLine</li>
            </ul>

            <p class="govuk-body">Each object will consist of a collection of subordinate objects that provide the necessary detail. Descriptions and guidance on the use of objects is provided below.</p>

            <p class="govuk-body">Objects may also be defined as arrays; that is, the object may consist of a list of one or more subordinate structured objects.</p>

            <p class="govuk-body">Some of the values entered for the required objects will be available as reference data lookups; where this is the case the reference data item’s Code, Name, Scheme Identifier, Scheme’s Agency and Scheme Language should also be included as appropriate, see Generic Structures below.</p>
            <h2 class="govuk-heading-m" id="generic-structures">Generic Structures</h2>
            <p class="govuk-body">These generic structures define the elements required within repeating objects; guidance on specific required elements will be given in the Parent object’s description.</p>

            <p class="govuk-body">The following details are for the generic repeating structures in use, the label ‘objectName’ will be replaced by an appropriate label within the payload structure: </p>
            <h3 class="govuk-heading-s" id="reference-data-lookup-structure">Reference Data Lookup Structure</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>ObjectName
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Id: The code for the required response</li>
                        <li>Name: The name associated with the code</li>
                        <li>SchemaId: The Schema Identifier</li>
                        <li>AgencyId: The Schema Agency’s Identifier</li>
                        <li>Language: The language code for the Scheme</li>
                    </ul>
                </li>
            </ul>
            <h4 class="govuk-heading-s" id="transport-movement">Transport Movement</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    ObjectName
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>
                            MeansOfTransport: This is the Means used to transport the consignment
                            <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/transport-means">Transport Means - reference data</a>
                        </li>
                        <li>meansOfTransportIdentification: This is the Identification Mark of the Means of Transport</li>
                        <li>
                            Document: This is an array object that lists the documents that are associated with the means of transport and the consignment, such as bills of lading, manifest, etc.
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>reference: This is the listed Document’s Reference Mark</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="govuk-body">
                It should be noted that the values in the exemplars given on these pages reflect the message structure in its fully completed state which includes elements that are not pertinent at the application submission stage.
            </p>
            <p class="govuk-body" id="ehc-certificate-application">
                <strong>Export Health Certificate Application</strong> – object name: ehcApplication<br>
                This object in the payload structure is where supporting details for the production of the EHC are provided and consists of:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>certificateRequiredByDate – The date by which the certificate is required</li>
                <li>
                    certificateRegion – The region covering the origin of the commodity being exported; this will be available as a reference data lookup from:
                    <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/country">Country - reference data</a>
                </li>
                <li>
                    certifier – Details of the Commodity Certifier
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>name – Name of certifier</li>
                        <li>
                            address – Address of the Certifier, this is an abbreviation of the generic address structure
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>postcode – Address Post Code</li>
                                <li>lineOne – First line of the Address</li>
                                <li>lineTwo – Second Line of the Address</li>
                                <li>city – City of the Address</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>certificateQuantity – This is the number of certificates required. Note the current implementation only supports the production of a single (1 - one) certificate</li>
                <li>
                    certificateDelivery – The address where the Certificate should be delivered
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>
                            address – Delivery Address for the Certifier, this is a modification to the generic address and country structure
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>postcode – Address Post Code</li>
                                <li>lineOne – First line of the Address</li>
                                <li>lineTwo – Second Line of the Address</li>
                                <li>city – City of the Address</li>
                                <li>country – The country and Region of the Certificate Delivery Address. </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    countryId – The country for the address
                    <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/country">Country - reference data</a>
                </li>
                <li>
                    countrySubDivisionId– The subdivision (Region) for the address
                    <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/country">Country - reference data</a>
                </li>
            </ul>
            <p class="govuk-body" id="exchange-document">
                <strong>Exchange Document</strong> – object name: exchangeDocument<br>
                This object identifies the EHC being applied for and provides the header detail for the certificate, it consists of:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    ehc
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>ehcName – Name of the EHC being applied for (e.g. 8293EHC)</li>
                    </ul>
                </li>
                <li>exporterApplicationReferenceId – This is your identifier for the application to be used in tracking the application and certificate progress.</li>
                <li>
                    certificateType – this identifies that type and class of commodities being certified.
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>id – this is the identifier for the certificate type; it is not pertinent at the application stage and should be set to ‘null’</li>
                    </ul>
                </li>
                <li>exchangeDocumentStatus – this is the status of the exchange document; it is not pertinent at the application stage and should be set to ‘null’</li>
                <li>
                    veterinarian – This identifies the Inspector / Veterinarian that will certify the commodity
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>name – The Name of the Inspector / Veterinarian that will certify the commodity</li>
                        <li>
                            fullName – This the full name of the certifier
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>title – the honorific used when addressing the certifier (e.g. Ms, Dr., etc.)</li>
                                <li>givenName – Given or first name of the certifier</li>
                                <li>surname – Surname or family name of the certifier</li>
                            </ul>
                        </li>
                        <li>contactDetail – Defined Contact details, see the generic Contact Detail Structure above</li>
                        <li>
                            certification – This is an array object that lists the qualifications of the certifier
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>id – This is the qualification identifier, this is not currently implemented and should be set to ‘null’</li>
                                <li>schemaId – This is the Scheme for the qualification, this is not currently implemented and should be set to ‘null’</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="govuk-body" id="consignment">
                <strong>Consignment</strong> – object name: consignment
                This object provides an overview of the commodity consignment to be certified, it consists of:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>exporterConsignmentReferenceId - This is your identifier for the consignment to be used in tracking the certification progress.</li>
                <li>exportExitDateTime – Date and Time the consignment is scheduled to leave the UK</li>
                <li>departureDateTime – Date and Time the consignment is scheduled to leave the Exporter’s premises</li>
                <li>
                    consignor – The Exporter, usually the Applicant Organisation
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>name – Name of the Consignor Organisation</li>
                        <li>address – The Consignor’s Address, see the generic Address structure above</li>
                        <li>specifiedPerson – The Person within the Consignor’s organisation that will be the contact for this application, see the generic Person Structure above</li>
                    </ul>
                </li>
                <li>
                    consignee – The Importer, usually the final destination Organisation receiving the consignment.
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>name – Name of the Consignee Organisation</li>
                        <li>address – The Consignee’s Address, see the generic Address structure above</li>
                        <li>specifiedPerson – The Person within the Consignee’s organisation that will be the contact for this consignment, see the generic Person Structure above</li>
                    </ul>
                </li>
                <li>
                    origin – This is an array object listing the Countries of Origin
                    <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/country">Country - reference data</a>
                </li>
                <li>
                    exportLocation – This is an array object listing the locations from whence the Consignment is collated and starts its journey to the UK Border.
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>name – Name of the location, usually the Organisation at the Export Location</li>
                        <li>address – The Export Location’s Address, see the generic Address structure above</li>
                        <li>
                            approvalNumber – This is the registered Approval Number of the named Organisation at the Export Location
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>id – The Approval number</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    importLocation – This is an array object listing the Border Locations the consignment will traverse on it way to its destination
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>
                            borderControlPost – This Border Control Post (BCP) for the transit point
                            <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/border-control-post">Border Control Post (BCP) - reference data</a>
                        </li>
                        <li>name – This is the Border Control Post Name, it is required in case the Border Control Post is not listed in the Reference Data</li>
                    </ul>
                </li>
                <li>
                    transitLocation – This is an array object listing the Countries which the consignment will traverse
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>
                            country – The Country
                            <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/country">Country - reference data</a>
                        </li>
                    </ul>
                </li>
                <li>
                    loadingLocation - This is the location where the Consignment is loaded for transport.
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>name – Name of the location, usually the Organisation at the Loading Location</li>
                        <li>address – The Loading Location’s Address, see the generic Address structure above</li>
                        <li>
                            approvalNumber – This is the registered Approval Number of the named Organisation at the Loading Location
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>id – The Approval number</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    unloadingLocation – This is where the consignment will be unloaded
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>
                            country – This is the Country where the consignment will be unloaded
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>
                                    countryId - The country for the address
                                    <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/country">Country - reference data</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    despatchParty – This the Organisation despatching the consignment
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>name – This is the Name of the organisation despatching the consignment</li>
                        <li>
                            address – Despatch Party’s, this is a modification to the generic address and country structure
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>postcode – Address Post Code</li>
                                <li>lineOne – First line of the Address</li>
                                <li>lineTwo – Second Line of the Address</li>
                                <li>city – City of the Address</li>
                                <li>approvalNumber – This is the registered Approval Number of the Despatch Party</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>id – The Approval number</li>
                <li>transportMovement – This is an array object that lists the means of transport that will carry the consignment from the Loading Location to the Unloading Location, see the generic Transport Movement Structure above</li>

            </ul>
            <p class="govuk-body" id="consignment-line">
                <strong>Consignment Line</strong> - object name: consignmentLine<br>
                This is an array object that provides details of the tradeProduct in the Consignment
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    consignmentSummary – This is a summary of the consignment line characteristics
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>
                            totalPackages – This is the packaging details for the consignment line
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>
                                    type – The type of packaging
                                    <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/package-type">Package Type - reference data</a>
                                </li>
                                <li>
                                    itemQuantity – The quantity of this type of package
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>value – The integer number</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            totalMeasures – This is the measure of the consignment line
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>netWeight – The net weight of the consignment line</li>
                                <li>grossWeight – The gross weight of the consignment line</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>exporterConsignmentLineReferenceId – This is your reference used to identify the consignment line</li>
                <li>
                    tradeLineItem – This is an array object that provides details of the tradeProduct in the consignment line
                    <ul class="govuk-list sublist govuk-list--bullet">
                        <li>sequenceNumber – This is sequence number of the tradeLineItem, sequence numbers start at 1 (one)</li>
                        <li>exporterTradeLineReferenceId – This is your reference used to identify the trade line item</li>
                        <li>
                            tradeProduct – This object provides details of the product being exported
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>description – This is a description of the commodity</li>
                                <li>scientificName – This is the Scientific Name of the commodity</li>
                                <li>naturalTemperatureCategory – This is the temperature category for transporting the commodity, it is chosen from the following enumeration: “Ambient”, Chilled”, “Frozen”</li>
                            </ul>
                        </li>
                        <li>
                            container – This is an array object identifying the containers used for transporting the commodities
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>
                                    containerId – This is the Container’s Identification Mark
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>id – this is the identification mark text</li>
                                    </ul>
                                </li>
                                <li>
                                    sealId – This is the identifier of the seal securing the container
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>id – this is the identification text</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            measure – This is the measure of the trade line item
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>
                                    netWeight – The net weight of the trade line item
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>value – This is the numeric value of the measure</li>
                                        <li>unit – This is the unit of measure that qualifies the value</li>
                                    </ul>
                                </li>
                                <li>
                                    physicalPackage – This is the packaging details for the trade line item
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>
                                            type – The type of packaging
                                            <a class="govuk-link" href="/ProductsApi/Product/trd-dev/Api/trade-sci-reference-data-api-v1-dev/package-type">Package Type - reference data</a>
                                        </li>
                                        <li>
                                            itemQuantity – The quantity of this type of package
                                            <ul class="govuk-list sublist govuk-list--bullet">
                                                <li>value – The integer number</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>transportMovement – This is an array object that lists the means of transport that will carry the consignment to the Loading Location, see the generic Transport Movement Structure above</li>
                            </ul>
                        </li>
                        <li>
                            packingCentre – This is an array object the lists the locations at which the trade line item was packaged
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>
                                    organisation – Identifies the packaging organisation
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>name – the Name of the packaging organisation</li>
                                    </ul>
                                </li>
                                <li>
                                    location – Identifies the packaging location
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>name – the Name of the packaging organisation</li>
                                        <li>
                                            approvalNumber – The registered approval number for the packaging location
                                            <ul class="govuk-list sublist govuk-list--bullet">
                                                <li>id – The approval identifier</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            storage – This is an array object the lists the locations at which the trade line item was stored
                            <ul class="govuk-list sublist govuk-list--bullet">
                                <li>
                                    organisation – Identifies the storage organisation
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>name – the Name of the storage organisation</li>
                                    </ul>
                                </li>
                                <li>
                                    location – Identifies the packaging location
                                    <ul class="govuk-list sublist govuk-list--bullet">
                                        <li>
                                            approvalNumber – The registered approval number for the storage location
                                            <ul class="govuk-list sublist govuk-list--bullet">
                                                <li>
                                                    id – The approval identifier
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
{% endblock %}
