{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Means of transport improvements</h1>
      <p><a href="User Story 113534: Means of transport improvements">View the user story (113534)</a></p>
      <h2 class="govuk-heading-m">Why we need to chage</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Poor accessibility, nothing anounced to the user</li>
        <li>Non GDS pattern</li>
        <li>User can keep clicking add transport not realising mutltiple intances have been added</li>
        <li>Affixed action bar</li>
        <li>Potential of too many validation errors if users dont enter data</li>
        </ul>
      <h2 class="govuk-heading-m">What changed</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Adding transport is now an add to list pattern</li>
        <li>Split the journey on to seperate pages</li>
      </ul>
      <p>This version has not been tested yet</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/clear-data?url=experimental/transport/task-list">From Task list</a></li>
        <li><a href="/clear-data?url=experimental/transport/conditions">Selecting conditions of the shipment</a></li>
        <li><a href="/clear-data?url=experimental/transport/added-transport">Adding transport</a></li>
      </ul>

  </div>
</div>

{% endblock %}
