{% set signInActive = true %}
{% extends "layout.html" %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/panel/macro.njk" import govukPanel %}
      {{ govukPanel({
        titleText: "Password reset email sent",
        html: "<span class='govuk-font-16'>We have sent an email to <strong>"+data['forgotten-email']+"</strong></span>"
      }) }}
      <p class="govuk-body"></p>

      <h2 class="govuk-heading-m">
        What happens next?
      </h2>

      <p class="govuk-body">If this email address is linked to a Defra API Developer Portal account you will get a password reset link.</p>
      <p class="govuk-body">This link will expire in 1 hour.</p>
      <p class="govuk-body"><a href="sign-in">Sign in</a></p>
      <p class="govuk-body"><a href="../homepage">Back to home</a></p>
    </div>
  </div>
  
{% endblock %}
