
{% extends "layout.html" %}

{% block pageTitle %}
  Forgotten password
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Reset your password
      </h1>
      <p class="govuk-body">Enter the email address associated with your Defra API Developer Portal account.</p>
      <p class="govuk-body">We will send you a link to reset your password. This will expire in 1 hour</p>
      <form action="forgot-password-check-email" method="post" class="form">
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "forgotten-email",
          name: "forgotten-email",
          classes: "govuk-input--width-20"
        }) }}
        
        {% from "govuk/components/button/macro.njk" import govukButton %}
        
        {{ govukButton({
          text: "Sign in"
        }) }}

        <p class="govuk-body"><a href="register/email">Create sign in details</a></p>
      </form>
    </div>
  </div>
  
{% endblock %}
