{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <div class="ehc-summary" data-v-e8e27fc8="">
      <div class="govuk-grid-row" data-v-e8e27fc8="">
        <div class="govuk-grid-column-full" data-v-e8e27fc8="">
          <h1 class="govuk-heading-l" data-v-e8e27fc8="">Check your answers before submitting your application</h1>
          <p class="govuk-body" data-v-e8e27fc8=""><strong data-v-e8e27fc8="">Application Reference - </strong>rh-test-application</p>
          <h2 class="govuk-heading-m" data-v-e8e27fc8="">1. Description of the goods</h2>
          <div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Manage Commodities </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">
                  <details class="govuk-details" data-module="govuk-details" data-v-e8e27fc8="">
                    <summary class="govuk-details__summary" data-v-e8e27fc8=""><span class="govuk-details__summary-text" data-v-e8e27fc8="">EHC8328 Treated hides and skins of ungulates to, or transit through, the European Union and Northern Ireland
                        10367</span></summary>
                    <div class="govuk-details__text" data-v-e8e27fc8="">
                      <table class="govuk-table" data-v-e8e27fc8="">
                        <tbody class="govuk-table__body" data-v-e8e27fc8="">
                          <tr class="govuk-table__row" data-v-e8e27fc8="">
                            <th scope="row" class="govuk-table__header" data-v-e8e27fc8="">Commodities</th>
                            <td class="govuk-table__cell" data-v-e8e27fc8=""><span data-v-e8e27fc8=""><span class="govuk-tag code-color m-1" data-v-e8e27fc8="">41</span><span class="govuk-tag code-color m-1" data-v-e8e27fc8="">01</span><br
                                  data-v-e8e27fc8=""></span><span data-v-e8e27fc8=""><span class="govuk-tag code-color m-1" data-v-e8e27fc8="">41</span><span class="govuk-tag code-color m-1" data-v-e8e27fc8="">02</span><br data-v-e8e27fc8=""></span>
                            </td>
                          </tr>
                          <tr class="govuk-table__row" data-v-e8e27fc8="">
                            <th scope="row" class="govuk-table__header" data-v-e8e27fc8="">Total weight</th>
                            <td class="govuk-table__cell" data-v-e8e27fc8="">100 KGM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </details>
                  <details class="govuk-details" data-module="govuk-details" data-v-e8e27fc8="">
                    <summary class="govuk-details__summary" data-v-e8e27fc8=""><span class="govuk-details__summary-text" data-v-e8e27fc8="">EHC8329 Treated hides and skins of ruminants and equidae that have been separated for 21 days to the European
                        Union and Northern Ireland 10369</span></summary>
                    <div class="govuk-details__text" data-v-e8e27fc8="">
                      <table class="govuk-table" data-v-e8e27fc8="">
                        <tbody class="govuk-table__body" data-v-e8e27fc8="">
                          <tr class="govuk-table__row" data-v-e8e27fc8="">
                            <th scope="row" class="govuk-table__header" data-v-e8e27fc8="">Commodities</th>
                            <td class="govuk-table__cell" data-v-e8e27fc8=""><span data-v-e8e27fc8=""><span class="govuk-tag code-color m-1" data-v-e8e27fc8="">41</span><span class="govuk-tag code-color m-1" data-v-e8e27fc8="">01</span><br
                                  data-v-e8e27fc8=""></span></td>
                          </tr>
                          <tr class="govuk-table__row" data-v-e8e27fc8="">
                            <th scope="row" class="govuk-table__header" data-v-e8e27fc8="">Total weight</th>
                            <td class="govuk-table__cell" data-v-e8e27fc8="">100 KGM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </details>
                </div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Manage-Commodities" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Goods certified as </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8=""><span class="certified-goods" data-v-e8e27fc8="">animal feedingstuff</span></div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Goods-Certified-As" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Container number/seal number </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">
                  <p data-v-e8e27fc8=""><span data-v-e8e27fc8="">Container - BICU1234567</span><span class="ml-3" data-v-e8e27fc8=""> Seal - </span></p>
                  <p data-v-e8e27fc8=""><span data-v-e8e27fc8="">Container - BICU1234564</span><span class="ml-3" data-v-e8e27fc8=""> Seal - </span></p>
                  <p data-v-e8e27fc8=""><span data-v-e8e27fc8="">Container - BICU1234563</span><span class="ml-3" data-v-e8e27fc8=""> Seal - </span></p>
                </div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Container-Seal-Number" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Purpose of export </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">Internal market <span class="ml-1" data-v-e8e27fc8=""></span></div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Purpose-Of-Export" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
          </div>
          <h2 class="govuk-heading-m" data-v-e8e27fc8="">2. Additional documents (optional)</h2>
          <div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Accompanying documents </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">Not completed</div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Accompanying-Documents" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
          </div>
          <h2 class="govuk-heading-m" data-v-e8e27fc8="">3. Persons involved</h2>
          <div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Consignor or Exporter </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">Bradford Hide Company Ltd <span class="ml-1" data-v-e8e27fc8="">(Bradford, BD1)</span></div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Consignor-Or-Exporter" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Consignee or Importer </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">Moy Park Dungannon <span class="ml-1" data-v-e8e27fc8="">(Dungannon, BT71)</span></div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Consignee-Or-Importer" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Certifier </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">
                  <p data-v-e8e27fc8="">Avalon Equine Vets 14 West High Road BA12 7FE &nbsp; (Avalon Equine Vets)</p>
                  <p data-v-e8e27fc8="">chicha 12 test aa11aa &nbsp; (chicha)</p>
                </div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Certifier" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Region of certification </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">England</div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Region-of-certification" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Responsible for load </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">MOY PARK Ltd <span class="ml-1" data-v-e8e27fc8="">(Craigavon, BT63)</span></div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Operator" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
          </div>
          <h2 class="govuk-heading-m" data-v-e8e27fc8="">4. Transport</h2>
          <div class="govuk-summary-list govuk-!-margin-bottom-9" data-v-e8e27fc8="">
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Departure and arrival </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">
                  <p data-v-e8e27fc8="">Arrival - 18 Aug 2022 11:38</p>
                  <p data-v-e8e27fc8="">Departure - 16 Aug 2022 11:38</p>
                </div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Arrival-And-Departure" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Place of origin </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">
                  <p data-v-e8e27fc8="">United Kingdom (GB)</p>
                  <p data-v-e8e27fc8="">Region - GB-1</p>
                  <p data-v-e8e27fc8="">Dispatch - MOY PARK LTD (Sleaford, NG34)</p>
                  <p data-v-e8e27fc8="">Loading - MOY PARK LTD (Sleaford, NG34)</p>
                </div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Origin" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Entry border control post </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">Belfast Port - BCC <span class="ml-1" data-v-e8e27fc8="">(UNLO Code: GBBEL)</span></div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Border-Control-Post" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Means of transport </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8="">
                <div data-v-e8e27fc8="">
                  <p data-v-e8e27fc8="">Condition- Frozen</p>
                  <div data-v-e8e27fc8="">
                    <p data-v-e8e27fc8="">Railway <span class="ml-1" data-v-e8e27fc8="">(Identifier - 343452345)</span></p>
                    <!---->
                    <!---->
                    <!---->
                  </div>
                </div>
              </div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Means-Of-Transport" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
            <div class="govuk-summary-list__row" data-v-e8e27fc8="">
              <div class="govuk-summary-list__key" data-v-e8e27fc8=""> Place of destination </div>
              <div class="govuk-summary-list__value" data-v-e8e27fc8=""><span data-v-e8e27fc8="">Thiry Ben (Linter, 3350)</span></div>
              <div class="govuk-summary-list__actions" data-v-e8e27fc8=""><a href="/Export-health-certificate/d13c6032-f091-404c-aa3b-3921bd6b04d1/Place-Of-Destination" class="govuk-link" data-v-e8e27fc8=""> Change </a></div>
            </div>
          </div>
          <h2 class="govuk-heading-m" data-v-e8e27fc8=""> Validate and submit your application </h2>
          <p class="govuk-body" data-v-e8e27fc8=""> Once you have reviewed all your answers, you can validate and upon successful validation you can submit your application for processing by APHA and the selected certifier organisation. </p>
          <div data-v-e8e27fc8=""><button class="govuk-button" id="validate" data-v-e8e27fc8="">
              <!----> Validate application
            </button>
            <a  href="review" class="govuk-button" id="submit" data-v-e8e27fc8="" style="display:none">
                Submit to certifier
              </a>

            <!---->
            <p id="eleapsed-time" aria-live="polite" class="govuk-body" data-v-e8e27fc8="" style="display:none"></p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {
    var timer;
    var timeTaken = 1;
    function validate (){
      $("#eleapsed-time").text("Elapsed time : "+timeTaken+" secs")
      timeTaken+=1
      if(timeTaken == 8){
        clearInterval(timer);
        $("#submit").show()
        $('#validate').hide()
      }
    }
    $('#validate').on('click',function(e){
      e.preventDefault()
        $(this).text("Validating application")
      $(this).prepend('<span class="fas fa-spinner fa-spin" data-v-e8e27fc8=""></span>')
      $(this).attr("disabled","disabled")
      $("#eleapsed-time").show()
      $("#eleapsed-time").text("Elapsed time : 0 secs")
      timer = setInterval(validate, 1000);
    })
  })
</script>
{% endblock%}
