{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" data-v-776dc74b="">
    <div class="govuk-grid-column-two-thirds" data-v-776dc74b="">
      <div class="govuk-panel govuk-panel--confirmation" id="application-submission-confirmation" data-v-776dc74b="">
        <h1 class="govuk-panel__title" data-v-776dc74b=""> Application complete </h1>
        <div class="govuk-panel__body" data-v-776dc74b=""> Your serial number<br data-v-776dc74b=""><strong id="application-serial-reference" data-v-776dc74b="">177CC10680DC4A8</strong></div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" data-v-776dc74b="">
    <div class="govuk-grid-column-two-thirds" data-v-776dc74b="">
      <p class="govuk-body" data-v-776dc74b=""> Your application has now been submitted for review. </p><a href="dashboard" class="govuk-button" data-v-776dc74b=""> Finish </a>
    </div>
  </div>
{% endblock %}
