{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="" action="complete" method="post">


  <section id="intro" data-v-776dc74b="">
    <div class="govuk-grid-row" data-v-776dc74b="">
      <div class="govuk-grid-column-two-thirds" data-v-776dc74b=""><span class="govuk-caption-xl">Check and submit your application to certifier</span>
        <h1 class="govuk-heading-xl"> Review and check </h1>
      </div>
    </div>
  </section>
  <section id="form" data-v-776dc74b="">
    <div class="govuk-grid-row" data-v-776dc74b="">
      <div class="govuk-grid-column-three-quarters" data-v-776dc74b="">
        <div class="govuk-form-group" data-v-776dc74b="">
          <fieldset class="govuk-fieldset" aria-describedby="confirm-acceptance-to-statement" data-v-776dc74b="">
            <legend class="govuk-fieldset__legend" data-v-776dc74b=""> By submitting data available to you at the date of this application form, you are agreeing that to the best of your knowledge and belief the application form entries are true. You
              will comply with the requirements of UK law, including updating application form entries as needed, and the payment of official controls (veterinary checks), repossession of any consignment rejected after transit from the UK to another
              country or costs of destruction if necessary. </legend>
            <p class="govuk-body" data-v-776dc74b=""> Date of declaration: 15th August 2022</p>
            <!---->
            <div class="govuk-checkboxes" data-v-776dc74b="">
              <div class="govuk-checkboxes__item" data-v-776dc74b=""><input class="govuk-checkboxes__input" id="confirm-acceptance-to-statement" type="checkbox" value="true" data-v-776dc74b=""><label class="govuk-label govuk-checkboxes__label"
                  for="confirm-acceptance-to-statement" data-v-776dc74b=""> I confirm that the information I have provided is correct to the best of my knowledge. </label></div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </section>
  <section id="actions" data-v-776dc74b=""><button class="govuk-button" data-v-776dc74b=""> Confirm and submit </button></section>
  </form>
{% endblock %}
