{% extends "layout.html" %}
{% block pageTitle %}
How will this consignment be exported – {{super()}}
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<!-- Set an id variable incase its needed when changing a means of transport -->
{% set id = query.id or 0 %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form id="form" method="get" action="transport-details">
      <div class="govuk-form-group" data-v-133877c6="">
              <span class="govuk-caption-l">Transport methods</span>
        <fieldset class="govuk-fieldset" >
        
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" data-v-133877c6="">How will this consignment be exported?</legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" id="purpose" data-v-133877c6="">
            <div class="govuk-radios__item purpose" data-v-133877c6="">
              <input class="govuk-radios__input" id="conditions-Chilled" name="transportType" type="radio" value="Road vehicle" {% if query.change and data.transportList[id].typeOfTransport == 'Road vehicle'%}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="conditions-Chilled" data-v-133877c6="">Road vehicle</label>
            </div>
            <div class="govuk-radios__item purpose" data-v-133877c6="">
              <input class="govuk-radios__input" id="conditions-Frozen" name="transportType" type="radio" value="Plane" {% if query.change and data.transportList[id].typeOfTransport == 'Plane'%}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="conditions-Frozen">Plane</label>
            </div>

            <div class="govuk-radios__item purpose" data-v-133877c6="">
              <input class="govuk-radios__input" id="conditions-Ambient" name="transportType" type="radio" value="Train" {% if query.change and data.transportList[id].typeOfTransport == 'Train'%}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="conditions-Ambient" data-v-133877c6="">Train</label>
            </div>
            <div class="govuk-radios__item purpose" data-v-133877c6="">
              <input class="govuk-radios__input" id="conditions-Frozen" name="transportType" type="radio" value="Ship" {% if query.change and data.transportList[id].typeOfTransport == 'Boat'%}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="conditions-Frozen">Ship</label>
            </div>
          </div>
        </fieldset>
      </div>
      {% if query.change == "yes"%}
      <input type="hidden" name="id" value="{{query.id or 0}}">
      <input type="hidden" name="change" value="yes">
      {% endif %}
      <button class="govuk-button" data-v-133877c6=""> Save and continue</button>

    </form>

  </div>
</div>

{% endblock %}
