{% if field.multiple =="yes" %}
<div class="govuk-form-group app-repeadable-holder" id="repeatable-collection-date-holder">
  <label class="govuk-label" for="COLLECTION_PRODUCTION_DATE-3-11711-020120">Date of collection or production {% if field.required == "no" %}&nbsp;(optional for <abbr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</abbr>){% endif %}</label>
  <p class="govuk-hint" id="collection-date-hint">If the commodity is a raw material, enter the earliest collection date. If the commodity is processed or manufactured, enter the earliest production date.</p>
  <div class="app-repeatable-section govuk-!-width-one-third" id="repeatable-collection-date">
    <div class="govuk-input__wrapper ">
      <input name="dateOfCollectionProduction"
        class="govuk-input"
        type="date"
        id="COLLECTION_PRODUCTION_DATE-3-11711-020120"
        name="COLLECTION_PRODUCTION_DATE"
        value="{% if identification.dateOfCollectionProduction.length >= 16 %}{{identification.dateOfCollectionProduction.slice(0,16)}}{% else %}{{ identification.dateOfCollectionProduction }}{% endif %}"
        aria-described-by="collection-date-hint">
      <div class="govuk-input__suffix suffix__action no-border" aria-hidden="true">
        <button type="button" data-count="1" data-target="repeatable-collection-date" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
        </button>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="govuk-form-group">
  <label class="govuk-label" for="COLLECTION_PRODUCTION_DATE-3-11711-020120">Date of collection or production {% if field.required == "no" %}&nbsp;(optional for <abbr title="TRACES is the EU's digital certification platform. You can submit your application without entering this information.">TRACES</abbr>){% endif %}</label>
  <p class="govuk-hint" id="collection-date-hint">If the commodity is a raw material, enter the earliest collection date. If the commodity is processed or manufactured, enter the earliest production date.</p>
  <input class="govuk-input govuk-!-width-one-third"
    type="date"
    name="dateOfCollectionProduction"
    id="COLLECTION_PRODUCTION_DATE-3-11711-020120"
    value="{% if (query.change or query.copy) %}{% if identification.dateOfCollectionProduction.length >= 16 %}{{identification.dateOfCollectionProduction.slice(0,16)}}{% else %}{{ identification.dateOfCollectionProduction }}{% endif %}{% if query.updated == 'yes' %}{{data.dateOfCollectionProduction.slice(0,16)}}{% endif %}{% endif %}"
    aria-described-by="collection-date-hint">
</div>
{% endif %}
