
{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Enter your access code" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}            
                    
            <form action="2fa-success" method="post" class="form">
        
                {{ govukInput({
                    label: {
                        text: "Access code"                        
                    },
                    hint: {
                        text: "This is the 6 digit code from your authenticator app."
                    },
                    id: "access-code",
                    name: "access-code",
                    classes: "govuk-input--width-5"
                }) }}        

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
  </div>
  
{% endblock %}
