
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Create an account
      </h1>
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: {
          text: "Organisation (optional)"
        },
        id: "organisation",
        name: "organisation"
      }) }}
      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name",
        name: "first-name"
      }) }}
      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name"
      }) }}
      <h2 class="govuk-heading-m">Password</h2>
      <p class="govuk-">Your password should have at least 8 characters and not include your name or email address</p>
      {{ govukInput({
        label: {
          text: "Create password"
        },
        id: "create-password",
        name: "create-password",
        type: "password"
      }) }}
      {{ govukInput({
        label: {
          text: "Confirm password"
        },
        id: "confirm-password",
        name: "confirm-password",
        type: "password"
      }) }}

      <!-- <p class="govuk-body"><a href="#">Terms and conditions</a></p>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="terms-and-conditions" name="terms-and-conditions" type="checkbox" value="terms-and-conditions">
        <label class="govuk-label govuk-checkboxes__label" for="terms-and-conditions">
          I confirm that I have read and agree to the terms and conditions.
        </label>
      </div> -->
      <p class="govuk-body">By creating an account, you agree to our <a href="#">terms and conditions</a>, <a href="#">privacy policy</a> and <a href="#">cookie policy</a>
      <form class="form" method="post" action="2fa">
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary"
        }) }}
      </form>
      <p class="govuk-body">Already registered? <a href="../login">Sign in to your account</a>.</p>
    </div>
  </div>
  
{% endblock %}
