{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "Enter the confirmation code" %}
{% set pageSection = "Create an account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">We sent this to {{data['email-address']}}</p>
            <p class="govuk-body">It may take a few minutes to arrive and will expire in 30 minutes. Its subject line is: ‘Confirm your email address - Government Gateway’.</p>                        
            <p class="govuk-body">Still not arrived, <a href="#">request a new code</a>.</p>        
            
            <form action="details" method="post" class="form">
        
                {{ govukInput({
                    label: {
                        text: "Confirmation code",
                        classes: "govuk-visually-hidden"
                    },
                    id: "confirmation-code",
                    name: "confirmation-code",
                    classes: "govuk-!-width-two-thirds"
                }) }}    

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            
        
            

        </div>
    </div>
  
{% endblock %}
