{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Enter the code" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">We have sent a confirmation code to: <strong>{{data['email-address']}}</strong></p>            
            <p>Its subject line is: ‘Confirm your email address - Government Gateway’.</p>            
            <p class="govuk-body">It may take a few minutes to arrive and will expire in 30 minutes.</p>
      
            
            
            
            <form action="details" method="post" class="form">
        
                {{ govukInput({
                    label: {
                        text: "Confirmation code",
                        classes: "govuk-visually-hidden"
                    },
                    id: "confirmation-code",
                    name: "confirmation-code",
                    classes: "govuk-!-width-two-thirds"
                }) }}    

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            <p class="govuk-body">Still has not arrived, you can <a href="#">request a new code</a> or <a href="/register/">provide another email address</a>.</p>        
        
            

        </div>
    </div>
  
{% endblock %}
