
{% extends "layout.html" %}

{% set pageHeading = "Create an account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <p class="govuk-body-m">Creating an account lets you try out the sandbox service and make sample projects. We’ll also use your registration details to notify you when full production integration is available to you.</p>
            <p class="govuk-body">Already registered? <a href="../sign-in/sign-in">Sign in</a>.</p>
            <p class="govuk-body">Enter your email address. You will recieve a confirmation code to continue.</p>
            <p class="govuk-body"><a href="#">Read the terms and conditions.</a></p>
            <p class="govuk-body"><a href="#">Read the privacy and cookie policy.</a></p>
            
            <form action="email-verify" method="post" class="form">
        
                {{ govukInput({
                label: {
                    text: "Email address"
                },
                id: "email-address",
                name: "email-address",
                classes: "govuk-!-width-two-thirds"
                }) }}
        
                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
  
{% endblock %}
