
{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Create an account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <p class="govuk-body-m">This lets you try out the sandbox service and make sample projects. We’ll also use your details to notify you when full production integration is available.</p>            
            
            <form action="email-verify" method="post" class="form">
        
                {{ govukInput({
                label: {
                    text: "Email address"
                },
                id: "email-address",
                name: "email-address",
                classes: "govuk-!-width-two-thirds"
                }) }}
                
                <p class="govuk-body">You will recieve a confirmation code to continue.</p>

                
                <div class="govuk-button-group">
                    
                    {{ govukButton({
                        text: "Continue"
                    }) }}

                     <a class="govuk-link govuk-link--no-visited-state" href="/sign-in">Already registered? Sign in</a>
                </div>

            </form>
            
            

            <ul class="govuk-list">
                <li><a href="#">Read the terms and conditions.</a></li>
                <li><a href="#">Read the privacy and cookie policy.</a></li>
            </ul>

        </div>
    </div>
  
{% endblock %}
