{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Copy a certificate improvement v2</h1>

      <!-- <h2 class="govuk-heading-m">What changed</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Removed the functionality to copy the same certificate upto 100 times</li>
        <li>Flow update, now copy journey takes user to the task list intead of back to the dashboard</li>
        <li>Changing the reference is now done on a seperate page</li>
        <li>Small update to the design</li>
      </ul>,, -->
      <p>This version has not been tested yet</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="dashboard?hasUpdateToEHC=no&hasMultipleEHC=no&showWeight=no">Start from dashbaord - No updates</li>
        <li><a href="dashboard?hasUpdateToEHC=yes&hasMultipleEHC=no&showWeight=no">Start from dashbaord - EHC updated</li>
        <li><a href="dashboard?hasMultipleEHC=yes&hasUpdateToEHC=no&showWeight=no">Start from dashbaord - has multiple EHCS</li>
      </ul>

  </div>
</div>

{% endblock %}
