{% extends "layout.html" %}

{% block pageTitle %}
Responsible for load – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}

<style>
  .find-establishment-link {
    padding: 30px;
    background: #f3f2f1;
  }

  .govuk-summary-list__actions {
    padding-right: 30px;
  }

  .govuk-summary-list__row {
    border: none;
  }
</style>


<form class="" action="../task-list" method="post">
  <div class="govuk-grid-row" data-v-0c6ff6a7="">
    <div class="govuk-grid-column-two-thirds"><span class="govuk-caption-xl">Persons involved</span>
      <h1 class="govuk-heading-xl">Responsible for load</h1>
      <p class="govuk-body">Enter the country and address of the organisation that will declare the consignment to the border control post. This will be either the importer or a forwarding agent.</p>

      {% if data.person['load'] %}
        {% set establishmentIndex = data.person['load'] %}
        {% set org = data.establishments[establishmentIndex] %}
        <!-- set fields for check your answers -->
          <input type="hidden" name="loadName"  value="{{org.TradingName}}">
          <input type="hidden" name="loadTown"  value="{{org.Town}}">
          <input type="hidden" name="loadPostcode"  value="{{org.Postcode}}">
        {% set removeLink = "./remove?who=load&redirect=load" %}
        {% block traderAddress %}{% include "./trader-address.html" %}{% endblock %}

      {% else %}
        <p class="govuk-!-margin-bottom-10 find-establishment-link">
          <a href="./load/find" class="govuk-link govuk-link--no-visited-state">Select an organisation responsible for load</a>
        </p>
      {% endif %}
      <button class="govuk-button">Continue</button>
    </div>
  </div>
</form>
<!-- this is the base html to copy, it is not visuable and only used in this prototype -->

<!-- // -->

{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {


  })
</script>
{% endblock%}
