{% set accountActive = true %}

{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "What are your redirect URIs?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
  
            {% include "includes/defra-section-nav.html" %}

            <div class="govuk-grid-column-three-quarters">
                
                {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
                        
                <p class="govuk-body">You can change this later.</p>
          
                {{ govukDetails({
                    summaryText: "What are redirect URIs?",
                    html: "<p class='govuk-body'>Your application needs to ask users before it can access their personal data. We take users to Government Gateway to grant this permission.</p><p class='govuk-body'>Redirect URIs tell us where to send users after they leave Government Gateway.</p><p class='govuk-body'><a href='#'>Learn more about redirect URIs (opens in a new window or tab).</a></p>"
                }) }}

                <form class="govuk-form" action="add-team-members" method="post">            
            
                    {{ govukInput({
                        label: {
                            text: "Redirect URIs?"
                        },
                        hint: {
                            text: "Maximum of 5. URI must be HTTPS for example https://example.co.uk"
                        },
                        id: "app-name",
                        name: "app-name",
                        classes: "govuk-label--l govuk-input--width-20"
                    }) }}
                    
                    <button class="govuk-button govuk-button--primary">Continue</button>
                
                </form>
            
            </div>
        </div>
    </div>

{% endblock %}
