{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
{% set commodityTitle = "commodities"%}
{% if (data.addedCommodities | length) == 1%}
{% set commodityTitle =  "commodity"%}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data.certificates[(data.certificate | makeNumber)].number or "test" }}</span>
    <h1 class="govuk-heading-xl">
      What is the total weight of the commodities in this certificate?
    </h1>
    <div id="add-another-hint" class="govuk-hint">
      This is the combined weight of the commodities and their containers.
    </div>
    <form method="post" action="{% if data.has_multiple_certificates == 'yes'%}added-certs{%else%}../task-list{% endif %}">
      <div class="govuk-form-group">
        <label class="govuk-label" for="netWeight-3-10410-31010000">Total weight amount
        </label>

        <input class="govuk-input govuk-!-width-one-third" type="number" data-type="quantity" name="GROSS_WEIGHT" {% if query.change=='yes' %}value="{{data.GROSS_WEIGHT}}" {%endif%} step="0.01" min="0" max="9999999" id="netWeight-3-10410-31010000"
          data-v-4e8f37a8="">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="netWeight-units">Total weight units</label>
        <select class="govuk-select" id="netWeight-units" name="GROSS_WEIGHT_quantifier">
          <option disabled="" value="" {% if not data.GROSS_WEIGHT_quantifier and not query.change=='yes' %}selected{%endif%}>Select a unit</option>
          <option value="GRM" {% if data.GROSS_WEIGHT_quantifier =="GRM" and query.change=='yes' %}selected{%endif%}>grams</option>
          <option value="KGM" {% if data.GROSS_WEIGHT_quantifier=="KGM" and query.change=='yes' %}selected{%endif%}>kilogram</option>
          <option value="KTN" {% if data.GROSS_WEIGHT_quantifier=="KTN" and query.change=='yes' %}selected{%endif%}>kilotonne</option>
          <option value="TNE" {% if data.GROSS_WEIGHT_quantifier=="TNE" and query.change=='yes' %}selected{%endif%}>tonne (metric ton)</option>
        </select>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {

  })
</script>
{% endblock%}
