
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter 2 factor authentication code
      </h1>
      <p class="govuk-body">Enter the 6 digit code from your authentication app.</p>
      <form action="homepage-v2" method="post" class="form">
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Authentication code"
          },
          id: "authentication-code",
          name: "authentication-code",
          classes: "govuk-input--width-5"
        }) }}
        

        {{ govukButton({
          text: "Sign in"
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I cannot access my authentication app
            </span>
          </summary>
          <div class="govuk-details__text">
            <a href="#">What to do if you cannot access your authentication app.</a>
          </div>
        </details>
      </form>
    </div>
  </div>
  
{% endblock %}
