
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %} 
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Getting started
        </h1>
      <h2 class="govuk-heading-m">Using the developer portal</h2>
      <h3 class="govuk-heading-s">1. Before you start</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Find out which <a href="#">APIs are available</a></li>
        <li>Read our <a href="api-step-by-step/authorisation.html">terms of use</a>.</li>
        <li>Read up on <a href="api-step-by-step/authorisation.html">authorisation</a></li>
      </ul>
      <h3 class="govuk-heading-s">2. Create a developer account</h3>
      <div class="govuk-inset-text">
          The easiest way to test integration is to <a href="api-step-by-step/sample-project.html">Download our sample project</a>.
      </div>
      <p><a href="#">Create an account</a> and sign in.</p>
      <p>To use our test APIs you need to:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>Use Defra <a href="api-step-by-step/application-naming-guidelines.html">naming guidelines</a> to name your application appropriately.</li>
          <li><a href="#">Create a sandbox application</a>.</li>
          <li>Choose which APIs you want to use</li>
          <li>Get credentials to use our APIs</li>
      </ul>
      <h3 class="govuk-heading-s">3. Apply to go live</h3>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Currently you can only integrate with our sandbox environment. Production integration will be possible when the APIs have reached Beta.</strong>
      </div>
    </div>
  </div>
{% endblock %}
