
{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "API developer portal prototype" %}
{% set pageSection = "Prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
			
    		<ul class="govuk-list govuk-body-s">
          	    <li>Last updated: 27 June 2022</li>
                <li>Prototype version: {{releaseVersion}}</li>
        	</ul>        
			
            {{ govukButton({
      			text: "Service start",
      			href: "/homepage"
    		}) }}
			
            
    		{{ govukButton({
      			text: "Page listings",
      			href: "admin/listings",
      			classes: "govuk-button--secondary govuk-!-margin-left-1"
    		}) }}

        	{{ govukButton({
      			text: "Preload options",
      			href: "/admin/preload",
      			classes: "govuk-button--secondary govuk-!-margin-left-1"
    		}) }}

			<p><a class="govuk-link govuk-link--no-visited-state" href="/account/production-credentials/">Product credentials temp link</a></p>

        	{% include "includes/break.html" %}

        	<h2 class="govuk-heading-m">User research</h2>
        	<p>Area of the prototype for user research purposes, including link to share with user testing participants.</p>
            <p>No current user research taking place.</p>
        	{{ govukButton({
            	text: "Continue",
            	href: "#"
        	}) }}

        	{% include "includes/break.html" %}    		
      
    	</div>
  	</div>

{% endblock %}