{% extends "layout.html" %}

{% block pageTitle %}
Consignor or-exporter – {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
{% set id = query.id or "1" %}
{% set operator = data.establishments[id]%}
{% set activityToSearch = data.searchActivity or "not set"%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Which activity do you want to send to TRACES?</h1>

    <div class="margin-top-30">
      <p class="govuk-body" lang="en">
        Select a activity that is associated with <strong>{{operator.TradingName}}</strong>
      </p>
    </div>

    <form method="post" novalidate="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <div class="govuk-radios" data-module="govuk-radios">
            {% for  activity in operator.All_Activities %}
            <div class="govuk-radios__item">

              <input class="govuk-radios__input" id="savedOrg1" name="activityFor{{data.searchID}}" type="radio" {% if query.change and id == 0 %}checked{% endif %} value="{{loop.index-1}}~{{data.searchReturnURL or '../export/commodity'}}?has_{{data.searchID}}=yes{% if data.change == 'yes'%}&change=yes&id={{data.changeID}}&changeID={{data.changeID}}{%endif%}">
              <label class="govuk-label govuk-radios__label" for="savedOrg1">
                {{activity}}
                <!-- - {% if activity=="Importer" or activity=="Exporter" or activity=="Terrestrial animal establishment" %}veterinary{%else%}food{% endif %}
                -->
              </label>
            </div>
            {% endfor%}
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>
{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {

  })
</script>
{% endblock%}
