{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}
{% set commodityTitle = "commodities"%}
{% if (data.addedCommodities | length) == 1%}
{% set commodityTitle =  "commodity"%}
{% endif %}
{% set ehc = (data.certificate|makeNumber) or 0 %}
<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">{{ data.certificates[ehc].number or "EHC8331" }}</span>
    <h1 class="govuk-heading-xl">Added {{data.addedCommodities | length}} {{commodityTitle}}</h1>
    <dl class="govuk-summary-list app-list-with-actions app-list-with-actions--long">
    {% for commodity in data.addedCommodities %}
    {% set cert = data.certificates[ehc]%}
    {{commodityTemplate}}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular app-summary-list__key">
          <span class="govuk-tag govuk-!-margin-right-2" >{{commodity.commodity_code}}</span>
          {{commodity.netWeight or "23"}} {{commodity.netWeight_UNIT or "kilogram"}} -
          {% if commodity.description %}
          {{ commodity.description | truncate(100) }}
          {% else %}
          {{commodity.species or "Bison"}} - {{commodity.commodity_description | truncate(100)}}
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__actions app-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="remove-commodity?id={{loop.index-1}}">
                Remove<span class="govuk-visually-hidden"> commodity 4012</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="commodity?commodity={{commodity.type}}&change=yes&id={{loop.index-1}}">
                Change<span class="govuk-visually-hidden"> commodity 4012</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="commodity?commodity={{commodity.type}}&change=yes&id={{loop.index-1}}">
                Copy<span class="govuk-visually-hidden"> commodity 4012</span>
              </a>
            </li>

          </ul>
        </dd>
      </div>

    {%endfor%}
    </dl>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="select-commodities">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to add another commodity to this certificate?
          </legend>
          <div id="add-another-hint" class="govuk-hint">
            <!-- You must tell us about all your directors. -->
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes~select-commodities">
              <label class="govuk-label govuk-radios__label" for="add-another">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No~weight">
              <label class="govuk-label govuk-radios__label" for="add-another-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', function() {

  })
</script>
{% endblock%}
