{% extends "layout.html" %}
{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
{% set commodityTitle = "commodities"%}
{% if (data.addedCommodities | length) == 1%}
{% set commodityTitle = "commodity"%}
{% endif %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">
                    <span class="govuk-caption-xl">EHC{{data.ehc or 8361}}</span>
                </span>
                <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--xl">
                        What is the total weight of the commodities in this certificate?
                    </legend>
                    <div id="add-another-hint" class="govuk-hint">
                        This is the combined weight of the commodities and their containers.
                    </div>
                    <section id="certificates">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-visually-hidden">
                                        <h1 class="govuk-fieldset__heading"> Certificate weight form </h1>
                                    </legend>
                                    <div class="govuk-form-group"><label class="govuk-label" for="gross-weight-amount">Gross weight amount</label>
                                        <!----><input class="govuk-input govuk-input--width-4 js-question"  data-required="true" id="gross-weight-amount" name="GROSS_WEIGHT" type="number" value="{{data.GROSS_WEIGHT}}"></div>
                                    <div class="govuk-form-group"><label class="govuk-label" for="gross-weight-amount-units"> Gross weight amount units </label>
                                        <!----><select class="govuk-select" data-required="true" id="gross-weight-amount-units" name="GROSS_WEIGHT_quantifier">
                                            <option value="" {% if query.change !='yes' or data.GROSS_WEIGHT_quantifier ==''%}selected{%endif%} disabled>Select a unit</option>
                                            <option value="GRM" {% if query.change and data.GROSS_WEIGHT_quantifier =='GRM' %}selected{% endif %}>gram</option>
                                            <option value="KGM" {% if query.change and data.GROSS_WEIGHT_quantifier =='KGM' %}selected{% endif %}>kilogram</option>
                                            <option value="KTN" {% if query.change and data.GROSS_WEIGHT_quantifier =='KTN' %}selected{% endif %}>kilotonne</option>
                                            <option value="TNE" {% if query.change and data.GROSS_WEIGHT_quantifier =='TNE' %}selected{% endif %}>tonne (metric ton)</option>
                                        </select></div>
                                    <!---->
                                </fieldset>
                            </div>
                        </div>
                </fieldset>
            </div>
            <div class="govuk-form-group" id="skip-question-container">
                <h3 class="govuk-heading-m">You can skip this section</h3>
                <p class="govuk-body">If you're unable to enter some information, you can leave the section blank and submit the application to your certifier to complete.</p>
                <div class="govuk-checkboxes__item" id="skip-question-checkbox">
                    <input class="govuk-checkboxes__input" id="skip-question" name="skip-question" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label" for="skip-question">
                        I've entered as much information as I can
                    </label>
                </div>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}
{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
    $('.js-question').each(function() {
        console.log("looking to see if complete")
        var elem = $(this);

        // Save current value of element
        elem.data('oldVal', elem.val());
        if (elem.val()!=""){
            elem.attr('data-filled', 'yes')
        }
        // Look for changes in the value
        elem.bind("propertychange change click keyup input paste", function(event) {
            // If value has changed...
            console.log("checking content")
            if (elem.data('oldVal') != elem.val()) {
                console.log("value has changed")
                // Updated stored value

                // Do action
                if (elem.val() == "//default") {
                    elem.val(elem.attr('data-default'));

                }
                console.log("val length = " + elem.val().length)
                if (elem.val().length === 0) {
                    elem.attr('data-filled', 'no')
                } else {
                    elem.attr('data-filled', 'yes')
                }

                console.log("data-filled = " + elem.attr('data-filled'))
                // elem.attr('data-filled','yes')

                elem.data('oldVal', elem.val());
            }


            checkFilled()
        });
    });

    function checkFilled() {
        var completed = 0;
        var max = $('.js-question').length
        console.log("---checkFilled---- " + max)
        $('.js-question').each(function() {
            console.log("Chekcing if its complete: " + ($(this).attr('data-filled') == "yes"))
            if ($(this).attr('data-filled') === "yes") {
                completed += 1
            }

        })
        console.log("Completed = " + completed)
        if (completed >= max) {
            // $('.defra-callout h3').text(max +" questions answered")
            // $('.defra-callout .defra-callout--content').hide()
            $('#skip-question-checkbox').hide()
        } else {
            $('#skip-question-checkbox').show()
        }
        console.log("---end----")
    }

    checkFilled()
});
</script>
{% endblock%}