{% extends "layout.html" %}
{% set showBackLink = true %}

{% set pageHeading = "What’s the name of the business?" %}
{% set pageSection = "Production credentials" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            
            <p>This must match the registered name on the certificate of incorporation.</p>

            <form action="/account/production-credentials/business-registration/registered" method="post" class="form">        
            
                {{ govukInput({
                    label: {
                      text: pageHeading,
                      classes: "govuk-visually-hidden"
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "pcOrganisation",
                    name: "pcOrganisation"
                }) }}
        
                {{ govukButton({
                    text: "Continue"
                }) }}

                
            </form>

        </div>
    </div>
  
{% endblock %}
