{% extends "layout-with-navigation-only-signout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}<div class="govuk-phase-banner full-width" role="alert"><!----><!----><p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong><span class="govuk-phase-banner__text">This is a new service - your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_cSnlTGq2c54UxjE" class="govuk-link" rel="noreferrer noopener" target="_blank">feedback (opens in a new tab)</a> will help us to improve it.</span></p></div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "./_style.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="" method="post">  <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="select-org-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
       <h1 class="govuk-fieldset__heading">
          Which organisation do you want to manage EHC applicaitons for?
       </h1>
     </legend>

     <p class="govuk-hint" id="select-org-hint">You will be able to switch between different organisations after siging in.</p>
     <p>{% if data.isCertifier == "yes" and data.isExporter == "yes"%}4{%else%}2{%endif%} organisations</p>
          <div class="govuk-radios" data-module="govuk-radios">
            {% if data.isExporter == "yes"%}
            {% set ExporterURL =  "./not-approved-exporter" %}
            {% if data.accountApprovedRole == "both" or data.accountApprovedRole == "exporter" %}
            {% set ExporterURL =  "./dashboard-exporter-original" %}
            {% endif %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-org-1" name="org" type="radio" {% if data.account == 'Anavir Ltd'%}checked{% endif %} value="Anavir Ltd~./{{ExporterURL}}?account=Anavir Ltd">
              <label class="govuk-label govuk-radios__label" for="select-org-1">
                <strong style="text-transform: capitalize;">Anavir ltd</strong>
                 {% if data.isCertifier == "yes"%}- exporter{% endif %}
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-org-2" name="org" type="radio" {% if data.account=='Isosure trading Ltd'%}checked{% endif %} value="Isosure trading Ltd~./{{ExporterURL}}?account=Isosure trading Ltd">
              <label class="govuk-label govuk-radios__label" for="select-org-2">

                <strong style="text-transform: capitalize;">Isosure Trading Ltd</strong>
                 {% if data.isCertifier == "yes"%}- exporter{% endif %}
              </label>
            </div>
            {% endif %}
            {% if data.isCertifier == "yes"%}
            {% set certifierURL =  "./certifier-account" %}
            {% if data.accountApprovedRole == "both" or data.accountApprovedRole == "certifier"  %}
            {% set certifierURL =  "./dashboard-certifier-original" %}
            {% endif %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-org-3" name="org" type="radio" value="Isosure trading Ltd~./{{certifierURL}}?account=Isosure trading Ltd&isExporterApproved=yes">
              <label class="govuk-label govuk-radios__label" for="select-org-3">

                <strong style="text-transform: capitalize;">Isosure trading Ltd</strong>
                 {% if data.isExporter == "yes" %}- certifier{% endif %}
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-org-4" name="org" type="radio" value="ZILLADYNE LTD~./{{certifierURL}}?account=Zilladyne Ltd&isExporterApproved=yes">
              <label class="govuk-label govuk-radios__label" for="select-org-4">

                <strong style="text-transform: capitalize;">zilladyne ltd</strong>
                 {% if data.isExporter == "yes" %}- certifier{% endif %}
              </label>
            </div>
            {% endif %}

            <!-- <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-name" name="org" type="radio" value="Richard Hatton~./dashboard-exporter?account=Richard Hatton">
              <label class="govuk-label govuk-radios__label" for="org-name">
                <strong style="text-transform: capitalize;">Richard Hatton</strong> - individual account
              </label>
            </div> -->


          </div>

        </fieldset>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Cant find your organisation?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>if you aren't able to see an expected certifier organisation, it may be that some of your organisations may not be approved as certifiers in the eHCO service. This could be because they are not approved for inspection - please <a href="mailto:contact@exports@apha.gov.uk" > APHA for support </a> </p>



        </div>
      </details>
      <button class="govuk-button">Continue</button>
      </form>
  </div>

</div>
{% endblock%}
