{% extends "layout-with-navigation-only-signout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}

<div class="govuk-phase-banner full-width" role="alert">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong><span class="govuk-phase-banner__text">This is a new service - your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_cSnlTGq2c54UxjE" class="govuk-link" rel="noreferrer noopener" target="_blank">feedback (opens in a new tab)</a> will help us to improve it.</span></p>
</div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "./_style.html" %}
{% endblock%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.hasError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">

  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% if query.errorType == "empty"%}
        <li>
          <a href="#spNumber-error">Enter your {{query.accountType or "SP" }} number</a>
        </li>
        {% else %}
        <li>
          <a href="#postcode-input">Select the type of account you want to reqest access to</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
    <form class="" method="post">
      <div class="govuk-form-group {% if query.hasError and query.errorType=='notSelected' %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="certifierAccountType-hint {% if query.hasError and query.errorType=='notSelected' %}certifierAccountType-error{% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What type of account do you want to request access to?
            </h1>
          </legend>
          <!-- <p class="govuk-body">
                We need to confirm a few details about your account before you can use the system.
              </p> -->
          <div id="certifierAccountType-hint" class="govuk-hint">
            Select one option.
          </div>
          {% if query.hasError and query.errorType=='notSelected' %}
          <p id="certifierAccountType-error" class="govuk-error-message">
  <span class="govuk-visually-hidden">Error:</span> Select the type of account you want to reqest access to
  </p>
  {% endif%}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="certifierAccountType" type="radio" value="SP" data-aria-controls="conditional-OV" {% if query.retry and query.accountType=="SP" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="contact">
                Official veterinarian (OV)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OV">
              <div class="govuk-form-group {% if query.hasError and query.errorType=='empty' and query.accountType == 'SP'%} govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="certifierAccountType-OV">
                  What is your SP number?
                </label>
                {% if query.hasError and query.errorType=='empty' and query.accountType == 'SP' %}
                <p id="spNumber-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter your SP number
                </p>
                {% endif %}
                <input class="govuk-input govuk-!-width-one-third {% if query.hasError and query.errorType=='empty' and query.accountType == 'SP'%}govuk-input--error{% endif %}" id="certifierAccountType-OV" name="spNumber" type="text" spellcheck="false"
                  autocomplete="email" value="" aria-describedby="spNumber-error">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certifierAccountType-FCCO-number" name="certifierAccountType" type="radio" value="NV" data-aria-controls="conditional-FCOO" {% if query.retry and query.accountType=="NV" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="certifierAccountType-FCCO-number">
                Food Competent Certifiying Officer (FCCO)
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-FCOO">
              <div class="govuk-form-group {% if query.hasError and query.errorType=='empty' and query.accountType == 'NV'%} govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="certifierAccountType-NV-number">
                  What is your NV number?
                </label>
                {% if query.hasError and query.errorType=='empty' and query.accountType == 'NV' %}
                <p id="spNumber-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter your NV number
                </p>
                {% endif %}
                <input class="govuk-input govuk-!-width-one-third {% if query.hasError and query.errorType=='empty' and query.accountType == 'NV'%}govuk-input--error{% endif %}" id="certifierAccountType-NV-number" name="nvNumber" type="text" spellcheck="false"
                  autocomplete="email" value="" aria-describedby="spNumber-error" {% if query.hasError and query.errorType=='empty' and query.accountType == 'CSO' %}aria-describedby="nvNumber-error"{% endif%}>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certifierAccountType-3" name="certifierAccountType" type="radio" value="CSO" data-aria-controls="conditional-CSO" {% if query.retry and query.accountType=="CSO" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="certifierAccountType-3">
                Certification Support Officer (CSO)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-CSO">
              <div class="govuk-form-group {% if query.hasError and query.errorType=='empty' and query.accountType == 'CSO'%} govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="certifierAccountType-CSO-number">
                  What is your CSO number?
                </label>
                {% if query.hasError and query.errorType=='empty' and query.accountType == 'CSO' %}
                <p id="spNumber-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter your CSO number
                </p>
                {% endif %}
                <input class="govuk-input govuk-!-width-one-third {% if query.hasError and query.errorType=='empty' and query.accountType == 'CSO'%}govuk-input--error{% endif %}" id="certifierAccountType-CSO-number" name="csoNumber" type="text" spellcheck="false"
                  autocomplete="email" value="" {% if query.hasError and query.errorType=='empty' and query.accountType == 'CSO' %}aria-describedby="csoNumber-error"{% endif%}>
              </div>
            </div>

            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certifierAccountType-3" name="certifierAccountType" type="radio" value="administrative" data-aria-controls="conditional-certifierAccountType-3">
              <label class="govuk-label govuk-radios__label" for="certifierAccountType-3">
                Administrative staff member
              </label>
            </div>
          </div>

        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
