{% extends "layout.html" %}

{% block pageTitle %}
Before your start - eTrade – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Trade: E-certs</span>
      Onboarding</h1>

      <h2 class="govuk-heading-m">Account numbers</h2>
      <p>Use the following numbers on the gateway login page:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>0000</strong> - Exporter with 1 account</li>
        <li><strong>1111</strong> - Certifier only, with 2 accounts</li>
        <li><strong>2222</strong> - Certifier and exporter, with 2 accounts for each</li>
        <li><strong>9999</strong> - No account associated with ECHO</li>
      </ul>

      <p>This version has not been tested yet</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="gov-sign-in">Sign in page</a></li>
      </ul>
  </div>

</div>

{% endblock %}
