{% extends "layout.html" %}

{% block pageTitle %}
Onboarding - eTrade – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Trade: E-certs</span>
      Onboarding</h1>

      <h2 class="govuk-heading-m">Account numbers</h2>
      <p>Use the following numbers on the gateway login page:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>0000</strong> - Exporter with 1 account</li>
        <li><strong>1111</strong> - Certifier only, with 2 accounts</li>
        <li><strong>2222</strong> - Certifier and exporter, with 2 accounts for each</li>
        <li><strong>9999</strong> - No account associated with ECHO</li>
      </ul>
      <h2 class="govuk-heading-m"><a href="gov-sign-in&awaitingApproval=none">Sign in page</a></h2>
      <p>This version has not been tested yet</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s">First time signing in</h3>
      <p>Request access landing page</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="start?isCertifier=no&isExporter=yes&awaitingApproval=none">Request access for single role (exporter)</a></li>
        <li><a href="start?isCertifier=yes&isExporter=no&awaitingApproval=none">Request access for single role (certifier)</a> - continue button</li>
        <li><a href="start?isCertifier=yes&isExporter=yes&awaitingApproval=none">Request access for dual role (certifier and exporter)</a></li>
      </ul>
      <p>Other onboarding pages (first time). If there are other pages in the current flow they should remain the same.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="certifier-account?isCertifier=yes&isExporter=yes&awaitingApproval=none">What type of account (for certifier only)</a> - Page content change only</li>
        <li><a href="confirmation?isCertifier=yes&isExporter=yes&awaitingApproval=none">Request sent confirmation (exporter and certifer)</a> </li>
      </ul>

      <p><strong>Subsiquent sign in</strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="accounts?isCertifier=yes&isExporter=no&accountApprovedRole=certifier&awaitingApproval=none">One role but multiple organisations</a> (approved)</li>
        <li><a href="accounts?isCertifier=yes&isExporter=yes&accountApprovedRole=both&awaitingApproval=none">Both roles with multiple organisations</a> (approved)</li>
      </ul>
      <p>More scenaros are in the <a href="#">organisation switcher story</a></p>
      <p>If user has both ceftifier and exporter but only one role is approved</p>
        <ul class="govuk-list govuk-list--bullet">
      <li><a href="accounts?isCertifier=yes&isExporter=yes&accountApprovedRole=exporter&awaitingApproval=none">Only exporter approved</a> - select a certifier account</li>
      <li><a href="accounts?isCertifier=yes&isExporter=yes&accountApprovedRole=certifier&awaitingApproval=none">Only certifer approved</a> - select a exporter account</li>
      <li><a href="not-approved-certifier?isCertifier=yes&isExporter=yes&accountApprovedRole=exporter&continue=yes&awaitingApproval=none">Certifer needs to be approved</a> - if exporter accounts are approved</li>
      <li><a href="not-approved-exporter?isCertifier=yes&isExporter=yes&accountApprovedRole=certifier&continue=yes&awaitingApproval=none">Exporter needs to be approved</a> - if certifier accounts are approved</li>
      <li><a href="confirmation?isCertifier=yes&isExporter=yes&accountApprovedRole=certifier&continue=yes&awaitingApproval=exporter">Request sent confirmation (second time)</a> - Continue button</li>
      </ul>
      <p>If user has both roles, has an approved exporter account and <strong>has requested a certifier access</strong> but its not been approved yet. We will show "not approved yet" screen when trying to access the not approved acc.</p>
        <ul class="govuk-list govuk-list--bullet">
      <li><a href="accounts?isCertifier=yes&isExporter=yes&accountApprovedRole=certifier&awaitingApproval=exporter&continue=yes">Exporter awaiting approval, but certifier already approved</a></li>
<li><a href="accounts?isCertifier=yes&isExporter=yes&accountApprovedRole=exporter&awaitingApproval=certifier&continue=yes">Certifier awaiting approval, but certifier already approved</a></li>
      <li><a href="not-approved?isCertifier=yes&isExporter=yes&accountApprovedRole=certifier&awaitingApproval=exporter&continue=yes">Not approved yet, but can continue to select another account</a></li>
      </ul>

      <p><strong>Certifier account errors</strong></p>
      <ul class="govuk-list govuk-list--bullet">
<li><a href="not-approved-as-certifier?isCertifier=yes&isExporter=yes&accountApprovedRole=exporter&awaitingApproval=certifier&continue=yes">Certifer account is not approved on Improve International</a></li>
    <li><a href="not-found?isCertifier=yes&isExporter=yes&accountApprovedRole=certifier&awaitingApproval=exporter&continue=yes">Cannot find account - SP, NV or CSO number</a></li>
    </ul>
  </div>

</div>

{% endblock %}
