{% extends "layout-with-navigation-only-signout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}
{% include "./_style.html" %}
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Record not found</h1>

    <p>The record for SP number <strong>{{data.spNumber or '2342342'}}</strong> was not found or did not match with your account name <strong>Bill Schoggins</strong></p>
    <p></p>
    <p>Contact us if you think this is correct or <a href="certifier-account?retry=yes">enter a different SP number</a>.</p>

    <!-- <p><a href="#">Return to sign in</a></p> -->
  </div>

</div>

{% endblock %}
