{% extends "layout-with-navigation-only-signout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}
{% include "./_style.html" %}
{% endblock%}
{% block content%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You will need to request access</h1>

      <p>You will need to request access to use any expoter role you have associatated with this account.</p>
      <p>Once approved any export account you have associted with your ECHO account will be automatically approved. </p>
      <p>It can take up to 48 hours to be approved.</p>

        <p><a class="govuk-button" href="confirmation?continue=yes">Request access</a></p>
  </div>

</div>

{% endblock %}
