{% extends "layout-with-navigation-only-signout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}
<div class="govuk-phase-banner full-width" role="alert"><!----><!----><p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong><span class="govuk-phase-banner__text">This is a new service - your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_cSnlTGq2c54UxjE" class="govuk-link" rel="noreferrer noopener" target="_blank">feedback (opens in a new tab)</a> will help us to improve it.</span></p></div>
{% include "./_style.html" %}
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">This account as not been approved</h1>

      <p>Your account has not been approved to use this service. This may take up to 48 hours.</p>
      <!-- <p>If you have just signed up it can take up to 48 hours to become active</p> -->
      <!-- <p>If you need to talk to someone about your access to this service, <a href="https://www.gov.uk/guidance/get-an-export-health-certificate#if-you-need-help">contact APHA or DAERA</a></p> -->
      {% if query.awaitingApproval %}
      <p><a href="accounts" class="govuk-button">Select a different organisation</a></p>
      {% else %}
      <p><a href="signed-out" class="govuk-button">Sign out</a></p>
      {% endif  %}

  </div>

</div>

{% endblock %}
