{% extends "layout-with-navigation-only-signout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "./_style.html" %}
{% endblock%}
{% block content%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Request access to your certifier account</h1>

      <p>You are not approved to use this service as an certifier.</p>
      <p>You'll need to request access to use your certifier account.</p>
      <p>It may take up to 48 hours for your account to be approved.</p>
      <p><a class="govuk-button" href="certifier-account?continue=yes">Continue</a></p>
  </div>

</div>

{% endblock %}
