{% extends "layout-with-navigation-only-signout.html" %}

{% block pageTitle %}
Request approval - eTrade – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent%}
<div class="govuk-phase-banner full-width" role="alert"><!----><!----><p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong><span class="govuk-phase-banner__text">This is a new service - your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_cSnlTGq2c54UxjE" class="govuk-link" rel="noreferrer noopener" target="_blank">feedback (opens in a new tab)</a> will help us to improve it.</span></p></div>
{% include "./_style.html" %}
{% endblock%}

{% block content %}

<div class="govuk-grid-row" data-v-0c6ff6a7="">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You do not have access to this service.</h1>

    <p class="govuk-body">
      You will need to request access before you can use this new service.</p>
      <p>Once your account is approved, you'll have access to the same accounts you used in the previous service.</p>
    <p>It can take up to 48 hours to approve your account.</p>

    {% if data.isCertifier=="yes" and data.isExporter=="yes" %}
        <form class=""  method="post">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      What role do you want to request access for?
    </legend>
    <!-- <p>You have organsiations which are as both exporter and certifier</p> -->


    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="accountRole" name="accountApprovedRole" type="radio" value="exporter~confirmation">
        <label class="govuk-label govuk-radios__label" for="accountRole">
          Exporter
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="accountRole-2" name="accountApprovedRole" type="radio" value="certifier~certifier-account">
        <label class="govuk-label govuk-radios__label" for="accountRole-2">
          Certifier
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="accountRole-3" name="accountApprovedRole" type="radio" value="both~certifier-account">
        <label class="govuk-label govuk-radios__label" for="accountRole-3">
          Both
        </label>
      </div>
    </div>

  </fieldset>
</div>
    <p><button type="submit" class="govuk-button">Continue</button></p>
      </form>
    {% elseif data.isCertifier =="yes" and data.exporter != "yes"%}
    <form class=""  action="certifier-account" method="get">
      <input type="hidden" name="accountApprovedRole" value="certifier">
      <p><button type="submit" class="govuk-button">Continue</button></p>
    </form>

    {% else %}
    <p><a href="./confirmation" class="govuk-button">Request access</a></p>
    {% endif %}
  </div>
</div>

{% endblock %}
