{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      General certificates (green lane exports to NI)</h1>

      <!-- <h2 class="govuk-heading-m">What changed</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Removed the functionality to copy the same certificate upto 100 times</li>
        <li>Flow update, now copy journey takes user to the task list intead of back to the dashboard</li>
        <li>Changing the reference is now done on a seperate page</li>
        <li>Small update to the design</li>
      </ul>,, -->
      <p>This version has not been tested yet</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Version 1</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/clear-data?url=/beta/verify/gov-sign-in?loginReturnURL=/experimental/global-certificate/v1/accounts">From login</li>
        <li><a href="/clear-data?url=/experimental/global-certificate/v1/dashboard-1">Dashboard</li>
        <li><a href="/experimental/global-certificate/v1/task-list">Task list</li>
          <li><a href="/experimental/global-certificate/v1/check-your-answers">Check your answers</li>
            <li><a href="/experimental/global-certificate/v1/review">Certification</li>
      </ul>

  </div>
</div>

{% endblock %}
