{% if field.multiple =="yes" %}
<div class="govuk-form-group app-repeadable-holder" id="repeatable-net-weight-holder">
  <label class="govuk-label" for="netWeight-3-10410-31010000">Net weight</label>
  <div class="app-repeatable-section" id="repeatable-net-weight">

    <div class="govuk-input__wrapper m-b-15">
      <input class="govuk-input" type="number" data-type="quantity" name="netWeight" step="0.01" min="0" max="9999999" id="netWeight-3-10410-31010000" value="{% if data.change or data.copy %}{{identification.netWeight}}{% endif %}">
      <div class="govuk-input__suffix suffix__action no-border">
        <select class="govuk-select max-w-155" id="netWeight-4-11930-1901-units" data-v-0dd78fbf="">
          <option disabled="" value="" data-v-0dd78fbf="">Select a unit</option>
          <option value="GRM" data-v-0dd78fbf="">gram</option>
          <option value="KGM" data-v-0dd78fbf="">kilogram</option>
          <option value="KTN" data-v-0dd78fbf="">kilotonne</option>
          <option value="TNE" data-v-0dd78fbf="">tonne (metric ton)</option>
        </select>
        <button type="button" data-count="1" data-target="repeatable-net-weight" class="govuk-button govuk-button--secondary multi-data add-repeatable-section"><span class="fas fa-plus"></span>
        </button>
        <!---->
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="govuk-form-group">
  <label class="govuk-label" for="netWeight-3-10410-31010000">Net weight</label>
  <div class="govuk-input__wrapper select-input-wrapper" data-v-4e8f37a8="">
    <input class="govuk-input" type="number" data-type="quantity" name="netWeight" step="0.01" min="0" max="9999999" id="netWeight-3-10410-31010000" value="{% if data.change or data.copy %}{{identification.netWeight}}{% endif %}">
    <div class="govuk-input__suffix suffix__action" data-v-4e8f37a8="">
      <select class="govuk-select" id="netWeight-3-10410-31010000-units" name="netWeight_quatifier" data-v-4e8f37a8="">
        <option disabled="" value="" data-v-4e8f37a8="" selected>Select a unit</option>
        <option value="gram" {% if (data.change or data.copy) and identification.netWeight_quatifier == 'gram'%}selected{% endif %}>gram</option>
        <option value="kilogram" {% if (data.change or data.copy) and identification.netWeight_quatifier == 'kilogram'%}selected{% endif %}>kilogram</option>
        <option value="kilotonne" {% if (data.change or data.copy) and identification.netWeight_quatifier == 'kilotonne'%}selected{% endif %}>kilotonne</option>
        <option value="tonne (metric ton)" {% if (data.change or data.copy) and identification.netWeight_quatifier ==  'tonne (metric ton)'%}selected{% endif %}>tonne (metric ton)</option>
      </select>
    </div>
  </div>
</div>
{% endif %}
